﻿@inherits Uos.Web.EmailTemplate
@using System.Net.Mail;
@{
    From = new MailAddress("admin@umbiliko.com");
    Subject = string.Format("Contact from {0}", ViewBag.Name);
}
@section Html
{
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nexit</title>

        <style type="text/css">
         /* Client-specific Styles */
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #33b9ff;text-decoration: none;text-decoration:none!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         /*IPAD STYLES*/
         @@media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         table[class=mainsmall1] { float:left!important;}
         table[class=mainsmall2] { float:right!important;}
         table[class=banner-gap] { display:none!important;}
         img[class="bannerbig"] {width: 440px!important;height:371px!important;}
         img[class="spacinglines"]{width: 420px!important;}


         }
         /*IPHONE STYLES*/
         @@media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         table[class=mainsmall1] { float:left!important;width: 120px!important;height:90px!important;}
         table[class=mainsmall2] { float:right!important;width: 120px!important;height:90px!important;}
         img[class=mainsmall1] { width: 120px!important;height:90px!important;}
         img[class=mainsmall2] { width: 120px!important;height:90px!important;}
         table[class=banner-gap] { display:none!important;}
         img[class="bannerbig"] {width: 280px!important;height:236px!important;}
         img[class="spacinglines"]{width: 260px!important;}


         }
        </style>
    </head>
    <body>
        <!-- Start of preheader -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="preheader">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #903537" st-content="viewonline">
                                                                        Your Message goes here
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="280" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="right" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #903537" st-content="viewonline">
                                                                        <a href="#" style="text-decoration:none;color:#903537">View Online</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of preheader -->
        <!-- Start of header -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <!-- logo -->
                                                        <table width="183" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="184" height="50" align="left">
                                                                        <div class="imgpop">
                                                                            <a target="_blank" href="#">
                                                                                <img src="img/logo.png" alt="" border="0" width="184" height="50" style="display:block; border:none; outline:none; text-decoration:none;" />
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of logo -->
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of Header -->
        <!-- Start of menu -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="menu">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" bgcolor="#903537" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #FFFFFF" st-content="viewonline">
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <a href="#" style="text-decoration:none;color:#ffffff">HOME</a>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <a href="#" style="text-decoration:none;color:#ffffff">OFFERS</a>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <a href="#" style="text-decoration:none;color:#ffffff">NEW ARRIVALS</a>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- Spacing -->
                <tr>
                    <td width="100%" height="20"></td>
                </tr>
                <!-- Spacing -->
            </tbody>
        </table>
        <!-- End of menu -->
        <!-- Start of banner -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <!-- big image -->
                                                        <table width="380" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="380" height="320" align="left">
                                                                        <div class="imgpop">
                                                                            <a target="_blank" href="#">
                                                                                <img src="img/main-big.jpg" alt="" border="0" width="380" height="320" style="display:block; border:none; outline:none; text-decoration:none;" class="bannerbig" />
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of big image -->
                                                        <!-- big image -->
                                                        <table width="200" cellpadding="0" cellspacing="0" border="0" align="right" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%">
                                                                        <table width="200" height="150" align="right" valign="top" border="0" cellpadding="0" cellspacing="0" class="mainsmall1">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <div class="imgpop">
                                                                                            <a target="_blank" href="#">
                                                                                                <img src="img/main-small1.jpg" alt="" border="0" width="200" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="mainsmall1" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="20" height="20" align="left"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <div class="imgpop">
                                                                                            <a target="_blank" href="#">
                                                                                                <img src="img/main-small2.jpg" alt="" border="0" width="200" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="mainsmall2" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- end of big image -->

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of banner -->
        <!-- text -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                                            <tbody>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                                                                        <img src="img/lines.png" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" class="spacinglines" />
                                                                    </td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                                <!-- spacing -->
                                                                <tr>
                                                                    <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                                <!-- End of spacing -->
                                                                <!-- Title -->
                                                                <tr>
                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 20px;font-weight:bold; color: #000000; text-align:center; line-height: 24px;">
                                                                        Lorem ipsum dolor sit amet, consectetur
                                                                    </td>
                                                                </tr>
                                                                <!-- End of Title -->
                                                                <!-- spacing -->
                                                                <tr>
                                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                                <!-- End of spacing -->
                                                                <!-- content -->
                                                                <tr>
                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #797979; text-align:center; line-height: 24px;">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                    </td>
                                                                </tr>
                                                                <!-- End of content -->
                                                                <!-- spacing -->
                                                                <tr>
                                                                    <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                                <!-- End of spacing -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                                                                        <img src="img/lines.png" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" class="spacinglines" />
                                                                    </td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of text -->
        <!-- 3 columns -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <!-- col 1 -->
                                                        <table bgcolor="#ffffff" width="186" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- image 2 -->
                                                                <tr>
                                                                    <td width="186" height="250" align="center" class="devicewidth">
                                                                        <img src="img/image1.jpg" alt="" border="0" width="186" height="250" style="display:block; border:none; outline:none; text-decoration:none;" />
                                                                    </td>
                                                                </tr>
                                                                <!-- end of image2 -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="186" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <!-- title2 -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222222; text-align:center; line-height: 24px;" st-title="3col-title1">
                                                                                        Black Jacket
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title2 -->
                                                                                <!-- read more -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #903537;  text-align:center; line-height: 20px;" st-title="3col-price">
                                                                                        $50
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of read more -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                            </tbody>
                                                        </table>
                                                        <!-- spacing -->
                                                        <table width="20" align="left" border="0" cellpadding="0" cellspacing="0" class="removeMobile">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of spacing -->
                                                        <!-- col 2 -->
                                                        <table bgcolor="#ffffff" width="186" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- image 2 -->
                                                                <tr>
                                                                    <td width="186" height="250" align="center" class="devicewidth">
                                                                        <img src="img/image2.jpg" alt="" border="0" width="186" height="250" style="display:block; border:none; outline:none; text-decoration:none;" />
                                                                    </td>
                                                                </tr>
                                                                <!-- end of image2 -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="186" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <!-- title2 -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222222; text-align:center; line-height: 24px;" st-title="3col-title2">
                                                                                        Black Jacket
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title2 -->
                                                                                <!-- read more -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #903537;  text-align:center; line-height: 20px;" st-title="3col-readmore2">
                                                                                        $50
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of read more -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                            </tbody>
                                                        </table>
                                                        <!-- end of col 2 -->
                                                        <!-- spacing -->
                                                        <table width="1" align="left" border="0" cellpadding="0" cellspacing="0" class="removeMobile">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of spacing -->
                                                        <!-- col 3 -->
                                                        <table bgcolor="#ffffff" width="186" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- image3 -->
                                                                <tr>
                                                                    <td width="186" height="250" align="center" class="devicewidth">
                                                                        <img src="img/image3.jpg" alt="" border="0" width="186" height="250" style="display:block; border:none; outline:none; text-decoration:none;" />
                                                                    </td>
                                                                </tr>
                                                                <!-- end of image3 -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="186" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <!-- title -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222222; text-align:center; line-height: 24px;" st-title="3col-title3">
                                                                                        Black Jacket
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title -->
                                                                                <!-- read more -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #903537;  text-align:center; line-height: 20px;" st-title="3col-readmore3">
                                                                                        $50
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of read more -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <!-- spacing -->
                                                    <!-- end of spacing -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of 3 columns -->
        <!-- start of call to action -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table bgcolor="#333333" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="560" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <!-- start left column-->
                                                                        <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <!-- title -->
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 24px; font-weight:400; color: #ffffff; text-align:left; line-height: 30px;">
                                                                                        Use this coupon for a
                                                                                        10% Discount
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title -->
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- end of left column -->
                                                                        <!-- spacing for mobile -->
                                                                        <table width="1" height="10" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="1" height="10" align="center" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- end spacing for mobile -->
                                                                        <!-- start of right column -->
                                                                        <table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- button -->
                                                                                <tr>
                                                                                    <td>
                                                                                        <table width="270" height="60" bgcolor="#903537" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" style="border-radius:3px;" class="tablet-button">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td height="15" align="center" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="30" align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif;  font-size: 24px;color: #ffffff; text-align:center;line-height: 30px;" class="tablet-button">
                                                                                                        <a style="color: #ffffff; text-align:center;text-decoration: none;" href="#">AWESOME</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="15" align="center" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of button -->
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- end of right column -->
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of call to action -->
        <!-- Start of preheader -->
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="preheader">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="600" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 12px;color: #666666" st-content="viewonline">
                                                                        If you do not want to hear from us please <a href="#" style="text-decoration:none;color:#903537">unsubscribe</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of preheader -->

    </body>
</html>
}