﻿/* line 4, ../../../sass/products/anchor/layout.scss */
@import url(http://fonts.googleapis.com/css?family=Nunito);

html, body {
    height: 100%;
}

/* line 8, ../../../sass/products/anchor/layout.scss */
body {
    padding-bottom: 70px;
}

/* line 13, ../../../sass/products/anchor/layout.scss */
.body-content {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2em;
}

/*.body-content::after {
    content: "";
    position: absolute; 
    top: 0;
    width: 100%;
    height: 15px;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
}

.body-content::before {
    background: -webkit-linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    ); 
    content: "";
    display: block;
    height: 15px;
    position: fixed;
    top: 0;
    width: 100%;
}*/

.body-content.authenticate {
    background-color:rgba(255, 255, 255, 0.1);
    background-image: url(/Content/images/banners/carriers-hero.png);
    background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.fixed-bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.navbar + .navbar {
    margin-top: -20px;
}

.navbar.navbar-fixed-top + * {
    margin-top: 50px;
}

.navbar.navbar-fixed-top + .navbar.navbar-fixed-top + * {
    margin-top: 100px;
}

.navbar + .navbar + .body-content {
    height: calc(100% - 40px);
    margin-top: -17px;
}

.modal-lg .modal-content .modal-body {
    height: auto;
    max-height: 600px;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tab-pane {
    padding-top: 10px;
}

.loading {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    color: #fff;
    font-family: Nunito;
    font-size: 175%;
    height: 100%;
    min-height: 10em;
    perspective: 1px;
    text-align: center;
    text-shadow: 0 2px 2px #000;
    transform-style: preserve-3d;
}

    .loading > * {
        max-width: 30%;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

.loading-plane {
    background-image: url('/content/images/banners/loading-plane.jpg');
}

.loading-ship {
    background-image: url('/content/images/banners/loading-ship.jpg');
}

.loading-train {
    background-image: url('/content/images/banners/loading-train.jpg');
}

.loading-truck {
    background-image: url('/content/images/banners/loading-truck.jpg');
}

.navbar + .loading {
    height: calc(100% - 20px);
}

.not-implemented {
    background-image: url('/content/images/banners/blueprint.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Nunito;
    font-size: 175%;
    height: 100%;
    min-height: 10em;
    padding: 15% 10%;
    perspective: 1px;
    overflow: visible;
    text-align: center;
    text-shadow: 0 2px 2px #000;
    transform-style: preserve-3d;
    width: 100%;
}

#control-navbar .date input {
    width: 150px;
}

#control-navbar .navbar-brand {
    min-width: 230px;
}

.k-treeview {
    width: 100%;
}

.tree-toggle {
    font-family: 'Courier New';
}

.form-control.content-editable {
    height: auto;
    min-height: 4em;
}

.well .tab-content {
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(245,245,245,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(245,245,245,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1), rgba(245,245,245,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), rgba(245,245,245,0)); /* Standard syntax */
}

.nav-list.row > li {
    margin-top: 1em;
}

.k-widget.k-tooltip-validation {
  display: none !important;
}