/* line 4, ../../../../../../sass/widgets/anchor/layout.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 9, ../../../../../../sass/widgets/anchor/layout.scss */
body {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* line 14, ../../../../../../sass/widgets/anchor/layout.scss */
.body-content {
  height: calc(100% - 140px);
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 22, ../../../../../../sass/widgets/anchor/layout.scss */
.navbar ~ * {
  margin-top: 50px;
}

/* line 26, ../../../../../../sass/widgets/anchor/layout.scss */
footer {
  position: absolute;
  top: calc(100% - 50px);
}
/* line 32, ../../../../../../sass/widgets/anchor/layout.scss */
footer.collapse .footer-header {
  height: 50px;
}
