﻿
$guide-accent-border-color: $paprika;
$guide-accent-border-width: 4px;
$guide-accent-size: 20px;
$guide-accent-offset: 5px;
$guide-line-transition-delay: 0ms;
$guide-line-transition-duration: 100ms;
$guide-line-transition-timing-function: linear;

@import "mixins/prefixed";
@import "mixins/hacks";

@mixin calc-guide-accent($class) {

    &.guide-accent-#{$class}-bottom,
    &.guide-accent-#{$class}-left,
    &.guide-accent-#{$class}-right,
    &.guide-accent-#{$class}-top {
        .guide-accent {
            @include prefixed(transform, rotate(45deg));
        }
    }

    &.guide-accent-#{$class}-bottom {
        &,
        .guide-accent {
            border-bottom-width: $guide-accent-border-width;
        }

        .guide-accent {
        }
    }

    &.guide-accent-#{$class}-bottom-left {
        &,
        .guide-accent {
            border-bottom-width: $guide-accent-border-width;
            border-left-width: $guide-accent-border-width;
        }

        .guide-accent {
        }
    }

    &.guide-accent-#{$class}-bottom-right {
        &,
        .guide-accent {
            border-bottom-width: $guide-accent-border-width;
            border-right-width: $guide-accent-border-width;
        }

        .guide-accent {
        }
    }

    &.guide-accent-#{$class}-left {
        &,
        .guide-accent {
            border-left-width: $guide-accent-border-width;
        }

        .guide-accent {
        }
    }

    &.guide-accent-#{$class}-right {
        &,
        .guide-accent {
            border-right-width: $guide-accent-border-width;
        }

        .guide-accent {
        }
    }

    &.guide-accent-#{$class}-top {
        $guide-accent-height: 0.707 * ($guide-accent-border-width + $guide-accent-size);

        margin-top: #{$guide-accent-height + $guide-accent-offset};
        
        &,
        .guide-accent {
            border-top-width: $guide-accent-border-width;
        }

        .guide-accent {
            border-left-width: $guide-accent-border-width;
            right: 50%;
            top: -#{$guide-accent-border-width + $guide-accent-offset + $guide-accent-height};
        }
    }

    &.guide-accent-#{$class}-top-left {
        &,
        .guide-accent {
            border-left-width: $guide-accent-border-width;
            border-top-width: $guide-accent-border-width;
        }

        .guide-accent {
        }
    }

    &.guide-accent-#{$class}-top-right {
        &,
        .guide-accent {
            border-right-width: $guide-accent-border-width;
            border-top-width: $guide-accent-border-width;
        }

        .guide-accent {
            right: -#{2 * $guide-accent-border-width + $guide-accent-offset};
            top:  -#{2 * $guide-accent-border-width + $guide-accent-offset};
        }
    }
}

.guide {
    .guide-line {
        border: 0 solid $guide-accent-border-color;
        height: 0;
        opacity: 0;
        position: relative;

        @include prefixed(transition-property, height, opacity);
        @include prefixed(transition-delay, $guide-line-transition-delay);
        @include prefixed(transition-duration, $guide-line-transition-duration);
        @include prefixed(transition-timing-function, $guide-line-transition-timing-function);

        .guide-accent {
            display: block;
            height: $guide-accent-size;
            border: 0 solid $guide-accent-border-color;
            position: absolute;
            width: $guide-accent-size;
        }
    }

    input[type=radio] {
        display: none;

        &:checked {
            + .guide-line {
                height: auto;
                opacity: 1;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .guide {
        .guide-line {
            @include calc-guide-accent(xs);
        }
    }
}

@media (min-width: $screen-md-min) {
    .guide {
        .guide-line {
            @include calc-guide-accent(md);
        }
    }
}
