﻿
@{
    ViewBag.Title = "Security Clearance";
}
<div class="container">
    <h2>What is Security Clearance?</h2>
    <p>Security clearance is the user identity review processs where users with weak passwords are not allowed to access or manage company related confidential information.</p>
    <p class="text-info">The security clearance process is authomatic and supervised by the system administrators.</p>
</div>
@section scripts
{
    <script type="text/javascript">
        require(['jquery', 'bootstrap', 'datetimepicker'], function ($) {
        });
    </script>
}
@section styles
{
    @Styles.Render("~/css/site")
}

