﻿@{
    ViewBag.Subtitle = Strings.SubscriptionsSubtitle;
    ViewBag.Title = Strings.SubscriptionsTitle;
    ViewBag.Page = "subscriptions";
    var constants = new Dictionary<string, object>();
    //constants.Add("Countries", Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Subscriptions")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter subscriptions using prefixes: "activity", "client", "feature", "group" and "product". Use ':' as separator. i.e.: "group:adm:dev".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" id="domain-add">
            @Html.Partial("SubscriptionAddTemplate")
        </div>
        <div class="frame" id="domain-manage">
            @Html.Partial("SubscriptionManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("SubscriptionAddHandler")
    @Html.Partial("SubscriptionManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddSubscriptionCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Subscriptions, new Dictionary<string, string>()))
    </ul>
}