﻿@model SubscriptionViewModel
@{
    ActivityHelper api = Url;
}
<form class="container" action="javascript:void(0)">
    <fieldset class="row">
        <legend>@Strings.ProductTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().DropDownListFor(e => e.ProductName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Products.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "" },
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("subscription-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.CustomerTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-add-company", Strings.CompanyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CompanyCode)
                    .DataSource(source => source.Read(read => read.Url(api.Companies.List.Url).Type(HttpVerbs.Post)))
                    .DataTextField("CompanyCode")
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CompanyCode" }
                    })
                    .MinLength(1)
                    .Name("subscription-add-company")
                    .Template("<span>\\#: CompanyCode \\#</span><span class='list-desc'>\\#: CompanyName \\#</span>")
                    .ToClientTemplate())
                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-add-segment", Strings.SegmentCodeField)
                @(Html.Kendo().DropDownListFor(e => e.SegmentCode)
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url(api.Segments.List.Url).Type(HttpVerbs.Post));
                    })
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: SegmentCode" }
                    })
                    .Name("subscription-add-segment")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.SubscriptionDetailsTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-add-feature-name", Strings.FeatureNameField)
                @(Html.Kendo().DropDownListFor(e => e.FeatureName)
                    .AutoBind(false)
                    .CascadeFrom("product")
                    .DataSource(source => source.Read(read => read.Url(api.Features.List.Url).Data("umbiliko.view.feature.filter").Type(HttpVerbs.Post)).ServerFiltering(true))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: FeatureName" }
                    })
                    .Name("subscription-add-feature-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-add-status", Strings.StatusField)
                @(Html.Kendo().DropDownListFor(e => e.Status)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Status" }
                    })
                    .Name("subscription-add-status")
                    .ToClientTemplate())
            </div>
            <div class="form-group form-group-sm">
                @Html.Label("subscription-add-until", Strings.UntilField)
                @(Html.Kendo().DateTimePicker()
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: UntilUtc" }
                    })
                    .Name("subscription-add-until")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
