﻿@{ 
    ViewBag.PageButtonCount = 5;
    ViewBag.PageSize = 25;
    ViewBag.PageSizes = new[] { 10, 25, 50, 100, 500, 1000 };
}
@Navbar.ControlTemplate(Html, Resources.Carrier.CarrierManagementTitle, ControlSections.Batch, ControlTools.Filter | ControlTools.History)
<div class="body-content tab-content" id="control-panel" role="tabpanel">
    <div class="container-fluid tab-pane fade" id="browse" role="tab">
        @Html.Partial("_GridTemplate")
    </div>
    <div class="container tab-pane fade" id="detail" role="tab">
        @Html.Partial("_DetailTemplate")
    </div>
    <div class="container tab-pane fade" id="edit" role="tab">
        @Html.Partial("_EditTemplate")
    </div>
    <div class="container tab-pane fade" id="entry" role="tab">
        @Html.Partial("_EntryTemplate")
    </div>
    <div class="container tab-pane fade" id="review" role="tab">
        @Html.Partial("_ReviewTemplate")
    </div>
</div>
