﻿@model FreightSearchModel

<ul class="nav nav-tabs">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Company <span class="caret"></span></a>
        <ul class="dropdown-menu"></ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Customer <span class="caret"></span></a>
        <ul class="dropdown-menu"></ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Destination <span class="caret"></span></a>
        <ul class="dropdown-menu"></ul>
    </li>
    <li class="active" role="presentation"><a href="#search-general" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#search-location" data-toggle="tab">Location</a></li>
    <li role="presentation"><a href="#search-user-defines" data-toggle="tab">User Defines</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="search-general">
        <div class="container-fluid">
            <!-- Search Criteria -->
            <div class="row">
                @*<div class="col-xs-6 col-md-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label text-nowrap" for="ddlCompany" id="lblCompany">Entity</label>
                            <div>
                                <select id="ddlCompany" class="form-control" />
                            </div>
                        </div>
                    </div>*@

                @*<div class="col-xs-6 col-md-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label text-nowrap" for="ddlCustomer" id="lblCustomer">Customer</label>
                            <div>
                                <select id="ddlCustomer" class="form-control" />
                            </div>
                        </div>
                    </div>*@

                @*<div class="col-xs-6 col-md-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label text-nowrap" for="ddlShipLocation" id="lblShipLocation">Ship Location</label>
                            <div>
                                <select id="ddlShipLocation" class="form-control ThreeAmigo" />
                            </div>
                        </div>
                    </div>*@

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" FreightIDTextBox">Freight id</label>
                        <div>
                            <input type="text" id="FreightIDTextBox" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" UpdateShipDate">Ship Date</label>
                        <div>
                            <div class="input-group input-append date" data-date-format="mm/dd/yyyy HH:mm">
                                <input type="text" id="UpdateShipDate" class="form-control date" data-validation-error-message="Check Ship Date!" />
                                <div class="input-group-addon add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" ddlShipLocation">Direction</label>
                        <select id="UpdateDirection" AddAll="false" DropDown="true" StatusType="Direction" class="form-control"></select>
                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" UpdateProNumberTextBox" id="Label1">Pro Number</label>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" id="UpdateProNumberTextBox" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <input type="text" id="UpdateSequenceTextBox" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" UpdateBillDate">Bill Date</label>
                        <div class="input-group input-append date" data-date-format="mm/dd/yyyy HH:mm">
                            <input type="text" id="UpdateBillDate" class="form-control date" data-validation-error-message="Check Bill Date!" data-format="MM/dd/yyyy HH:mm" />
                            <div class="input-group-addon add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" UpdateBilledMileage">Billed Mileage</label>
                        <input type="text" id="UpdateBilledMileage" class="form-control" />
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" mltStatus" id="Label6">Status</label>
                        <uc1:StatusList ShowBlank="True" id="mltStatus" AddAll="false" DropDown="false" StatusType="InvoiceStatus" class="form-control" />
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" UpdateDeliveryDate">Delivery Date</label>
                        <div class="input-group input-append date" data-date-format="mm/dd/yyyy HH:mm">
                            <input type="text" id="UpdateDeliveryDate" class="form-control date" data-validation-error-message="Check Delivery Date!" />
                            <div class="input-group-addon add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for=" UpdateRandMiles">Rand Miles</label>
                        <input type="text" id="UpdateRandMiles" class="form-control" />
                    </div>
                </div>
            </div>

            <!--
            <div class="row">

                <div class="col-xs-6 col-md-4">
                    @*<%If Profile.Freight.ShowInvoiceReceivedDate = True Then%>*@
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="calInvoiceReceived">Invoice Received</label>
                        <div>
                            <div class="input-group input-append date" data-date-format="mm/dd/yyyy HH:mm">
                                <input type="text" id="calInvoiceReceived" class="form-control date" data-validation-error-message="Check Invoice Received Date!" />
                                <div class="input-group-addon add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<%End If%>*@
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ftbePTA">PTA</label>
                        <div>
                            <input type="text" id="txtPTA" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        @*<% If IsShipper Or IsCarrier Then%>*@
                        @*<% Else%>*@
                        <label class="control-label text-nowrap" for="UpdateCreatedDate">Created Date</label>
                        <div>
                            <div class="input-group input-append date" data-date-format="mm/dd/yyyy HH:mm">
                                <input type="text" id="UpdateCreatedDate" class="form-control date" data-validation-error-message="Check Create Date!" />
                                <div class="input-group-addon add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        @*<% End If%>*@
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateCarrierSCAC">Carrier SCAC</label>
                        <div>
                            <select id="UpdateCarrierSCAC" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="Source">Source</label>
                        <div>
                            <select id="Source" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtCBM">CBM</label>
                        <div>
                            <input type="text" id="txtCBM" class="form-control" MaxLength="9" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateType">Type</label>
                        <div>
                            <select id="UpdateType" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateWeight">Weight</label>
                        <div>
                            <input type="text" id="UpdateWeight" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateBOLNumber">BOL Number</label>
                        <div>
                            <input type="text" id="UpdateBOLNumber" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateTerms">Terms</label>
                        <div>
                            <uc1:StatusList ShowBlank="True" id="UpdateTerms" AddAll="false" DropDown="true" StatusType="InvoiceTerms" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    @*<% If IsShipper Or IsCarrier Then%>*@
                    @*<% Else%>*@
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateClass">Class</label>
                        <div>
                            <select id="UpdateClass" class="form-control"></select>
                        </div>
                    </div>
                    @*<% End If%>*@
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ddlIsTote">Tote</label>
                        <div>
                            <select id="ddlIsTote" class="form-control">
                                <option Value="" Text="" />
                                <option Value="1" Text="True" />
                                <option Value="0" Text="False" />
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="UpdateCurrency">Currency</label>
                        <div>
                            <select id="UpdateCurrency" class="form-control"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                @*<% If IsCarrier OrElse (IsShipper And Profile.Freight.ShowBatchNumber = False) Then%>*@
                @*<% Else%>*@

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtBatchNo">Batch No</label>
                        <div>
                            <input type="text" id="txtBatchNo" MaxLength="30" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="AgedTextBox">Aged</label>
                        <div>
                            <input type="text" id="AgedTextBox" class="form-control" MaxLength="20" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="DifferenceTextBox">Difference</label>
                        <div>
                            <input type="text" id="DifferenceTextBox" class="form-control" MaxLength="20" />
                        </div>
                    </div>
                </div>

                @*<% End If%>*@

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="PONumberTextBox">PO #</label>
                        <div>
                            <input type="text" id="PONumberTextBox" class="form-control" MaxLength="30" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtOrderNumber">Order #</label>
                        <div>
                            <input type="text" id="txtOrderNumber" class="form-control" MaxLength="30" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ddlResponsibleParty">Responsible Party</label>
                        <div>
                            <select id="ddlResponsibleParty" DataSourceID="dsResponsibleParty" DataValueField="Abbreviation" DataTextField="Name" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="EquipmentNumber">Equip #</label>
                        <div>
                            <input type="text" id="EquipmentNumber" MaxLength="30" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ddlException">Exception</label>
                        <div>
                            <select id="ddlException" DataSourceID="dsExceptions" DataValueField="Abbreviation" DataTextField="Name" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ddlExceptionStatus">Except Status</label>
                        <div>
                            <select id="ddlExceptionStatus" DataSourceID="dsExceptionStatus" DataValueField="Abbreviation" DataTextField="Name" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtChargeType">Charge Type</label>
                        <div>
                            <input type="text" id="txtChargeType" MaxLength="30" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="checkbox">
                        <div class="col-lg-4">
                        </div>
                        <label class="checkbox col-lg-8" for="chkMissingAmigos">
                            <input type="checkbox" id="chkMissingAmigos" Text="" class="push-right" EnableViewState="false" />
                            Missing Assignments
                        </label>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ddlDistCode">Dist Code</label>
                        <div>
                            <select id="ddlDistCode" DataSourceID="dsDistCode" DataValueField="Abbreviation" DataTextField="Name" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="calCheckDate">Check Date</label>
                        <div>
                            <div class="input-group input-append date" data-date-format="mm/dd/yyyy HH:mm">
                                <input type="text" id="calCheckDate" class="form-control date" data-validation-error-message="Check Check Date!" />
                                <div class="input-group-addon add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtCheckNumber">Check Number</label>
                        <div>
                            <input type="text" id="txtCheckNumber" MaxLength="30" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="ddlAttachments">Attachments</label>
                        <div>
                            <select id="ddlAttachments" class="form-control">
                                <option Value="" Text="" />
                                <option Value="1" Text="True" />
                                <option Value="0" Text="False" />
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtCustomerGLCode">Customer GL</label>
                        <div>
                            <input type="text" id="txtCustomerGLCode" MaxLength="50" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtContainerCount">Container Cnt</label>
                        <div>
                            <input type="text" id="txtContainerCount" MaxLength="10" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label text-nowrap" for="txtContainerWeightAvg">Cont. Avg. Wgt</label>
                        <div>
                            <input type="text" id="txtContainerWeightAvg" MaxLength="10" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
                -->
        </div>
    </div>

    <div class="tab-pane" id="search-location">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-2">&nbsp;</th>
                    <th class="col-sm-3">Name</th>
                    <th class="col-sm-3">City</th>
                    <th class="col-sm-2">State</th>
                    <th class="col-sm-2">Postal Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Origin</th>
                    <td>
                        <input type="text" id="OriginNameTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="OriginCityTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="OriginStateTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="OriginPostalcodTextBox" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th>Dest</th>
                    <td>
                        <input type="text" id="DestinationNameTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="DestinationCityTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="DestinationStateTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="DestinationPostalcodTextBox" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th>Stop</th>
                    <td>
                        <input type="text" id="StopNameTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="StopCityTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="StopStateTextBox" class="form-control" />
                    </td>
                    <td>
                        <input type="text" id="StopPostalcodTextBox" class="form-control" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="search-user-defines">

        <div class="form-group form-group-sm">
            <label for="txtUserDef1" class="control-label col-sm-4">@ViewBag.UserDef1Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef1" MaxLength="50" class="form-control" value="@ViewBag.UserDef1Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef2" class="control-label col-sm-4">@ViewBag.UserDef2Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef2" MaxLength="50" class="form-control" value="@ViewBag.UserDef2Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef3" class="control-label col-sm-4">@ViewBag.UserDef3Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef3" MaxLength="50" class="form-control" value="@ViewBag.UserDef3Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef4" class="control-label col-sm-4">@ViewBag.UserDef4Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef4" MaxLength="50" class="form-control" value="@ViewBag.UserDef4Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef5" class="control-label col-sm-4">@ViewBag.UserDef5Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef5" MaxLength="50" class="form-control" value="@ViewBag.UserDef5Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef6" class="control-label col-sm-4">@ViewBag.UserDef6Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef6" MaxLength="50" class="form-control" value="@ViewBag.UserDef6Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef7" class="control-label col-sm-4">@ViewBag.UserDef7Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef7" MaxLength="50" class="form-control" value="@ViewBag.UserDef7Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef8" class="control-label col-sm-4">@ViewBag.UserDef0Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef8" MaxLength="50" class="form-control" value="@ViewBag.UserDef8Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef9" class="control-label col-sm-4">@ViewBag.UserDef9Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef9" MaxLength="50" class="form-control" value="@ViewBag.UserDef9Value" />
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="txtUserDef10" class="control-label col-sm-4">@ViewBag.UserDef10Key</label>
            <div class="col-sm-8">
                <input type="text" id="txtUserDef10" MaxLength="50" class="form-control" value="@ViewBag.UserDef10Value" />
            </div>
        </div>

    </div>

</div>
@Alert.NotImplemented()
