﻿@model IResult<FreightViewModel>
<div>
    <h4>FreightEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value.FreightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.FreightId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.BatchNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.BatchNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CompanyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CompanyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CarrerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CarrerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CarrierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CarrierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CarrierSCAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CarrierSCAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.SVC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.SVC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Interline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Interline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Exceptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Exceptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ProNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ProNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.BLNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.BLNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CarrierAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CarrierAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.DeliveryEx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.DeliveryEx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Shipper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Shipper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipperAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipperAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipperAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipperAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipperCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipperCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipperState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipperState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipperPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipperPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Consignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Consignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ConsigneeAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ConsigneeAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ConsigneeAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ConsigneeAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ConsigneeCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ConsigneeCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ConsigneeState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ConsigneeState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ConsigneePostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ConsigneePostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CommDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CommDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Hazardous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Hazardous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.DeclaredValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.DeclaredValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.DistCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.DistCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.TrailerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.TrailerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.GST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.GST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Pieces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Pieces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.FreightClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.FreightClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.BilledDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.BilledDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.BilledMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.BilledMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.AuditorRemark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.AuditorRemark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CheckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CheckNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.DatePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.DatePaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.AmountBilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.AmountBilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.AmountPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.AmountPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.CorrectionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.CorrectionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.RateDisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.RateDisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.RatedMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.RatedMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ConsigneeeAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ConsigneeeAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShipperAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShipperAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.ShippingLocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.ShippingLocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.InvoiceReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.InvoiceReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.POType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.POType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.PieceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.PieceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.HoursBilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.HoursBilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value.SupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value.SupplierCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = model.Value.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section footer
{
    @Html.Partial("_FooterPartial")
}
