﻿@model IResult<FreightViewModel>

@{
    ViewBag.Title = Resources.Freight.PageTitle_Entry;
}
<div class="container">
    <h2>@Resources.Freight.PageTitle_Entry</h2>
</div>
<section>
</section>
<footer class="fixed-bottom">
    <div class="container">
        @Alert.Result(Model.Messages)
    </div>
</footer>

@section scripts
{
    <script type="text/javascript">
        require(['jquery', 'bootstrap', 'datetimepicker'], function ($) {
            $(function () {
            });
        });
    </script>
}

@section styles
{
    @Styles.Render("~/css/site")
}