﻿@model FreightSearchModel

<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <legend>CompanyTitle</legend>
        <div class="col-sm-12 col-md-8">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-consumer-token", "ConsumerTokenField")
                <div class="input-group">
                    @(Html.Kendo().TextBoxFor(e => e.Entry)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control" },
                            { "data-bind", "value: Entry" }
                        })
                        .Name("customer-add-consumer-token")
                    .ToClientTemplate())
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default" id="customer-add-consumer-find" type="button">FindCmd</button>
                    </div>
                </div>
                <span data-for="customer-add-consumer-token" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-0">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-segment", "SegmentCodeField")
                @(Html.Kendo().TextBoxFor(e => e.Entry)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Entry" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-company-name", "Entry")
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Entry" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-company-type", "Entry")
                @(Html.Kendo().TextBoxFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Entry" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-company-type")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-country-code", "CountryCodeField")
                @(Html.Kendo().AutoCompleteFor(e => e.Entry)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Entry" },
                        { "maxlength", 100 }
                    })
                    .MinLength(0)
                    .Name("customer-add-country-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-currency-code", "CurrencyCodeField")
                @(Html.Kendo().AutoCompleteFor(e => e.Entry)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CurrencyCode" },
                        { "maxlength", 100 }
                    })
                    .MinLength(0)
                    .Name("customer-add-currency-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-product-name", "ProductNameField")
                @(Html.Kendo().DropDownListFor(e => e.ProductName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Products.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("customer-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-credit", "CreditField")
                @(Html.Kendo().NumericTextBoxFor(e => e.Credit)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Credit" }
                    })
                    .Decimals(2)
                    .ToClientTemplate())
                @*<div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">.00</span>
                    </div>*@
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>