﻿@inherits Uos.Web.EmailTemplate
@using System.Net.Mail;
@{
    From = new MailAddress("universalordersystem@gmail.com");
    Subject = "Please confirm your email address";
}
@section Html
{
    <html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <h1>You have registered on Universal Order System</h1>
        <br />
        <p>Please confirm your email withthis <a href="@(ViewBag.callbackUrl)">link</a> and activate your account with it.</p>
    </body>
</html>
}
@section Text
{
    You have registered on Universal Order System

    Please confirm your email with this link @(ViewBag.callbackUrl) and activate your account with it.
}
