﻿@inherits Uos.Web.EmailTemplate
@using System.Net.Mail;
@{
    Layout = "Email/Outgoing/_Layout.cshtml";
    From = new MailAddress("universalordersystem@gmail.com");
    //Subject = string.Format("Contact from {0}", ViewBag.Name);
}
@section Html
{
    <html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <h1>We have received a reset password request.</h1>
        <br />
        <p>Please reset your password by clicking <a href="@(ViewBag.callbackUrl)">here</a></p>
    </body>
</html>
}
@section Text
{
    We have received a reset password request.

    Please reset your password here: @(ViewBag.callbackUrl)
}