﻿@model ContractPostModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <legend>@Strings.ProductTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().DropDownListFor(e => e.ProductName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Products.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("consumer-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.CustomerTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-company", Strings.CompanyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CustomerCode)
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url(api.Companies.List.Url).Data("umbiliko.view.company.filter").Type(HttpVerbs.Post));
                        source.ServerFiltering(true);
                    })
                    .DataTextField("CompanyCode")
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CompanyCode" }
                    })
                    .MinLength(1)
                    .Name("consumer-add-company")
                    .Events(events => events.Select("umbiliko.view.company.select"))
                    .Template("<span>\\#: CompanyCode \\#</span><span class='list-desc'>\\#: CompanyName \\#</span>")
                    .ToClientTemplate())
                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-segment", Strings.SegmentCodeField)
                @(Html.Kendo().DropDownListFor(e => e.SegmentCode)
                    .AutoBind(true)
                    .CascadeFrom("consumer-add-company")
                    .DataSource(source => source.Read(read => read.Url(api.Segments.List.Url).Data("umbiliko.view.segment.filter").Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: SegmentCode" }
                    })
                    .Name("consumer-add-segment")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.ConsumerDetailsTitle</legend>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-credit", Strings.CreditField)
                @(Html.Kendo().NumericTextBoxFor(e => e.Credit)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Credit" }
                    })
                    .Decimals(2)
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-country-code", Strings.CountryCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CountryCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CountryCode" },
                        { "maxlength", Lengths.CountryCodeLength }
                    })
                    .MinLength(0)
                    .Name("consumer-add-country-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-currency-code", Strings.CurrencyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CurrencyCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CurrencyCode" },
                        { "maxlength", Lengths.CurrencyCodeLength }
                    })
                    .MinLength(0)
                    .Name("consumer-add-currency-code")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
