﻿@model ContractViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-company-name", Strings.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-add-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-add-company-type", Strings.CompanyTypeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyType" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-add-company-type")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-manage-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-segment", Strings.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-manage-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-since", Strings.SinceField)
                @(Html.Kendo().TextBoxFor(e => e.Since)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Since" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-manage-since")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-credit", Strings.CreditField)
                @(Html.Kendo().NumericTextBoxFor(e => e.Credit)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Credit" }
                    })
                    .Decimals(2)
                    .Name("consumer-manage-credit")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-country-code", Strings.CountryCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CountryCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CountryCode" }
                    })
                    .MinLength(0)
                    .Name("consumer-manage-country-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-currency-code", Strings.CurrencyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CurrencyCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CurrencyCode" }
                    })
                    .MinLength(0)
                    .Name("consumer-manage-currency-code")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="overflow row">
        <legend>@Strings.SubscriptionsTitle</legend>
        @(Html.Kendo().Grid<SubscriptionRowModel>()
            .AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.FeatureName).Title(Strings.FeatureNameColumn).Width(240);
                columns.Bound(c => c.Status).Title(Strings.StatusColumn).Width(120);
                columns.Bound(c => c.Since).Title(Strings.SinceColumn).EditorTemplateName("Since").Format("yyyy-MM-dd HH:mm:ss zzz").ClientTemplate("\\#=kendo.toString(new Date(Since), 'G')\\#");
                columns.Bound(c => c.Until).Title(Strings.UntilColumn).EditorTemplateName("Until").Format("yyyy-MM-dd HH:mm:ss zzz").ClientTemplate("\\#=Until ? kendo.toString(new Date(Until), 'G') : ''\\#");
                columns.Command(commands => commands.Custom("manage-subscription").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Strings.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
            })
            .DataSource(dataSource => dataSource
                .WebApi(api.Subscriptions, "umbiliko.view.subscription.filter")
                .Batch(true)
                .Model(model =>
                {
                    model.Id(subscription => subscription.Identifier);
                    model.Field(subscription => subscription.SegmentCode).Editable(false);
                    model.Field(subscription => subscription.Identifier).Editable(false);
                    model.Field(subscription => subscription.FeatureName).Editable(false);
                    model.Field(subscription => subscription.ProductName).Editable(false);
                    model.Field(subscription => subscription.Since).Editable(false);
                    model.Field(subscription => subscription.Status).Editable(true);
                    model.Field(subscription => subscription.Until).Editable(true);
                })
                .PageSize((int)ViewBag.PageSize)
                .Events(events =>
                {
                    events.Change("umbiliko.data.change");
                    events.Push("umbiliko.data.change");
                    events.Sync("umbiliko.data.change");
                })
            )
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Events(events => events.Change("umbiliko.view.subscription.change"))
            //.Groupable()
            .Name("k-grid-subscriptions")
            .Navigatable()
            .Pageable(pageable => pageable.ButtonCount(ViewBag.PageButtonCount).PageSizes(ViewBag.PageSizes).Refresh(true))
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Scrollable()
            .Sortable()
            .ToClientTemplate())
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyCustomerCmd</button>
    <button type="button" class="btn btn-default" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddSubscriptionCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
