﻿@model CustomerViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-company-name", Strings.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-company-type", Strings.CompanyTypeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyType" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-company-type")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="overflow row">
        <legend>@Strings.ConsumersTitle</legend>
        @(Html.Kendo().Grid<ContractRowModel>()
            .AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.ProductName).Title(Strings.ProductNameColumn).Width(240);
                columns.Bound(c => c.SegmentCode).Title(Strings.SegmentCodeColumn).Width(160);
                columns.Bound(c => c.Since).Title(Strings.SinceColumn).EditorTemplateName("Since").Format("yyyy-MM-dd HH:mm:ss zzz").ClientTemplate("\\#=kendo.toString(new Date(Since), 'G')\\#");
                columns.Command(commands => commands.Custom("manage-consumer").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Strings.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
            })
            .DataSource(dataSource => dataSource
                .WebApi(api.Consumers, "umbiliko.view.consumer.filter")
                .Batch(true)
                .Model(model =>
                {
                    model.Id(consumer => consumer.Identifier);
                    model.Field(consumer => consumer.SegmentCode).Editable(false);
                    model.Field(consumer => consumer.Identifier).Editable(false);
                    model.Field(consumer => consumer.ProductName).Editable(false);
                    model.Field(consumer => consumer.Since).Editable(false);
                })
                .PageSize((int)ViewBag.PageSize)
                .Events(events =>
                {
                    events.Change("umbiliko.data.change");
                    events.Push("umbiliko.data.change");
                    events.Sync("umbiliko.data.change");
                })
            )
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Events(events => events.Change("umbiliko.view.consumer.change"))
            .Navigatable()
            .Name("k-grid-consumers")
            .Pageable(pageable => pageable.ButtonCount(ViewBag.PageButtonCount).PageSizes(ViewBag.PageSizes).Refresh(true))
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Scrollable()
            .Sortable()
            .ToClientTemplate())
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyCustomerCmd</button>
    <button type="button" class="btn btn-default" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddConsumerCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
