﻿@model CustomerPostModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <legend>@Strings.CompanyTitle</legend>
        <div class="col-sm-12 col-md-8">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-consumer-token", Strings.ConsumerTokenField)
                <div class="input-group">
                    @(Html.Kendo().TextBoxFor(e => e.ConsumerToken)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control" },
                            { "data-bind", "value: ConsumerToken" }
                        })
                        .Name("customer-add-consumer-token")
                    .ToClientTemplate())
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default" id="customer-add-consumer-find" type="button">@Strings.FindCmd</button>
                    </div>
                </div>
                <span data-for="customer-add-consumer-token" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-0">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-segment", Strings.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-company-name", Strings.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-company-type", Strings.CompanyTypeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyType" },
                        { "readonly", "readonly" }
                    })
                    .Name("customer-add-company-type")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-country-code", Strings.CountryCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CountryCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CountryCode" },
                        { "maxlength", Lengths.CountryCodeLength }
                    })
                    .MinLength(0)
                    .Name("customer-add-country-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-currency-code", Strings.CurrencyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CurrencyCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CurrencyCode" },
                        { "maxlength", Lengths.CurrencyCodeLength }
                    })
                    .MinLength(0)
                    .Name("customer-add-currency-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().DropDownListFor(e => e.ProductName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Products.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("customer-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("customer-add-credit", Strings.CreditField)
                @(Html.Kendo().NumericTextBoxFor(e => e.Credit)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Credit" }
                    })
                    .Decimals(2)
                    .ToClientTemplate())
                @*<div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">.00</span>
                </div>*@
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
