﻿@{
    ViewBag.Subtitle = Strings.CustomersSubtitle;
    ViewBag.Title = Strings.CustomersTitle;
    ViewBag.Page = "customers";
    var constants = new Dictionary<string, object>();
    constants.Add("Countries", Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>());
    constants.Add("Currencies", Uos.Web.Strings.Currencies.ResourceManager.ToDictionary<Currencies>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<div class="overflow container">
    @Html.Partial("Customers")
</div>
<footer class="container-fluid text-center hidden-xs">
    Hint: Filter consumers using prefixes: "client", "feature", "product" and "trademark". Use ':' as separator. i.e.: "group:adm:dev".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" data-controller="CustomerAddHandler" data-title="@Strings.AddConsumerTitle" id="customer-add">
            @Html.Partial("CustomerAddTemplate")
        </div>
        <div class="frame" data-controller="CustomerManageHandler" data-title="@Strings.ManageCustomerTitle" id="customer-manage">
            @Html.Partial("CustomerManageTemplate")
        </div>
        <div class="hidden frame" data-controller="ConsumerAddHandler" data-title="@Strings.AddConsumerTitle" id="consumer-add">
            @Html.Partial("ConsumerAddTemplate")
        </div>
        <div class="frame" data-controller="ConsumerManageHandler" data-title="@Strings.ManageConsumerTitle" id="consumer-manage">
            @Html.Partial("ConsumerManageTemplate")
        </div>
        <div class="hidden frame" data-controller="SubscriptionAddHandler" data-title="@Strings.AddSubscriptionTitle" id="subscription-add">
            @Html.Partial("SubscriptionAddTemplate")
        </div>
        <div class="frame" data-controller="SubscriptionManageHandler" data-title="@Strings.ManageSubscriptionTitle" id="subscription-manage">
            @Html.Partial("SubscriptionManageTemplate")
        </div>
    </div>
</script>
@*<script id="consumer-detail-template" type="text/kendo-tmpl">
    @Html.Partial("SubscriptionsTemplate")
</script>
<script id="customer-detail-template" type="text/kendo-tmpl">
    @Html.Partial("ConsumersTemplate")
</script>*@
@section application {
    @Html.Partial("Collections")
    @Html.Partial("CustomerAddHandler")
    @Html.Partial("CustomerManageHandler")
    @Html.Partial("ConsumerAddHandler")
    @Html.Partial("ConsumerManageHandler")
    @Html.Partial("SubscriptionAddHandler")
    @Html.Partial("SubscriptionManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddCustomerCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Customers, new Dictionary<string, string>()))
    </ul>
}
