﻿@model SubscriptionViewModel
@{
    ActivityHelper api = Url;
}
<form class="container" action="javascript:void(0)">
    <fieldset class="row">
        <legend>@Strings.ProductTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-manage-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "readonly", "readonly" }
                    })
                    .Name("subscription-manage-product-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.CustomerTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-manage-company", Strings.CompanyCodeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control uppercase" },
                        { "data-bind", "value: CompanyCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("subscription-manage-company")
                    .ToClientTemplate())
                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-manage-segment", Strings.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("subscription-manage-segment")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.SubscriptionDetailsTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-manage-feature-name", Strings.FeatureNameField)
                @(Html.Kendo().DropDownListFor(e => e.FeatureName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Features.List.Url).Data("umbiliko.view.feature.filter").Type(HttpVerbs.Post)).ServerFiltering(true))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: FeatureName" }
                    })
                    .Name("subscription-manage-feature-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("subscription-manage-status", Strings.StatusField)
                @(Html.Kendo().DropDownListFor(e => e.Status)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Status" }
                    })
                    .Name("subscription-manage-status")
                    .ToClientTemplate())
            </div>
            <div class="form-group form-group-sm">
                @Html.Label("subscription-manage-until", Strings.UntilField)
                @(Html.Kendo().DateTimePicker()
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: UntilUtc" }
                    })
                    .Name("subscription-manage-until")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroySubscriptionCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
