/* line 23, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account {
  padding: 15px;
}
/* line 26, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .enter,
#my-account .talk {
  position: relative;
  float: left;
}
/* line 32, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .talk {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  -webkit-transition-property: position, width;
  transition-property: position, width;
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 44, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .talk .guide {
  height: 0;
  opacity: 0;
}
/* line 49, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .talk .intro {
  height: 200px;
  opacity: 1;
}
/* line 54, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .talk .guide,
#my-account .talk .intro {
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 63, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .enter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  float: left;
  background-color: rgba(51, 51, 51, 0.5);
  border: 20px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 140px;
  margin: 20px 0 20px calc(50% - 70px);
  min-height: 140px;
  padding: 0;
  width: 140px;
  -webkit-transition-property: border-radius, border-width, height, margin-left, min-height, padding, width;
  transition-property: border-radius, border-width, height, margin-left, min-height, padding, width;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 82, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .enter:focus, #my-account .enter:hover, #my-account .enter.active {
  border-radius: 5px;
  border-width: 4px;
  height: auto;
  margin-left: 0;
  /*min-height: attr(data-height px);*/
  width: 100%;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 96, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .enter:focus ~ .talk .guide, #my-account .enter:hover ~ .talk .guide, #my-account .enter.active ~ .talk .guide {
  height: 200px;
  opacity: 1;
}
/* line 101, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .enter:focus ~ .talk .intro, #my-account .enter:hover ~ .talk .intro, #my-account .enter.active ~ .talk .intro {
  height: 0;
  opacity: 0;
}
/* line 106, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
#my-account .enter:focus ~ .talk .guide,
#my-account .enter:focus ~ .talk .intro, #my-account .enter:hover ~ .talk .guide,
#my-account .enter:hover ~ .talk .intro, #my-account .enter.active ~ .talk .guide,
#my-account .enter.active ~ .talk .intro {
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

@media (min-width: 992px) {
  /* line 117, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
  #my-account {
    min-height: 320px;
  }
  /* line 120, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
  #my-account .enter {
    clear: right;
    margin: 0;
  }
  /* line 124, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
  #my-account .enter:focus, #my-account .enter:hover, #my-account .enter.active {
    width: 50%;
  }
  /* line 129, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
  #my-account .enter:focus ~ .talk, #my-account .enter:hover ~ .talk, #my-account .enter.active ~ .talk {
    top: 160px;
    width: 50%;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
  }
  /* line 139, ../../../../../../sass/widgets/umbiliko/my-account-enter.scss */
  #my-account .talk {
    bottom: 0;
    clear: left;
    left: 0;
    position: absolute;
    top: 160px;
  }
}
