/* line 9, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.bk-transparent {
  background-color: transparent;
}

/* line 13, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.mask-image {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/* line 31, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.mask-image.moz {
  mask: url(masks.svg#mask-linear-gradient) 0 0/100% 100%;
}
/* line 35, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.mask-image.webkit {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.625)), color-stop(0.35, rgba(0, 0, 0, 0.625)), color-stop(0.5, rgba(0, 0, 0, 0.125)), color-stop(0.65, rgba(0, 0, 0, 0.125)), color-stop(1, rgba(0, 0, 0, 0.125)));
  -webkit-mask-position: 0 0;
  -webkit-mask-size: 100% 100%;
}

/* line 50, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.container.modal {
  box-sizing: border-box;
  overflow-y: hidden;
  padding-left: 0;
  padding-right: 0;
}
/* line 57, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.container.modal-lg {
  height: calc(100% - 120px);
}
/* line 61, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.container form {
  height: 100%;
}
/* line 64, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.container form legend {
  font-size: medium;
  margin-top: .5em;
}

/* line 71, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
body > .panel {
  overflow-y: scroll;
}

/* line 75, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
dt {
  border-bottom: 1px solid #DCDCDC;
}

/* line 85, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.umbiliko .modal-backdrop, .umbiliko.modal-backdrop {
  background: rgba(238, 238, 238, 0.5);
}

/* line 91, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
.spinner {
  background: rgba(238, 238, 238, 0.25);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}

/* line 103, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
body.busy.zoom-out {
  -webkit-transition-property: zoom;
  transition-property: zoom;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 105, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
body.busy.zoom-out,
body.busy.zoom-out > {
  zoom: 1;
}
/* line 117, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
body.busy.zoom-out.busy > :not(.spinner) {
  zoom: .5;
  /*@include prefixed(transform, scale(.5));
  @include prefixed(transform-origin, 0 0);*/
  -webkit-transition-property: zoom;
  transition-property: zoom;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 133, ../../../../../../sass/widgets/umbiliko/umbiliko.scss */
body.busy .spinner {
  display: block;
}
