﻿@inherits Uos.Web.Email.EmailTemplate
@using System.Net.Mail;
@{
    From = new MailAddress("admin@umbiliko.com");
    Subject = string.Format("Contact from {0}", ViewBag.Name);
}
@section Html
{
    <html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <h1>We have received a contact request.</h1>
        <br />
        <h2>Info</h2>
        <dl>
            <dt>Name: </dt>
            <dd>@ViewBag.Name</dd>
            <dt>Email: </dt>
            <dd>@ViewBag.Email</dd>
            <dt>Company: </dt>
            <dd>@ViewBag.Company</dd>
            <dt>Website: </dt>
            <dd>@ViewBag.Website</dd>
        </dl>
        <br/>
        <h2>Message:</h2>
        <p>@ViewBag.Message</p>
        <br />
        <h4>Interests:</h4>
        <ul>
            @foreach (var interest in ViewBag.Interests)
            {
                <li>@interest</li>
            }
        </ul>
    </body>
</html>
}
@section Text
{
    We have received a contact request from:

    Name: @ViewBag.Name
    Email: @ViewBag.Email
    Company: @ViewBag.Company
    Website: @ViewBag.Website
       
    Message
    =======

    @ViewBag.Message

    Interests
    =========

    @string.Join(", ", ViewBag.Interests)
}