﻿<script type="text/javascript">
    define('uos.collections', ['uos.bootstrap'], function (U) {

        U.constants = @(new HtmlString(JsonConvert.SerializeObject(ViewBag.Constants, Context.IsDebuggingEnabled ? Formatting.Indented : Formatting.None)));

        U.collections = { };

        function factory(map) {
            var _map = map;
            return function (value) {
                return (arguments.length > 0) ? _map[value] : Object.getOwnPropertyNames(_map);
            }
        };

        for (var name in U.constants) {
            U.collections[name] = factory(U.constants[name]);
        }

        function map(col) {
            var values = U.collections[col];
            if (!values) return [];
            return $.map(values(), function (value) {
                return {
                    text: values(value),
                    value: value
                };
            });
        };

        U.autoComplete = function ($el, col, allowNew) {

            var autoComplete = $el.data('kendoAutoComplete');

            if (typeof autoComplete !== 'object') {
                console.log('failed to initialize kendoAutoComplete');
                return;
            }

            if (typeof col === 'string') {
                autoComplete.setDataSource(map(col));
            }

            return autoComplete;
        };

        U.dropDownList = function ($el, col) {

            var dropDownList = $el.data('kendoDropDownList');

            if (typeof dropDownList !== 'object') {
                console.log('failed to initialize kendoDropDownList');
                return;
            }

            if (typeof col === 'string') {
                dropDownList.setDataSource(map(col));
            }

            return dropDownList;
        };

        U.multiSelect = function ($el, col, allowNew) {

            var multiSelect = $el.data('kendoMultiSelect');

            if (typeof multiSelect !== 'object') {
                console.log('failed to initialize kendoMultiSelect');
                return;
            }

            if (typeof col === 'string') {
                multiSelect.setDataSource(map(col));/*
                    animation: false,
                    dataSource: map(col),
                    dataTextField: "text",
                    dataValueField: "value",
                    template: '<span>#: value #</span><span class="list-desc">#: text #</span>'
                });*/
            }

            if (allowNew === true) {

                var _newItem;
                var _newItemText;
                var newSuffix = " (Add New)";

                // When the value of the widget is changed by the user.
                multiSelect.bind('change', function() {
                    if (_newItemText) {
                        var $select = this.element;
                        var $wrapper = $select.prev('div.k-multiselect-wrap', $select);
                        var $listbox = $('ul[role=listbox]', $wrapper);
                        $('li span:first-child', $listbox).each(function() {
                            var text = $(this).text();
                            if (text === (_newItemText + newSuffix)) {
                                $(this).text(_newItemText);
                            }
                        });
                    }
                    _newItemText = null;
                });

                multiSelect.bind('close', function(e) {
                    if (!!this._prev) {
                        e.preventDefault();
                    }
                });

                multiSelect.bind('filtering', function(e) {
                    var filter = e.filter;

                    if (filter && filter.value) {
                        filter = filter.value;
                    } else {
                        filter = null;

                        //prevent filtering if the filter does not value
                        e.preventDefault();
                    }

                    var newItemText = _newItemText, dataItems = this.dataSource.data(), newItem = true;

                    _newItemText = null;

                    for (var i = 0; i < dataItems.length; i++) {
                        var dataItem = dataItems[i];
                        if (newItemText && dataItem.value == newItemText && dataItem.text === (newItemText + newSuffix)) {
                            this.dataSource.remove(dataItem);
                        } else if (filter && dataItem.value && dataItem.value.toLowerCase() === filter || dataItem.text.toLowerCase() === filter) {
                            newItem = false;
                        }
                    }

                    if (newItem) {
                        _newItemText = filter;
                    }
                });

                multiSelect.bind('select', function(e) {
                    if (_newItemText) {
                        var index = e.item.data().offsetIndex;
                        var $item = $($('li', this.ul)[index]);
                        var text = $item.text();
                        if (text === (_newItemText + newSuffix)) {
                            $item.text(_newItemText);
                        } else {
                            // find and remove
                            var dataItems = this.dataSource.data();
                            for (var i = 0; i < dataItems.length; i++) {
                                var dataItem = dataItems[i];
                                if (dataItem.value === _newItemText) {
                                    this.dataSource.remove(dataItem);
                                }
                            }
                        }
                    }
                });

                // When the widget is bound to data from its data source.
                multiSelect.bind('dataBound', function(e) {
                    if (_newItemText && this._prev && _newItemText !== this._prev)
                    {
                        _newItemText = this._prev;
                        this.dataSource.add({ text: _newItemText + newSuffix, value: _newItemText });
                    } else {
                        e.preventDefault();
                    }
                    if (!this._open) this.open();
                });
            }

            return multiSelect;
        };
    });
</script>
