﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Unified Order System" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    @Styles.Render("~/content/css/bootstrap")
    @Styles.Render("~/content/css/fontawesome")
    @Styles.Render("~/content/css/ionicons")
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/stylesheets/filters/kendo-bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/toastr.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/account-enter.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/account-exit.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/account-menu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/account-switch.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/domain-jump.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/product-feedback.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/hint.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/stylesheets/widgets/spinner.css")" rel="stylesheet" />
    @Styles.Render("~/css/site")
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("_NavbarPartial")
    @RenderBody()
    @RenderSection("footer", required: false)
    @RenderSection("modal", required: false)
    @Html.RenderRequireJsSetup(new RequireRendererConfiguration
{
    // the url from where require.js will be loaded
    RequireJsUrl = Url.Content("~/Scripts/Components/RequireJS/require.js"),
    // baseUrl to be passed to require.js, will be used when composing urls for scripts
    BaseUrl = Url.Content("~/Scripts/"),
    // a list of all the configuration files you want to load
    ConfigurationFiles = new[] { "~/RequireJS.json" },
    // root folder for your js controllers, will be used for composing paths to entrypoint
    EntryPointRoot = "~/Scripts/",
    // whether we should load overrides or not, used for autoBundles, disabled on debug mode
    LoadOverrides = !HttpContext.Current.IsDebuggingEnabled,
    // compute the value you want locale to have, used for i18n
    LocaleSelector = html => System.Threading.Thread.CurrentThread.CurrentUICulture.Name.Split('-')[0],
    // store config in aspnet cache to avoid IO operations at each request
    ConfigCachingPolicy = ConfigCachingPolicy.Permanent,
    CacheConfigObject = true,
    // instance of IRequireJsLogger
    Logger = null,
    // extensability point for the config object
    ProcessConfig = config =>
    {
        var bundles = ViewBag.RequireBundles as Dictionary<string, Dictionary<string, string>>;

        if (bundles != null)
        {
            foreach (var bundle in bundles)
            {
                foreach (var entry in bundle.Value)
                {
                    if (config.Paths.ContainsKey(entry.Key))
                    {

                    }
                    else
                    {
                        config.Paths.Add(entry.Key, entry.Value);
                    }
                }
            }
        }
    },
    // extensability point for the options object
    ProcessOptions = options => { },
    // value for urlArgs to be passed to require.js, used for versioning
    UrlArgs = RenderHelper.RenderAppVersion()
})
    @RenderSection("scripts", required: false)
</body>
</html>
