﻿@functions {
    void SetupAreaSelector(NavigationModel model)
    {
        model.Add(Resources.Overview.OverviewNav, Url.View<Uos.Web.Controllers.HomeController>(c => c.Index()));
        model.Add(Resources.Financial.FinancialNav, "Company", Url.View<Uos.Web.Areas.Financial.Controllers.HomeController>(c => c.Index()));
        model.Add(Resources.Logistics.LogisticsNav, "Company", Url.View<Uos.Web.Areas.Logistics.Controllers.GeneralController>(c => c.Index()));
        //model.Add(Resources.Distribution.DistributionNav, "Logistics", Url.View<Uos.Web.Areas.Distribution.Controllers.MasterController>(c => c.Index()));
        model.Add(Resources.Personnel.PersonnelNav, "Company", Url.View<Uos.Web.Areas.Personnel.Controllers.HomeController>(c => c.Index()));
        model.Add(Resources.Tutorial.TutorialNav, Url.View<Uos.Web.Areas.Tutorial.Controllers.HomeController>(c => c.Index()));
        model.Add(Resources.Domain.DomainNav, "Domain", Url.View<Uos.Web.Areas.Domain.Controllers.HomeController>(c => c.Index()));
    }
}
@Area.Dropdown(ViewContext, SetupAreaSelector)
