﻿@Feature.Dropdown(ViewContext, Resources.Domain.UserNav, (navigation) =>
{
    navigation.Add(Resources.Domain.ProfileNav, Url.View<HomeController>(c => c.Index()));
    navigation.Add(Resources.Domain.ChangePasswordNav, Url.View<Uos.Web.Controllers.UserController>(c => c.ChangePassword()));
    navigation.Add(Resources.Domain.SetPhoneNumberNav, Url.View<Uos.Web.Controllers.UserController>(c => c.SetPhoneNumber()));
    navigation.Add(Resources.Domain.ManageLoginsNav, Url.View<Uos.Web.Controllers.UserController>(c => c.ManageLogins(null)));
})
