﻿<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Resources.Common.ApplicationNav, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="navigation">
                @Html.Partial("_NavbarAreaSelectorPartial")
            </form>
            @Html.Partial("_NavbarMenuPartial")
            @using (Html.BeginForm("Logout", "Home", new { area = "" }, FormMethod.Post, new { @class = "navbar-form navbar-nav navbar-right", id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                @Account.Dropdown(Html.ViewContext)
            }
        </div>
    </div>
</nav>
