﻿@model UploadModel
<html>
<head>
    <link href="~/Content/stylesheets/upload.css" rel="stylesheet" />
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript">
        window.resize = function () {
            var elements = window.parent.document.getElementsByName(window.name);
            for (var i in elements) {
                var style = elements[i].style;
                if (style) {
                    style.height = document.body.scrollHeight + 'px';
                    style.width = document.body.scrollWidth + 'px';
                }
            }
        }
    </script>
</head>
<body onload="javascript: resize(this);">
    @using (Html.BeginForm((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], FormMethod.Post, new Dictionary<string, object>
    {
        { "class", "btn btn-sm btn-default" },
        { "enctype", "multipart/form-data" },
        { "style", "position: relative; overflow: hidden;" }
    }))
    {
        @Html.TextBoxFor(x => x.File, new Dictionary<string, object>
        {
            { "onchange", "this.form.submit()" },
            { "style", "bottom: 0; left: 0; opacity: 0; position: absolute; right: 0; top: 0;" },
            { "type", "file" }
        })
        <text>@Resources.Common.UploadCmd</text>
    }
</body>
</html>
