﻿@model IResult
@{
    ViewBag.Title = Resources.Common.AlertTitle_Error;
}
@*System.Web.Mvc.HandleErrorInfo*@
<div class="body-content">
    <div class="container">
    </div>
    @Html.Partial("_FooterPartial")
    @Alert.Result(Model.Messages)
</div>
