﻿@model Uos.IResult

@{
    ViewBag.Title = "Error";
}
<div class="body-content">
    <div class="container">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        @Html.Partial("_AlertPartial", Model)
    </div>
</div>

