﻿@Feature.Dropdown(ViewContext, Resources.Logistics.DistributionNav, (nav) =>
{
    nav.Add(Resources.Distribution.BillingNav, Url.View<BillingController>(c => c.Index()));
    nav.Add(Resources.Distribution.ForeignNav, Url.View<ForeignController>(c => c.Index()));
    nav.Add(Resources.Distribution.InformationNav, Url.View<InformationController>(c => c.Index()));
    nav.Add(Resources.Distribution.InterchangeNav, Url.View<InterchangeController>(c => c.Index()));
    nav.Add(Resources.Distribution.MasterNav, Url.View<MasterController>(c => c.Index()));
    nav.Add(Resources.Distribution.SalesNav, Url.View<SalesController>(c => c.Index()));
    nav.Add(Resources.Distribution.ShippingNav, Url.View<ShippingController>(c => c.Index()));
    nav.Add(Resources.Distribution.SupportNav, Url.View<SupportController>(c => c.Index()));
    nav.Add(Resources.Distribution.TransportationNav, Url.View<Uos.Web.Areas.Transportation.Controllers.HomeController>(c => c.Index()));
})
