﻿@import "mixins/keyframes";

@include keyframes(send-animation) {
    from {
        margin-left: 100%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

#contact {
    .desc {

        h2 {
            margin-top: 0;
        }

        p {
            margin-bottom: 50px;
        }
    }

    .option {
        padding-bottom: 30px;
    }

    .contact-details-wrapper {
        position: relative;
        border: 1px solid #ddd;
        background-color: #fff;
        background: url('/content/assets/images/stripes.png');
    }

    .contact-details {
        background-color: #fff;
        margin: -20px auto 15px auto;
        padding-top: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #eee;
    }

    form {
        input[type="text"], input[type="email"], textarea {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            box-shadow: none !important;
            color: #2C3E50;

            &.has-error {
                background-color: $state-danger-bg;
                color: $state-danger-text;
                border-color: $state-danger-border;
            }
        }
    }

    .send-indicator-container {
        text-align: left;

        .send-indicator {
            color: $brand-info;

            @include prefixed(animation-name, send-animation);
            @include prefixed(animation-duration, 500ms);
            @include prefixed(animation-timing-function, ease-out);

            &.success {
                color: $brand-success;
            }

            &.timeout {
                color: $brand-warning;
            }

            &.error {
                color: $brand-danger;
            }
        }
    }
}
