﻿//== Colors
$transparent: rgba(0, 0, 0, 0);
$costa-del-sol: #666633;
$green: #00FF00;
$pine-glade: #CCCC99;
$yellow: #FFFF00;
$tangerine: #FFCC00;
$orange: #FF9900;
$tawny: #CC6600;
$red: #FF0000;
$paprika: #990033;
$danube: #6699CC;
$calypso: #336688;
$blue: #0000FF;
$navy-blue: #000099;
$midnight-blue: #000044;
$white: #FFFFFF;
$gallery: #EEEEEE; 
$alto: #DCDCDC;
$silver: #BBBBBB;
$dusty-gray: #999999;
$dove-gray: #666666;
$emperor: #555555;
$tundora: #444444;
$mine-shaft: #333333;
$white-rock: #E6E6CC;

$facebook-text-highlight: #3B5998;
$facebook-color: #44619D;
$facebook-background: #E9EAED;
$facebook-caption-bar: #F6F7F8;
$facebook-border: #E5E5E5;
$facebook-highlight: #5890FF;
$facebook-icon: #5B93FC;
$facebook-gray-icon: #D3D6DB;
$facebook-close-gray: #BFC2CA;
$facebook-light-text: #9197A3;
$facebook-black: #141823;

//
//## Fuzzy logic
$fuzzy-below-color: #00beff;
$fuzzy-low-color: #00ffbe;
$fuzzy-normal-color: #beff00;
$fuzzy-high-color: #ffbe00;
$fuzzy-above-color: #ff0000;

//
//## Color palettes:

// $tawny $danube $alto $gallery

// logo
$logo-dev-color: $mine-shaft;
$logo-entry-color: $navy-blue;
$logo-chevre-color: $orange;

// title
$title-text-color: $orange;
$title-fill-color: $calypso;
$title-line-color: $tangerine;

// headline
$headline-text-color: $orange;
$headline-fill-color: $danube;
$headline-line-color: $white-rock; 

//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              $mine-shaft;
$gray:                   $emperor; 
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           $gallery;

$brand-primary:         $calypso; //darken(#428bca, 6.5%) !default; // #337ab7
$brand-secondary:       $orange;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;




//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;