/* line 17, ../../../../sass/wiki.scss */
html {
  height: 100%;
}

/* line 21, ../../../../sass/wiki.scss */
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 8px 0 8px 8px;
}

/* line 28, ../../../../sass/wiki.scss */
[for="index-toggle"] {
  position: fixed;
  z-index: 9999;
}

/* line 33, ../../../../sass/wiki.scss */
.content {
  background-color: #FBFBFB;
  box-sizing: border-box;
  box-shadow: -6px 3px 10px rgba(0, 0, 0, 0.2);
  color: #555555;
  display: inline-block;
  float: left;
  height: 100%;
  padding: 20px 40px;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% - 260px);
}
/* line 46, ../../../../sass/wiki.scss */
.content .header {
  color: #000000;
  font-family: "Linux Libertine", Georgia, Times, serif;
  font-size: 1.8em;
  margin-bottom: 0.25em;
  padding: 0;
}

/* line 57, ../../../../sass/wiki.scss */
.toctoggle:after, .toctoggle:before {
  color: #000000;
}
/* line 62, ../../../../sass/wiki.scss */
.toctoggle:after {
  content: "]";
}
/* line 66, ../../../../sass/wiki.scss */
.toctoggle:before {
  content: "[";
}

/* line 71, ../../../../sass/wiki.scss */
.resizer {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: e-resize;
}

/* line 79, ../../../../sass/wiki.scss */
.index {
  background-color: #FBFBFB;
  box-sizing: border-box;
  box-shadow: -6px 3px 10px rgba(0, 0, 0, 0.2);
  color: #555555;
  display: inline-block;
  float: left;
  height: 100%;
  margin: 0 20px 0 0;
  padding: 0 0 0 10px;
  overflow: auto;
  width: 240px;
}
/* line 92, ../../../../sass/wiki.scss */
.index h1 {
  text-align: center;
  width: 100%;
}

/* line 98, ../../../../sass/wiki.scss */
#index {
  /* default */
  font-family: Tahoma;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 111, ../../../../sass/wiki.scss */
#index .header {
  color: #4D4D4D;
}
/* line 115, ../../../../sass/wiki.scss */
#index, #index ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: visible;
}
/* line 123, ../../../../sass/wiki.scss */
#index li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
  white-space: nowrap;
}
/* line 129, ../../../../sass/wiki.scss */
#index li > small {
  left: 0;
  font-family: Courier New, Courier, monospace;
  position: absolute;
}
/* line 134, ../../../../sass/wiki.scss */
#index li > small:before {
  content: " ";
}
/* line 140, ../../../../sass/wiki.scss */
#index li.expanded > small:before {
  content: "-";
}
/* line 146, ../../../../sass/wiki.scss */
#index li.collapsed > small:before {
  content: "+";
}
/* line 151, ../../../../sass/wiki.scss */
#index li span {
  cursor: pointer;
}
/* line 155, ../../../../sass/wiki.scss */
#index li .selected {
  background-color: #F28500;
  color: #000000;
  margin: 4px -8px;
  padding: 4px 8px;
}

/* line 164, ../../../../sass/wiki.scss */
#index-toggle {
  display: none;
}
/* line 168, ../../../../sass/wiki.scss */
#index-toggle:checked + #index {
  display: none;
}
/* line 172, ../../../../sass/wiki.scss */
#index-toggle:checked + #index + .content {
  width: 100%;
}
