﻿@* ABOUT START *@
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="fancy"><span>About Us</span></p>
            </div>
        </div>
    </div>
</section>
@* ABOUT END *@
