﻿@model UserData
@{
    ActivityHelper api = Url;
    var accounts = Model.Accounts.ToList();
    var accountGroups = accounts.GroupBy(o => o.CompanyCode).ToList();
    var level = Model.AccessLevel;
}
@if (level.HasFlag(AccessLevels.Private))
{
    var company = Model.CompanyCode;
    var segment = Model.SegmentCode;

    <p>Manage your account info.</p>
    <p>
        <a href="@api.MyAccount.Display.Url" class="btn btn-primary btn-sm pull-right">Manage &raquo;</a>
    </p>
    if (accounts.Count > 1)
    {
        <form action="@api.MyAccount.SignIn.Url" method="post">
            <div class="form-group">
                <label class="control-label" for="umbiliko-my-account-client">Switching to another account made simple:</label>
                <select class="form-control" id="umbiliko-my-account-client" name="Segment" size="12">
                    @{
                        foreach (var group in accountGroups)
                        {
                            if (group.Key != Model.CompanyCode || group.Count() > 1)
                            {
                                <optgroup label="@group.First().CompanyName (@group.Key)">
                                    @foreach (var item in group)
                                    {
                                        if (item.CompanyCode != Model.CompanyCode && item.SegmentCode != Model.SegmentCode)
                                        {
                                            <option value="@item.CompanyCode/@item.SegmentCode">@item.SegmentCode - @item.SegmentDescription</option>
                                        }
                                    }
                                </optgroup>
                            }
                        }
                    }
                </select>
            </div>
            <button class="btn btn-primary btn-sm pull-right" id="umbiliko-my-account-enter-cmd" type="submit">Switch &raquo;</button>
        </form>
    }
}
else if (level.HasFlag(AccessLevels.Protected) && accounts.Count > 0)
{
    <p>With Uos you can have mulpiple accounts, even within the same company. That is because in Uos, companies can be segmented in groups of accounts; but only one of those segment is recognized by Uos for the roles of managing the company itself.</p>
    <form action="@api.MyAccount.SignIn.Url" method="post">
        <div class="form-group">
            <label class="control-label" for="umbiliko-my-account-client">Select one of your account to unlock more options in Uos:</label>
            <select class="form-control" id="umbiliko-my-account-client" name="Segment" size="12">
                @{

                    foreach (var group in accountGroups)
                    {
                        <optgroup label="@group.First().CompanyName (@group.Key)">
                            @foreach (var item in group)
                            {
                                <option value="@item.CompanyCode/@item.SegmentCode">@item.SegmentCode - @item.SegmentDescription</option>
                            }
                        </optgroup>
                    }
                }
            </select>
        </div>
        <button class="btn btn-primary btn-sm pull-right" id="umbiliko-my-account-enter-cmd" type="submit">Enter &raquo;</button>
    </form>
}