﻿@using Microsoft.Owin.Security
@using System.Collections.Specialized;
<div id="entry">
    <div class="brand">
        <img src="/content/assets/images/brand.svg" alt="devEntry">
    </div>
    <div class="enter" data-height="200">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "entry-login", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input class="form-control" id="entry-identity" name="entry-identity" placeholder="Your user name or email address" type="text" />
            <br />
            <button class="pull-right" role="button" type="submit">Enter</button>
        }
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() != 0)
            {
                <div class="vertical divider">or</div>
                <div class="entry-external-login">
                    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }))
                    {
                        var icons = new Dictionary<string, string>
                        {
                            { "dribbble", "ion-social-dribbble" },
                            { "facebook", "ion-social-facebook" },
                            { "google", "ion-social-google" },
                            { "github", "ion-social-github" },
                            { "linkedin", "ion-social-linkedin" },
                            { "microsoft", "ion-social-windows" },
                            { "twitter", "ion-social-twitter" }
                        };
                        @Html.AntiForgeryToken()
                        <ul class="list-inline">
                            @foreach (AuthenticationDescription p in loginProviders)
                            {
                                string icon, provider = p.AuthenticationType.ToLower(),
                                    url = Url.Action("Account", "ExternalLogin", new RouteValueDictionary(new { provider = p.AuthenticationType, returnUrl = "/" })) ?? "/account/external-login?provider=" + p.AuthenticationType + "&ReturnUrl=";
                                if (!icons.TryGetValue(provider, out icon))
                                {
                                    icon = "ion-social-dribbble";
                                }
                                <li>
                                    <button type="submit" class="btn btn-link" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                        <i class="@icon fa-2x"></i>
                                    </button>
                                </li>
                            }
                        </ul>
                    }
                </div>
            }
        }
    </div>
    <div class="talk">
        <div class="intro">
            @* TICKER START *@
            <div class="ticker">
                <h3><strong>Scrum</strong> We deliver value.</h3>
                <h3><strong>Focus</strong> We work well together.</h3>
                <h3><strong>Courage</strong> We work as a team.</h3>
                <h3><strong>Openness</strong> We express how we're doing.</h3>
                <h3><strong>Commitment</strong> We control our own destiny.</h3>
                <h3><strong>Respect</strong> We help each other, we're worthy.</h3>
            </div>
            @* TICKER END *@
            <p>We take a holistic approach to outsource software development. Our process is based on Agile Scrum, with a focus on collaborative design.</p>
            <br>
            <a href="#services" class="btn btn-transparent scroll"><strong>LEARN MORE</strong></a>
            @*<a href="#about" class="btn btn-link btn-white scroll pull-right">Start with devEntry <i class="fa fa-angle-right"></i></a>*@
        </div>
        <div class="guide">
            <input checked="checked" name="entry-guide-line" type="radio" value="identify-user" />
            <div class="guide-line guide-accent-xs-top guide-accent-md-top-right identify-user">
                <div class="guide-accent"></div>
                <p>
                    Use your user name if are already registered.
                </p>
                <p>
                    If you are not registered, then use an email address where we can reach you out.
                </p>
            </div>
            <input name="entry-guide-line" type="radio" value="email-exists" />
            <div class="guide-line guide-accent-xs-top guide-accent-md-right email-exists">
                <div class="guide-accent"></div>
                <p>
                    The email address you provided is linked to an user name in our database. Please login using that user name.
                </p>
                <p>
                    If you don't remember your user name, use the recovery option "recover user name". It will email your user name to you.
                </p>
            </div>
            <input name="entry-guide-line" type="radio" value="registration-request" />
            <div class="guide-line guide-accent-xs-top guide-accent-md-right registration-request">
                <div class="guide-accent"></div>
                <p>
                    Would you like to register with us? It is very simple! Just pick an user name and password.
                </p>
                <p>
                    We will send a welcome email with an activation link to the email address you provided.
                </p>
            </div>
        </div>
    </div>
</div>
