﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Agile web application development">
    <meta name="keywords" content="Agile, Scrum, Hire, Developer, Development, .Net, Java, JavaScript, MVC, Ajax, single-page, one-page, Twitter, Facebook">
    <title>@ViewBag.Title</title>

    <link href="favicon.png" rel="icon" type="image/png" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* PRE-LOADER JAVASCRIPT START *@
    <script src="//fast.eager.io/lA7xLMbMpJ.js"></script>
    @*<script src="~/scripts/cssattr.min.js" type="text/jsx"></script>*@
    @*<script src="/scripts/pace.min.js" type="text/javascript"></script>*@
    @* PRE-LOADER JAVASCRIPT END *@
    @* STYLESHEETS START *@
    @* Bootstrap style sheet *@
    @Styles.Render("~/css/site")
    @Styles.Render("~/content/css/hover")
    @Styles.Render("~/content/css/home")
    @* Pretty photo style sheet *@
    <link rel="stylesheet" href="/content/assets/stylesheets/prettyPhoto.css">
    @* STYLESHEETS END *@
    @* FONTS START *@
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    @* FONTS END *@

    @Scripts.Render("~/js/modernizr")
</head>
@RenderBody()
</html>
