﻿@using Microsoft.Owin.Security
@model UserData
@{ 
    ActivityHelper api = Url;
    var providers = Context.Request.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
    var returnUrl = Convert.ToString(Request.Url);
    var loginUri = api.MyAccount.Login.Uri.WithQuery((query) =>
    {
        query["returnUrl"] = returnUrl;
    });
}
@if (providers.Count > 0)
{
    <form action="@loginUri" class="col-xs-12" method="post" name="login">
        @if (Model.Logins.Count > 0)
        {
            <fieldset>
                <legend>Your external logins</legend>
                <ul class="list-inline text-center">
                    @foreach (var login in Model.Logins)
                    {
                        <li><b>@login.LoginProvider</b>: @login.Label</li>
                    }
                </ul>
            </fieldset>
        }
        @if (providers.Count > 0)
        {
            <fieldset>
                <legend>Add external login</legend>
                <ul class="list-inline text-center">
                    @foreach (var login in providers)
                    {
                        string id = login.AuthenticationType.ToLowerInvariant().Replace(' ', '-');
                        <li>
                            <button class="btn btn-link cmd-login" type="submit" id="umbiliko-login-with-@id" name="Provider" value="@login.AuthenticationType" title="@string.Format(Resources.Authentication.ExternalLoginOption, login.Caption)">
                                <i class="ion icon @id"></i><b>@login.Caption</b>
                            </button>
                        </li>
                    }
                </ul>
            </fieldset>
        }
    </form>
}
