﻿<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
@{
    ActivityHelper api = Url;
}
@if (Context.User.Identity.IsAuthenticated)
{
    ViewBag.Page = "dashboard";
    <section class="container-fluid panel">
        @Html.Partial("Dashboard")
    </section>
    <footer class="container-fluid hidden-xs text-center">
        Uos 2015
    </footer>
    @section application {
        @Html.Partial("Script", null)
    }
    @section scripts
    {   
    }
    @section search {
        <form action="@Url.Action("Index", "Search")" class="navbar-form navbar-left" method="get" role="search" target="_self">
            <div class="form-group form-group-sm">
                <input class="form-control" name="token" placeholder="Search..." type="text">
            </div>
            <button class="btn btn-default btn-sm" type="submit">Submit</button>
        </form>
    }
    @section styles {
        
    }
    @section toolbar {
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="navbar-link" href="@Url.Action("DownloadAll", "Home")">Backup</a>
            </li>
            <li>
                <iframe frameborder="0" name="upload-accounts" scrolling="no" src="@Url.Action("UploadAll", "Home")" style="display: inline-block; height: 0; margin-top: 8px; vertical-align: middle; width: 0;" target="_top"></iframe>
            </li>
        </ul>
    }
}
else
{
    ViewBag.Page = "home";

    <header id="header">
        @*<img class="deventry" src="http://deventry.com/content/images/brand.svg" alt="devEntry" />*@
        @*<img class="uptime" src="/content/images/uptime.svg" alt="certified uptime" />*@
        @*<div class="easeaccess"></div>*@

        @*<div id="my-account">
                <iframe frameborder="0" class="enter" name="account-widget" scrolling="no" src="@Url.Action("Enter", "Account")" style="display: inline-block; margin: 0; overflow: hidden;"></iframe>
            </div>*@
        <div class="container">
            <div class="brand">
                <h1><img src="content/images/umbiliko.svg" onerror="this.onerror=null; this.src='umbiliko.png'" title="Uos" /></h1>
                @*<h2><img src="content/images/deventry-brand.svg" onerror="this.onerror=null; this.src='umbiliko.png'" title="Uos" style="width: 20%; float: right" /></h2>
                    <canvas>Canvas not supported</canvas>*@
            </div>
            <div class="umbiliko-enter-placeholder" data-widget="@api.Widgets.Enter.Url">
            </div>
        </div>
        @if (!Context.IsDebuggingEnabled)
        {
            @Html.Partial("Facebook")
            @Html.Partial("SiteSeal")
        }
    </header>
    @section styles {
        <link rel="stylesheet" href="~/Content/stylesheets/pages/home.css">
        <link href="~/Content/stylesheets/toastr.css" rel="stylesheet" />
        <link href="~/Content/stylesheets/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/stylesheets/umbiliko-enter.css" rel="stylesheet" />
    }
    @section application {
    }
}
