﻿<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
@{
    ActivityHelper api = Url;
    ViewBag.Page = "intro";
    var user = new UserData(Context.User);
    var level = user.AccessLevel;
}
<header id="header">
    @if (level < AccessLevels.Protected)
    {
        <div class="container">
            <div class="brand">
                <h1><img src="content/images/umbiliko.svg" onerror="this.onerror=null; this.src='umbiliko.png'" title="Uos" /></h1>
                @*<h2><img src="content/images/deventry-brand.svg" onerror="this.onerror=null; this.src='umbiliko.png'" title="Uos" style="width: 20%; float: right" /></h2>
                    <canvas>Canvas not supported</canvas>*@
            </div>
            <div class="umbiliko-enter-placeholder" data-widget="@api.Widgets.Enter.Url">
            </div>
            <div class="umbiliko-contact-placeholder" data-widget="@api.Widgets.Contact.Url">
                <button class="btn btn-default pull-right" name="cmd-contact" role="button">Contact</button>
            </div>
        </div>
        if (!Context.IsDebuggingEnabled)
        {
            @Html.Partial("Facebook")
            @Html.Partial("SiteSeal")
        }
    }
</header>
@section styles {
    <link rel="stylesheet" href="~/Content/stylesheets/pages/intro.css">
}
@section application {
}