﻿@{
    ViewBag.Batch = true;
    ViewBag.PageButtonCount = 5;
    ViewBag.PageSize = 25;
    ViewBag.PageSizes = new[] { 10, 25, 50, 100, 500, 1000 };
    bool batch = ViewBag.Batch;

    var kendoGrid = Html.Kendo().Grid<StafferModel>()

    .Name("k-grid-staffers")

    .Columns(columns =>
    {
        columns.Bound(c => c.CompanyCode).Title(Resources.Domain.CompanyCodeColumn).Width(120).Sortable(true);
        columns.Bound(c => c.EmailAddress).Title(Resources.Domain.EmailAddressColumn).Width(200).Sortable(true);
        columns.Bound(c => c.FirstName).Title(Resources.Domain.FirstNameColumn).Sortable(true);
        columns.Bound(c => c.LastName).Title(Resources.Domain.LastNameColumn).Sortable(true);
        columns.Bound(c => c.CreatedOn).Title(Resources.Common.CreatedOnColumn).Width(200).Sortable(true);
        //columns.Command(commands => commands.Custom("manage-company").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Resources.Common.ManageCmd).Click("function(e) { u.publish('control.browse.manage-clicked', e); }")).Title(" ").Width(96);
    })

    .DataSource(dataSource =>
    {
        var webApi = dataSource.WebApi();

        if (batch)
        {
            webApi.Batch(true);
            webApi.Create(create => create.Url(Url.Json<StaffersController>(c => c.BatchCreateStaffers(null, null)).Url));
            webApi.Destroy(destroy => destroy.Url(Url.Json<StaffersController>(c => c.BatchDestroyStaffers(null, null)).Url));
            webApi.Update(update => update.Url(Url.Json<StaffersController>(c => c.BatchUpdateStaffers(null, null)).Url));
        }
        else
        {
            webApi.Batch(false);
            webApi.Create(create => create.Url(Url.Json<StaffersController>(c => c.InlineCreateStaffer(null, null)).Url));
            webApi.Destroy(destroy => destroy.Url(Url.Json<StaffersController>(c => c.InlineDestroyStaffer(null, null)).Url));
            webApi.Update(update => update.Url(Url.Json<StaffersController>(c => c.InlineUpdateStaffer(null, null)).Url));
        }

        webApi.Read(create => create.Url(Url.Json<StaffersController>(c => c.ReadStaffers(null)).Url));

        webApi.Model(model =>
        {
            model.Id(staffer => staffer.StafferId);
            model.Field(staffer => staffer.StafferId).Editable(false);
            model.Field(staffer => staffer.CompanyCode).Editable(false);
            model.Field(staffer => staffer.CompanyName).Editable(false);
            model.Field(staffer => staffer.CreatedOn).Editable(false);
            model.Field(staffer => staffer.EmailAddress).Editable(false);
            model.Field(staffer => staffer.FirstName).Editable(true);
            model.Field(staffer => staffer.LastName).Editable(true);
            model.Field(staffer => staffer.Roles).Editable(true);
        });

        int? pageSize = ViewBag.PageSize;

        if (pageSize.HasValue)
        {
            webApi.PageSize(pageSize.Value);
        }

        /*webApi.Events(events =>
        {
            events.Change("u.control.browse.onDataSourceChange");
            events.Push("u.control.browse.onDataSourcePush");
            events.Sync("u.control.browse.onDataSourceSync");
        });*/
    })

    // not using detail template but this is how it would be configured
    // a script tag with the rendered template would be required on the html
    //.ClientDetailTemplateId("company-detail-template")

    .Editable(editable => editable.Mode(batch ? GridEditMode.InCell : GridEditMode.InLine))

    /*.Events(events =>
    {
        events.Change("u.control.browse.onSelectedChanged");
        events.DetailExpand("u.control.browse.onDetailExpanded");
    })*/

    .Navigatable()

    .Pageable(pageable =>
    {
        int? buttonCount = ViewBag.PageButtonCount;

        if (buttonCount.HasValue)
        {
            pageable.ButtonCount(buttonCount.Value);
        }

        int[] pageSizes = ViewBag.PageSizes;

        if (pageSizes != null)
        {
            pageable.PageSizes(pageSizes);
        }

        pageable.Refresh(true);
    })

    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))

    .Scrollable();
}
@(kendoGrid.Deferred())
