﻿<dl class="dl-horizontal">
    <dt>@Resources.Domain.IdentityField</dt>
    <dd><span data-bind="text: identity"></span> <sup class="label label-default" data-bind="text: label"></sup></dd>
    <dt>@Resources.Domain.FirstNameField</dt>
    <dd data-bind="text: firstName"></dd>
    <dt>@Resources.Domain.LastNameField</dt>
    <dd data-bind="text: lastName"></dd>
    <dt>@Resources.Domain.CompanyCodeField</dt>
    <dd data-bind="text: companyCode"></dd>
    <dt>@Resources.Domain.CompanyNameField</dt>
    <dd data-bind="text: companyName"></dd>
    <dt>@Resources.Common.CreatedOnField</dt>
    <dd data-bind="text: since"></dd>
    <dt>@Resources.Domain.RolesField</dt>
    <dd data-bind="text: roles"></dd>
</dl>
<div data-bind="html: remarks">
</div>

