﻿@model StafferModel
@{
    ViewBag.Entry = false;
}
<div class="row">
    <div class="col-lg-7 col-lg-offset-1">
        @Html.Partial("_FormPartial")
    </div>
    <div class="col-lg-4">
        @Html.Partial("_RolesPartial")
    </div>
</div>
