﻿@model StafferEntryModel
@{
    var entry = ViewBag.Entry == true;
    var id = entry ? "staffer-entry-form" : "staffer-edit-form";
}
<form action="javascript:void(0)" id="@id">
    @if (entry)
    {
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group form-group-sm has-feedback" data-bind="css: { has-error: status.companyCode.error, has-success: status.companyCode.success, has-warning: status.companyCode.warning }">
                    @Html.Label(id + "-company-code", Resources.Domain.CompanyCodeField, new { @class = "control-label" })
                    @(Html.Kendo().AutoCompleteFor(e => e.CompanyCode)
                        .DataSource(source =>
                        {
                            //.Type("aspnetmvc-ajax")
                            source.Read(read => read.Url(Url.Json<CompaniesController>(c => c.GetCompanies(null, null, null)).Url).Data("u.control.entry.form.filter.companyCode").Type(HttpVerbs.Post));
                            source.ServerFiltering(true);
                        })
                        .DataTextField("CompanyCode")
                        .Filter(FilterType.StartsWith)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control uppercase" },
                            { "data-bind", "value: data.companyCode" },
                            { "data-maxtextlength", Uos.Domain.Lengths.CompanyCode},
                            { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                            { "data-value-update", "keyup" },
                            //{ "maxlength", Uos.Domain.Lengths.CompanyCode },
                            { "aria-describedby", id + "-company-code-status" }
                        })
                        .MinLength(1)
                        .Name(id + "-company-code")
                        .Template("<span>#: CompanyCode #</span><span class='list-desc'>#: CompanyName #</span>")
                        .Deferred())
                    <span id="@(id)-company-code-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.companyCode.pristine, glyphicon-remove: status.companyCode.error, glyphicon-ok: status.companyCode.success }" aria-hidden="true"></span>

                    <span class="tooltip" data-bind="text: messages.companyCode"></span>
                </div>
                <span data-for="@(id)-company-code" class="k-invalid-msg"></span>
            </div>
            <dl class="col-sm-8">
                <dt class="hidden-xs-up">@Resources.Domain.CompanyNameField</dt>
                <dd class="help-block" data-bind="text: data.companyCode.CompanyName"></dd>
            </dl>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group form-group-sm has-feedback" data-bind="css: { has-error: status.identity.error, has-success: status.identity.success, has-warning: status.identity.warning }">
                    @Html.Label(id + "-identity", Resources.Domain.IdentityField, new { @class = "control-label" })
                    @(Html.Kendo().AutoCompleteFor(e => e.EmailAddress)
                        .DataSource(source =>
                        {
                            //.Type("aspnetmvc-ajax")
                            source.Read(read => read.Url(Url.Json<IdentitiesController>(c => c.GetIdentities(null, null, null)).Url).Data("u.control.entry.form.filter.identity").Type(HttpVerbs.Post));
                            source.ServerFiltering(true);
                        })
                        .DataTextField("EmailAddress")
                        .Filter(FilterType.StartsWith)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control lowercase" },
                            { "data-bind", "value: data.identity" },
                            { "data-maxtextlength", Uos.Domain.Lengths.EmailAddress},
                            { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                            { "data-value-update", "keyup" },
                            //{ "maxlength", Uos.Domain.Lengths.EmailAddress },
                            { "aria-describedby", id + "-identity-status" }
                        })
                        .MinLength(1)
                        .Name(id + "-identity")
                        .Deferred())
                    <span id="@(id)-identity-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.identity.pristine, glyphicon-remove: status.identity.error, glyphicon-ok: status.identity.success }" aria-hidden="true"></span>
                    <span class="tooltip" data-bind="text: messages.identity"></span>
                </div>
                <span data-for="@(id)-identity" class="k-invalid-msg"></span>
            </div>
            <dl class="col-sm-8 col-md-4">
                <dt class="hidden-xs-up">@Resources.Common.NameField</dt>
                <dd class="help-block" data-bind="text: data.identity.FullName"></dd>
            </dl>
            <dl class="hidden-sm col-md-4">
                <dt class="hidden-xs-up">@Resources.Domain.PhoneNumberField</dt>
                <dd class="help-block" data-bind="text: data.identity.PhoneNumber"></dd>
            </dl>
        </div>
    }
    else
    {
        <div class="row">
            <dl class="col-sm-6">
                <dt>@Resources.Domain.CompanyField</dt>
                <dd><strong data-bind="text: data.companyCode"></strong> <i data-bind="text: data.companyName"></i></dd>
            </dl>
            <dl class="col-sm-6">
                <dt>@Resources.Domain.EmailAddressesField</dt>
                <dd data-bind="text: data.identity"></dd>
            </dl>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label(id + "-first-name", Resources.Domain.FirstNameField)
                @(Html.Kendo().TextBoxFor(e => e.FirstName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: data.firstName" },
                        { "data-value-update", "keyup" },
                        { "maxlength", Uos.Domain.Lengths.Name }
                    })
                    .Name(id + "-first-name")
                    .Deferred())
            </div>
            <span data-for="@(id)-first-name" class="k-invalid-msg"></span>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label(id + "-last-name", Resources.Domain.LastNameField)
                @(Html.Kendo().TextBoxFor(e => e.LastName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: data.lastName" },
                        { "data-value-update", "keyup" },
                        { "maxlength", Uos.Domain.Lengths.Name }
                    })
                    .Name(id + "-last-name")
                    .Deferred())
            </div>
            <span data-for="@(id)-last-name" class="k-invalid-msg"></span>
        </div>
    </div>
</form>
