@charset "UTF-8";
@font-face {
  font-family: "Ionicons";
  src: url("/content/fonts/ionicons.eot?v=2.0.0");
  src: url("/content/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("/content/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("/content/fonts/ionicons.woff?v=2.0.0") format("woff"), url("/content/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../../../sass/fonts/ionicons/_ionicons-font.scss */
.ion {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../../../sass/_divider.scss */
.divider {
  color: #333333;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}
/* line 8, ../../../sass/_divider.scss */
.divider:before, .divider:after {
  content: "";
  display: inline-block;
}
/* line 18, ../../../sass/_divider.scss */
.divider.vertical {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 70%;
}
/* line 24, ../../../sass/_divider.scss */
.divider.vertical:before, .divider.vertical:after {
  border-bottom: 1px solid #333333;
  height: 0.65em;
  vertical-align: top;
  width: 50%;
}
/* line 32, ../../../sass/_divider.scss */
.divider.vertical:after {
  margin: 0 -55% 0 2%;
}
/* line 36, ../../../sass/_divider.scss */
.divider.vertical:before {
  margin: 0 2% 0 -55%;
}

/* line 31, ../../../sass/products/umbiliko/my-account-login.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../../../sass/products/umbiliko/my-account-login.scss */
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* line 42, ../../../sass/products/umbiliko/my-account-login.scss */
button[type=submit] {
  cursor: pointer;
  background: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  color: #DCDCDC;
  font-size: 2em;
  font-weight: normal;
  padding: 0;
  text-align: center;
}
/* line 53, ../../../sass/products/umbiliko/my-account-login.scss */
button[type=submit]:focus {
  outline: 0;
}

/* line 58, ../../../sass/products/umbiliko/my-account-login.scss */
form {
  display: block;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 999;
}

/* line 68, ../../../sass/products/umbiliko/my-account-login.scss */
#footer {
  color: #BBBBBB;
  display: inline-block;
  float: right;
  font-size: .75em;
  font-weight: 300;
  margin: 4em 1em 1em 1em;
}

/* line 77, ../../../sass/products/umbiliko/my-account-login.scss */
canvas {
  background: transparent;
  bottom: .5em;
  height: 100px;
  left: .5em;
  position: absolute;
  width: 100px;
  z-index: -666;
}

/* line 87, ../../../sass/products/umbiliko/my-account-login.scss */
#send {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 2px;
  color: #DCDCDC;
  float: right;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  margin: 1em 0 0 0;
  width: 80px;
  -webkit-transition-property: border-color, border-width, font-size, height, margin, width;
  transition-property: border-color, border-width, font-size, height, margin, width;
}
/* line 102, ../../../sass/products/umbiliko/my-account-login.scss */
#send, #send:active, #send.active, #send[disabled], #send:hover, #send:focus, #send:active {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
/* line 112, ../../../sass/products/umbiliko/my-account-login.scss */
#send:hover, #send:focus {
  color: #FFFFFF;
  background-color: transparent;
}
/* line 119, ../../../sass/products/umbiliko/my-account-login.scss */
#send[disabled]:hover, #send[disabled]:focus {
  color: #BBBBBB;
}

/* line 126, ../../../sass/products/umbiliko/my-account-login.scss */
input[type=password],
input[type=text] {
  background-color: rgba(51, 51, 51, 0.5);
  background-image: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 57, ../../../sass/bootstrap/mixins/_forms.scss */
input[type=password]:focus,
input[type=text]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 103, ../../../sass/bootstrap/mixins/_vendor-prefixes.scss */
input[type=password]::-moz-placeholder,
input[type=text]::-moz-placeholder {
  color: #999;
  opacity: 1;
}
/* line 107, ../../../sass/bootstrap/mixins/_vendor-prefixes.scss */
input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder {
  color: #999;
}
/* line 108, ../../../sass/bootstrap/mixins/_vendor-prefixes.scss */
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder {
  color: #999;
}
/* line 150, ../../../sass/products/umbiliko/my-account-login.scss */
input[type=password][disabled], input[type=password][readonly], fieldset[disabled] input[type=password],
input[type=text][disabled],
input[type=text][readonly], fieldset[disabled]
input[type=text] {
  background-color: #EEEEEE;
  opacity: 1;
}
/* line 157, ../../../sass/products/umbiliko/my-account-login.scss */
input[type=password]:-webkit-autofill,
input[type=text]:-webkit-autofill {
  background-color: rgba(51, 51, 51, 0.5);
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px rgba(51, 51, 51, 0.5) inset;
}
/* line 163, ../../../sass/products/umbiliko/my-account-login.scss */
input[type=password][disabled], fieldset[disabled] input[type=password],
input[type=text][disabled], fieldset[disabled]
input[type=text] {
  cursor: not-allowed;
}

/* line 170, ../../../sass/products/umbiliko/my-account-login.scss */
label {
  color: #BBBBBB;
}

/* line 174, ../../../sass/products/umbiliko/my-account-login.scss */
ul {
  display: block;
  height: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 182, ../../../sass/products/umbiliko/my-account-login.scss */
ul li {
  display: inline-block;
}
/* line 186, ../../../sass/products/umbiliko/my-account-login.scss */
ul.option-group {
  padding-top: 1em;
  width: calc(100% - 100px);
}
/* line 190, ../../../sass/products/umbiliko/my-account-login.scss */
ul.option-group > li {
  float: left;
  width: 50%;
  display: inline-block;
}

/* line 198, ../../../sass/products/umbiliko/my-account-login.scss */
.autohide {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 202, ../../../sass/products/umbiliko/my-account-login.scss */
.autohide.hshrink,
.autohide .hshrink {
  -webkit-transition-property: width;
  transition-property: width;
}
/* line 207, ../../../sass/products/umbiliko/my-account-login.scss */
.autohide.shrink,
.autohide .shrink {
  -webkit-transition-property: font-size;
  transition-property: font-size;
}
/* line 212, ../../../sass/products/umbiliko/my-account-login.scss */
.autohide.vshrink,
.autohide .vshrink {
  -webkit-transition-property: height;
  transition-property: height;
}
/* line 217, ../../../sass/products/umbiliko/my-account-login.scss */
.autohide,
.autohide .animate {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 227, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login button {
  width: 2em;
}
/* line 230, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login button, #external-login button:active, #external-login button.active, #external-login button[disabled], #external-login button:hover, #external-login button:focus, #external-login button:active {
  border: 0 solid transparent;
}
/* line 240, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login button:hover, #external-login button:focus {
  color: #FFFFFF;
  background-color: transparent;
}
/* line 247, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login ul {
  list-style: none;
  margin-left: -5px;
  padding: 0;
  text-align: center;
  width: 100%;
}
/* line 254, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login ul > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 265, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login .facebook:before {
  content: "";
}
/* line 271, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login .google:before {
  content: "";
}
/* line 277, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login .github:before {
  content: "";
}
/* line 283, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login .linkedin:before {
  content: "";
}
/* line 289, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login .microsoft:before {
  content: "";
}
/* line 295, ../../../sass/products/umbiliko/my-account-login.scss */
#external-login .twitter:before {
  content: "";
}

/* line 301, ../../../sass/products/umbiliko/my-account-login.scss */
.divider {
  color: #BBBBBB;
  padding: 10px 0;
}
/* line 306, ../../../sass/products/umbiliko/my-account-login.scss */
.divider.vertical::after, .divider.vertical::before {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

/* line 313, ../../../sass/products/umbiliko/my-account-login.scss */
.hidden {
  display: none;
}

/* line 318, ../../../sass/products/umbiliko/my-account-login.scss */
#internal-login label {
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin: 1em 0 .5em 0;
  max-width: 100%;
}
/* line 328, ../../../sass/products/umbiliko/my-account-login.scss */
#internal-login .option-group label {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0.5em 0 0;
}

/* line 336, ../../../sass/products/umbiliko/my-account-login.scss */
body {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  height: 100%;
  margin: 0;
  padding: 1em 1em 0 1em;
  width: 100%;
  -webkit-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 348, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) {
  padding: 0;
  -webkit-transition-property: padding;
  transition-property: padding;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 354, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) #footer {
  display: none;
}
/* line 358, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) canvas {
  bottom: 0;
  left: 0;
}
/* line 363, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) #send {
  border-color: transparent;
  border-width: 0;
  font-size: 28px;
  height: 100px;
  margin: 0;
  width: 100px;
  -webkit-transition-property: border-color, border-width, font-size, height, margin, width;
  transition-property: border-color, border-width, font-size, height, margin, width;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
/* line 375, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) #internal-login {
  height: 0;
}
/* line 378, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) #internal-login label {
  margin: 0;
}
/* line 383, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) .autohide {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 387, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) .autohide.hshink,
body:not(.active):not(:hover):not(:focus) .autohide .hshrink {
  width: 0;
  -webkit-transition-property: width;
  transition-property: width;
}
/* line 393, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) .autohide.shink,
body:not(.active):not(:hover):not(:focus) .autohide .shrink {
  font-size: 0;
  -webkit-transition-property: font-size;
  transition-property: font-size;
}
/* line 399, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) .autohide.vshink,
body:not(.active):not(:hover):not(:focus) .autohide .vshrink {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height;
}
/* line 405, ../../../sass/products/umbiliko/my-account-login.scss */
body:not(.active):not(:hover):not(:focus) .autohide,
body:not(.active):not(:hover):not(:focus) .autohide .animate {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
/* line 412, ../../../sass/products/umbiliko/my-account-login.scss */
body.active, body:focus, body:hover {
  /*min-height: attr(data-height px);*/
}
