/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../sass/bootstrap/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, ../sass/bootstrap/_normalize.scss */
body {
  margin: 0;
}

/* line 33, ../sass/bootstrap/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 54, ../sass/bootstrap/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 67, ../sass/bootstrap/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 77, ../sass/bootstrap/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 89, ../sass/bootstrap/_normalize.scss */
a {
  background-color: transparent;
}

/* line 98, ../sass/bootstrap/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 110, ../sass/bootstrap/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 118, ../sass/bootstrap/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 127, ../sass/bootstrap/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 136, ../sass/bootstrap/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 145, ../sass/bootstrap/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 154, ../sass/bootstrap/_normalize.scss */
small {
  font-size: 80%;
}

/* line 162, ../sass/bootstrap/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/bootstrap/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/bootstrap/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 185, ../sass/bootstrap/_normalize.scss */
img {
  border: 0;
}

/* line 193, ../sass/bootstrap/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 204, ../sass/bootstrap/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 212, ../sass/bootstrap/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 221, ../sass/bootstrap/_normalize.scss */
pre {
  overflow: auto;
}

/* line 229, ../sass/bootstrap/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 252, ../sass/bootstrap/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 266, ../sass/bootstrap/_normalize.scss */
button {
  overflow: visible;
}

/* line 277, ../sass/bootstrap/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 290, ../sass/bootstrap/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 302, ../sass/bootstrap/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 311, ../sass/bootstrap/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 322, ../sass/bootstrap/_normalize.scss */
input {
  line-height: normal;
}

/* line 334, ../sass/bootstrap/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 346, ../sass/bootstrap/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 356, ../sass/bootstrap/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 367, ../sass/bootstrap/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 376, ../sass/bootstrap/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 387, ../sass/bootstrap/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 396, ../sass/bootstrap/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 405, ../sass/bootstrap/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 416, ../sass/bootstrap/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../sass/bootstrap/_normalize.scss */
td,
th {
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  /* line 9, ../sass/bootstrap/_print.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 18, ../sass/bootstrap/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../sass/bootstrap/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../sass/bootstrap/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 33, ../sass/bootstrap/_print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 38, ../sass/bootstrap/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 44, ../sass/bootstrap/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 48, ../sass/bootstrap/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 53, ../sass/bootstrap/_print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 57, ../sass/bootstrap/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 64, ../sass/bootstrap/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 72, ../sass/bootstrap/_print.scss */
  .navbar {
    display: none;
  }

  /* line 77, ../sass/bootstrap/_print.scss */
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

  /* line 81, ../sass/bootstrap/_print.scss */
  .label {
    border: 1px solid #000;
  }

  /* line 85, ../sass/bootstrap/_print.scss */
  .table {
    border-collapse: collapse !important;
  }
  /* line 88, ../sass/bootstrap/_print.scss */
  .table td,
  .table th {
    background-color: #fff !important;
  }

  /* line 94, ../sass/bootstrap/_print.scss */
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/* line 11, ../sass/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/bootstrap/_scaffolding.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/bootstrap/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #FFFFFF;
}

/* line 36, ../sass/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 48, ../sass/bootstrap/_scaffolding.scss */
a {
  color: #336688;
  text-decoration: none;
}
/* line 52, ../sass/bootstrap/_scaffolding.scss */
a:hover, a:focus {
  color: #1e3c50;
  text-decoration: underline;
}
/* line 58, ../sass/bootstrap/_scaffolding.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 69, ../sass/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 76, ../sass/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 81, ../sass/bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 86, ../sass/bootstrap/_scaffolding.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 93, ../sass/bootstrap/_scaffolding.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 106, ../sass/bootstrap/_scaffolding.scss */
.img-circle {
  border-radius: 50%;
}

/* line 113, ../sass/bootstrap/_scaffolding.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #EEEEEE;
}

/* line 125, ../sass/bootstrap/_scaffolding.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 141, ../sass/bootstrap/_scaffolding.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 159, ../sass/bootstrap/_scaffolding.scss */
[role="button"] {
  cursor: pointer;
}

/* line 9, ../sass/bootstrap/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
/* line 16, ../sass/bootstrap/_type.scss */
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

/* line 24, ../sass/bootstrap/_type.scss */
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 30, ../sass/bootstrap/_type.scss */
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

/* line 35, ../sass/bootstrap/_type.scss */
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 41, ../sass/bootstrap/_type.scss */
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

/* line 47, ../sass/bootstrap/_type.scss */
h1, .h1 {
  font-size: 36px;
}

/* line 48, ../sass/bootstrap/_type.scss */
h2, .h2 {
  font-size: 30px;
}

/* line 49, ../sass/bootstrap/_type.scss */
h3, .h3 {
  font-size: 24px;
}

/* line 50, ../sass/bootstrap/_type.scss */
h4, .h4 {
  font-size: 18px;
}

/* line 51, ../sass/bootstrap/_type.scss */
h5, .h5 {
  font-size: 14px;
}

/* line 52, ../sass/bootstrap/_type.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 58, ../sass/bootstrap/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 62, ../sass/bootstrap/_type.scss */
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  /* line 62, ../sass/bootstrap/_type.scss */
  .lead {
    font-size: 21px;
  }
}

/* line 78, ../sass/bootstrap/_type.scss */
small,
.small {
  font-size: 85%;
}

/* line 83, ../sass/bootstrap/_type.scss */
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* line 90, ../sass/bootstrap/_type.scss */
.text-left {
  text-align: left;
}

/* line 91, ../sass/bootstrap/_type.scss */
.text-right {
  text-align: right;
}

/* line 92, ../sass/bootstrap/_type.scss */
.text-center {
  text-align: center;
}

/* line 93, ../sass/bootstrap/_type.scss */
.text-justify {
  text-align: justify;
}

/* line 94, ../sass/bootstrap/_type.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 97, ../sass/bootstrap/_type.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 98, ../sass/bootstrap/_type.scss */
.text-uppercase, .initialism {
  text-transform: uppercase;
}

/* line 99, ../sass/bootstrap/_type.scss */
.text-capitalize {
  text-transform: capitalize;
}

/* line 102, ../sass/bootstrap/_type.scss */
.text-muted {
  color: #777777;
}

/* line 5, ../sass/bootstrap/mixins/_text-emphasis.scss */
.text-primary {
  color: #336688;
}

/* line 8, ../sass/bootstrap/mixins/_text-emphasis.scss */
a.text-primary:hover,
a.text-primary:focus {
  color: #254a63;
}

/* line 5, ../sass/bootstrap/mixins/_text-emphasis.scss */
.text-success {
  color: #3c763d;
}

/* line 8, ../sass/bootstrap/mixins/_text-emphasis.scss */
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}

/* line 5, ../sass/bootstrap/mixins/_text-emphasis.scss */
.text-info {
  color: #31708f;
}

/* line 8, ../sass/bootstrap/mixins/_text-emphasis.scss */
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}

/* line 5, ../sass/bootstrap/mixins/_text-emphasis.scss */
.text-warning {
  color: #8a6d3b;
}

/* line 8, ../sass/bootstrap/mixins/_text-emphasis.scss */
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}

/* line 5, ../sass/bootstrap/mixins/_text-emphasis.scss */
.text-danger {
  color: #a94442;
}

/* line 8, ../sass/bootstrap/mixins/_text-emphasis.scss */
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}

/* line 119, ../sass/bootstrap/_type.scss */
.bg-primary {
  color: #fff;
}

/* line 5, ../sass/bootstrap/mixins/_background-variant.scss */
.bg-primary {
  background-color: #336688;
}

/* line 8, ../sass/bootstrap/mixins/_background-variant.scss */
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #254a63;
}

/* line 5, ../sass/bootstrap/mixins/_background-variant.scss */
.bg-success {
  background-color: #dff0d8;
}

/* line 8, ../sass/bootstrap/mixins/_background-variant.scss */
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}

/* line 5, ../sass/bootstrap/mixins/_background-variant.scss */
.bg-info {
  background-color: #d9edf7;
}

/* line 8, ../sass/bootstrap/mixins/_background-variant.scss */
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}

/* line 5, ../sass/bootstrap/mixins/_background-variant.scss */
.bg-warning {
  background-color: #fcf8e3;
}

/* line 8, ../sass/bootstrap/mixins/_background-variant.scss */
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}

/* line 5, ../sass/bootstrap/mixins/_background-variant.scss */
.bg-danger {
  background-color: #f2dede;
}

/* line 8, ../sass/bootstrap/mixins/_background-variant.scss */
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}

/* line 138, ../sass/bootstrap/_type.scss */
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #EEEEEE;
}

/* line 149, ../sass/bootstrap/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 153, ../sass/bootstrap/_type.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* line 167, ../sass/bootstrap/_type.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 173, ../sass/bootstrap/_type.scss */
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
/* line 177, ../sass/bootstrap/_type.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 185, ../sass/bootstrap/_type.scss */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 189, ../sass/bootstrap/_type.scss */
dt,
dd {
  line-height: 1.42857;
}

/* line 193, ../sass/bootstrap/_type.scss */
dt {
  font-weight: bold;
}

/* line 196, ../sass/bootstrap/_type.scss */
dd {
  margin-left: 0;
}

/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.dl-horizontal dd:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 211, ../sass/bootstrap/_type.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 218, ../sass/bootstrap/_type.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

/* line 229, ../sass/bootstrap/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

/* line 235, ../sass/bootstrap/_type.scss */
.initialism {
  font-size: 90%;
}

/* line 241, ../sass/bootstrap/_type.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #EEEEEE;
}
/* line 250, ../sass/bootstrap/_type.scss */
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
/* line 257, ../sass/bootstrap/_type.scss */
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857;
  color: #777777;
}
/* line 265, ../sass/bootstrap/_type.scss */
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

/* line 274, ../sass/bootstrap/_type.scss */
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #EEEEEE;
  border-left: 0;
  text-align: right;
}
/* line 286, ../sass/bootstrap/_type.scss */
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
/* line 287, ../sass/bootstrap/_type.scss */
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

/* line 294, ../sass/bootstrap/_type.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857;
}

/* line 9, ../sass/bootstrap/_buttons.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 26, ../sass/bootstrap/_buttons.scss */
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 32, ../sass/bootstrap/_buttons.scss */
.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}
/* line 39, ../sass/bootstrap/_buttons.scss */
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 46, ../sass/bootstrap/_buttons.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 58, ../sass/bootstrap/_buttons.scss */
a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

/* line 68, ../sass/bootstrap/_buttons.scss */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default:focus, .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
/* line 17, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/* line 22, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/* line 29, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
/* line 37, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
}
/* line 45, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
/* line 56, ../sass/bootstrap/mixins/_buttons.scss */
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/* line 71, ../sass/bootstrap/_buttons.scss */
.btn-primary {
  color: #fff;
  background-color: #336688;
  border-color: #2c5875;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #254a63;
  border-color: #091319;
}
/* line 17, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #254a63;
  border-color: #1b3749;
}
/* line 22, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #254a63;
  border-color: #1b3749;
}
/* line 29, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #1b3749;
  border-color: #091319;
}
/* line 37, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 45, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #336688;
  border-color: #2c5875;
}
/* line 56, ../sass/bootstrap/mixins/_buttons.scss */
.btn-primary .badge {
  color: #336688;
  background-color: #fff;
}

/* line 75, ../sass/bootstrap/_buttons.scss */
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
/* line 17, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
/* line 22, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
/* line 29, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
/* line 37, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
/* line 45, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
/* line 56, ../sass/bootstrap/mixins/_buttons.scss */
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

/* line 79, ../sass/bootstrap/_buttons.scss */
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
/* line 17, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
/* line 22, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
/* line 29, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
/* line 37, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
}
/* line 45, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 56, ../sass/bootstrap/mixins/_buttons.scss */
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

/* line 83, ../sass/bootstrap/_buttons.scss */
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
/* line 17, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
/* line 22, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
/* line 29, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
/* line 37, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}
/* line 45, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
/* line 56, ../sass/bootstrap/mixins/_buttons.scss */
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

/* line 87, ../sass/bootstrap/_buttons.scss */
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* line 11, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
/* line 17, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
/* line 22, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
/* line 29, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
/* line 37, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}
/* line 45, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* line 56, ../sass/bootstrap/mixins/_buttons.scss */
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

/* line 96, ../sass/bootstrap/_buttons.scss */
.btn-link {
  color: #336688;
  font-weight: normal;
  border-radius: 0;
}
/* line 101, ../sass/bootstrap/_buttons.scss */
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 109, ../sass/bootstrap/_buttons.scss */
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
/* line 115, ../sass/bootstrap/_buttons.scss */
.btn-link:hover, .btn-link:focus {
  color: #1e3c50;
  text-decoration: underline;
  background-color: transparent;
}
/* line 123, ../sass/bootstrap/_buttons.scss */
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}

/* line 135, ../sass/bootstrap/_buttons.scss */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

/* line 139, ../sass/bootstrap/_buttons.scss */
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 143, ../sass/bootstrap/_buttons.scss */
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 151, ../sass/bootstrap/_buttons.scss */
.btn-block {
  display: block;
  width: 100%;
}

/* line 157, ../sass/bootstrap/_buttons.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 165, ../sass/bootstrap/_buttons.scss */
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
