﻿@using Uos.Cognito
@using System.Security.Claims
@using System.Web.Mvc
@using System.Web.Mvc.Html
@helper Dropdown(ViewContext context)
{
var claimsIdentity = User.Identity as ClaimsIdentity;
var identifier = claimsIdentity.Claims.NameIdentifier().Select(c => c.Value).SingleOrDefault();
var actor = claimsIdentity.Claims.Actor().Select(c => c.Value).SingleOrDefault();
var email = claimsIdentity.Claims.Name().Select(c => c.Value).SingleOrDefault() ?? claimsIdentity.Claims.NameIdentifier().Select(c => c.Value).SingleOrDefault();
var data = claimsIdentity.Claims.UserData().Select(c => Newtonsoft.Json.JsonConvert.DeserializeObject<UserData>(c.Value)).FirstOrDefault();
var current = data.Companies.SingleOrDefault(c => c.Code == actor);

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="area-navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @(current != null ? current.Name : email) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="area-navigation">
            @if (data != null && data.Companies != null && data.Companies.Count > 0)
            {
                foreach (var company in data.Companies)
                {
                    if (company.Code != actor)
                    {
                        <li><a href="/switch/@company.Code">@company.Name</a></li>
                    }
                    else
                    {
                        <li class="active"><a href="/user">@company.Name</a> <span class="sr-only">(current)</span></li>
                    }
                }
                <li class="divider" role="separator"></li>
            }
            @if (actor == identifier || actor == null)
            {
                <li class="active"><a href="/user">@email</a> <span class="sr-only">(current)</span></li>
            }
            else
            {
                <li><a href="/switch">@email</a></li>
            }
            <li class="divider" role="separator"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>

    </div>
}