﻿@using Uos
@helper Result(IList<Message> messages)
{
    if (messages == null || messages.Count == 0)
    {
    }
    else if (messages.All(message => message.Type.Equals(MessageTypes.Error)))
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading"><span class="glyphicon glyphicon-fire"></span> @Resources.Common.AlertTitle_Error</h4>
            @foreach (var message in messages)
            {
                <p>@(new HtmlString(message.ToString()))</p>
            }
        </div>
    }
    else
    {
        foreach (var message in messages)
        {
            switch (message.Type)
            {
                case MessageTypes.Error:
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-fire"></span> @Resources.Common.AlertTitle_Error</strong> @(new HtmlString(message.ToString()))
                        </div>
                        break;

                    case MessageTypes.Info:
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-info-sign"></span> @Resources.Common.AlertTitle_Info</strong> @(new HtmlString(message.ToString()))
                        </div>
                        break;

                    case MessageTypes.Success:
                        <div class="alert alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-thumbs-up"></span> @Resources.Common.AlertTitle_Success</strong> @(new HtmlString(message.ToString()))
                        </div>
                        break;

                    case MessageTypes.Warning:
                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-eye-open"></span> @Resources.Common.AlertTitle_Warning</strong> @(new HtmlString(message.ToString()))
                        </div>
                    break;
            }
        }
    }
}

@helper NotImplemented()
{
    <div class="container not-implemented" title="@Resources.Common.NotImplementedHint">
        <h2>@Resources.Common.NotImplementedTitle</h2>
        <p>@Resources.Common.NotImplementedRemark</p>
    </div>
}
