﻿@using Uos.Web.Models
@using System.Web.Mvc
@helper Dropdown(ViewContext context, Action<NavigationModel> setup)
{
var company = new CompanyData(context.HttpContext);
var area = (string)context.RouteData.DataTokens["area"];
var model = new NavigationModel();

setup(model);

var caption = model.Options.Where(o => o.Link.Area == area).Select(o => o.Text).SingleOrDefault();

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="area-navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @(new HtmlString(caption)) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="area-navigation">
            @{
                string groupText = null;
                foreach (var o in model.Options)
                {
                    if (o.Link.Feature != null && !company.Any(o.Link.Feature))
                    {
                        continue;
                    }

                    if (o.GroupText != groupText)
                    {
                        groupText = o.GroupText;
                        if (groupText != null)
                        {
                            <li class="divider" role="separator">@(new HtmlString(groupText))</li>
                        }
                        else
                        {
                            <li class="divider" role="separator"></li>
                        }
                    }
                    if (o.Link.Area == area)
                    {
                        <li class="active"><a href="@o.Link.Url">@(new HtmlString(o.Text)) <span class="sr-only">(current)</span></a></li>
                    }
                    else
                    {
                        <li><a href="@o.Link.Url">@(new HtmlString(o.Text))</a></li>
                    }
                }
            }
        </ul>
    </div>
}


@helper Select(ViewContext context, Action<NavigationModel> setup)
{
var area = (string)context.RouteData.Values["Area"];
var model = new NavigationModel();

setup(model);
    <div class="form-group form-group-sm">
        <select class="form-control">
            @{
                var options = model.Options;
                var count = options.Length;
                var i = 0;
                while (i < count)
                {
                    var groupText = options[i].GroupText;

                    if (groupText != null)
                    {
                        <optgroup label="@groupText">
                            @do
                            {
                                var o = options[i++];

                                if (o.Link.Area == area)
                                {
                                    <option selected="selected" value="@o.Link.Url">@o.Text</option>
                                }
                                else
                                {
                                    <option value="@o.Link.Url">@o.Text</option>
                                }
                            }
                            while (i < count && options[i].GroupText == groupText);
                        </optgroup>
                    }
                    else
                    {
                        do
                        {
                            var o = options[i++];

                            if (o.Link.Area == area)
                            {
                                <option selected="selected" value="@o.Link.Url">@o.Text</option>
                            }
                            else
                            {
                                <option value="@o.Link.Url">@o.Text</option>
                            }
                        }
                        while (i < count && options[i].GroupText == null);

                    }
                }

            }
        </select>
    </div>
}
