﻿@using Kendo.Mvc.UI.Fluent

@helper AutoComplete(WidgetFactory<object> kendo, string name, string collection)
{
    @(kendo.AutoComplete()
    //.DataTextField("text")
    .Events(events => events.DataBound("function () { this.setDataSource(window." + collection + "()); }"))
    .HtmlAttributes(new Dictionary<string, object>
    {
        { "data-bind", "value: " + name },
        { "data-value-update", "keyup" }
    })
    .MinLength(0)
    .Name(name)
    .Placeholder(Resources.Common.TypeOne)
    .Template("<strong>#: data #</strong><i class=\"list-desc\">#: window." + collection + "(data) #</i>"))
}

@helper DropDownList(WidgetFactory<object> kendo, string name, string collection)
{
    @(kendo.DropDownList()
    .AutoBind(false)
    .DataTextField("text")
    .DataValueField("value")
    .Events(events => events.DataBound("function () { this.setDataSource(window." + collection + ".map()); }"))
    .HtmlAttributes(new Dictionary<string, object>
    {
        { "data-bind", "value: " + name }
    })
    .Name(name)
    .OptionLabel(Resources.Common.SelectOne))
}
