﻿@using Uos;
@using Uos.Web.Filters;
@using Uos.Web.Models
@using System.Web.Mvc
@helper Dropdown(ViewContext context, string caption, Action<NavigationModel> setup)
{
var action = (string)context.RouteData.Values["Action"];
var area = (string)context.RouteData.DataTokens["area"];
var controller = (string)context.RouteData.Values["Controller"];

var model = new NavigationModel();
var company = new CompanyData(context.HttpContext);

setup(model);

IList<string> features = model.Options.Select(o => o.Link.Feature).Where(f => f != null).Distinct().ToList();

var matches = company.Match(features);

if (features.Count != 0 && matches.Count == 0 && model.Options.All(o => o.Link.Feature != null))
{
    return;
}

var active = model.Options.Where(o => o.Link.Area == area && ((o.Link.Controller == controller && o.Link.Area == area) || (o.References.Any(g => g.Key == controller && g.Contains(action))))).FirstOrDefault();

    <li class="@(active != null ? "dropdown active" : "dropdown")">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @(new HtmlString(caption)) <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @{
                string groupText = null;
                foreach (var o in model.Options)
                {
                    var feature = o.Link.Feature;

                    if (feature != null && !matches.Contains(feature))
                    {
                        continue;
                    }

                    if (o.GroupText != groupText)
                    {
                        groupText = o.GroupText;
                        if (groupText != null)
                        {
                            <li class="divider" role="separator">@groupText</li>
                        }
                        else
                        {
                            <li class="divider" role="separator"></li>
                        }
                    }
                    if (o == active)
                    {
                        <li class="active"><a href="@o.Link.Url">@(new HtmlString(o.Text)) <span class="sr-only">(current)</span></a></li>
                    }
                    else
                    {
                        <li><a href="@o.Link.Url">@(new HtmlString(o.Text))</a></li>
                    }
                }
            }
        </ul>
    </li>
}

@helper Link(ViewContext context, string caption, Activity link)
{
var company = new CompanyData(context.HttpContext);

if (link.Feature != null && !company.Any(link.Feature))
{
    return;
}

var action = (string)context.RouteData.Values["Action"];
var area = (string)context.RouteData.DataTokens["area"];
var controller = (string)context.RouteData.Values["Controller"];

var active = link.Area == area && link.Controller == controller; // && link.Action == action;

if (active)
{
        <li class="active"><a href="@link.Url">@(new HtmlString(caption))<span class="sr-only"> (current)</span></a></li>
}
else
{
        <li><a href="@link.Url">@(new HtmlString(caption))</a></li>
}
}

@*@helper Toolbar(Uos.Web.Mvc.ActionSet actions, Dictionary<string, string> commands)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="edit" role="button">@Strings.ChangesMenu <span class="badge" data-bind="text: changeCount"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (commands != null && commands.Count > 0)
                {
                    foreach (var cmd in commands)
                    {
                        <li><a href="@cmd.Key">@cmd.Value</a></li>
                    }
                    <li class="divider" role="separator"></li>
                }
                @if (actions.CanDownload() || actions.CanUpload())
                {
                    <li style="min-width: 200px;">
                        @if (actions.CanDownload())
                        {
                            <a href="@actions.Download.Url" style="display: inline-block">Download</a>
                        }
                        @if (actions.CanUpload())
                        {
                            <iframe frameborder="0" name="upload-accounts" scrolling="no" src="@actions.Upload.Url" style="display: inline-block; height: 0; vertical-align: middle; width: 0;"></iframe>
                        }
                    </li>
                    <li class="divider" role="separator"></li>
                }
                @if (actions.CanEdit())
                {
                    <li><a href="javascript:u.data.commit()">Save Changes</a></li>
                    <li class="divider" role="separator"></li>
                    <li class="container-fluid">
                        <button class="btn btn-block btn-danger btn-sm" onclick="u.data.rollback()" type="button" role="button">Cancel Changes</button>
                    </li>
                }
            </ul>
        </li>
    }*@
