﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Uos
@using Uos.Web.Constants
@using HtmlHelper = System.Web.Mvc.HtmlHelper;

@helper Dialog(HtmlHelper html, string id, string viewName)
{
    <div class="modal fade" data-backdrop="false" data-keyboard="true" id="@id" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    @html.Partial(viewName)
                </div>
            </div>
        </div>
    </div>
}

@helper Filter(HtmlHelper html)
{
    <div class="modal fade" data-backdrop="false" data-keyboard="true" id="modal-filter" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Freight Search</h4>
                    </div>*@
                <div class="modal-body">
                    @html.Partial("_FilterPartial")
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" title="@Resources.Common.FilterHint" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @Resources.Common.FilterCmd</button>
                    <button class="btn btn-default btn-sm" data-dismiss="modal" title="@Resources.Common.CancelHint" type="button">@Resources.Common.CancelCmd</button>
                </div>
            </div>
        </div>
    </div>
}

@helper History(HtmlHelper html, string remarks)
{
    <div class="modal fade" data-backdrop="false" data-keyboard="true" id="modal-history" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@title</h4>
                    </div>*@
                <div class="modal-body">
                    @html.Partial("_HistoryPartial")
                </div>
                <div class="modal-footer">
                    @if (remarks != null)
                    {
                        <small class="pull-left">* <sup>@remarks</sup></small>
                    }
                    <button class="btn btn-danger btn-sm" title="@Resources.Common.CleanHint" type="reset">@Resources.Common.CleanCmd</button>
                    <button class="btn btn-default btn-sm" data-dismiss="modal" title="@Resources.Common.CancelHint" type="button">@Resources.Common.CancelCmd</button>
                </div>
            </div>
        </div>
    </div>
}
