﻿
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Uos
@using Uos.Web.Constants
@using Uos.Web.Models
@using Uos.Web.Helpers;
@using HtmlHelper = System.Web.Mvc.HtmlHelper;

@helper Application(HtmlHelper html)
{
    @html.Partial("_ApplicationNavbarPartial")
}

@helper Control(HtmlHelper html, string title, ControlSections sections, ControlTools tools)
{
    <div class="navbar navbar-default" id="control-navbar" role="menubar">
        <div class="container-fluid">
            <div class="navbar-header" role="banner"><a class="navbar-brand" href="\\#" role="navigation">@title</a></div>
            <div class="navbar-form navbar-left" role="menu">
                <ul class="nav nav-sm nav-pills" role="tablist">
                    @if (sections.IsFlagSet(ControlSections.Browse))
                    {
                        <li role="presentation" data-bind="css: { disabled: browseDisabled }, disabled: browseDisabled"><a href="#browse" data-toggle="pill" title="@Resources.Common.BrowseHint">@Resources.Common.BrowseTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Detail))
                    {
                        <li role="presentation" data-bind="css: { disabled: detailDisabled }, disabled: detailDisabled"><a href="#detail" data-toggle="pill" title="@Resources.Common.DetailHint">@Resources.Common.DetailTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Edit))
                    {
                        <li role="presentation" data-bind="css: { disabled: editDisabled }, disabled: editDisabled"><a href="#edit" data-toggle="pill" title="@Resources.Common.EditHint">@Resources.Common.EditTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Entry))
                    {
                        <li role="presentation" data-bind="css: { disabled: entryDisabled }, disabled: entryDisabled"><a href="#entry" data-toggle="pill" title="@Resources.Common.EntryHint">@Resources.Common.EntryTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Batch))
                    {
                        <li role="presentation" data-bind="css: { disabled: reviewDisabled }, disabled: reviewDisabled"><a href="#review" data-toggle="pill" title="@Resources.Common.ReviewHint">@Resources.Common.ReviewTab <span class="badge" data-bind="text: reviewCount"></span></a></li>
                    }
                </ul>
            </div>
            @if (sections.IsFlagSet(ControlSections.Browse) && tools.IsFlagSet(ControlTools.Filter | ControlTools.History))
            {
                <div class="btn-group btn-group-sm navbar-left hidden" data-bind="css: { hidden: browseHidden }" role="group">
                    @if (tools.IsFlagSet(ControlTools.Filter))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: filterDisabled" data-target="#modal-filter" data-toggle="modal" title="@Resources.Common.FilterHint" role="button"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> @Resources.Common.FilterCmd</button>
                    }
                    @if (tools.IsFlagSet(ControlTools.History))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: historyDisabled" data-target="#modal-history" data-toggle="modal" title="@Resources.Common.HistoryHint" role="button"><span class="glyphicon glyphicon-header" aria-hidden="true"></span> @Resources.Common.HistoryCmd</button>
                    }
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Detail))
            {
                <div class="btn-group btn-group-sm navbar-left hidden" data-bind="css: { hidden: detailHidden }" role="group">
                    @if (sections.IsFlagSet(ControlSections.Edit))
                    {
                        <button class="btn btn-default navbar-btn" title="@Resources.Common.EditHint" onclick="u.publish('control:detail:edit-cmd')" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> @Resources.Common.ModifyCmd</button>
                    }
                    <button class="btn btn-default navbar-btn" title="@Resources.Common.RetriveHint" onclick="u.publish('control:detail:retrive-cmd')" role="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> @Resources.Common.RetriveCmd</button>
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Edit))
            {
                <div class="btn-group btn-group-sm navbar-left hidden" data-bind="css: { hidden: editHidden }" role="group">
                    @if (sections.IsFlagSet(ControlSections.Batch))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: updateDisabled" onclick="u.publish('control:edit:update-cmd')" title="@Resources.Common.DoneHint" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @Resources.Common.DoneCmd</button>
                    }
                    else
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: updateDisabled" onclick="u.publish('control:edit:update-cmd')" title="@Resources.Common.SaveHint" role="button"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> @Resources.Common.DoneCmd</button>
                    }
                    <button class="btn btn-default navbar-btn" data-bind="disabled: revertDisabled" onclick="u.publish('control:edit:revert-cmd')" title="@Resources.Common.RevertHint" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.Common.RevertCmd</button>
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Entry))
            {
                <div class="btn-group btn-group-sm navbar-left hidden" data-bind="css: { hidden: entryHidden }" role="group">
                    @if (sections.IsFlagSet(ControlSections.Batch))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: insertDisabled" onclick="u.publish('control:entry:insert-cmd')" title="@Resources.Common.AddHint" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Resources.Common.AddCmd</button>
                    }
                    else
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: insertDisabled" onclick="u.publish('control:entry:insert-cmd')" title="@Resources.Common.AddHint" role="button"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> @Resources.Common.AddCmd</button>
                    }
                    <button class="btn btn-default navbar-btn" data-bind="disabled: resetDisabled" onclick="u.publish('control:entry:reset-cmd')" title="@Resources.Common.ResetHint" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.Common.ResetCmd</button>
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Batch))
            {
                <div class="btn-group btn-group-sm navbar-left hidden" data-bind="css: { hidden: reviewHidden }" role="group">
                    <button class="btn btn-success btn-sm navbar-btn" data-bind="disabled: saveDisabled" onclick="u.publish('control:review:save-cmd')" title="@Resources.Common.SaveHint" role="button"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> @Resources.Common.SaveCmd</button>
                    <button class="btn btn-danger btn-sm navbar-btn" data-bind="disabled: discardDisabled" onclick="u.publish('control:review:discard-cmd')" title="@Resources.Common.DiscardHint" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.Common.DiscardCmd</button>
                </div>
            }
            @if (tools.IsFlagSet(ControlTools.Filter))
            {
                <form class="navbar-form form-inline navbar-left visible-lg-inline-block hidden" data-bind="css: { hidden: browseHidden }" role="presentation">
                    <div class="form-group-sm hidden" data-bind="css: { hidden: browseHidden }">
                        <div class="input-group date">
                            <input type='text' class="form-control input-sm" data-bind="value: since" placeholder="@Resources.Common.BrowseSinceHint" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group date">
                            <input type='text' class="form-control input-sm" data-bind="value: until" placeholder="@Resources.Common.BrowseUntilHint" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
}

@helper ControlTemplate(HtmlHelper html, string title, ControlSections sections, ControlTools tools)
{
    <div class="navbar navbar-default" id="control-navbar" role="menubar">
        <div class="container-fluid">
            <div class="navbar-header" role="banner"><a class="navbar-brand" href="\\#" role="navigation">@title</a></div>
            <div class="navbar-form navbar-left" role="menu">
                <ul class="nav nav-sm nav-pills" role="tablist">
                    @if (sections.IsFlagSet(ControlSections.Browse))
                    {
                        <li role="presentation" data-bind="css: { disabled: browseDisabled }, disabled: browseDisabled"><a href="\\#browse" data-toggle="pill" title="@Resources.Common.BrowseHint">@Resources.Common.BrowseTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Detail))
                    {
                        <li role="presentation" data-bind="css: { disabled: detailDisabled }, disabled: detailDisabled"><a href="\\#detail" title="@Resources.Common.DetailHint">@Resources.Common.DetailTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Edit))
                    {
                        <li role="presentation" data-bind="css: { disabled: editDisabled }, disabled: editDisabled"><a href="\\#edit" title="@Resources.Common.EditHint">@Resources.Common.EditTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Entry))
                    {
                        <li role="presentation" data-bind="css: { disabled: entryDisabled }, disabled: entryDisabled"><a href="\\#entry" data-toggle="pill" title="@Resources.Common.EntryHint">@Resources.Common.EntryTab</a></li>
                    }
                    @if (sections.IsFlagSet(ControlSections.Batch))
                    {
                        <li role="presentation" data-bind="css: { disabled: reviewDisabled }, disabled: reviewDisabled"><a href="\\#review" data-toggle="pill" title="@Resources.Common.ReviewHint">@Resources.Common.ReviewTab <span class="badge" data-bind="text: reviewCount"></span></a></li>
                    }
                </ul>
            </div>
            @if (sections.IsFlagSet(ControlSections.Browse) && tools.IsFlagSet(ControlTools.Filter | ControlTools.History))
            {
                <div class="btn-group btn-group-sm navbar-left" data-bind="css: { hidden: browseHidden }" role="group">
                    @if (tools.IsFlagSet(ControlTools.Filter))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: filterDisabled" data-target="\\#modal-filter" data-toggle="modal" title="@Resources.Common.FilterHint" role="button"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> @Resources.Common.FilterCmd</button>
                    }
                    @if (tools.IsFlagSet(ControlTools.History))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: historyDisabled" data-target="\\#modal-history" data-toggle="modal" title="@Resources.Common.HistoryHint" role="button"><span class="glyphicon glyphicon-header" aria-hidden="true"></span> @Resources.Common.HistoryCmd</button>
                    }
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Detail))
            {
                <div class="btn-group btn-group-sm navbar-left" data-bind="css: { hidden: detailHidden }" role="group">
                    @if (sections.IsFlagSet(ControlSections.Edit))
                    {
                        <button class="btn btn-default navbar-btn" title="@Resources.Common.EditHint" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> @Resources.Common.ModifyCmd</button>
                    }
                    <button class="btn btn-default navbar-btn" title="@Resources.Common.RetriveHint" role="button"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> @Resources.Common.RetriveCmd</button>
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Edit))
            {
                <div class="btn-group btn-group-sm navbar-left" data-bind="css: { hidden: editHidden }" role="group">
                    @if (!sections.IsFlagSet(ControlSections.Batch))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: saveDisabled" title="@Resources.Common.SaveHint" role="button"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> @Resources.Common.SaveCmd</button>
                    }
                    <button class="btn btn-default navbar-btn" data-bind="disabled: discardDisabled" title="@Resources.Common.DiscardHint" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.Common.DiscardCmd</button>
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Entry))
            {
                <div class="btn-group btn-group-sm navbar-left" data-bind="css: { hidden: entryHidden }" role="group">
                    @if (sections.IsFlagSet(ControlSections.Batch))
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: saveDisabled" title="@Resources.Common.AddHint" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Resources.Common.AddCmd</button>
                    }
                    else
                    {
                        <button class="btn btn-default navbar-btn" data-bind="disabled: saveDisabled" title="@Resources.Common.SaveHint" role="button"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> @Resources.Common.SaveCmd</button>
                    }
                    <button class="btn btn-default navbar-btn" data-bind="disabled: resetDisabled" title="@Resources.Common.ResetHint" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.Common.ResetCmd</button>
                </div>
            }
            @if (sections.IsFlagSet(ControlSections.Batch))
            {
                <div class="btn-group btn-group-sm navbar-left" data-bind="css: { hidden: reviewHidden }" role="group">
                    <button class="btn btn-success btn-sm navbar-btn" data-bind="disabled: saveDisabled" title="@Resources.Common.SaveHint" role="button"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.Common.SaveCmd</button>
                    <button class="btn btn-danger btn-sm navbar-btn" data-bind="disabled: revertDisabled" title="@Resources.Common.DiscardHint" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.Common.DiscardCmd</button>
                </div>
            }
            @if (tools.IsFlagSet(ControlTools.Filter))
            {
                <form class="navbar-form form-inline navbar-left visible-lg-inline-block" data-bind="css: { hidden: browseHidden }" role="presentation">
                    <div class="form-group-sm" data-bind="css: { hidden: browseHidden }">
                        <div class="input-group date">
                            <input type='text' class="form-control input-sm" data-bind="value: since" placeholder="@Resources.Common.BrowseSinceHint" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group date">
                            <input type='text' class="form-control input-sm" data-bind="value: until" placeholder="@Resources.Common.BrowseUntilHint" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
}

@functions {
}
