@charset "UTF-8";
@font-face {
  font-family: "Ionicons";
  src: url("/content/fonts/ionicons.eot?v=2.0.0");
  src: url("/content/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("/content/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("/content/fonts/ionicons.woff?v=2.0.0") format("woff"), url("/content/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../../../../../../../sass/fonts/ionicons/_ionicons-font.scss */
.ion {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../../../../../../../sass/_divider.scss */
.divider {
  color: #333333;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}
/* line 8, ../../../../../../../sass/_divider.scss */
.divider:before, .divider:after {
  content: "";
  display: inline-block;
}
/* line 18, ../../../../../../../sass/_divider.scss */
.divider.vertical {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 70%;
}
/* line 24, ../../../../../../../sass/_divider.scss */
.divider.vertical:before, .divider.vertical:after {
  border-bottom: 1px solid #333333;
  height: 0.65em;
  vertical-align: top;
  width: 50%;
}
/* line 32, ../../../../../../../sass/_divider.scss */
.divider.vertical:after {
  margin: 0 -55% 0 2%;
}
/* line 36, ../../../../../../../sass/_divider.scss */
.divider.vertical:before {
  margin: 0 2% 0 -55%;
}

/* line 36, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.5);
  border: 20px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-family: sans-serif;
  height: 140px;
  margin: 20px 0 20px calc(50% - 70px);
  min-height: 140px;
  padding: 0;
  width: 140px;
  -webkit-transition-property: border-radius, border-width, height, margin-left, min-height, padding, width;
  transition-property: border-radius, border-width, height, margin-left, min-height, padding, width;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 55, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter button[type=submit] {
  cursor: pointer;
  background: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  color: #DCDCDC;
  font-size: 2em;
  font-weight: normal;
  padding: 0;
  text-align: center;
}
/* line 66, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter button[type=submit]:focus {
  outline: 0;
}
/* line 71, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter canvas {
  background: transparent;
  bottom: .5em;
  height: 100px;
  left: .5em;
  position: absolute;
  width: 100px;
  z-index: -666;
}
/* line 81, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter form {
  display: block;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 999;
}
/* line 91, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter input[type=password],
.umbiliko-enter input[type=text] {
  background-color: rgba(51, 51, 51, 0.5);
  background-image: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 57, ../../../../../../../sass/bootstrap/mixins/_forms.scss */
.umbiliko-enter input[type=password]:focus,
.umbiliko-enter input[type=text]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 103, ../../../../../../../sass/bootstrap/mixins/_vendor-prefixes.scss */
.umbiliko-enter input[type=password]::-moz-placeholder,
.umbiliko-enter input[type=text]::-moz-placeholder {
  color: #999;
  opacity: 1;
}
/* line 107, ../../../../../../../sass/bootstrap/mixins/_vendor-prefixes.scss */
.umbiliko-enter input[type=password]:-ms-input-placeholder,
.umbiliko-enter input[type=text]:-ms-input-placeholder {
  color: #999;
}
/* line 108, ../../../../../../../sass/bootstrap/mixins/_vendor-prefixes.scss */
.umbiliko-enter input[type=password]::-webkit-input-placeholder,
.umbiliko-enter input[type=text]::-webkit-input-placeholder {
  color: #999;
}
/* line 115, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter input[type=password][disabled], .umbiliko-enter input[type=password][readonly], fieldset[disabled] .umbiliko-enter input[type=password],
.umbiliko-enter input[type=text][disabled],
.umbiliko-enter input[type=text][readonly], fieldset[disabled]
.umbiliko-enter input[type=text] {
  background-color: #EEEEEE;
  opacity: 1;
}
/* line 122, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter input[type=password]:-webkit-autofill,
.umbiliko-enter input[type=text]:-webkit-autofill {
  background-color: rgba(51, 51, 51, 0.5);
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px rgba(51, 51, 51, 0.5) inset;
}
/* line 128, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter input[type=password][disabled], fieldset[disabled] .umbiliko-enter input[type=password],
.umbiliko-enter input[type=text][disabled], fieldset[disabled]
.umbiliko-enter input[type=text] {
  cursor: not-allowed;
}
/* line 135, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter label {
  color: #BBBBBB;
}
/* line 139, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter ul {
  display: block;
  height: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 147, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter ul li {
  display: inline-block;
}
/* line 151, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter ul.option-group {
  padding-top: 1em;
  width: calc(100% - 100px);
}
/* line 155, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter ul.option-group > li {
  float: left;
  width: 50%;
  display: inline-block;
}
/* line 163, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .footer {
  color: #BBBBBB;
  display: inline-block;
  float: right;
  font-size: .75em;
  font-weight: 300;
  margin: 4em 1em 1em 1em;
}
/* line 172, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .send {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 2px;
  color: #DCDCDC;
  float: right;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  margin: 1em 0 0 0;
  width: 80px;
  -webkit-transition-property: border-color, border-width, font-size, height, margin, width;
  transition-property: border-color, border-width, font-size, height, margin, width;
}
/* line 187, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .send, .umbiliko-enter .send:active, .umbiliko-enter .send.active, .umbiliko-enter .send[disabled], .umbiliko-enter .send:hover, .umbiliko-enter .send:focus, .umbiliko-enter .send:active {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
/* line 197, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .send:hover, .umbiliko-enter .send:focus {
  color: #FFFFFF;
  background-color: transparent;
}
/* line 204, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .send[disabled]:hover, .umbiliko-enter .send[disabled]:focus {
  color: #BBBBBB;
}
/* line 215, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter.align-left {
  float: left;
  position: relative;
}
/* line 220, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter.align-right {
  float: right;
  position: relative;
}
/* line 225, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .autohide {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 229, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .autohide.hshrink,
.umbiliko-enter .autohide .hshrink {
  -webkit-transition-property: width;
  transition-property: width;
}
/* line 234, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .autohide.shrink,
.umbiliko-enter .autohide .shrink {
  -webkit-transition-property: font-size;
  transition-property: font-size;
}
/* line 239, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .autohide.vshrink,
.umbiliko-enter .autohide .vshrink {
  -webkit-transition-property: height;
  transition-property: height;
}
/* line 244, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .autohide,
.umbiliko-enter .autohide .animate {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 254, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login button {
  width: 2em;
}
/* line 257, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login button, .umbiliko-enter .external-login button:active, .umbiliko-enter .external-login button.active, .umbiliko-enter .external-login button[disabled], .umbiliko-enter .external-login button:hover, .umbiliko-enter .external-login button:focus, .umbiliko-enter .external-login button:active {
  border: 0 solid transparent;
}
/* line 267, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login button:hover, .umbiliko-enter .external-login button:focus {
  color: #FFFFFF;
  background-color: transparent;
}
/* line 274, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login ul {
  list-style: none;
  margin-left: -5px;
  padding: 0;
  text-align: center;
  width: 100%;
}
/* line 281, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login ul > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 292, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login .facebook:before {
  content: "";
}
/* line 298, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login .google:before {
  content: "";
}
/* line 304, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login .github:before {
  content: "";
}
/* line 310, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login .linkedin:before {
  content: "";
}
/* line 316, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login .microsoft:before {
  content: "";
}
/* line 322, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter .external-login .twitter:before {
  content: "";
}
/* line 331, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter.active, .umbiliko-enter:focus, .umbiliko-enter:hover {
  border-radius: 5px;
  border-width: 4px;
  height: auto;
  margin-left: 0;
  width: 100%;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 344, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) {
  padding: 0;
  -webkit-transition-property: padding;
  transition-property: padding;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 350, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) #footer {
  display: none;
}
/* line 354, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) canvas {
  bottom: 0;
  left: 0;
}
/* line 359, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .send {
  border-color: transparent;
  border-width: 0;
  font-size: 28px;
  height: 100px;
  margin: 0;
  width: 100px;
  -webkit-transition-property: border-color, border-width, font-size, height, margin, width;
  transition-property: border-color, border-width, font-size, height, margin, width;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
/* line 371, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .internal-login {
  height: 0;
}
/* line 374, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .internal-login label {
  margin: 0;
}
/* line 379, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 383, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide.hshink,
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide .hshrink {
  width: 0;
  -webkit-transition-property: width;
  transition-property: width;
}
/* line 389, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide.shink,
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide .shrink {
  font-size: 0;
  -webkit-transition-property: font-size;
  transition-property: font-size;
}
/* line 395, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide.vshink,
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide .vshrink {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height;
}
/* line 401, ../../../../../../../sass/widgets/umbiliko/filters/enter-animated.scss */
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide,
.umbiliko-enter:not(.active):not(:hover):not(:focus) .autohide .animate {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
