/* line 10, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.wizard {
  float: left;
  height: 100%;
  width: 400%;
  -webkit-transition: margin-left ease-in-out 0.15s;
  -o-transition: margin-left ease-in-out 0.15s;
  transition: margin-left ease-in-out 0.15s;
}
/* line 16, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.wizard.first {
  margin-left: 0;
}
/* line 20, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.wizard.second {
  margin-left: -100%;
}
/* line 24, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.wizard.third {
  margin-left: -200%;
}
/* line 28, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.wizard.fourth {
  margin-left: -300%;
}
/* line 32, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.wizard .frame {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 25%;
}

/* line 40, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.k-grid {
  float: left;
  height: 100%;
}

/* line 45, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.k-grid-content {
  height: auto;
}

/* line 49, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.modal-body {
  box-sizing: border-box;
}
/* line 52, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.modal-body form {
  box-sizing: border-box;
}
/* line 55, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.modal-body fieldset {
  box-sizing: border-box;
}

/* line 59, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.modal-footer {
  box-sizing: border-box;
}

/* line 63, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
div.k-window {
  margin-right: auto;
  margin-left: auto;
}
/* line 14, ../../../../../../../sass/bootstrap/mixins/_clearfix.scss */
div.k-window:before, div.k-window:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../../../../sass/bootstrap/mixins/_clearfix.scss */
div.k-window:after {
  clear: both;
}
/* line 68, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
div.k-window div.k-window-content {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
/* line 74, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
div.k-window div.k-window-content * {
  box-sizing: border-box;
}
/* line 78, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
div.k-window div.k-window-content legend {
  font-size: medium;
  margin-top: .5em;
}
/* line 84, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
div.k-window.large {
  height: calc(100% - 120px);
}

@media (min-width: 768px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  /* line 91, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
  div.k-window.large {
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  /* line 98, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
  div.k-window.large {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  /* line 105, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
  div.k-window.large {
    max-width: 1200px;
  }
}
/* line 110, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.k-grid td,
.k-item,
.k-list-optionlabel {
  overflow: hidden;
  white-space: nowrap;
}

/* line 117, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
label {
  display: block;
}

/* line 121, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.list-desc {
  color: #808080;
  margin-left: 1em;
  white-space: nowrap;
}

/* line 127, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.row > * {
  box-sizing: border-box;
}

/* line 131, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.form-group > .k-textbox,
.form-group-sm > .k-textbox,
.form-group-lg > .k-textbox,
.form-group > .k-widget,
.form-group-sm > .k-widget,
.form-group-lg > .k-widget {
  width: 100%;
}

/* line 140, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 144, ../../../../../../../sass/widgets/umbiliko/filters/kendo-bootstrap.scss */
.uppercase {
  text-transform: uppercase;
}
