/* line 1, ../../../../../../../sass/widgets/umbiliko/filters/max-height.scss */
html,
body {
  height: 100%;
}

/* line 6, ../../../../../../../sass/widgets/umbiliko/filters/max-height.scss */
.panel {
  height: 100%;
}
/* line 9, ../../../../../../../sass/widgets/umbiliko/filters/max-height.scss */
.panel .k-grid {
  height: 100%;
}
/* line 14, ../../../../../../../sass/widgets/umbiliko/filters/max-height.scss */
.panel .k-grid .k-detail-row {
  height: 100%;
}
/* line 18, ../../../../../../../sass/widgets/umbiliko/filters/max-height.scss */
.panel .k-grid .k-grid-content {
  height: 100%;
}

/* line 25, ../../../../../../../sass/widgets/umbiliko/filters/max-height.scss */
.navbar ~ .panel {
  height: calc(100% - 120px);
}
