﻿@model EnterPostModel
@using Microsoft.Owin.Security
@using System.Collections.Specialized
@using Uos.Web.Models
@using Uos.Web.Views
@{ 
    ActivityHelper api = Url;
}
<html>
<head>
    @*<link href="~/Content/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/stylesheets/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/stylesheets/my-account-login.css" rel="stylesheet" />
    <script type="text/javascript">

        window.init = (function () {

            var _active = false,
                _diameter = 120,
                _check,
                _form,
                _label,
                _text;

            function iframe(callback) {
                var elements = window.parent.document.getElementsByName(window.name);
                for (var i = 0; i < elements.length; i++) {
                    callback(elements[i]);
                }
            }

            function resize() {
                var footer = document.getElementById('footer');
                height = 4 * Math.ceil(footer.getBoundingClientRect().bottom / 4) + 16;
                iframe(function (el) {
                    el.style.height = height + 'px';
                });
                return height;
            };

            function animate() {

                var current = 0,
                    interval;

                interval = setInterval(function () {
                    var height = resize();

                    if (height === current) {
                        clearInterval(interval);
                    }

                    current = height;

                }, 100);
            };

            var active = (function () {

                function addActive(el) {
                    el.className = el.className.replace('active', ' ').trim() + ' active';
                };

                function removeActive(el) {
                    el.className = el.className.replace('active', ' ').trim();
                };

                function notifyActive(value) {
                    if (window.parent.umbiliko && window.parent.umbiliko.event.publish) {
                        window.parent.umbiliko.event.publish('my-account-widget-active', value);
                    }
                };

                var _version;

                return function (value, timeStamp) {
                    _version = timeStamp;
                    if (arguments.length == 0) return _active;

                    if (value) {
                        console.log('active');
                        if (_active === value) return;
                        _active = value;
                        addActive(document.body);
                        iframe(function (el) {
                            addActive(el);
                        });
                        notifyActive(value);
                        resize();
                        setTimeout(function () {
                            document.getElementById('internal-login').style.display = 'block';
                        }, 10);
                        setTimeout(function () {
                            animate();
                        }, 10);
                    } else {
                        var ms = 5000;
                        console.log('de-activating in', ms, 'ms')
                        setTimeout(function () {
                            if (_version === timeStamp) {
                                _active = value;
                                removeActive(document.body);
                                iframe(function (el) {
                                    removeActive(el);
                                    el.removeAttribute('style');
                                    setTimeout(function () {
                                        document.getElementById('internal-login').style.display = 'none';
                                    }, 190);
                                });
                                notifyActive(value);
                                console.log('de-activated');
                            } else {
                                console.log('de-activation canceled');
                            }
                        }, ms);
                    }
                };
            })();

            function checkCookies() {
                if (navigator.cookieEnabled == true) {
                }
            };

            function initChecks() {
                _check = {};
                _check.Client = document.getElementById('WithClient');
                _check.Code = document.getElementById('WithCode');
                _check.Email = document.getElementById('WithEmail');
                _check.ForgotPassword = document.getElementById('ForgotPassword');
                _check.ForgotUser = document.getElementById('ForgotUser');
                _check.Identity = document.getElementById('WithIdentity');
                _check.Password = document.getElementById('WithPassword');
                _check.Register = document.getElementById('Register');
                _check.ShowPassword = document.getElementById('ShowPassword');
                _check.Token = document.getElementById('WithToken');
                _check.User = document.getElementById('WithUser');

                if (!_check.Client) console.log('<input id="WithClient" type="checkbox" /> is required.');
                if (!_check.Code) console.log('<input id="WithCode" type="checkbox" /> is required.');
                if (!_check.Email) console.log('<input id="WithEmail" type="chekbox" /> is required.');
                if (!_check.Identity) console.log('<input id="WithIdentity" type="checkbox" /> is required.');
                if (!_check.Password) console.log('<input id="WithPassword" type="checkbox" /> is required.');
                if (!_check.Register) console.log('<input id="Register" type="checkbox" /> is required.');
                if (!_check.Token) console.log('<input id="WithToken" type="checkbox" /> is required.');
                if (!_check.User) console.log('<input id="WithUser" type="checkbox" /> is required.');
            };

            function initLabels() {
                _label = {};
                var arr = document.getElementsByTagName('label');
                for (var i = 0; i < arr.length; i++) {
                    var el = arr[i];
                    _label[el.getAttribute('for')] = el;
                }
                console.log(_label);
            };

            function initTexts() {
                _text = {};
                _text.Client = document.getElementById('Client');
                _text.Code = document.getElementById('Code');
                _text.Email = document.getElementById('Email');
                _text.Identity = document.getElementById('Identity');
                _text.Password = document.getElementById('Password');
                _text.Token = document.getElementById('Token');
                _text.User = document.getElementById('User');

                if (!_text.Code) console.log('<input id="Code" type="text" /> is required.');
                if (!_text.Email) console.log('<input id="Email" type="text" /> is required.');
                if (!_text.Identity) console.log('<input id="Identity" type="text" /> is required.');
                if (!_text.Password) console.log('<input id="Password" type="text" /> is required.');
                if (!_text.Token) console.log('<input id="Token" type="text" /> is required.');
                if (!_text.User) console.log('<input id="User" type="text" /> is required.');
            };

            function refreshForgotPassword() {
                if (_check.ForgotPassword.checked) {
                    _check.ForgotUser.checked = false;
                    _check.Register.checked = false;
                    _label.ForgotUser.style.display = 'none';
                    _label.Register.style.display = 'none';
                    _label.WithToken.style.display = 'block';
                }
                else {
                    _label.ForgotUser.style.display = 'block';
                    _label.Register.style.display = 'block';
                    _label.WithToken.style.display = 'none';
                }
            }

            function refreshForgotUser() {
                if (_check.ForgotUser.checked) {
                    _check.ForgotPassword.checked = false;
                    _check.Register.checked = false;
                    _label.ForgotPassword.style.display = 'none';
                    _label.Register.style.display = 'none';
                }
                else {
                    _label.ForgotPassword.style.display = 'block';
                    _label.Register.style.display = 'block';
                }
            }

            function refreshPassword() {
                if (_check.Password.checked) {
                    if (!_check.Register.checked) {
                        _label.ForgotPassword.style.display = 'block';
                    }
                    _label.ShowPassword.style.display = 'block';
                } else {
                    _label.ForgotPassword.style.display = 'none';
                    _label.ShowPassword.style.display = 'none';
                }
            }

            function refreshRegister() {
                if (_check.Register.checked) {
                    _check.Client.checked = false;
                    _check.Email.checked = true;
                    _check.Identity.checked = false;
                    _check.User.checked = true;
                    _label.ForgotPassword.style.display = 'none';
                    _label.ForgotUser.style.display = 'none';
                    _label.WithClient.style.display = 'none';
                }
                else {
                    _check.Email.checked = false;
                    _check.Identity.checked = true;
                    _check.User.checked = false;
                    _label.ForgotPassword.style.display = 'block';
                    if (_check.User.checked) {
                        _label.ForgotUser.style.display = 'block';
                    }
                    _label.WithClient.style.display = 'block';
                }
            }

            function refresh() {
                if (_check.User.checked && !_check.Register.checked) {
                    _label.ForgotUser.style.display = 'block';
                } else {
                    _label.ForgotUser.style.display = 'none';
                }

                for (var id in _check) {
                    if (_text[id]) {
                        _text[id].style.display = _check[id].checked ? 'block' : 'none';

                        if (_label[id]) {
                            _label[id].style.display = _check[id].checked ? 'block' : 'none';
                        }
                    }
                }
                if (active()) {
                    setTimeout(animate, 250);
                }
            }

            function sync(umbiliko) {
                var el = document.getElementById('validation-errors');
                if (el) {
                    umbiliko.notifyValidationErrors(el);
                }
                if (typeof umbiliko.brand === 'object') {
                    var brand = umbiliko.brand.create(document.getElementById('brand'), 20);
                    setTimeout(brand.spin, 1000);
                }
            };

            return function () {
                if (window.parent.umbiliko) {
                    sync(window.parent.umbiliko);
                } else {
                    window.parent.umbiliko = {
                        hello: sync
                    }
                }

                if (!active()) {
                    document.getElementById('internal-login').style.display = 'none';
                }

                initChecks();
                initLabels();
                initTexts();

                if (!_check.Code.checked) {
                    _label.Code.style.display = 'none';
                }

                refreshForgotPassword();
                refreshForgotUser();
                refreshPassword();
                refreshRegister();

                refresh();

                _check.Client.addEventListener('change', function () {
                    refresh();
                });
                _check.ForgotPassword.addEventListener('change', function () {
                    refreshForgotPassword();
                    refresh();
                });
                _check.ForgotUser.addEventListener('change', function () {
                    refreshForgotUser();
                    refresh();
                });
                _check.Password.addEventListener('change', function () {
                    refreshPassword();
                    refresh();
                });
                _check.Register.addEventListener('change', function () {
                    refreshRegister();
                    refresh();
                });
                _check.ShowPassword.addEventListener('change', function () {
                    if (_check.ShowPassword.checked) {
                        _text.Password.type = 'text';
                    } else {
                        _text.Password.type = 'password';
                    }
                });
                document.body.addEventListener('mouseout', function (e) {
                    active(false, e.timeStamp);
                });
                document.body.addEventListener('mouseover', function (e) {
                    active(true, e.timeStamp);
                });
                document.body.addEventListener('hover', function (e) {
                    console.log('hover')
                });
                document.body.addEventListener('active', function (e) {
                    console.log('active')
                });
                //window.parent.umbiliko.setupEnterFrame();
                //window.resize();

                /*$(document).ready(function () {
                    document.body.onmouseout = function () {
                        active(false);
                    };
                    document.body.onmouseover = function () {

                        active(true);
                    };
                });*/

                iframe(function (el) {
                    el.className = 'enter';
                });
            };
        })();
    </script>
</head>
<body onload="javascript: init()">
    @helper Checked(bool value)
    {
        if (value)
        {
        <text>checked="checked"</text>
        }
    }
    <canvas id="brand"></canvas>
    @using (Html.BeginForm("Enter", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        var loginProviders = ViewBag.LoginProviders;
        @Html.AntiForgeryToken()
        <div class="delayed vshrink autohide" id="internal-login">
            <input id="Origin" name="Origin" type="hidden" value="@Model.Origin" />
            <input class="hidden" id="WithIdentity" name="WithIdentity" type="checkbox" value="true" @Checked(Model.WithIdentity) />
            <input class="animate vshrink" id="Identity" name="Identity" placeholder="Your user name or email address" type="text" value="@Model.Identity" />
            <label class="animate vshrink" for="Client"> @Strings.SegmentCodeField</label>
            <select class="delayed" id="Client" name="Client" placeholder="Select client">
                @if (Model.Clients != null)
                {
                    foreach (var client in Model.Clients)
                    {
                        <option value="@client">@client</option>
                    }
                }
            </select>
            <input class="hidden" id="WithUser" name="WithUser" type="checkbox" value="true" @Checked(Model.WithUser) />
            <label class="animate vshrink" for="User">@Strings.UserNameField</label>
            <input class="animate vshrink" id="User" name="User" placeholder="Your user name" type="text" value="@Model.User" />
            <input class="hidden" id="WithEmail" name="WithEmail" type="checkbox" value="true" @Checked(Model.WithEmail) />
            <label class="animate vshrink" for="Email">@Strings.EmailAddressField</label>
            <input class="vshrink" id="Email" name="Email" placeholder="Your email address" type="text" value="@Model.Email" />
            <label class="animate vshrink" for="Password">@Strings.PasswordField</label>
            <input class="animate vshrink" id="Password" name="Password" placeholder="Your password" type="password" value="@Model.Password" />
            <label class="animate vshrink" for="Token">@Strings.TokenField</label>
            <input class="animate vshrink" id="Token" name="Token" placeholder="Token for password reset" type="text" value="@Model.Token" />
            <input class="hidden" id="WithCode" name="WithCode" type="checkbox" value="true" @Checked(Model.WithCode) />
            <label class="animate vshrink" for="Code">@Strings.CodeField</label>
            <input class="animate vshrink" id="Code" name="Code" placeholder="SMS code" type="hidden" value="@Model.Code" />
            <ul class="option-group">
                <li>
                    <label class="delayed hshrink" for="Register">
                        <input id="Register" name="Register" type="checkbox" value="true" @Checked(Model.Register) /> @Strings.EnterRegister
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink autohide" for="RememberMe">
                        <input class="" id="RememberMe" name="RememberMe" value="true" type="checkbox" @Checked(Model.RememberMe) /> @Strings.EnterRememberMe
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink" for="WithPassword">
                        <input id="WithPassword" name="WithPassword" value="true" type="checkbox" @Checked(Model.WithPassword) /> @Strings.EnterWithPassword
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink" for="ForgotPassword">
                        <input id="ForgotPassword" name="ForgotPassword" value="true" type="checkbox" @Checked(Model.ForgotPassword) /> @Strings.EnterForgotPassword
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink" for="ShowPassword">
                        <input id="ShowPassword" name="ShowPassword" value="true" type="checkbox" @Checked(Model.ShowPassword) /> @Strings.EnterShowPassword
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink" for="WithToken">
                        <input id="WithToken" name="WithToken" value="true" type="checkbox" @Checked(Model.WithToken) /> @Strings.EnterWithToken
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink" for="WithClient">
                        <input id="WithClient" name="WithClient" value="true" type="checkbox" @Checked(Model.WithClient) /> @Strings.EnterWithClient
                    </label>
                </li>
                <li>
                    <label class="delayed hshrink" for="ForgotUser">
                        <input id="ForgotUser" name="ForgotUser" value="true" type="checkbox" @Checked(Model.ForgotUser) /> @Strings.EnterForgotUser
                    </label>
                </li>
            </ul>
        </div>
        <button id="send" role="button" type="submit">Enter</button>
        if (loginProviders.Count != 0)
        {
            <div class="delayed vshrink autohide" id="external-login">
                <span class="vertical divider">or</span>
                <ul>
                    @foreach (var desciption in loginProviders)
                    {
                        string id = desciption.AuthenticationType.ToLowerInvariant().Replace(' ', '-');
                        //url = Url.Action("Account", "ExternalLogin", new RouteValueDictionary(new { provider = desciption.AuthenticationType, returnUrl = "/" })) ?? "/account/external-login?provider=" + desciption.AuthenticationType + "&ReturnUrl=";
                        <li>
                            <button class="animate shrink" type="submit" id="id" name="Provider" value="@desciption.AuthenticationType" title="Log in using your @desciption.AuthenticationType account">
                                <i class="ion @id"></i>
                            </button>
                        </li>
                    }
                </ul>
            </div>
        }
        <div id="footer">Powered by Uos.com</div>
    }
    @Html.ValidationSummary(excludePropertyErrors: false, message: "", htmlAttributes: new { @class = "hidden", id = "validation-errors" })
</body>
</html>