﻿@model LoginViewModel
<html>
<head>
    <script>
        window.init = (function () {
            return function () {
                var token = document.getElementById('Token').value,
                    returnUrl = document.getElementById('ReturnUrl').value,
                    umbiliko = window.parent.umbiliko;
                
                umbiliko.event.publish('login', token, returnUrl);
            };
        })();
    </script>
</head>
<body onload="javascript: init()">
    <input id="ReturnUrl" name="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <input id="Token" name="Token" type="hidden" value="@Model.Token" />
</body>
</html>