﻿@{
    ViewBag.Subtitle = Resources.Authentication.AccountsSubtitle;
    ViewBag.Title = Resources.Authentication.AccountsTitle;
    ViewBag.Page = "accounts";
    var constants = new Dictionary<string, object>();
    //constants.Add("Countries", Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Accounts")
</section>
<footer class="container-fluid hidden-xs hidden-sm">
    Hint: Filter accounts using prefixes: "client", "email", "user" and "group". Use ':' as separator. i.e.: "group:adm:dev".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" id="account-add">
            @Html.Partial("AccountAddTemplate")
        </div>
        <div class="frame" id="account-manage">
            @Html.Partial("AccountManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("AccountAddHandler")
    @Html.Partial("AccountManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Resources.Authentication.AddAccountCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Accounts, new Dictionary<string, string>()))
    </ul>
}