﻿@import "../bootstrap-compass";
@import "../bootstrap-mincer";
@import "../bootstrap-sprockets";
@import "../fonts/ionicons/ionicons-variables";
@import "../variables/colors";
@import "../mixins/prefixed";

$gauge-cold-color: $brand-info;
$gauge-normal-color: $brand-success;
$gauge-warm-color: $brand-warning;
$gauge-hot-color: $brand-danger;
$gauge-content-animation-delay: 0ms;
$gauge-content-animation-duration: 100ms;
$gauge-content-animation-function: linear;

// below, low, normal, high, above

dev-gauge {
    display: block;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;

    > header,
    > .header {
        border-radius: 50%;
        display: block;
        height: 100%;
        overflow: hidden;
        width: 100%;

        &:before {
            content: attr(data-status-text) " ";
            left: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            @include prefixed(transform, translateY(-50%));
            width: 100%;
        }

        &:after {
            color: $mine-shaft;
            content: attr(data-caption-text) " ";
            display: block;
            left: -25%;
            overflow: hidden;
            position: absolute;
            text-align: center;
            @include prefixed(text-overflow, ellipsis);
            top: 105%;
            white-space: nowrap;
            width: 150%;
        }

        path:first-child {
            fill-opacity: 0.8;
        }

        path:last-child {
            fill-opacity: 0.8;
        }

        &:hover {
            &:before {
                content: $ionicon-var-android-expand;
                font-family: "Ionicons";
                font-size: larger;
            }
        }
    }

    > title {
        display: none; //block;
        /*left: -25%;
        overflow: hidden;
        position: absolute;
        text-align: center;
        @include prefixed(text-overflow, ellipsis);
        top: 105%;
        white-space: nowrap;
        width: 150%;*/
    }

    > content {
        background-color: rgba($alto, .95);
        border: 4px solid rgba($gallery, .5);
        bottom: 0;
        height: 0;
        left: 0;
        margin: 0 0 0 0;
        min-height: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        z-index: -1;

        @include prefixed(transition-property, opacity, margin-bottom, margin-left, margin-right, margin-top, min-height, width);
        @include prefixed(transition-delay, $gauge-content-animation-delay);
        @include prefixed(transition-duration, $gauge-content-animation-duration);
        @include prefixed(transition-timing-function, $gauge-content-animation-function);

        > form {
            position: absolute;
            left: 100%;
        }

        > svg {
            background-color: $gallery;
            display: none;
            font-family: "Helvetica Neue", Helvetica;

            .plotter {
                fill: rgba($orange, 1);
                stroke: rgb(0, 0, 0);
                stroke-width: 1px;
            }

            line.max {
                stroke: rgba($emperor, 1);
            }

            line.min {
                stroke: rgba($emperor, 1);
            }

            line.zero {
                stroke: rgba($emperor, 1);
            }

            path.area {
                fill: rgba($brand-primary, .5);
                stroke: rgba($brand-primary, 1);
                stroke-width: 1px;
            }
        }

        .line {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
        }

        .contract {
            position: absolute;
        }

        &.sqr-span-bottom-left {
            .contract {
                top: 0;
                left: 0;
            }
        }

        &.sqr-span-bottom-right {
            .contract {
                top: 0;
                right: 0;
            }
        }

        &.sqr-span-top-left {
            .contract {
                right: 0;
                bottom: 0;
            }
        }

        &.sqr-span-top-right {
            .contract {
                right: 0;
                bottom: 0;
            }
        }
    }

    &.expanded {
        z-index: 99;

        > content {
            opacity: 1;
            @include prefixed(transition-property, opacity);

            > svg {
                display: block;
                width: 100%;
            }
        }

        > header {
            &:hover {
                &:before {
                    content: $ionicon-var-android-contract;
                }
            }
        }
    }

    &[data-state=low] {
        header {
            &:before {
                color: $gauge-cold-color;
            }

            path:first-child {
                fill: $gauge-cold-color;
            }

            path:last-child {
                fill: lighten($gauge-cold-color, 25%);
            }
        }
    }

    &[data-state=normal] {
        header {
            &:before {
                color: $gauge-normal-color;
            }

            path:first-child {
                fill: $gauge-normal-color;
            }

            path:last-child {
                fill: lighten($gauge-normal-color, 25%);
            }
        }
    }

    &[data-state=high] {
        header {
            &:before {
                color: $gauge-warm-color;
            }

            path:first-child {
                fill: $gauge-warm-color;
            }

            path:last-child {
                fill: lighten($gauge-warm-color, 25%);
            }
        }
    }

    &[data-state=alarm] {
        header {
            &:before {
                color: $gauge-hot-color;
            }

            path:first-child {
                fill: $gauge-hot-color;
            }

            path:last-child {
                fill: lighten($gauge-hot-color, 25%);
            }
        }
    }
}
