﻿@import "../bootstrap-compass";
@import "../bootstrap-mincer";
@import "../bootstrap-sprockets";
@import "../variables";
//@import "../mixins/animate";
@import "../mixins/hacks";
@import "../mixins/keyframes";
@import "../mixins/prefixed";

$sqr-xs-min: 480px;
$sqr-sm-min: 768px;
$sqr-md-min: 992px;
$sqr-lg-min: 1920px;
$sqr-xl-min: 3840px;
$sqr-sizes: (64 80 96 112 128 160 /*192 224 256 320 384 448 512 640 768 896*/ );
$sqr-over-hmax: 4;
$sqr-over-vmax: 4;
$sqr-factors: (2 3 4);
$sqr-margin-factor: 4;
$sqr-animation-delay: 1ms;
$sqr-animation-duration: 2ms;
$sqr-animation-function: linear;

.sqr-block {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;

    @include prefixed(transition-delay, $sqr-animation-delay);
    @include prefixed(transition-duration, $sqr-animation-duration);
    @include prefixed(transition-timing-function, $sqr-animation-function);
}

@mixin sqr-text($class, $size) {
    &.sqr-#{$class}-text,
    .sqr-#{$class}-text {
        font-size: #{$size}px;
    }

    &.sqr-after-#{$class}-text,
    .sqr-after-#{$class}-text {
        &:after {
            font-size: #{$size}px;
        }
    }

    &.sqr-before-#{$class}-text,
    .sqr-before-#{$class}-text {
        &:before {
            font-size: #{$size}px;
        }
    }
}

@mixin sqr-span-loop($size, $margin) {

    .sqr-span {

        @for $hcount from 2 through $sqr-over-hmax {

            $hsize: ($hcount + 1) * $size + ($hcount - 2) * $margin;

            &.sqr-span-h#{$hcount} {

                &.sqr-span-bottom-left {
                    margin-left: -#{$margin + $hsize - $size}px;
                    margin-right: #{$margin}px;
                    width: #{$margin + $hsize + $margin}px;

                    @include prefixed(transition-property, margin-left, margin-right, width);
                }

                &.sqr-span-bottom-right {
                    margin-left: -#{$margin}px;
                    margin-right: #{$margin + $hsize}px;
                    width: #{$margin + $hsize + $margin}px;

                    @include prefixed(transition-property, margin-left, margin-right, width);
                }

                &.sqr-span-top-left {
                    margin-left: -#{$margin + $hsize - $size}px;
                    margin-right: #{$margin}px;
                    width: #{$margin + $hsize + $margin}px;

                    @include prefixed(transition-property, margin-left, margin-right, width);
                }

                &.sqr-span-top-right {
                    margin-left: -#{$margin}px;
                    margin-right: #{$margin + $hsize}px;
                    width: #{$margin + $hsize + $margin}px;

                    @include prefixed(transition-property, margin-left, margin-right, width);
                }
            }
        }

        @for $vcount from 2 through $sqr-over-vmax {

            $vsize: ($vcount + 1) * $size + ($vcount - 2) * $margin;

            &.sqr-span-v#{$vcount} {

                &.sqr-span-bottom-left {
                    min-height: #{$margin + $vsize + $margin}px;
                    margin-bottom: #{$margin + $vsize}px;
                    margin-top: -#{$margin}px;
                    padding-top: #{$margin + $size + $margin}px;

                    @include prefixed(transition-property, margin-bottom, margin-top, min-height);
                }

                &.sqr-span-bottom-right {
                    margin-bottom: #{$margin + $vsize}px;
                    margin-top: -#{$margin}px;
                    min-height: #{$margin + $vsize + $margin}px;
                    padding-top: #{$margin + $size + $margin}px;

                    @include prefixed(transition-property, margin-bottom, margin-top, min-height);
                }

                &.sqr-span-top-left {
                    margin-bottom: #{$margin}px;
                    margin-top: -#{$margin + $vsize}px;
                    min-height: #{$margin + $vsize + $margin}px;
                    padding-bottom: #{$margin + $size + $margin}px;

                    @include prefixed(transition-property, margin-bottom, margin-top, min-height);
                }

                &.sqr-span-top-right {
                    margin-bottom: #{$margin}px;
                    margin-top: -#{$margin + $vsize}px;
                    min-height: #{$margin + $vsize + $margin}px;
                    padding-bottom: #{$margin + $size + $margin}px;

                    @include prefixed(transition-property, margin-bottom, margin-top, min-height);
                }
            }
        }
    }
}

@each $size in $sqr-sizes {
    .sqr-#{$size} {
        $margin: $size / $sqr-margin-factor;
        height: #{$size}px;
        width: #{$size}px;
        margin: #{$margin}px;

        @include prefixed(transition-property, height, width);

        @include sqr-text(xs, 4 * $size / 32);
        @include sqr-text(sm, 5 * $size / 32);
        @include sqr-text(md, 6 * $size / 32);
        @include sqr-text(lg, 8 * $size / 32);
        @include sqr-text(xl, 12 * $size / 32);

        .sqr-span {
            margin: -#{$margin}px #{$margin}px #{$margin}px -#{$margin}px;
            min-height: #{$size + 2 * $margin}px;
            width: #{$size + 2 * $margin}px;

            @include prefixed(transition-property, margin-bottom, margin-left, margin-right, margin-top, min-height, width);
        }

        @include sqr-span-loop($size, $margin);
    }
}

@mixin sqr-factor($class, $size, $factors) {
    .sqr-#{$size} {
        @each $f in $factors {
            $margin: $f * $size / $sqr-margin-factor;

            &.sqr-#{$class}-#{$f}x {
                height: #{$f * $size}px;
                width: #{$f * $size}px;
                margin: #{$margin}px;

                @include prefixed(transition-property, height, width, margin);

                @include sqr-text(xs, 1 * $f * $size / 16);
                @include sqr-text(sm, 2 * $f * $size / 16);
                @include sqr-text(md, 3 * $f * $size / 16);
                @include sqr-text(lg, 2 * $f * $size / 8);
                @include sqr-text(xl, 3 * $f * $size / 8);

                .sqr-span {
                    margin: -#{$margin}px #{$margin}px #{$margin}px -#{$margin}px;
                    min-height: #{$f * $size}px;
                    width: #{$f * $size}px;

                    @include prefixed(transition-property, margin-bottom, margin-left, margin-right, margin-top, min-height, margin);
                }

                @include sqr-span-loop($f * $size, $margin);
            }
        }
    }
}

// Small factors
//
// Size multiply factors for the small device range, from phones
// to tablets.

@media (min-width: $sqr-sm-min) {
    @each $size in $sqr-sizes {
        @include sqr-factor(sm, $size, (2));
    }
}


// Medium factors
//
// Size multiply factors for the desktop device range.

@media (min-width: $sqr-md-min) {
    @each $size in $sqr-sizes {
        @include sqr-factor(md, $size, (2 3 4));
    }
}


// Large factors
//
// Size multiply factors for the large desktop device range.

@media (min-width: $sqr-xl-min) {
    @each $size in $sqr-sizes {
        @include sqr-factor(lg, $size, (2 3 4 5 6 7 8));
    }
}

// Extra Large factors
//
// Size multiply factors for the large desktop 4K device range.

@media (min-width: $sqr-xl-min) {
    @each $size in $sqr-sizes {
        @include sqr-factor(xl, $size, (2 3 4 5 6 7 8));
    }
}
