﻿@model ActivityPostModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("activity-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "readonly", "readonly" }
                    })
                    .Name("activity-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("activity-add-feature-name", Strings.FeatureNameField)
                @(Html.Kendo().TextBoxFor(e => e.FeatureName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: FeatureName" },
                        { "readonly", "readonly" }
                    })
                    .Name("activity-add-feature-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="overflow row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("activity-add-activity-name", Strings.ActivityNameField)
                @(Html.Kendo().TextBoxFor(e => e.ActivityName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: ActivityName" }
                    })
                    .Name("activity-add-activity-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("activity-add-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("activity-add-description")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.Label("activity-add-roles", Strings.RolesField)
                @(Html.Kendo().MultiSelectFor(e => e.Roles)
                    .DataSource(source => source.Read(read => read.Url(api.Roles.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Roles" }
                    })
                    .Name("activity-add-roles")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                @Html.Label("activity-add-new-roles", Strings.NewRolesField)
                @(Html.Kendo().TextBoxFor(e => e.NewRoles)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: AddRoles" }
                    })
                    .Name("activity-add-new-roles")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
