﻿@model FeatureViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("feature-manage-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "readonly", "readonly" }
                    })
                    .Name("feature-manage-product-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("feature-manage-feature-name", Strings.FeatureNameField)
                @(Html.Kendo().TextBoxFor(e => e.FeatureName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: FeatureName" },
                        { "readonly", "readonly" }
                    })
                    .Name("feature-manage-feature-name")
                    .ToClientTemplate())
                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("feature-manage-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("feature-manage-description")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row overflow">
        <legend class="col-xs-12">@Strings.ActivitiesSubtitle</legend>
        <div class="col-xs-12 overflow">
            @(Html.Kendo().Grid<ActivityRowModel>()
                .AutoBind(false)
                .Name("k-grid-activities")
                .Columns(columns =>
                {
                    columns.Bound(c => c.ActivityName).Title(Strings.ActivityNameColumn).Width(160);
                    columns.Bound(c => c.Description).Title(Strings.DescriptionColumn);
                    columns.Bound(c => c.Roles).EditorTemplateName("Roles").ClientTemplate("\\#=Array.prototype.join.call(arguments[0].Roles, ' ')\\#").Title(Strings.RolesColumn);
                    columns.Command(commands =>commands.Custom("manage-activity").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Strings.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
                })
                .DataSource(dataSource => dataSource
                    .WebApi(api.Activities, data: "umbiliko.view.activity.filter")
                    .Batch(true)
                    .Model(model =>
                    {
                        model.Id(activity => activity.Identifier);
                        model.Field(activity => activity.ActivityName).Editable(false);
                        model.Field(activity => activity.Description).Editable(true);
                        model.Field(activity => activity.FeatureName).Editable(false);
                        model.Field(activity => activity.Identifier).Editable(false);
                        model.Field(activity => activity.ProductName).Editable(false);
                        model.Field(activity => activity.Roles).Editable(true);
                    })
                    .Events(events =>
                    {
                        events.Change("umbiliko.data.change");
                        events.Push("umbiliko.data.change");
                        events.Sync("umbiliko.data.change");
                    })
                )
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Events(events =>
                {
                    events.Change("umbiliko.view.activity.change");
                })
                .Selectable(selectable =>
                {
                    selectable.Mode(GridSelectionMode.Single);
                })
                .Scrollable()
                .ToClientTemplate())
        </div>
    </fieldset>

</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyFeatureCmd</button>
    <button type="button" class="btn btn-add btn-default" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddActivityCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
