﻿@model FeatureViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("feature-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "readonly", "readonly" }
                    })
                    .Name("feature-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="overflow row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("feature-add-feature-name", Strings.FeatureNameField)
                @(Html.Kendo().TextBoxFor(e => e.FeatureName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: FeatureName" }
                    })
                    .Name("feature-add-feature-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("feature-add-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("feature-add-description")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>

