﻿@{
    ViewBag.Subtitle = Strings.ProductsSubtitle;
    ViewBag.Title = Strings.ProductsTitle;
    ViewBag.Page = "products";
    var constants = new Dictionary<string, object>();
    constants.Add("AccessibilityLevels", Uos.Web.Strings.AccessibilityLevels.ResourceManager.ToDictionary<AccessibilityLevels>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Products")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter products using prefixes: "activity", "feature" and "product". Use ':' as separator. i.e.: "group:adm:dev".
</footer>
@Html.Partial("ModalWindow")
<script id="feature-detail-template" type="text/kendo-tmpl">
    @Html.Partial("ActivitiesTemplate")
</script>
<script id="product-detail-template" type="text/kendo-tmpl">
    @Html.Partial("FeaturesTemplate")
</script>
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" data-controller="ProductAddHandler" data-title="@Strings.AddProductTitle" id="product-add">
            @Html.Partial("ProductAddTemplate")
        </div>
        <div class="frame" data-controller="ProductManageHandler" data-title="@Strings.ManageProductTitle" id="product-manage">
            @Html.Partial("ProductManageTemplate")
        </div>
        <div class="hidden frame" data-controller="FeatureAddHandler" data-title="@Strings.AddFeatureTitle" id="feature-add">
            @Html.Partial("FeatureAddTemplate")
        </div>
        <div class="frame" data-controller="FeatureManageHandler" data-title="@Strings.ManageFeatureTitle" id="feature-manage">
            @Html.Partial("FeatureManageTemplate")
        </div>
        <div class="hidden frame" data-controller="ActivityAddHandler" data-title="@Strings.AddActivityTitle" id="activity-add">
            @Html.Partial("ActivityAddTemplate")
        </div>
        <div class="frame" data-controller="ActivityManageHandler" data-title="@Strings.ManageActivityTitle" id="activity-manage">
            @Html.Partial("ActivityManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("ActivityAddHandler")
    @Html.Partial("ActivityManageHandler")
    @Html.Partial("FeatureAddHandler")
    @Html.Partial("FeatureManageHandler")
    @Html.Partial("ProductAddHandler")
    @Html.Partial("ProductManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddProductCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Products, new Dictionary<string, string>()))
    </ul>
    <p class="navbar-text">|</p>
}