﻿@model ProductViewModel
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="overflow row">
        <div class="col-sm-6 col-lg-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("product-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-lg-8">
            <div class="form-group form-group-sm">
                @Html.Label("product-add-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("product-add-description")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-add-alpha-version", Strings.AlphaVersionField)
                @(Html.Kendo().TextBoxFor(e => e.BetaVersion)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: AlphaVersion" }
                    })
                    .Name("product-add-alpha-version")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-add-beta-version", Strings.BetaVersionField)
                @(Html.Kendo().TextBoxFor(e => e.BetaVersion)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: BetaVersion" }
                    })
                    .Name("product-add-beta-version")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-add-release-version", Strings.ReleaseVersionField)
                @(Html.Kendo().TextBoxFor(e => e.ReleaseVersion)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ReleaseVersion" }
                    })
                    .Name("product-add-release-version")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
