﻿@model ProductViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("product-manage-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "maxlength", Lengths.ProductNameLength },
                        { "readonly", "readonly" }
                    })
                    .Name("product-manage-product-name")
                    .ToClientTemplate())
                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("product-manage-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("product-manage-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-manage-alpha-version", Strings.AlphaVersionField)
                @(Html.Kendo().TextBoxFor(e => e.BetaVersion)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: AlphaVersion" }
                    })
                    .Name("product-manage-alpha-version")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-manage-beta-version", Strings.BetaVersionField)
                @(Html.Kendo().TextBoxFor(e => e.BetaVersion)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: BetaVersion" }
                    })
                    .Name("product-manage-beta-version")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-sm">
                @Html.Label("product-manage-release-version", Strings.ReleaseVersionField)
                @(Html.Kendo().TextBoxFor(e => e.ReleaseVersion)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ReleaseVersion" }
                    })
                    .Name("product-manage-release-version")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row overflow">
        <legend class="col-xs-12">@Strings.FeaturesSubtitle</legend>
        <div class="col-xs-12 overflow">
            @(Html.Kendo().Grid<FeatureRowModel>()
                .AutoBind(false)
                .Name("k-grid-features")
                .Columns(columns =>
                {
                    columns.Bound(c => c.FeatureName).Title(Strings.FeatureNameColumn).Width(160);
                    columns.Bound(c => c.Description).Title(Strings.DescriptionColumn);
                    columns.Command(commands => commands.Custom("manage-feature").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Strings.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
                })
                .DataSource(dataSource => dataSource
                    .WebApi(api.Features, data: "umbiliko.view.feature.filter")
                    .Batch(true)
                    .Model(model =>
                    {
                        model.Id(feature => feature.Identifier);
                        model.Field(feature => feature.FeatureName).Editable(false);
                        model.Field(feature => feature.Identifier).Editable(false);
                        model.Field(feature => feature.Description).Editable(true);
                        model.Field(feature => feature.ProductName).Editable(false);
                    })
                    .Events(events =>
                    {
                        events.Change("umbiliko.data.change");
                        events.Push("umbiliko.data.change");
                        events.Sync("umbiliko.data.change");
                    })
                )
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Events(events => events.Change("umbiliko.view.feature.change"))
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Scrollable()
                .ToClientTemplate())
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyProductCmd</button>
    <button type="button" class="btn btn-add btn-default" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddFeatureCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
