﻿@{
    ActivityHelper api = Url;
    ViewBag.Page = "dashboard";
    var session = new SessionInfo(Context.User);
    var user = session.User;
    var level = session.AccessLevel;
}
@helper widget(Uos.Web.Mvc.ActionSet actions, string layout, string title, string summary)
{
if (actions.CanDisplay())
{
        <div class="@(layout)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@title</h3>
                </div>
                <div class="panel-body">
                    <p>@summary</p>
                    <p>
                        @if (actions.CanDownload())
                        {
                            <a class="btn btn-sm btn-default pull-left" href="@actions.Download.Url">Download</a>
                        }
                        @if (actions.CanUpload())
                        {
                            <iframe class="pull-left" frameborder="0" name="upload-users" scrolling="no" src="@actions.Upload.Url" style="display: inline-block; height: 0; margin: 0 0 0 4px; overflow: hidden; width: 0;"></iframe>
                        }
                        <a href="@actions.Display.Url" class="btn btn-primary btn-sm pull-right">Manage &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
}
}
<section class="container-fluid panel">
    <div class="container">
        @if (level.HasFlag(AccessLevels.Internal))
        {
            <h2>Administration</h2>
            <div class="row">
                @widget(api.Companies, "col-md-6", "Companies", "Manager all companies.")
                @widget(api.Users, "col-md-6", "Users", "Manager all users.")
            </div>
        }
        @if (level.HasFlag(AccessLevels.Protected))
        {
            <h2>Authentication</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">User Name</dt>
                                    <dd class="col-xs-6">@user.Name</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Email</dt>
                                    <dd class="col-xs-6">@user.Email</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Given Name</dt>
                                    <dd class="col-xs-6">@user.GivenName</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Family Name</dt>
                                    <dd class="col-xs-6">@user.Surname</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Date of Birth</dt>
                                    <dd class="col-xs-6">@user.DateOfBirth</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Gender</dt>
                                    <dd class="col-xs-6">@user.Gender</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Mobile Phone</dt>
                                    <dd class="col-xs-6">@user.MobilePhone</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Home Phone</dt>
                                    <dd class="col-xs-6">@user.HomePhone</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Other Phone</dt>
                                    <dd class="col-xs-6">@user.OtherPhone</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Street Address</dt>
                                    <dd class="col-xs-6">@user.StreetAddress</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Postal Code</dt>
                                    <dd class="col-xs-6">@user.PostalCode</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">State or Province</dt>
                                    <dd class="col-xs-6">@user.StateOrProvince</dd>
                                </dl>
                                <dl class="col-xs-12">
                                    <dt class="col-xs-6">Country</dt>
                                    <dd class="col-xs-6">@user.Country</dd>
                                </dl>
                            </p>
                            <p>
                                <a href="@api.MyAccount.Display.Url" class="btn btn-primary btn-sm pull-right">Manage &raquo;</a>
                            </p>
                            @Html.Partial("_Logins", user)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Account</h3>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("_Accounts", session)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Company</h3>
                        </div>
                        <div class="panel-body">
                            @if (level.HasFlag(AccessLevels.Private) && session.Account != null)
                            {
                                <p>
                                    <dl class="col-xs-12">
                                        <dt class="col-xs-6">Company Code</dt>
                                        <dd class="col-xs-6">@session.Account.CompanyCode</dd>
                                    </dl>
                                    <dl class="col-xs-12">
                                        <dt class="col-xs-6">Company Name</dt>
                                        <dd class="col-xs-6">@session.Account.CompanyName</dd>
                                    </dl>
                                    <dl class="col-xs-12">
                                        <dt class="col-xs-6">Member Since</dt>
                                        <dd class="col-xs-6"></dd>
                                    </dl>
                                </p>
                                <p>
                                    <a href="@api.MyCompany.Display.Url" class="btn btn-primary btn-sm pull-right">Manage &raquo;</a>
                                </p>
                            }
                            else
                            {
                                <p>You are not login with company credentials.</p>
                                if (user.Accounts.Count > 0)
                                {
                                    <p>Enter in one of your accounts in the My Account section to unlock more company options or you can create your own company.</p>
                                }
                                else
                                {
                                    <p>You can create your own company.</p>
                                }
                                <p>
                                    <a href="@api.MyCompany.Create.Url" class="btn btn-primary btn-sm pull-right">Create &raquo;</a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                @if (level.HasFlag(AccessLevels.Internal))
                {
                    @*@widget(api.Accounts, "col-md-6", "Accounts", "Manager your company accounts.")*@
                    @*@widget(api.Segments, "col-md-6", "Segments", "Manager your company segments.")*@
                }
            </div>
        }
        @if (level.HasFlag(AccessLevels.Private))
        {
            <h2>Authorization</h2>
            <div class="row">
                @widget(api.Customers, "col-md-6", "Customers", "Manager your company customers.")
                @widget(api.Suppliers, "col-md-6", "Vendors", "Manager your company vendors.")
            </div>
        }
        @if (level.HasFlag(AccessLevels.Private))
        {
            <h2>Configuration</h2>
            <div class="row">
                @widget(api.Domains, "col-md-6", "Domains", "Manager your company domains.")
                @widget(api.Products, "col-md-6", "Products", "Manager your company products.")
            </div>
        }
    </div>
</section>

<footer class="container-fluid hidden-xs text-center">
    Uos @DateTime.Today.Year
</footer>
@section search {
    @if (level.HasFlag(AccessLevels.Private))
    {
        <form action="@Url.Action("Index", "Search")" class="navbar-form navbar-left" method="get" role="search" target="_self">
            <div class="form-group form-group-sm">
                <input class="form-control" name="token" placeholder="Search..." type="text">
            </div>
            <button class="btn btn-default btn-sm" type="submit">Submit</button>
        </form>
    }
}
@section toolbar {
    <ul class="nav navbar-nav navbar-left">
        @if (level.HasFlag(AccessLevels.Internal))
        {
            <li>
                <a class="navbar-link" href="@Url.Action("DownloadAll", "Home")">Backup</a>
            </li>
            <li>
                <iframe frameborder="0" name="upload-all" scrolling="no" src="@Url.Action("UploadAll", "Home")" style="display: inline-block; height: 0; margin-top: 8px; vertical-align: middle; width: 0;" target="_top"></iframe>
            </li>
        }
    </ul>
}
