﻿<ul class="nav navbar-nav">
    @Feature.Dropdown(ViewContext, Resources.Logistics.GeneralNav, (navigation) =>
    {
        navigation.Add(Resources.Logistics.ChangeNav, Url.View<ChangeController>(c => c.Index()));
        navigation.Add(Resources.Logistics.ForecastNav, Url.View<ForecastController>(c => c.Index()));
        navigation.Add(Resources.Logistics.InformationNav, Url.View<InformationController>(c => c.Index()));
        navigation.Add(Resources.Logistics.MasterNav, Url.View<MasterController>(c => c.Index()));
        navigation.Add(Resources.Logistics.SafetyNav, Url.View<SafetyController>(c => c.Index()));
        navigation.Add(Resources.Logistics.VariantNav, Url.View<VariantController>(c => c.Index()));
    })
    @Html.Partial("~/Areas/Distribution/Views/Shared/_NavDistributionPartial.cshtml")
    @Html.Partial("~/Areas/Transportation/Views/Shared/_NavTransportationPartial.cshtml")
</ul>
