﻿@model AccountViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-user-name", Resources.Authentication.UserNameField)
                @(Html.Kendo().TextBoxFor(e => e.UserName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: UserName" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-user-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-company", Resources.Authentication.CompanyCodeField)
                @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-company")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-company-name", Resources.Authentication.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-company-type", Resources.Authentication.CompanyTypeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyType" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-company-type")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-segment", Resources.Authentication.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-environment", Resources.Authentication.EnvironmentField)
                @(Html.Kendo().TextBoxFor(e => e.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Environment" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-environment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-roles", Resources.Authentication.RolesField)
                @(Html.Kendo().TextBoxFor(e => e.Roles)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Roles" },
                        { "readonly", "readonly" }
                    })
                    .Name("account-manage-roles")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("account-manage-email-address", Resources.Authentication.EmailAddressField)
                @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                            { "class", "form-control lowercase" },
                            { "data-bind", "value: EmailAddress" }
                    })
                    .Name("account-manage-email-address")
                    .ToClientTemplate())
                <span data-for="account-manage-email-address" class="k-invalid-msg"></span>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Resources.Authentication.DestroyAccountCmd</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:umbiliko.layout.push()" role="button">@Resources.Authentication.ManageUserCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
