﻿@{
    ViewBag.Subtitle = Resources.Authentication.MyAccountSubtitle;
    ViewBag.Title = Resources.Authentication.MyAccountTitle;
    ViewBag.Page = "my-account";
    var constants = new Dictionary<string, object>();
    //constants.Add("CompanyTypes", Uos.Web.Strings.CompanyTypes.ResourceManager.ToDictionary<CompanyTypes>());
    //constants.Add("Environments", Uos.Web.Strings.Environments.ResourceManager.ToDictionary<Environments>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="frame" data-controller="AccountManageHandler" data-title="@Resources.Authentication.ManageAccountTitle" id="account-manage">
            @Html.Partial("AccountManageTemplate")
        </div>
        <div class="frame" data-controller="UserManageHandler" data-title="@Resources.Authentication.ManageUserTitle" id="user-manage">
            @Html.Partial("UserManageTemplate")
        </div>
        @*<div class="hidden frame" data-controller="LoginAddHandler" data-title="@Resources.Authentication.AddLoginTitle" id="login-add">
                @Html.Partial("LoginAddTemplate")
            </div>
            <div class="frame" data-controller="LoginManageHandler" data-title="@Resources.Authentication.ManageLoginTitle" id="login-manage">
                @Html.Partial("LoginManageTemplate")
            </div>*@
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("AccountManageHandler")
    @Html.Partial("UserManageHandler")
    @*@Html.Partial("LoginAddHandler")
        @Html.Partial("LoginManageHandler")*@
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.MyCompany, new Dictionary<string, string>()))
    </ul>
}
