﻿@model UserViewModel
@{
    ActivityHelper api = Url;
}
<div class="modal-body overflow container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                <label class="control-label" for="user-manage-user-name">@Resources.Authentication.UserNameField</label>
                @(Html.Kendo().TextBoxFor(e => e.UserName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: UserName" },
                        { "maxlength", Lengths.UserNameLength },
                        { "readonly", "readonly" }
                    })
                    .Name("user-manage-user-name")
                    .ToClientTemplate())

                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                <label class="control-label" for="user-manage-email-address">@Resources.Authentication.EmailAddressField</label>
                @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: EmailAddress" }
                    })
                    .Name("user-manage-email-address")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <label class="control-label" for="user-manage-email-confirmed">@Resources.Authentication.EmailConfirmedField</label>
            <div class="form-group form-group-sm">
                <div class="input-group">
                    <input class="form-control" data-bind="value: EmailConfirmed" data-value-update="keyup" id="user-manage-email-confirmed" name="user-manage-email-confirmed" type="text" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-send" id="customer-manage-email-send" type="button">@Resources.Application.SendCmd</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-manage-mobile-number", Resources.Authentication.PhoneNumberField)
                @(Html.Kendo().TextBoxFor(e => e.PhoneNumber)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: MobileNumber" }
                    })
                    .Name("user-manage-mobile-number")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <label class="control-label" for="user-manage-phone-confirmed">@Resources.Authentication.PhoneConfirmedField</label>
            <div class="form-group form-group-sm">
                <div class="input-group">
                    <input class="form-control" data-bind="value: PhoneConfirmed" data-value-update="keyup" id="user-manage-phone-confirmed" name="user-manage-phone-confirmed" type="text" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-send" id="customer-manage-sms-send" type="button">@Resources.Application.SendCmd</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                <label class="control-label" for="user-manage-two-factor">@Resources.Authentication.TwoFactorEnabledField</label>
                <div class="input-group">
                    <input class="form-control" data-bind="value: TwoFactorEnabled" data-value-update="keyup" id="user-manage-two-factor" name="user-two-factor" type="text" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-enable" id="user-manage-two-factor" type="button">@Resources.Application.EnableCmd</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                <label class="control-label" for="user-manage-password">@Resources.Authentication.PasswordField</label>
                <div class="input-group">
                    <input class="form-control" data-bind="value: Password" data-value-update="keyup" id="user-manage-password" name="user-manage-password" type="password" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-generate" id="user-manage-password-generate" type="button">@Resources.Application.GenerateCmd</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <label class="control-label" for="user-manage-password-confirm">@Resources.Authentication.PasswordConfirmField</label>
            <div class="form-group form-group-sm">
                <div class="input-group">
                    <input class="form-control" data-bind="value: PasswordConfirm" data-value-update="keyup" id="user-manage-password-confirm" name="user-manage-password-confirm" type="password" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-show" id="customer-add-consumer-find" type="button">@Resources.Application.ShowCmd</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                <label class="control-label" for="user-manage-password-strength">@Resources.Authentication.PasswordStrengthField</label>
                <div class="input-group">
                    <input class="form-control" data-bind="value: Password" data-value-update="keyup" id="user-manage-password" name="user-manage-password" type="text" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-test" id="user-manage-password-generate" type="button">@Resources.Application.TestCmd</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                <label class="control-label" for="user-manage-lockout">@Resources.Authentication.LockoutEnabledField</label>
                <div class="input-group">
                    <input class="form-control" data-bind="value: LockoutEnabled" data-value-update="keyup" id="user-manage-lockout" name="user-lockout" type="text" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default cmd-enable" id="user-manage-two-factor" type="button">@Resources.Application.EnableCmd</button>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.Authentications != null && ViewBag.Authentications.Count > 0)
        {
            <div class="col-sm-6 col-md-4">
                <label class="control-label" for="">@Resources.Authentication.LoginsSubtitle</label>
                <form action="@api.MyAccount.Login.Url" method="POST">
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group form-group-sm">
                        <div class="btn-group">
                            <button class="btn btn-default cmd-add dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Resources.Authentication.AddLoginCmd <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (var authentication in ViewBag.Authentications)
                                {
                                    <li><button class="btn btn-link btn-default" name="provider" type="submit" title="Log in using your @authentication.Caption account" value="@authentication.AuthenticationType">@authentication.Caption</button></li>
                                }
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
    <div class="overflow row">
        <div class="col-xs-12 overflow">
            <label class="control-label" for="k-grid-logins">@Resources.Authentication.LoginsSubtitle</label>
            @(Html.Kendo().Grid<LoginRowModel>()
                .AutoBind(false)
                .Columns(columns =>
                {
                    columns.Bound(c => c.LoginProvider).Title(Resources.Authentication.LoginProviderColumn);
                    columns.Bound(c => c.UserName).Title(Resources.Authentication.UserNameColumn);
                    columns.Command(commands => commands.Custom("manage-login").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Resources.Application.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
                })
                .DataSource(source => source
                    .WebApi(api.Logins, "umbiliko.view.login.filter")
                    .Batch(true)
                    .Model(model =>
                    {
                        model.Id(member => member.Identifier);
                        model.Field(member => member.Identifier).Editable(false);
                        model.Field(member => member.LoginProvider).Editable(false);
                        model.Field(member => member.UserName).Editable(false);
                    })
                )
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Events(events => events.Change("umbiliko.view.login.change"))
                //.Groupable()
                .Name("k-grid-logins")
                .Pageable(pageable => pageable.ButtonCount(5).PageSizes(true).Refresh(true))
                .Reorderable(configurator => configurator.Columns(false))
                .Resizable(configurator => configurator.Columns(true))
                .Scrollable()
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Sortable()
                .ToClientTemplate()
            )
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Resources.Authentication.DestroyUserCmd</button>
    <button type="button" class="btn btn-default cmd-manage" role="button">@Resources.Authentication.ManageSessionsCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>