@import "variables/footer";
@import "variables/navbar";

html, body {
	height: 100%;
	overflow: hidden;
}

body {
    padding-top: #{$navbar-height + $navbar-margin-bottom};
    padding-bottom: #{$footer-height + $footer-margin-top};
}

.body-content {
	height: calc(100% - #{$navbar-height + $navbar-margin-bottom + $footer-height + $footer-margin-top});
	padding-left: 15px;
    padding-right: 15px;
	overflow-x: hidden; 
	overflow-y: scroll;
}

.navbar ~ * {
	margin-top: $navbar-height;
}

footer {
	position: absolute;
	top: calc(100% - #{$footer-height});

	&.collapse {

		.footer-header {
			height: $footer-height;
		}

		.footer-content {
		}
	} 
}