﻿// prefix declarations
@mixin prefixed($property, $value...) {
    @if $webkit == true {
        -webkit-#{$property}: #{$value};
    }

    @if $moz == true {
        -moz-#{$property}: #{$value};
    }

    @if $ms == true {
        -ms-#{$property}: #{$value};
    }

    @if $o == true {
        -o-#{$property}: #{$value};
    }

    #{$property}: #{$value};
}
