@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "mixins/prefixed";
@import "variables";

@font-face {
  font-family: Neometric-Medium;
  src: url(/fonts/Neometric/Neometric-Medium.otf);
}

html, body {
  background: #fafafa;
  background-color: #ECF0F1;
  /*background: url('/content/images/pattern.png') fixed;*/
  height: 100%;
   margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

#header {
  background-image: url('/content/images/home.jpg');
  background-position: center center;
  @include prefixed(background-size, cover);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  .container {
    height: 100%;
    position: relative;
  }

  .brand {
    bottom: 1em;
    height: auto;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
  
    canvas {
      bottom: 17.5%;
      position: absolute;
      right: 3.85%;
      width: 8.35%;
    }

    img {
      opacity: .85;
    }
  }
}