﻿@using StafferController = Uos.Web.Areas.Personnel.Controllers.StafferController
<ul class="nav navbar-nav">
    @Feature.Dropdown(ViewContext, Resources.Personnel.AdministrationNav, (nav) =>
    {
        nav.Add(Resources.Personnel.ApplicantNav, Url.View<ApplicantController>(c => c.Index()));
        nav.Add(Resources.Personnel.BenefitsNav, Url.View<BenefitsController>(c => c.Index()));
        nav.Add(Resources.Personnel.EmployeeNav, Url.View<EmployeeController>(c => c.Index()));
        nav.Add(Resources.Personnel.IncentiveNav, Url.View<IncentiveController>(c => c.Index()));
        nav.Add(Resources.Personnel.PayrollNav, Url.View<PayrollController>(c => c.Index()));
        nav.Add(Resources.Personnel.TimeNav, Url.View<TimeController>(c => c.Index()));
        nav.Add(Resources.Personnel.TravelNav, Url.View<TravelController>(c => c.Index()));
    })
    @Feature.Dropdown(ViewContext, Resources.Personnel.DevelopmentNav, (nav) =>
    {
        nav.Add(Resources.Personnel.DevelopmentNav, Url.View<DevelopmentController>(c => c.Index()));
        nav.Add(Resources.Personnel.OrganizationalNav, Url.View<OrganizationalController>(c => c.Index()));
        nav.Add(Resources.Personnel.Room, Url.View<RoomController>(c => c.Index()));
        nav.Add(Resources.Personnel.Seminar, Url.View<SeminarController>(c => c.Index()));
        nav.Add(Resources.Personnel.Workforce, Url.View<WorkforceController>(c => c.Index()));
    })
    @Feature.Link(ViewContext, Resources.Personnel.StafferNav, Url.View<StafferController>(c => c.Index()))
</ul>
