﻿@{
    ActivityHelper api = Url;
    DefaultActionSet url = Url;
    var session = new SessionInfo(Context.User);
    var user = session.User;
    var level = session.AccessLevel;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Uos @ViewBag.Subtitle</title>
    <meta name="description" content="Uos web site services" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    @Styles.Render("~/content/css/bootstrap")
    @Styles.Render("~/content/css/fontawesome")
    @Styles.Render("~/content/css/ionicons")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        if (level >= AccessLevels.Protected)
        {
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.core.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.core.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.bootstrap.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/stylesheets/filters/max-height.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/stylesheets/filters/kendo-bootstrap.css")" rel="stylesheet" />
        }
        <link href="@Url.Content("~/content/stylesheets/toastr.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/umbiliko.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-enter.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-exit.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-menu.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-switch.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/domain-jump.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/product-feedback.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/hint.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/spinner.css")" rel="stylesheet" />
    }
    else
    {
        if (level >= AccessLevels.Protected)
        {
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.core.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.core.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.bootstrap.min.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/stylesheets/filters/max-height.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/stylesheets/filters/kendo-bootstrap.css")" rel="stylesheet" />
        }
        @*if (level >= AccessLevels.Protected)
        {
            @Styles.Render("~/css/kendo")
            <link href="@Url.Content("~/Content/stylesheets/filters/max-height.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/stylesheets/filters/kendo-bootstrap.css")" rel="stylesheet" />
        }*@
        @Styles.Render("~/content/css/toastr")
        @Styles.Render("~/content/css/umbiliko")
        @Styles.Render("~/content/css/widgets")
    }
    @RenderSection("styles", required: false)
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        @*
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>*@
        @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script>*@
        <script src="@Url.Content("~/Scripts/vendor/moment/moment.js")" type="text/javascript"></script>
        // TODO: replace with local

        <script data-main="umbiliko.@ViewBag.Page" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
    }
    else
    {
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        @*
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>*@
        @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script>*@

        // TODO: replace with CDN
        <script src="@Url.Content("~/Scripts/vendor/moment/moment.js")" type="text/javascript"></script>
        <script data-main="/js/@ViewBag.Page" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
    }
    <script>
        requirejs.config({
            baseUrl: '',
            @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                <text>
            bundles: {
                @*'@Scripts.Url("~/js/kendo")': ['jquery.min', 'kendo.aspnetmvc.min', 'kendo.core.min'],
                '@Scripts.Url("~/js/kendo/data")': ['kendo.data.min', 'kendo.data.odata.min', 'kendo.data.signalr.min', 'kendo.data.xml.min'],
                '@Scripts.Url("~/js/kendo/controls")': ['kendo.autocomplete.min', 'kendo.button.min', 'kendo.combobox.min', 'kendo.datetimepicker.min',
                    'kendo.dropdownlist.min', 'kendo.grid.min', 'kendo.list.min', 'kendo.listview.min', 'kendo.multiselect.min', 'kendo.panelbar.min',
                    'kendo.validator.min', 'kendo.view.min', 'kendo.window.min'],
                '@Scripts.Url("~/js/kendo/mobile")': ['kendo.mobile.actionsheet.min', 'kendo.mobile.application.min', 'kendo.mobile.button.min'],*@
                '@Scripts.Url("~/js/umbiliko")': ['umbiliko', 'umbiliko.email', 'umbiliko.message', 'umbiliko.password', 'umbiliko.phone', 'umbiliko.user', 'umbiliko.view', 'umbiliko.wizard'],
                '@Scripts.Url("~/js/internal")': ['umbiliko.data', 'umbiliko.filter', 'umbiliko.search'],
                '@Scripts.Url("~/js/widgets")': ['umbiliko.widget.account-enter', 'umbiliko.widget.account-exit', 'umbiliko.widget.account-menu', 'umbiliko.widget.account-switch', 'umbiliko.widget.domain-jump', 'umbiliko.widget.product-feedback', 'umbiliko.widget.hint', 'umbiliko.widget.spinner'],
                '@Scripts.Url("~/js/" + ViewBag.Page)': ['@ViewBag.Page']
            },
            </text>
                }
            paths: {
                angular: '//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min',
                bootstrap: /*'//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min', */'/scripts/bootstrap',
                jquery: /*'//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min', */'/scripts/jquery-2.1.4',
                toastr: '//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min',
                //cookie: 'scripts/vendor/cookie/jquery.cookie',
                //imagescroll: 'scripts/vendor/image-scroll/jquery.imagescroll.min',
                //parallax: 'scripts/vendor/parallax/jquery.parallax.min',
                //q: 'scripts/vendor/q/q',
                //settings: 'scripts/settings',
                //scrollmagic: 'scripts/vendor/scroll-magic/jquery.scrollmagic.min',
                'jquery.min': '/scripts/kendo/2015.3.930/jquery.min',
                'kendo': '/scripts/kendo/2015.3.930/kendo.all.min',
                'kendo.angular.min': '/scripts/kendo/2015.3.930/kendo.angular.min',
                'kendo.aspnetmvc.min': '/scripts/kendo/2015.3.930/kendo.aspnetmvc.min',
                'kendo.autocomplete.min': '/scripts/kendo/2015.3.930/kendo.autocomplete.min',
                'kendo.binder.min': 'scripts/kendo/2015.3.930/kendo.binder.min',
                'kendo.button.min': '/scripts/kendo/2015.3.930/kendo.button.min',
                'kendo.calendar.min': '/scripts/kendo/2015.3.930/kendo.calendar.min',
                'kendo.color.min': '/scripts/kendo/2015.3.930/kendo.color.min.js',
                'kendo.colorpicker.min': '/scripts/kendo/2015.3.930/kendo.colorpicker.min',
                'kendo.combobox.min': '/scripts/kendo/2015.3.930/kendo.combobox.min',
                'kendo.core.min': '/scripts/kendo/2015.3.930/kendo.core.min',
                'kendo.data.min': '/scripts/kendo/2015.3.930/kendo.data.min',
                'kendo.data.odata.min': '/scripts/kendo/2015.3.930/kendo.data.odata.min',
                'kendo.data.signalr.min': '/scripts/kendo/2015.3.930/kendo.data.signalr.min',
                'kendo.data.xml.min': '/scripts/kendo/2015.3.930/kendo.data.xml.min',
                'kendo.datetimepicker.min': '/scripts/kendo/2015.3.930/kendo.datetimepicker.min',
                'kendo.draganddrop.min': '/scripts/kendo/2015.3.930/kendo.draganddrop.min',
                'kendo.dropdownlist.min': '/scripts/kendo/2015.3.930/kendo.dropdownlist.min',
                'kendo.editable.min': '/scripts/kendo/2015.3.930/kendo.editable.min',
                'kendo.fx.min': '/scripts/kendo/2015.3.930/kendo.fx.min',
                'kendo.grid.min': '/scripts/kendo/2015.3.930/kendo.grid.min',
                'kendo.list.min': '/scripts/kendo/2015.3.930/kendo.list.min',
                'kendo.listview.min': '/scripts/kendo/2015.3.930/kendo.listview.min',
                'kendo.maskedtextbox.min': '/scripts/kendo/2015.3.930/kendo.maskedtextbox.min',
                'kendo.menu.min': '/scripts/kendo/2015.3.930/kendo.menu.min',
                'kendo.mobile.actionsheet.min': '/scripts/kendo/2015.3.930/kendo.mobile.actionsheet.min',
                'kendo.mobile.application.min': '/scripts/kendo/2015.3.930/kendo.mobile.application.min',
                'kendo.mobile.button.min': '/scripts/kendo/2015.3.930/kendo.mobile.button.min',
                'kendo.mobile.buttongroup.min': '/scripts/kendo/2015.3.930/kendo.mobile.buttongroup.min',
                'kendo.mobile.collapsible.min': '/scripts/kendo/2015.3.930/kendo.mobile.collapsible.min',
                'kendo.mobile.drawer.min': '/scripts/kendo/2015.3.930/kendo.mobile.drawer.min',
                'kendo.mobile.listview.min': '/scripts/kendo/2015.3.930/kendo.mobile.listview.min',
                'kendo.mobile.loader.min': '/scripts/kendo/2015.3.930/kendo.mobile.loader.min',
                'kendo.mobile.modalview.min': '/scripts/kendo/2015.3.930/kendo.mobile.modalview.min',
                'kendo.mobile.navbar.min': '/scripts/kendo/2015.3.930/kendo.mobile.navbar.min',
                'kendo.mobile.pane.min': '/scripts/kendo/2015.3.930/kendo.mobile.pane.min',
                'kendo.mobile.popover.min': '/scripts/kendo/2015.3.930/kendo.mobile.popover.min',
                'kendo.mobile.scroller.min': '/scripts/kendo/2015.3.930/kendo.mobile.scroller.min',
                'kendo.mobile.scrollview.min': '/scripts/kendo/2015.3.930/kendo.mobile.scrollview.min',
                'kendo.mobile.shim.min': '/scripts/kendo/2015.3.930/kendo.mobile.shim.min',
                'kendo.mobile.splitview.min': '/scripts/kendo/2015.3.930/kendo.mobile.splitview.min',
                'kendo.mobile.switch.min': '/scripts/kendo/2015.3.930/kendo.mobile.switch.min',
                'kendo.mobile.tabstrip.min': '/scripts/kendo/2015.3.930/kendo.mobile.tabstrip.min',
                'kendo.mobile.view.min': '/scripts/kendo/2015.3.930/kendo.mobile.view.min',
                'kendo.multiselect.min': '/scripts/kendo/2015.3.930/kendo.multiselect.min',
                'kendo.notification.min': '/scripts/kendo/2015.3.930/kendo.notification.min',
                'kendo.numerictextbox.min': '/scripts/kendo/2015.3.930/kendo.numerictextbox.min',
                'kendo.pager.min': '/scripts/kendo/2015.3.930/kendo.pager.min',
                'kendo.panelbar.min': '/scripts/kendo/2015.3.930/kendo.panelbar.min',
                'kendo.popup.min': '/scripts/kendo/2015.3.930/kendo.popup.min',
                'kendo.progressbar.min': '/scripts/kendo/2015.3.930/kendo.progressbar.min',
                'kendo.resizable.min': '/scripts/kendo/2015.3.930/kendo.resizable.min',
                'kendo.responsivepanel.min': '/scripts/kendo/2015.3.930/kendo.responsivepanel.min',
                'kendo.router.min': '/scripts/kendo/2015.3.930/kendo.router.min',
                'kendo.selectable.min': '/scripts/kendo/2015.3.930/kendo.selectable.min',
                'kendo.slider.min': '/scripts/kendo/2015.3.930/kendo.slider.min',
                'kendo.sortable.min': '/scripts/kendo/2015.3.930/kendo.sortable.min',
                'kendo.splitter.min': '/scripts/kendo/2015.3.930/kendo.splitter.min',
                'kendo.tabstrip.min': '/scripts/kendo/2015.3.930/kendo.tabstrip.min',
                'kendo.timepicker.min': '/scripts/kendo/2015.3.930/kendo.timepicker.min',
                'kendo.timezones.min': '/scripts/kendo/2015.3.930/kendo.timezones.min',
                'kendo.toolbar.min': '/scripts/kendo/2015.3.930/kendo.toolbar.min',
                'kendo.tooltip.min': '/scripts/kendo/2015.3.930/kendo.tooltip.min',
                'kendo.touch.min': '/scripts/kendo/2015.3.930/kendo.touch.min',
                'kendo.ui.core.min': '/scripts/kendo/2015.3.930/kendo.ui.core.min',
                'kendo.userevents.min': '/scripts/kendo/2015.3.930/kendo.userevents.min',
                'kendo.validator.min': '/scripts/kendo/2015.3.930/kendo.validator.min',
                'kendo.view.min': '/scripts/kendo/2015.3.930/kendo.view.min',
                'kendo.virtuallist.min': '/scripts/kendo/2015.3.930/kendo.virtuallist.min',
                'kendo.webcomponents.min': '/scripts/kendo/2015.3.930/kendo.webcomponents.min',
                'kendo.window.min': '/scripts/kendo/2015.3.930/kendo.window.min',
                @if (HttpContext.Current.IsDebuggingEnabled)
                {
                <text>
                'umbiliko.@ViewBag.Page': '/scripts/app/pages/@ViewBag.Page',
                'umbiliko': '/scripts/app/umbiliko',
                'umbiliko.data': '/scripts/app/modules/internal/data',
                'umbiliko.email': '/scripts/app/modules/email',
                'umbiliko.filter': '/scripts/app/modules/internal/filter',
                'umbiliko.message': '/scripts/app/modules/message',
                'umbiliko.password': '/scripts/app/modules/password',
                'umbiliko.phone': '/scripts/app/modules/phone',
                'umbiliko.search': '/scripts/app/modules/internal/search',
                'umbiliko.user': '/scripts/app/modules/user',
                'umbiliko.view': '/scripts/app/modules/view',
                'umbiliko.widget.account-enter': '/scripts/app/widgets/account-enter',
                'umbiliko.widget.account-exit': '/scripts/app/widgets/account-exit',
                'umbiliko.widget.account-menu': '/scripts/app/widgets/account-menu',
                'umbiliko.widget.account-switch': '/scripts/app/widgets/account-switch',
                'umbiliko.widget.domain-jump': '/scripts/app/widgets/domain-jump',
                'umbiliko.widget.product-feedback': '/scripts/app/widgets/product-feedback',
                'umbiliko.widget.hint': '/scripts/app/widgets/hint',
                'umbiliko.widget.spinner': '/scripts/app/widgets/spinner',
                'umbiliko.wizard': '/scripts/app/modules/wizard'
                </text>
                }
            },
            shim: {
                'angular': {
                    deps: ['jquery']
                },
                'bootstrap': {
                    deps: ['jquery']
                },
                'jquery': {
                    exports: '$'
                },
                'kendo.core.min': {
                    deps: ['jquery']
                },
                'umbiliko.data': {
                    deps: ['kendo.core.min', 'kendo.data.min', 'kendo.aspnetmvc.min'],
                }
                //app: ['jquery', 'q', 'cookie'],
                //Bootstrap: ['jquery'],
                //'scripts/vendor/parallax/jquery.event.frame': ['jquery'],
                //parallax: ['jquery', 'imagescroll', 'scripts/vendor/parallax/jquery.event.frame'],
                //Uos: ['jquery']
            }
        });

        define('umbiliko.options', function () {

            var protocol = '@Request.Url.GetLeftPart(UriPartial.Scheme).TrimEnd('/')',
                server = '@Request.Url.GetLeftPart(UriPartial.Authority).Substring(@Request.Url.GetLeftPart(UriPartial.Scheme).Length)',
                baseUrl = protocol + '//' + server;

            return {
                auto: true,
                endpoints: {
                    'account-claim': '@url.AccountClaim.Url',
                    'account-enter': '@url.AccountEnter.Url',
                    'account-exit': '@url.AccountExit.Url',
                    'account-switch': '@url.AccountSwitch.Url',
                    'current-domain': '@url.CurrentDomain.Url',
                    'current-user': '@url.CurrentUser.Url',
                    'domain-jump': '@url.DomainJump.Url',
                    'product-feedback': null
                },
                protocol: protocol,
                server: server,
                token: null,
                user: null,
                widgets: {
                    'account-enter': {
                        reload: true,
                        replace: '#header .umbiliko-enter-placeholder',
                        url: baseUrl + '/widgets/account-enter'
                    },
                    'account-menu': {
                        replace: '.nav.navbar-nav.navbar-right:first',
                        url: baseUrl + '/widgets/account-menu'
                    },
                    'account-switch': {
                        endpoint: '@url.AccountSwitch.Url'
                    },
                    'current-domain': {
                        endpoint: '@url.CurrentDomain.Url'
                    },
                    'domain-jump': {
                        endpoint: '@url.DomainJump.Url'
                    },
                    'product-feedback': {
                    }
                }
            };
        });
    </script>
    @RenderSection("scripts", required: false)
</head>
<body class="umbiliko-busy-zoom-out" data-spy="scroll" data-target=".navbar">
    @if (level >= AccessLevels.Protected)
    {
        var controller = (string)ViewContext.RouteData.Values["Controller"];
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<div class="page-header">
                            <h1>Example page header <small>Subtext for header</small></h1>
                        </div>*@
                    <div class="navbar-brand"><a href="@Url.Action("Index", "Home")">@Resources.Application.ApplicationTitle</a> @ViewBag.Subtitle</div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    @RenderSection("toolbar", required: false)
                    <ul class="nav navbar-nav">
                        @if (level.HasFlag(AccessLevels.Internal))
                        {
                            <li class="@(new[] { "Companies", "Users" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.AdministrationTitle <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="@(controller == "Companies" ? "active" : "")"><a href="@api.Companies.Display.Url">@Strings.CompaniesTitle</a></li>
                                    <li class="@(controller == "Users" ? "active" : "")"><a href="@api.Users.Display.Url">@Strings.UsersTitle</a></li>
                                </ul>
                            </li>
                        }
                        @if (level.HasFlag(AccessLevels.Private))
                        {
                            <li class="@(new[] { "Accounts", "Segments" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.AuthenticationTitle <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="@(controller == "Accounts" ? "active" : "")"><a href="@api.Accounts.Display.Url">@Strings.AccountsTitle</a></li>
                                    <li class="@(controller == "Segments" ? "active" : "")"><a href="@api.Segments.Display.Url">@Strings.SegmentsTitle</a></li>
                                </ul>
                            </li>
                        }
                        @if (level.HasFlag(AccessLevels.Private))
                        {
                            <li class="@(new[] { "Customers", "Consumers", "Subscriptions" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.AuthorizationTitle <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="@(controller == "Customers" ? "active" : "")"><a href="@api.Customers.Display.Url">@Strings.CustomersTitle</a></li>
                                    <li class="@(controller == "Consumers" ? "active" : "")"><a href="@api.Consumers.Display.Url">@Strings.ConsumersTitle</a></li>
                                    <li class="@(controller == "Subscriptions" ? "active" : "")"><a href="@api.Subscriptions.Display.Url">@Strings.SubscriptionsTitle</a></li>
                                </ul>
                            </li>
                        }
                        @if (level.HasFlag(AccessLevels.Private))
                        {
                            <li class="@(new[] { "Domains", "Products" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.ConfigurationTitle <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="@(controller == "Domains" ? "active" : "")"><a href="@api.Domains.Display.Url">@Strings.DomainsTitle</a></li>
                                    <li class="@(controller == "Products" ? "active" : "")"><a href="@api.Products.Display.Url">@Strings.ProductsTitle</a></li>
                                </ul>
                            </li>
                        }
                        @if (level.HasFlag(AccessLevels.Private))
                        {
                            @*<li class="@(new[] { "Indicators", "Notifications" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assurance <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="@(controller == "Indicators" ? "active" : "")">@Html.ActionLink("Indicators/Performance", "Index", "Indicators")</li>
                                        <li class="@(controller == "Notifications" ? "active" : "")">@Html.ActionLink("Notifications/Errors", "Index", "Notifications")</li>
                                    </ul>
                                </li>*@
                        }
                        @if (level.HasFlag(AccessLevels.Private))
                        {
                            @*<li class="@(new[] { "Agents" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Automation <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="@(controller == "Agents" ? "active" : "")">@Html.ActionLink("Agents/Scheduler", "Index", "Agents")</li>
                                    </ul>
                                </li>*@
                            @*<li class="@(new[] { "Settings", "Themes" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customization <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="@(controller == "Settings" ? "active" : "")">@Html.ActionLink("Settings/Values", "Index", "Settings")</li>
                                        <li class="@(controller == "Themes" ? "active" : "")">@Html.ActionLink("Themes/Styles", "Index", "Themes")</li>
                                    </ul>
                                </li>*@
                            @*<li class="@(new[] { "Prototypes" }.Contains(controller) ? "active dropdown" : "dropdown")">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formulation <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="@(controller == "Prototypes" ? "active" : "")">@Html.ActionLink("Prototypes/Properties", "Index", "Prototypes")</li>
                                        <li class="@(controller == "Prototypes" ? "active" : "")">@Html.ActionLink("Records/Values", "Index", "Records")</li>
                                    </ul>
                                </li>*@
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                    @if (level.HasFlag(AccessLevels.Private))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.MyCompanyMenu <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@api.MyCompany.Display.Url">@Strings.ManageCmd</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    @RenderSection("search", required: false)
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    }
    @RenderBody()
    @if (level >= AccessLevels.Protected)
    {
        <script type="text/javascript">
            define('deferred', ['jquery', 'kendo'], function ($, kendo) {
                @Html.Kendo().DeferredScripts(false);
            });
        </script>
    }
    @RenderSection("application", required: false)
</body>

</html>
