﻿<svg height="0">
    <mask id="mask-linear-gradient" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <linearGradient id="g" gradientUnits="objectBoundingBox" x2="0" y2="1">
            <stop offset="0.00" stop-color="black" stop-opacity=".625" />
            <stop offset="0.35" stop-color="black" stop-opacity=".625" />
            <stop offset="0.50" stop-color="black" stop-opacity=".125" />
            <stop offset="0.65" stop-color="black" stop-opacity=".125" />
            <stop offset="1.00" stop-color="black" stop-opacity=".125" />
        </linearGradient>
    </mask>
</svg>
