﻿<script>
    define('umbiliko.collections', ['umbiliko'], function (U) {

        U.constants = @(new HtmlString(JsonConvert.SerializeObject(ViewBag.Constants, Context.IsDebuggingEnabled ? Formatting.Indented : Formatting.None)));

        U.collections = { };

        for (var name in umbiliko.constants) {
            U.collections[name] = factory(U.constants[name]);
        }

        function factory(map) {
            var _map = map;
            return function (value) {
                return (arguments.length > 0) ? _map[value] : Object.getOwnPropertyNames(_map);
            }
        };

        U.autoComplete = function ($el, col) {
            var values = umbiliko.collections[col];
            var data = $.map(values(), function (value) {
                return {
                    Name: value,
                    Text: values(value)
                };
            });
            $el.kendoAutoComplete({
                dataSource: data,
                dataTextField: "Name",
                template: '<span>#: Name #</span><span class="list-desc">#: Text #</span>'
            });
        };

        U.dropDownList = function ($el, col) {
            var values = umbiliko.collections[col];
            var data = $.map(values(), function (value) {
                return {
                    Text: values(value),
                    Value: value
                };
            });
            $el.kendoDropDownList({
                dataSource: data,
                dataTextField: "Text",
                dataValueField: "Value"
            });
        };
    });
</script>
