﻿@(Html.Kendo().Window().Name("confirm-dialog")
    .Actions(actions => actions.Clear())
    .Draggable(true)
    .Content(confirmContent().ToHtmlString())
    .Modal(true)
    .Resizable(resize => resize.Enabled(false))
    .Title(Strings.ConfirmTitle)
    .Visible(false)
    .Deferred()
)
@helper confirmContent()
{
    <div class="container-fluid">
        <p class="confirm-message">@Strings.ConfirmQuestion</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-confirm k-button" role="button">@Strings.ConfirmCmd</button>
        <button class="btn btn-default btn-reject" role="button">@Strings.RejectCmd</button>
    </div>
}
