﻿@{
    ViewBag.Title = Resources.Transportation.HomeTitle;
}
<div class="body-content">
    @Alert.NotImplemented()
    <p>
        <h5>Areas/Features</h5>
        <ul>
            <li>Order Management</li>
            <li>Freight Planning &amp; Tendering</li>
            <li>Freight Execution &amp; Monitoring</li>
            <li>Freight Settlement</li>
        </ul>
    </p>
    <p>
        <h5>Scenarios</h5>
        <ul>
            <li>Outsourced Transportation <i>(No planning. Planning done by the carrier)</i></li>
            <li>Domestic Outbound</li>
            <li>Domestic Inbound</li>
        </ul>
    </p>
    <p>
        <h5>Roles</h5>
        <ul>
            <li>Tramsportation Partner</li>
            <li>Tramsportation Dispatcher</li>
            <li>Tramsportation Charge Clerk</li>
            <li>Customer Service Representative <i>(Domestic Outbound - Sales)</i></li>
            <li>Materials Planner <i>(Domestic Inbound - Purchasing)</i></li>
        </ul>
    </p>
    <p>
        <h5>Processes/Coverage details</h5>
        <ul>
            <li>Analytics &amp; Reporting</li>
            <li>Event Management</li>
            <li>Import/Export, Dangerous Goods &amp; Compliance</li>
            <li>Document &amp; Output Management</li>
            <li>Integration &amp; Conectivity</li>
        </ul>
    </p>
</div>