@charset "UTF-8";
@font-face {
  font-family: "Ionicons";
  src: url("/content/fonts/ionicons.eot?v=2.0.0");
  src: url("/content/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("/content/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("/content/fonts/ionicons.woff?v=2.0.0") format("woff"), url("/content/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../../../../../../../sass/fonts/ionicons/_ionicons-font.scss */
.ion {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../../../../../../../sass/_divider.scss */
.divider {
  color: #333333;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}
/* line 8, ../../../../../../../sass/_divider.scss */
.divider:before, .divider:after {
  content: "";
  display: inline-block;
}
/* line 18, ../../../../../../../sass/_divider.scss */
.divider.vertical {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 70%;
}
/* line 24, ../../../../../../../sass/_divider.scss */
.divider.vertical:before, .divider.vertical:after {
  border-bottom: 1px solid #333333;
  height: 0.65em;
  vertical-align: top;
  width: 50%;
}
/* line 32, ../../../../../../../sass/_divider.scss */
.divider.vertical:after {
  margin: 0 -55% 0 2%;
}
/* line 36, ../../../../../../../sass/_divider.scss */
.divider.vertical:before {
  margin: 0 2% 0 -55%;
}

/* line 17, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter, .umbiliko.account-enter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  height: auto;
  margin: 2em auto;
  padding-bottom: 4em;
  width: 100%;
  	/*
  		.external-login {
  
  		    button {
  		        width: 2em;
  
  		        &,
  		        &:active,
  		        &.active,
  		        &[disabled],
  		        &:hover,
  		        &:focus,
  		        &:active {
  		            border: 0 solid $transparent;
  		        }
  
  		        &:hover,
  		        &:focus {
  		            color: $enter-hover-color;
  		            background-color: transparent;
  		        }
  		    }
  
  		    ul {
  		        list-style: none;
  		        margin-left: -5px;
  		        padding: 0;
  		        text-align: center;
  		        width: 100%;
  
  		        > li {
  		            display: inline-block;
  		            padding-left: 5px;
  		            padding-right: 5px;
  		        }
  		    }
  
  		    
  		}*/
}
/* line 28, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .btn-link, .umbiliko.account-enter .btn-link {
  border-width: 0;
  padding: 0;
}
/* line 32, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .btn-link:focus, .umbiliko.account-enter .btn-link:focus {
  outline: 0;
}
/* line 37, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon, .umbiliko.account-enter .icon {
  cursor: pointer;
  font-size: 2em;
  /*font-weight: normal;
  padding: 0;
  text-align: center;*/
  width: 2em;
}
/* line 49, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon.facebook:before, .umbiliko.account-enter .icon.facebook:before {
  content: "";
}
/* line 55, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon.google:before, .umbiliko.account-enter .icon.google:before {
  content: "";
}
/* line 61, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon.github:before, .umbiliko.account-enter .icon.github:before {
  content: "";
}
/* line 67, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon.linkedin:before, .umbiliko.account-enter .icon.linkedin:before {
  content: "";
}
/* line 73, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon.microsoft:before, .umbiliko.account-enter .icon.microsoft:before {
  content: "";
}
/* line 79, ../../../../../../../sass/widgets/umbiliko/widgets/account-enter.scss */
.umbiliko .account-enter .icon.twitter:before, .umbiliko.account-enter .icon.twitter:before {
  content: "";
}
