@-webkit-keyframes send-animation {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes send-animation {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
/* line 21, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact {
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  background: url("/content/images/stripes.png");
  padding: 1em;
  margin: 2em auto;
  position: relative;
}

/* line 30, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body {
  background-color: #DCDCDC;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  position: relative;
}
/* line 36, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body form {
  background-color: transparent;
        /*input[type="text"], input[type="email"], textarea {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            box-shadow: none !important;
            color: #2C3E50;

            &.has-error {
                background-color: $state-danger-bg;
                color: $state-danger-text;
                border-color: $state-danger-border;
            }
        }*/
}
/* line 53, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body .send-indicator-container {
  text-align: left;
}
/* line 56, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body .send-indicator-container .send-indicator {
  color: #5bc0de;
  -webkit-animation-name: send-animation;
  animation-name: send-animation;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/* line 63, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body .send-indicator-container .send-indicator.success {
  color: #5cb85c;
}
/* line 67, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body .send-indicator-container .send-indicator.timeout {
  color: #f0ad4e;
}
/* line 71, ../../../../../../../sass/widgets/umbiliko/widgets/contact.scss */
.umbiliko-contact-body .send-indicator-container .send-indicator.error {
  color: #d9534f;
}
