@-webkit-keyframes send-animation {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes send-animation {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
/* line 22, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback, .umbiliko.product-feedback {
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  background: url("/content/images/stripes.png");
  padding: 1em;
  margin: 2em auto;
  position: relative;
}
/* line 31, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body, .umbiliko.product-feedback .widget-body {
  background-color: #DCDCDC;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  position: relative;
}
/* line 37, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body form, .umbiliko.product-feedback .widget-body form {
  background-color: transparent;
  		        /*input[type="text"], input[type="email"], textarea {
  		            -webkit-border-radius: 4px;
  		            -moz-border-radius: 4px;
  		            border-radius: 4px;
  		            box-shadow: none !important;
  		            color: #2C3E50;
  
  		            &.has-error {
  		                background-color: $state-danger-bg;
  		                color: $state-danger-text;
  		                border-color: $state-danger-border;
  		            }
  		        }*/
}
/* line 54, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body .send-indicator-container, .umbiliko.product-feedback .widget-body .send-indicator-container {
  text-align: left;
}
/* line 57, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body .send-indicator-container .send-indicator, .umbiliko.product-feedback .widget-body .send-indicator-container .send-indicator {
  color: #5bc0de;
  -webkit-animation-name: send-animation;
  animation-name: send-animation;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/* line 64, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body .send-indicator-container .send-indicator.success, .umbiliko.product-feedback .widget-body .send-indicator-container .send-indicator.success {
  color: #5cb85c;
}
/* line 68, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body .send-indicator-container .send-indicator.timeout, .umbiliko.product-feedback .widget-body .send-indicator-container .send-indicator.timeout {
  color: #f0ad4e;
}
/* line 72, ../../../../../../../sass/widgets/umbiliko/widgets/product-feedback.scss */
.umbiliko .product-feedback .widget-body .send-indicator-container .send-indicator.error, .umbiliko.product-feedback .widget-body .send-indicator-container .send-indicator.error {
  color: #d9534f;
}
