﻿@using Uos.Web.Views;
@helper editDropdown(Uos.Web.Mvc.ActionSet actions, Dictionary<string, string> commands)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="edit" role="button">@Strings.ChangesMenu <span class="badge" data-bind="text: changeCount"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @if (commands != null && commands.Count > 0)
            {
                foreach (var cmd in commands)
                {
                    <li><a href="@cmd.Key">@cmd.Value</a></li>
                }
                <li class="divider" role="separator"></li>
            }
            @if (actions.CanDownload() || actions.CanUpload())
            {
                <li style="min-width: 200px;">
                    @if (actions.CanDownload())
                    {
                        <a href="@actions.Download.Url" style="display: inline-block">Download</a>
                    }
                    @if (actions.CanUpload())
                    {
                        <iframe frameborder="0" name="upload-accounts" scrolling="no" src="@actions.Upload.Url" style="display: inline-block; height: 0; vertical-align: middle; width: 0;"></iframe>
                    }
                </li>
                <li class="divider" role="separator"></li>
            }
            @if (actions.CanEdit())
            {
                <li><a href="javascript:umbiliko.data.commit()">Save Changes</a></li>
                <li class="divider" role="separator"></li>
                <li class="container-fluid">
                    <button class="btn btn-block btn-danger btn-sm" onclick="umbiliko.data.rollback()" type="button" role="button">Cancel Changes</button>
                </li>
            }
        </ul>
    </li>
}
