@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";
@import "mixins/keyframes";

.spinner {
	background: rgba($gallery, .25);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
}

body {
	&.busy.zoom-out {

		&,
		> {
			zoom: 1;
		}

		@include prefixed(transition-property, zoom);
		@include prefixed(transition-delay, 0s);
	    @include prefixed(transition-duration, 1s);
	    @include prefixed(transition-timing-function, ease-in-out);

		&.busy {

			>:not(.spinner) {
				zoom: .5;

				/*@include prefixed(transform, scale(.5));
				@include prefixed(transform-origin, 0 0);*/

				@include prefixed(transition-property, zoom);
				@include prefixed(transition-delay, 1s);
			    @include prefixed(transition-duration, 5s);
			    @include prefixed(transition-timing-function, ease-in-out);
			}
		}
	}

	&.busy {

		.spinner {

			display: block;
		}
	}
}