﻿@{
    ViewBag.Batch = true;
    ViewBag.PageButtonCount = 5;
    ViewBag.PageSize = 25;
    ViewBag.PageSizes = new[] { 10, 25, 50, 100, 500, 1000 };
    bool batch = ViewBag.Batch;

    var kendoGrid = Html.Kendo().Grid<IdentityModel>()

    .Name("k-grid-identities")

    .Columns(columns =>
    {
        columns.Bound(c => c.FullName).Title(Resources.Common.NameColumn).Sortable(true);
        columns.Bound(c => c.EmailAddress).Title(Resources.Domain.EmailAddressColumn).Width(240).Sortable(true);
        columns.Bound(c => c.EmailConfirmed).Title(Resources.Domain.EmailConfirmedColumn).Width(120).Sortable(true);
        columns.Bound(c => c.PhoneNumber).Title(Resources.Domain.PhoneNumberColumn).Width(240).Sortable(true);
        columns.Bound(c => c.PhoneConfirmed).Title(Resources.Domain.PhoneConfirmedColumn).Width(120).Sortable(true);
        columns.Bound(c => c.PasswordStrength).Title(Resources.Domain.PasswordStrengthColumn).Width(120).Sortable(true);
        columns.Bound(c => c.CreatedOn).Title(Resources.Common.CreatedOnColumn).Width(200).MinScreenWidth(1600).Sortable(true);
        //columns.Command(commands => commands.Custom("manage-identity").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Resources.Common.ManageCmd).Click("function(e) { u.publish('control.browse.manage-clicked', e); }")).Title(" ").Width(96);
    })

    .DataSource(dataSource =>
    {
        var webApi = dataSource.WebApi();

        if (batch)
        {
            webApi.Batch(true);
            webApi.Create(create => create.Url(Url.Json<IdentitiesController>(c => c.BatchCreateIdentities(null, null)).Url));
            webApi.Destroy(destroy => destroy.Url(Url.Json<IdentitiesController>(c => c.BatchDestroyIdentities(null, null)).Url));
            webApi.Update(update => update.Url(Url.Json<IdentitiesController>(c => c.BatchUpdateIdentities(null, null)).Url));
        }
        else
        {
            webApi.Batch(false);
            webApi.Create(create => create.Url(Url.Json<IdentitiesController>(c => c.InlineCreateIdentity(null, null)).Url));
            webApi.Destroy(destroy => destroy.Url(Url.Json<IdentitiesController>(c => c.InlineDestroyIdentity(null, null)).Url));
            webApi.Update(update => update.Url(Url.Json<IdentitiesController>(c => c.InlineUpdateIdentity(null, null)).Url));
        }

        webApi.Read(create => create.Url(Url.Json<IdentitiesController>(c => c.ReadIdentities(null)).Url));

        webApi.Model(model =>
        {
            model.Id(identity => identity.EmailAddress);
            model.Field(identity => identity.Address).Editable(true);
            model.Field(identity => identity.BirthDate).Editable(true);
            model.Field(identity => identity.Country).Editable(true);
            model.Field(identity => identity.CreatedOn).Editable(false);
            model.Field(identity => identity.EmailAddress).Editable(false);
            model.Field(identity => identity.EmailConfirmed).Editable(true);
            model.Field(identity => identity.FirstName).Editable(true);
            model.Field(identity => identity.FullName).Editable(true);
            model.Field(identity => identity.Language).Editable(true);
            model.Field(identity => identity.LastName).Editable(true);
            model.Field(identity => identity.Locality).Editable(true);
            model.Field(identity => identity.PasswordStrength).Editable(true);
            model.Field(identity => identity.PhoneConfirmed).Editable(true);
            model.Field(identity => identity.PhoneNumber).Editable(true);
            model.Field(identity => identity.Region).Editable(true);
            model.Field(identity => identity.Roles).Editable(true);
            model.Field(identity => identity.TwoFactorEnabled).Editable(true);
        });

        int? pageSize = ViewBag.PageSize;

        if (pageSize.HasValue)
        {
            webApi.PageSize(pageSize.Value);
        }

        /*webApi.Events(events =>
        {
            events.Change("u.control.browse.onDataSourceChange");
            events.Push("u.control.browse.onDataSourcePush");
            events.Sync("u.control.browse.onDataSourceSync");
        });*/
    })

    // not using detail template but this is how it would be configured
    // a script tag with the rendered template would be required on the html
    //.ClientDetailTemplateId("identity-detail-template")

    .Editable(editable => editable.Mode(batch ? GridEditMode.InCell : GridEditMode.InLine))

    /*.Events(events =>
    {
        events.Change("u.control.browse.onSelectedChanged");
        events.DetailExpand("u.control.browse.onDetailExpanded");
    })*/

    .Navigatable()

    .Pageable(pageable =>
    {
        int? buttonCount = ViewBag.PageButtonCount;

        if (buttonCount.HasValue)
        {
            pageable.ButtonCount(buttonCount.Value);
        }

        int[] pageSizes = ViewBag.PageSizes;

        if (pageSizes != null)
        {
            pageable.PageSizes(pageSizes);
        }

        pageable.Refresh(true);
    })

    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))

    .Scrollable();
}
@(kendoGrid.Deferred())
