﻿<dl class="dl-horizontal">
    <dt>@Resources.Common.NameField</dt>
    <dd data-bind="text: name"></dd>
    <dt>@Resources.Common.EmailAddressField</dt>
    <dd><span data-bind="text: email"></span> <sup class="label label-default" data-bind="text: label"></sup></dd>
    <dt>@Resources.Domain.EmailConfirmedField</dt>
    <dd data-bind="text: emailOk"></dd>
    <dt>@Resources.Common.PhoneNumberField</dt>
    <dd data-bind="text: phone"></dd>
    <dt>@Resources.Domain.PhoneConfirmedField</dt>
    <dd data-bind="text: phoneOk"></dd>
    <dt>@Resources.Domain.PasswordStrengthField</dt>
    <dd data-bind="text: password"></dd>
    <dt>@Resources.Domain.LockedoutField</dt>
    <dd data-bind="text: locked"></dd>
    <dt>@Resources.Domain.TwoFactorField</dt>
    <dd data-bind="text: twoFactor"></dd>
    <dt>@Resources.Common.CreatedOnField</dt>
    <dd data-bind="text: since"></dd>
    <dt>@Resources.Domain.RolesField</dt>
    <dd data-bind="text: roles"></dd>
    <dt>@Resources.Domain.AddressField</dt>
    <dd data-bind="text: address"></dd>
    <dt>@Resources.Domain.LocalityField</dt>
    <dd data-bind="text: locality"></dd>
    <dt>@Resources.Domain.RegionField</dt>
    <dd data-bind="text: region"></dd>
    <dt>@Resources.Domain.PostalCodeField</dt>
    <dd data-bind="text: postal"></dd>
    <dt>@Resources.Domain.CountryField</dt>
    <dd data-bind="text: country"></dd>
</dl>
<div data-bind="html: remarks">
</div>

