﻿@model IdentityEntryModel
@{
    var entry = ViewBag.Entry == true;
    var id = entry ? "identity-entry-form" : "identity-edit-form";
}
<form action="javascript:void(0)" id="@id">
    <div class="row">
        <div class="col-sm-4">
            @if (entry)
            {
                <div class="form-group has-feedback" data-bind="css: { has-error: status.email.error, has-success: status.email.success, has-warning: status.email.warning }">
                    @Html.Label(id + "-email", Resources.Domain.EmailAddressesField, new { @class = "control-label" })
                    @(Html.Kendo().AutoCompleteFor(e => e.EmailAddress)
                        .DataSource(source =>
                        {
                            source.Read(read => read.Url(Url.Json<IdentitiesController>(c => c.GetIdentities(null, null, null)).Url).Data("u.control.entry.form.filter.email").Type(HttpVerbs.Post));
                            source.ServerFiltering(true);
                        })
                        .DataTextField("EmailAddress")
                        .Filter(FilterType.StartsWith)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control" },
                            { "data-bind", "value: data.email" },
                            { "data-maxtextlength", Uos.Domain.Lengths.EmailAddress},
                            { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                            { "data-value-update", "keyup" },
                            { "maxlength", Uos.Domain.Lengths.EmailAddress },
                            { "aria-describedby", id + "-email-status" }
                        })
                        .MinLength(1)
                        .Name(id + "-email")
                        //.Template("<span>#: CompanyCode #</span><span class='list-desc'>#: CompanyName #</span>")
                        .Deferred())
                    <span id="@(id)-email-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.email.pristine, glyphicon-remove: status.email.error, glyphicon-ok: status.email.success, glyphicon-warning-sign: status.email.warning }" aria-hidden="true"></span>
                    <span class="tooltip" data-bind="text: messages.email"></span>
                </div>
                <span data-for="@(id)-email" class="k-invalid-msg"></span>
            }
            else
            {
                <dl class="form-group">
                    <dt>@Resources.Common.EmailAddressField</dt>
                    <dd class="form-control" data-bind="text: data.email"></dd>
                </dl>
            }
        </div>
        <div class="col-sm-8">
            <div class="form-group form-group-sm">
                @Html.Label(id + "-name", Resources.Common.NameField)
                @(Html.Kendo().TextBoxFor(e => e.FullName)
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "class", "form-control" },
                    { "data-bind", "value: data.name" },
                    { "data-value-update", "keyup" },
                    { "maxlength", Uos.Domain.Lengths.Name }
                })
                .Name(id + "-name")
                .Deferred())
            </div>
            <span data-for="@(id)-name" class="k-invalid-msg"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group has-feedback" data-bind="css: { has-error: status.code.error, has-success: status.code.success, has-warning: status.code.warning }">
                @Html.Label(id + "-phone", Resources.Domain.PhoneNumberField, new { @class = "control-label" })
                @(Html.Kendo().AutoCompleteFor(e => e.PhoneNumber)
                        .DataSource(source =>
                        {
                            source.Read(read => read.Url(Url.Json<IdentitiesController>(c => c.GetIdentities(null, null, null)).Url).Data("u.control.entry.form.filter.phone").Type(HttpVerbs.Post));
                            source.ServerFiltering(true);
                        })
                        .DataTextField("PhoneNumber")
                        .Filter(FilterType.StartsWith)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control uppercase" },
                            { "data-bind", "value: data.phone" },
                            { "data-maxtextlength", Uos.Domain.Lengths.PhoneNumber },
                            { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                            { "data-value-update", "keyup" },
                            { "maxlength", Uos.Domain.Lengths.PhoneNumber },
                            { "aria-describedby", id + "-phone-status" }
                        })
                        .MinLength(1)
                        .Name(id + "-phone")
                        //.Template("<span>#: CompanyCode #</span><span class='list-desc'>#: CompanyName #</span>")
                        .Deferred())
                <span id="@(id)-phone-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.phone.pristine, glyphicon-remove: status.phone.error, glyphicon-ok: status.phone.success, glyphicon-warning-sign: status.phone.warning }" aria-hidden="true"></span>
                <span class="tooltip" data-bind="text: messages.phone"></span>
            </div>
            <span data-for="@(id)-phone" class="k-invalid-msg"></span>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-language", Resources.Domain.LanguageField)
                @(Html.Kendo().DropDownListFor(e => e.Language)
                .DataTextField("text")
                .DataValueField("value")
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "data-bind", "value: data.language" }
                })
                .Name(id + "-language")
                .OptionLabel(Resources.Common.SelectOne)
                //.Template("<strong>#: value #</strong><i class=\"list-desc\">#: text #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-country", Resources.Domain.CountryField)
                @(Html.Kendo().AutoCompleteFor(e => e.Country)
                .DataTextField("value")
                //.DataValueField("value")
                .Filter(FilterType.StartsWith)
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "class", "form-control uppercase" },
                    { "data-bind", "value: data.country" },
                    { "maxlength", Uos.Domain.Lengths.Country }
                })
                .Name(id + "-country")
                .MinLength(0)
                .Placeholder(Resources.Common.TypeOne)
                .Template("<strong>#: value #</strong><i class=\"list-desc\">#: text #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-birth", Resources.Domain.BirthDateField)
                @(Html.Kendo().DatePickerFor(e => e.BirthDate)
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "class", "form-control" },
                    { "data-bind", "value: data.birth" },
                    { "data-value-update", "keyup" }
                })
                .Name(id + "-birth")
                .Deferred())
            </div>
        </div>
    </div>
    @if (entry)
    {
        <div class="row">
            <div class="well">
                @*<p>@(new HtmlString(Resources.Domain.CompanyEntryManagerAction))</p>*@
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            @Html.Label(id + "-address", Resources.Domain.AddressField)
                            <div class="form-control content-editable" contenteditable="true" data-bind="html: data.address" id="@(id)-address">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            @Html.Label(id + "-locality", Resources.Domain.LocalityField)
                            @(Html.Kendo().TextBoxFor(e => e.Address)
                                .HtmlAttributes(new Dictionary<string, object>
                                {
                                    { "class", "form-control" },
                                    { "data-bind", "value: data.locality" },
                                    { "data-value-update", "keyup" },
                                    { "maxlength", Uos.Domain.Lengths.Name }
                                })
                                .Name(id + "-locality")
                                .Deferred())
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            @Html.Label(id + "-region", Resources.Domain.RegionField)
                            @(Html.Kendo().TextBoxFor(e => e.Address)
                                .HtmlAttributes(new Dictionary<string, object>
                                {
                                    { "class", "form-control" },
                                    { "data-bind", "value: data.region" },
                                    { "data-value-update", "keyup" },
                                    { "maxlength", Uos.Domain.Lengths.Name }
                                })
                                .Name(id + "-region")
                                .Deferred())
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-md-offset-8">
                        <div class="form-group">
                            @Html.Label(id + "-postal", Resources.Domain.PostalCodeField)
                            @(Html.Kendo().TextBoxFor(e => e.PostalCode)
                                .HtmlAttributes(new Dictionary<string, object>
                                {
                                    { "class", "form-control" },
                                    { "data-bind", "value: data.postal" },
                                    { "data-value-update", "keyup" },
                                    { "maxlength", Uos.Domain.Lengths.Name }
                                })
                                .Name(id + "-postal")
                                .Deferred())
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(id + "-remarks", Resources.Domain.RemarksField)
            <div class="form-control content-editable" contenteditable="true" data-bind="html: data.remarks" id="@(id)-remarks">
            </div>
        </div>
    }
</form>



