﻿@{
    var entry = ViewBag.Entry == true;
    var id = entry ? "identity-entry-roles" : "identity-edit-roles";
}
<div class="well" id="@id">
    <div class="row">
        <div class="col-xs-3">
            <h4>@Resources.Domain.IdentityRolesTitle</h4>
        </div>
        <div class="col-xs-9">
            <sup data-bind="text: value"></sup>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-list">
            <li class="col-sm-6 col-md-4 col-lg-12">
                <label class="nav-header">@Feature(Uos.Domain.Roles.Super, Resources.Domain.Application) <span class="badge" data-bind="text: counts.@Uos.Domain.Roles.Super"></span> <sup class="tree-toggle">[+]</sup></label>
                <ul class="nav nav-list tree">
                    <li>@Feature(Uos.Domain.Roles.Administrator, Resources.Domain.Administrator)</li>
                    <li>@Feature(Uos.Domain.Roles.Debuger, Resources.Domain.Debuger)</li>
                    <li>@Feature(Uos.Domain.Roles.Designer, Resources.Domain.Designer)</li>
                    <li>@Feature(Uos.Domain.Roles.Developer, Resources.Domain.Developer)</li>
                    <li>@Feature(Uos.Domain.Roles.Tester, Resources.Domain.Tester)</li>
                    <li>@Feature(Uos.Domain.Roles.Translator, Resources.Domain.Translator)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
@helper Feature(string value, string text)
{
var v = value.Replace('-', '_');
    <input data-bind="checked: values['@value']" type="checkbox" value="@value" /> @text
}
