﻿@{
    ViewBag.Title = Resources.Domain.IdentityTitle;

    RequireJsOptions.Add("ApplicationRoles", Resources.Domain.ResourceManager.ToDictionary<Uos.Domain.Roles>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("Countries", Resources.Countries.ResourceManager.ToDictionary<Uos.Domain.Countries>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("Languages", Resources.Languages.ResourceManager.ToDictionary<Uos.Domain.Languages>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("PasswordStrengths", Resources.Primitives.ResourceManager.ToDictionary<Uos.Cognito.PasswordStrengths>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("Primitives",  new Dictionary<object, string>
    {
        { true, Resources.Primitives.Yes },
        { false, Resources.Primitives.No }
    }, RequireJsOptionsScope.Page);

    ViewBag.RequireBundles = new Dictionary<string, Dictionary<string, string>>
    {
        { "/js/domain/identity/controller", new Dictionary<string, string>
            {
                { "uos.domain.identity.controller", "Controllers/Domain/Company/Index" }
            }
        },
        { "/js/domain/identity", new Dictionary<string, string>
            {

                { "uos.domain.identity.browse", "/Scripts/Components/Domain/identity-browse" },
                { "uos.domain.identity.control", "/Scripts/Components/Domain/identity-control" },
                { "uos.domain.identity.detail", "/Scripts/Components/Domain/identity-detail" },
                { "uos.domain.identity.edit", "/Scripts/Components/Domain/identity-edit" },
                { "uos.domain.identity.entry", "/Scripts/Components/Domain/identity-entry" },
                { "uos.domain.identity.features", "/Scripts/Components/Domain/identity-features" },
                { "uos.domain.identity.filter", "/Scripts/Components/Domain/identity-filter" },
                { "uos.domain.identity.form", "/Scripts/Components/Domain/identity-form" },
                { "uos.domain.identity.review", "/Scripts/Components/Domain/identity-review" }
            }
        }
    };
}
@*<div class="loading loading-truck control-placeholder">
        <span>Please Wait! We are loading this truck...</span>
    </div>*@
@Html.Partial("_ControlPartial")
@section scripts
{
    <script type="text/javascript">
        require(['jquery', 'kendo', 'uos.bootstrap', 'uos.domain.identity.controller', 'uos.data.store', 'bootstrap', 'kendo.aspnetmvc.min', 'kendo.data.contenteditable'], function ($, kendo, U, Controller, Store) {

            var controller = new Controller();

            define('uos.controler', controller);
            U.controller = controller;

            define('uos.control', controller.control);
            U.control = controller.control;

            // set defaults
            (function (data) {
                data.set("country", "@Countries.USA");
                data.set("language", "@Languages.English");
            })(controller.control.entry.form.model.data);
            
            @Html.Kendo().DeferredScripts(false);

            controller.init();
            
        });
    </script>
}
