/* line 9, ../../../../../sass/widgets/spinner.scss */
.spinner {
  background: rgba(238, 238, 238, 0.25);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}

/* line 21, ../../../../../sass/widgets/spinner.scss */
body.busy.zoom-out {
  -webkit-transition-property: zoom;
  transition-property: zoom;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 23, ../../../../../sass/widgets/spinner.scss */
body.busy.zoom-out,
body.busy.zoom-out > {
  zoom: 1;
}
/* line 35, ../../../../../sass/widgets/spinner.scss */
body.busy.zoom-out.busy > :not(.spinner) {
  zoom: .5;
  /*@include prefixed(transform, scale(.5));
  @include prefixed(transform-origin, 0 0);*/
  -webkit-transition-property: zoom;
  transition-property: zoom;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 51, ../../../../../sass/widgets/spinner.scss */
body.busy .spinner {
  display: block;
}
