﻿@{
    ViewBag.Batch = true;
    ViewBag.PageButtonCount = 5;
    ViewBag.PageSize = 25;
    ViewBag.PageSizes = new[] { 10, 25, 50, 100, 500, 1000 };
    bool batch = ViewBag.Batch;

    var kendoGrid = Html.Kendo().Grid<CompanyEntity>()

    .Name("k-grid-companies")

    .Columns(columns =>
    {
        columns.Bound(c => c.CompanyCode).Title(Resources.Domain.CompanyCodeColumn).Width(120).Sortable(true);
        columns.Bound(c => c.CompanyName).Title(Resources.Domain.CompanyNameColumn).Sortable(true);
        columns.Bound(c => c.CompanyType).Title(Resources.Domain.CompanyTypeColumn).Width(200).EditorTemplateName("CompanyTypes").ClientTemplate("#=CompanyTypes(arguments[0].CompanyType)#").MinScreenWidth(600);
        columns.Bound(c => c.CompanySize).Title(Resources.Domain.CompanySizeColumn).Width(200).EditorTemplateName("CompanySizes").ClientTemplate("#=CompanySizes(arguments[0].CompanySize)#").MinScreenWidth(800);
        columns.Bound(c => c.Industry).Title(Resources.Domain.IndustryColumn).Width(200).EditorTemplateName("Industries").ClientTemplate("#=Industries(arguments[0].Industry)#").MinScreenWidth(1000).Sortable(true);
        columns.Bound(c => c.Country).Title(Resources.Domain.CountryColumn).Width(200).EditorTemplateName("Countries").ClientTemplate("#=Countries(arguments[0].Country)#").MinScreenWidth(1200).Sortable(true);
        columns.Bound(c => c.Currency).Title(Resources.Domain.CurrencyColumn).Width(200).EditorTemplateName("Currencies").ClientTemplate("#=Currencies(arguments[0].Currency)#").MinScreenWidth(1400).Sortable(true);
        columns.Bound(c => c.MetricSystem).Title(Resources.Domain.MetricSystemColumn).Width(200).EditorTemplateName("MetricSystems").ClientTemplate("#=MetricSystems(arguments[0].MetricSystem)#").MinScreenWidth(1600).Sortable(true);
        //columns.Command(commands => commands.Custom("manage-company").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Resources.Common.ManageCmd).Click("function(e) { u.publish('control.browse.manage-clicked', e); }")).Title(" ").Width(96);
    })

    .DataSource(dataSource =>
    {
        var webApi = dataSource.WebApi();

        if (batch)
        {
            webApi.Batch(true);
            webApi.Create(create => create.Url(Url.Json<CompaniesController>(c => c.BatchCreateCompanies(null, null)).Url));
            webApi.Destroy(destroy => destroy.Url(Url.Json<CompaniesController>(c => c.BatchDestroyCompanies(null, null)).Url));
            webApi.Update(update => update.Url(Url.Json<CompaniesController>(c => c.BatchUpdateCompanies(null, null)).Url));
        }
        else
        {
            webApi.Batch(false);
            webApi.Create(create => create.Url(Url.Json<CompaniesController>(c => c.InlineCreateCompany(null, null)).Url));
            webApi.Destroy(destroy => destroy.Url(Url.Json<CompaniesController>(c => c.InlineDestroyCompany(null, null)).Url));
            webApi.Update(update => update.Url(Url.Json<CompaniesController>(c => c.InlineUpdateCompany(null, null)).Url));
        }

        webApi.Read(create => create.Url(Url.Json<CompaniesController>(c => c.ReadCompanies(null)).Url));

        webApi.Model(model =>
        {
            model.Id(company => company.CompanyId);
            model.Field(company => company.CompanyCode).Editable(false);
            model.Field(company => company.CompanyName).Editable(true);
            model.Field(company => company.CompanySize).Editable(true);
            model.Field(company => company.CompanyType).Editable(true);
            model.Field(company => company.Industry).Editable(true);
            model.Field(company => company.Country).Editable(true);
            model.Field(company => company.Currency).Editable(true);
            model.Field(company => company.Features).Editable(true);
            model.Field(company => company.MetricSystem).Editable(true);
            model.Field(company => company.Remarks).Editable(true);
        });

        int? pageSize = ViewBag.PageSize;

        if (pageSize.HasValue)
        {
            webApi.PageSize(pageSize.Value);
        }

        /*webApi.Events(events =>
        {
            events.Change("u.control.browse.onDataSourceChange");
            events.Push("u.control.browse.onDataSourcePush");
            events.Sync("u.control.browse.onDataSourceSync");
        });*/
    })

    // not using detail template but this is how it would be configured
    // a script tag with the rendered template would be required on the html
    //.ClientDetailTemplateId("company-detail-template")

    .Editable(editable => editable.Mode(batch ? GridEditMode.InCell : GridEditMode.InLine))

    /*.Events(events =>
    {
        events.Change("u.control.browse.onSelectedChanged");
        events.DetailExpand("u.control.browse.onDetailExpanded");
    })*/

    .Navigatable()

    .Pageable(pageable =>
    {
        int? buttonCount = ViewBag.PageButtonCount;

        if (buttonCount.HasValue)
        {
            pageable.ButtonCount(buttonCount.Value);
        }

        int[] pageSizes = ViewBag.PageSizes;

        if (pageSizes != null)
        {
            pageable.PageSizes(pageSizes);
        }

        pageable.Refresh(true);
    })

    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))

    .Scrollable();
}
@(kendoGrid.Deferred())
