﻿@Navbar.Control(Html, Resources.Domain.CompanyTitle, ControlSections.Batch, ControlTools.Filter | ControlTools.History)
<div class="body-content tab-content" id="control-panel" role="tabpanel">
    <div class="container-fluid tab-pane fade" id="browse" role="tab">
        @Html.Partial("_BrowsePartial")
    </div>
    <div class="container tab-pane fade" id="detail" role="tab">
        @Html.Partial("_DetailPartial")
    </div>
    <div class="container-fluid tab-pane fade" id="edit" role="tab">
        @Html.Partial("_EditPartial")
    </div>
    <div class="container-fluid tab-pane fade" id="entry" role="tab">
        @Html.Partial("_EntryPartial")
    </div>
    <div class="container tab-pane fade" id="review" role="tab">
        @Html.Partial("_ReviewPartial")
    </div>
    @Modal.Filter(Html)
    @Modal.History(Html, "Recently viewed or edited companies.")
</div>
