﻿<dl class="dl-horizontal">
    <dt>@Resources.Domain.CompanyCodeField</dt>
    <dd><span data-bind="text: code"></span> <sup class="label label-default" data-bind="text: label"></sup></dd>
    <dt>@Resources.Domain.CompanyNameField</dt>
    <dd data-bind="text: name"></dd>
    <dt>@Resources.Domain.CompanySizeField</dt>
    <dd data-bind="text: size"></dd>
    <dt>@Resources.Domain.CompanyTypeField</dt>
    <dd data-bind="text: type"></dd>
    <dt>@Resources.Domain.IndustryField</dt>
    <dd data-bind="text: industry"></dd>
    <dt>@Resources.Domain.CountryField</dt>
    <dd data-bind="text: country"></dd>
    <dt>@Resources.Domain.CurrencyField</dt>
    <dd data-bind="text: currency"></dd>
    <dt>@Resources.Domain.MetricSystemField</dt>
    <dd data-bind="text: metric"></dd>
    <dt>@Resources.Domain.FeaturesColumn</dt>
    <dd data-bind="text: features"></dd>
</dl>
<div data-bind="html: remarks">
</div>

