﻿@{
    var entry = ViewBag.Entry == true;
    var id = entry ? "company-entry-features" : "company-edit-features";
}
<div class="well" id="@id">
    <div class="row">
        <div class="col-xs-3">
            <h4>@Resources.Domain.CompanyFeaturesTitle</h4>
        </div>
        <div class="col-xs-9">
            <sup data-bind="text: value"></sup>
        </div>
    </div>
    <ul class="nav nav-sm nav-tabs row" role="tablist">
        <li role="presentation"><a data-toggle="tab" href="#@(id)-financial">@Resources.Financial.FinancialNav <span class="badge" data-bind="text: counts.financial"></span></a></li>
        <li role="presentation"><a data-toggle="tab" href="#@(id)-logistics">@Resources.Logistics.LogisticsNav <span class="badge" data-bind="text: counts.logistics"></span></a></li>
        <li role="presentation"><a data-toggle="tab" href="#@(id)-personnel">@Resources.Personnel.PersonnelNav <span class="badge" data-bind="text: counts.personnel"></span></a></li>
    </ul>
    <div class="tab-content row" role="tabpanel">
        <div class="tab-pane col-xs-12 fade" id="@(id)-financial" role="tab">
            <ul class="nav nav-list row">
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Financial.Features.Accounting, Resources.Financial.Accounting) <span class="badge" data-bind="text: counts.@Uos.Financial.Features.Accounting"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Accounting.Features.Asset, Resources.Financial.Asset)</li>
                        <li>@Feature(Uos.Accounting.Features.Consolidation, Resources.Financial.Consolidation)</li>
                        <li>@Feature(Uos.Accounting.Features.General, Resources.Financial.General)</li>
                        <li>@Feature(Uos.Accounting.Features.Payable, Resources.Financial.Payable)</li>
                        <li>@Feature(Uos.Accounting.Features.Receivable, Resources.Financial.Receivable)</li>
                        <li>@Feature(Uos.Accounting.Features.Special, Resources.Financial.Special)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Financial.Features.Controlling, Resources.Financial.Controlling) <span class="badge" data-bind="text: counts.@Uos.Financial.Features.Controlling"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Controlling.Features.Activity, Resources.Financial.Activity)</li>
                        <li>@Feature(Uos.Controlling.Features.Analysis, Resources.Financial.Analysis)</li>
                        <li>@Feature(Uos.Controlling.Features.Overhead, Resources.Financial.Overhead)</li>
                        <li>@Feature(Uos.Controlling.Features.Product, Resources.Financial.Product)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Financial.Features.Enterprise, Resources.Financial.Enterprise) <span class="badge" data-bind="text: counts.@Uos.Financial.Features.Enterprise"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Enterprise.Features.Executive, Resources.Financial.Executive)</li>
                        <li>@Feature(Uos.Enterprise.Features.Management, Resources.Financial.Management)</li>
                        <li>@Feature(Uos.Enterprise.Features.Profit, Resources.Financial.Profit)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Financial.Features.Investment, Resources.Financial.Investment) <span class="badge" data-bind="text: counts.@Uos.Financial.Features.Investment"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Investment.Features.Capital, Resources.Financial.Capital)</li>
                        <li>@Feature(Uos.Investment.Features.Fixed, Resources.Financial.Fixed)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Financial.Features.Treasury, Resources.Financial.Treasury) <span class="badge" data-bind="text: counts.@Uos.Financial.Features.Treasury"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Treasury.Features.Cash, Resources.Financial.Cash)</li>
                        <li>@Feature(Uos.Treasury.Features.Founds, Resources.Financial.Founds)</li>
                        <li>@Feature(Uos.Treasury.Features.Management, Resources.Financial.TreasuryMan)</li>
                        <li>@Feature(Uos.Treasury.Features.Risk, Resources.Financial.Risk)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tab-pane col-xs-12 fade" id="@(id)-logistics" role="tab">
            <ul class="nav nav-list row">
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.General, Resources.Logistics.General) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.General"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Logistics.Features.Change, Resources.Logistics.Change)</li>
                        <li>@Feature(Uos.Logistics.Features.Forecast, Resources.Logistics.Forecast)</li>
                        <li>@Feature(Uos.Logistics.Features.Information, Resources.Logistics.Information)</li>
                        <li>@Feature(Uos.Logistics.Features.Master, Resources.Logistics.Master)</li>
                        <li>@Feature(Uos.Logistics.Features.Safety, Resources.Logistics.Safety)</li>
                        <li>@Feature(Uos.Logistics.Features.Variant, Resources.Logistics.Variant)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Distribution, Resources.Logistics.Distribution) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Distribution"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Distribution.Features.Billing, Resources.Distribution.Billing)</li>
                        <li>@Feature(Uos.Distribution.Features.Foreign, Resources.Distribution.Foreign)</li>
                        <li>@Feature(Uos.Distribution.Features.General, Resources.Distribution.General)</li>
                        <li>@Feature(Uos.Distribution.Features.Information, Resources.Distribution.Information)</li>
                        <li>@Feature(Uos.Distribution.Features.Interchange, Resources.Distribution.Interchange)</li>
                        <li>@Feature(Uos.Distribution.Features.Master, Resources.Distribution.Master)</li>
                        <li>@Feature(Uos.Distribution.Features.Sales, Resources.Distribution.Sales)</li>
                        <li>@Feature(Uos.Distribution.Features.Shipping, Resources.Distribution.Shipping)</li>
                        <li>@Feature(Uos.Distribution.Features.Support, Resources.Distribution.Support)</li>
                        <li>@Feature(Uos.Distribution.Features.Transportation, Resources.Distribution.Transportation)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Maintenance, Resources.Logistics.Maintenance) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Maintenance"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Maintenance.Features.Equipment, Resources.Maintenance.Equipment)</li>
                        <li>@Feature(Uos.Maintenance.Features.Order, Resources.Maintenance.Order)</li>
                        <li>@Feature(Uos.Maintenance.Features.Information, Resources.Maintenance.Information)</li>
                        <li>@Feature(Uos.Maintenance.Features.Preventive, Resources.Maintenance.Preventive)</li>
                        <li>@Feature(Uos.Maintenance.Features.Projects, Resources.Maintenance.Projects)</li>
                        <li>@Feature(Uos.Maintenance.Features.Service, Resources.Maintenance.Service)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Materials, Resources.Logistics.Materials) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Materials"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Materials.Features.Information, Resources.Materials.Information)</li>
                        <li>@Feature(Uos.Materials.Features.Interchange, Resources.Materials.Interchange)</li>
                        <li>@Feature(Uos.Materials.Features.Inventory, Resources.Materials.Inventory)</li>
                        <li>@Feature(Uos.Materials.Features.Invoice, Resources.Materials.Invoice)</li>
                        <li>@Feature(Uos.Materials.Features.Planning, Resources.Materials.Planning)</li>
                        <li>@Feature(Uos.Materials.Features.Purchasing, Resources.Materials.Purchasing)</li>
                        <li>@Feature(Uos.Materials.Features.Warehouse, Resources.Materials.Warehouse)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Products, Resources.Logistics.Products) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Products"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Products.Features.Assembly, Resources.Products.Assembly)</li>
                        <li>@Feature(Uos.Products.Features.Basic, Resources.Products.Basic)</li>
                        <li>@Feature(Uos.Products.Features.Capacity, Resources.Products.Capacity)</li>
                        <li>@Feature(Uos.Products.Features.Information, Resources.Products.Information)</li>
                        <li>@Feature(Uos.Products.Features.Kanban, Resources.Products.Kanban)</li>
                        <li>@Feature(Uos.Products.Features.Manufacturing, Resources.Products.Manufacturing)</li>
                        <li>@Feature(Uos.Products.Features.Master, Resources.Products.Master)</li>
                        <li>@Feature(Uos.Products.Features.Operations, Resources.Products.Operations)</li>
                        <li>@Feature(Uos.Products.Features.Orders, Resources.Products.Orders)</li>
                        <li>@Feature(Uos.Products.Features.Plant, Resources.Products.Plant)</li>
                        <li>@Feature(Uos.Products.Features.Production, Resources.Products.Production)</li>
                        <li>@Feature(Uos.Products.Features.Requirement, Resources.Products.Requirement)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Projects, Resources.Logistics.Project) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Projects"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Projects.Features.Basic, Resources.Projects.Basic)</li>
                        <li>@Feature(Uos.Projects.Features.Budgeting, Resources.Projects.Budgeting)</li>
                        <li>@Feature(Uos.Projects.Features.Execution, Resources.Projects.Execution)</li>
                        <li>@Feature(Uos.Projects.Features.Information, Resources.Projects.Information)</li>
                        <li>@Feature(Uos.Projects.Features.Planning, Resources.Projects.Planning)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Quality, Resources.Logistics.Quality) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Quality"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Quality.Features.Certificates, Resources.Quality.Certificates)</li>
                        <li>@Feature(Uos.Quality.Features.Control, Resources.Quality.Control)</li>
                        <li>@Feature(Uos.Quality.Features.Inspection, Resources.Quality.Inspection)</li>
                        <li>@Feature(Uos.Quality.Features.Notifications, Resources.Quality.Notifications)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Logistics.Features.Transportation, Resources.Logistics.Transportation) <span class="badge" data-bind="text: counts.@Uos.Logistics.Features.Transportation"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Transportation.Features.Order, Resources.Transportation.Order)</li>
                        <li>@Feature(Uos.Transportation.Features.Execution, Resources.Transportation.Execution)</li>
                        <li>@Feature(Uos.Transportation.Features.Planning, Resources.Transportation.Planning)</li>
                        <li>@Feature(Uos.Transportation.Features.Settlement, Resources.Transportation.Settlement)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tab-pane col-xs-12 fade" id="@(id)-personnel" role="tab">
            <ul class="nav nav-list row">
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Personnel.Features.Administration, Resources.Personnel.Administration) <span class="badge" data-bind="text: counts.@Uos.Personnel.Features.Administration"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Personnel.Administration.Features.Applicant, Resources.Personnel.Applicant)</li>
                        <li>@Feature(Uos.Personnel.Administration.Features.Benefits, Resources.Personnel.Benefits)</li>
                        <li>@Feature(Uos.Personnel.Administration.Features.Employee, Resources.Personnel.Employee)</li>
                        <li>@Feature(Uos.Personnel.Administration.Features.Incentive, Resources.Personnel.Incentive)</li>
                        <li>@Feature(Uos.Personnel.Administration.Features.Payroll, Resources.Personnel.Payroll)</li>
                        <li>@Feature(Uos.Personnel.Administration.Features.Time, Resources.Personnel.Time)</li>
                        <li>@Feature(Uos.Personnel.Administration.Features.Travel, Resources.Personnel.Travel)</li>
                    </ul>
                </li>
                <li class="col-sm-6 col-md-4 col-lg-12">
                    <label class="nav-header">@Feature(Uos.Personnel.Features.Development, Resources.Personnel.Development) <span class="badge" data-bind="text: counts.@Uos.Personnel.Features.Development"></span> <sup class="tree-toggle">[+]</sup></label>
                    <ul class="nav nav-list tree">
                        <li>@Feature(Uos.Personnel.Development.Features.Organizational, Resources.Personnel.Organizational)</li>
                        <li>@Feature(Uos.Personnel.Development.Features.Room, Resources.Personnel.Room)</li>
                        <li>@Feature(Uos.Personnel.Development.Features.Seminar, Resources.Personnel.Seminar)</li>
                        <li>@Feature(Uos.Personnel.Development.Features.Workforce, Resources.Personnel.Workforce)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
@helper Feature(string value, string text)
{
var v = value.Replace('-', '_');
    <input data-bind="checked: values['@value']" type="checkbox" value="@value" /> @text
}
