﻿@model CompanyEntryModel
@{
    var entry = ViewBag.Entry == true;
    var id = entry ? "company-entry-form" : "company-edit-form";
}
<form action="javascript:void(0)" id="@id">
    <div class="row">
        <div class="col-sm-4">
            @if (entry)
            {
                <div class="form-group form-group-sm has-feedback" data-bind="css: { has-error: status.code.error, has-success: status.code.success, has-warning: status.code.warning }">
                    @Html.Label(id + "-code", Resources.Domain.CompanyCodeField, new { @class = "control-label" })
                    @(Html.Kendo().AutoCompleteFor(e => e.CompanyCode)
                        .DataSource(source =>
                        {
                            //.Type("aspnetmvc-ajax")
                            source.Read(read => read.Url(Url.Json<CompaniesController>(c => c.GetCompanies(null, null, null)).Url).Data("u.control.entry.form.filter.code").Type(HttpVerbs.Post));
                            source.ServerFiltering(true);
                        })
                        .DataTextField("CompanyCode")
                        .Filter(FilterType.StartsWith)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control uppercase" },
                            { "data-bind", "value: data.code" },
                            { "data-maxtextlength", Uos.Domain.Lengths.CompanyCode},
                            { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                            { "data-value-update", "keyup" },
                            //{ "maxlength", Uos.Domain.Lengths.CompanyCode },
                            { "aria-describedby", id + "-code-status" }
                        })
                        .MinLength(1)
                        .Name(id + "-code")
                        .Template("<span>#: CompanyCode #</span><span class='list-desc'>#: CompanyName #</span>")
                        .Deferred())
                    <span id="@(id)-code-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.code.pristine, glyphicon-remove: status.code.error, glyphicon-ok: status.code.success, glyphicon-warning-sign: status.code.warning }" aria-hidden="true"></span>
                    <span class="tooltip" data-bind="text: messages.code"></span>
                </div>
                <span data-for="@(id)-code" class="k-invalid-msg"></span>
            }
            else
            {
                <dl class="form-group">
                    <dt>@Resources.Domain.CompanyCodeField</dt>
                    <dd class="form-control" data-bind="text: data.code"></dd>
                </dl>
            }
        </div>
        <div class="col-sm-8">
            <div class="form-group form-group-sm has-feedback" data-bind="css: { has-error: status.name.error, has-success: status.name.success, has-warning: status.name.warning }">
                @Html.Label(id + "-name", Resources.Domain.CompanyNameField, new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "class", "form-control" },
                    { "data-bind", "value: data.name" },
                    { "data-value-update", "keyup" },
                    { "maxlength", Uos.Domain.Lengths.CompanyName },
                    { "aria-describedby", id + "-name-status" }
                })
                .Name(id + "-name")
                .Deferred())
                <span id="@(id)-name-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.name.pristine, glyphicon-remove: status.name.error, glyphicon-ok: status.name.success, glyphicon-warning-sign: status.name.warning }" aria-hidden="true"></span>
                <span class="tooltip" data-bind="text: messages.name"></span>
            </div>
            <span data-for="@(id)-name" class="k-invalid-msg"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-size", Resources.Domain.CompanySizeField)
                @(Html.Kendo().DropDownListFor(e => e.CompanySize)
                .DataTextField("text")
                .DataValueField("value")
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "data-bind", "value: data.size" }
                })
                .Name(id + "-size")
                .OptionLabel(Resources.Common.SelectOne)
                //.Template("<strong>#: value #</strong><i class=\"list-desc\">#: text #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-type", Resources.Domain.CompanyTypeField)
                @(Html.Kendo().DropDownListFor(e => e.CompanyType)
                .DataTextField("text")
                .DataValueField("value")
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "data-bind", "value: data.type" }
                })
                .Name(id + "-type")
                .OptionLabel(Resources.Common.SelectOne)
                //.Template("<strong>#: value #</strong><i class=\"list-desc\">#: text #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-industry", Resources.Domain.IndustryField)
                @(Html.Kendo().DropDownListFor(e => e.Industry)
                .DataTextField("text")
                .DataValueField("value")
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "data-bind", "value: data.industry" }
                })
                .Name(id + "-industry")
                .OptionLabel(Resources.Common.SelectOne)
                //.Template("#: text # <i>#: value #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-country", Resources.Domain.CountryField)
                @(Html.Kendo().AutoCompleteFor(e => e.Country)
                .DataTextField("value")
                //.DataValueField("value")
                .Filter(FilterType.StartsWith)
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "class", "form-control uppercase" },
                    { "data-bind", "value: data.country" },
                    { "maxlength", Uos.Domain.Lengths.Country }
                })
                .Name(id + "-country")
                .MinLength(0)
                .Placeholder(Resources.Common.TypeOne)
                .Template("<strong>#: value #</strong><i class=\"list-desc\">#: text #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-currency", Resources.Domain.CurrencyField)
                @(Html.Kendo().AutoCompleteFor(e => e.Currency)
                .DataTextField("value")
                //.DataValueField("value")
                .Filter(FilterType.StartsWith)
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "class", "form-control uppercase" },
                    { "data-bind", "value: data.currency" },
                    { "data-value-update", "keyup" },
                    { "maxlength", Uos.Domain.Lengths.Currency }
                })
                .Name(id + "-currency")
                .MinLength(0)
                .Placeholder(Resources.Common.TypeOne)
                .Template("<strong>#: value #</strong><i class=\"list-desc\">#: text #</i>")
                .Deferred())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label(id + "-metric", Resources.Domain.MetricSystemField)
                @(Html.Kendo().DropDownListFor(e => e.MetricSystem)
                .DataTextField("text")
                .DataValueField("value")
                .HtmlAttributes(new Dictionary<string, object>
                {
                    { "data-bind", "value: data.locale" }
                })
                .Name(id + "-metric")
                .OptionLabel(Resources.Common.SelectOne)
                //.Template("<span>#: text #</span> <small class=\"list-desc\">#: value #</small>")
                .Deferred())
            </div>
        </div>
    </div>
    @if (entry)
    {
        <div class="row">
            <div class="well">
                <p>@(new HtmlString(Resources.Domain.CompanyEntryManagerAction))</p>
                <p class="text-danger">@(new HtmlString(Resources.Domain.CompanyEntryManagerRequired))</p>
                <p class="text-info">@(new HtmlString(string.Format(Resources.Domain.CompanyEntryManagerConstraint, Url.View<Uos.Web.Areas.Tutorial.Controllers.SecurityController>(c => c.Clearance()).Url)))</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            @Html.Label(id + "-users", Resources.Domain.EmailAddressesField)
                            @(Html.Kendo().MultiSelectFor(e => e.Users)
                                .DataSource(source => source.Read(read => read.Url(Url.Json<IdentitiesController>(c => c.GetIdentities(null, null, null)).Url).Data("u.control.entry.form.filter.users").Type(HttpVerbs.Post)))
                                //.DataTextField("text")
                                .DataValueField("EmailAddress")
                                .Filter(FilterType.StartsWith)
                                .HtmlAttributes(new Dictionary<string, object>
                                {
                                    { "class", "form-control" },
                                    { "data-bind", "value: data.users" },
                                    { "maxlength", Uos.Domain.Lengths.EmailAddress }
                                })
                                .Name(id + "-users")
                                .Deferred())
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            @Html.Label(id + "-roles", Resources.Domain.RolesField)
                            @(Html.Kendo().MultiSelectFor(e => e.Roles)
                                .BindTo(((Dictionary<object, string>)ViewBag.CompanyRoles).Select(e => new { text = e.Value, value = e.Key }))
                                //.DataSource(source => source.Read(read => read.Url(Url.Json<RolesController>(c => c.GetRoleNames(null, null)).Url).Data("u.control.entry.form.filter.roles").Type(HttpVerbs.Post)))
                                .DataTextField("text")
                                .DataValueField("value")
                                .Filter(FilterType.StartsWith)
                                .HtmlAttributes(new Dictionary<string, object>
                                {
                                    { "class", "form-control" },
                                    { "data-bind", "value: data.roles" },
                                    { "maxlength", Uos.Domain.Lengths.RoleName }
                                })
                                .Name(id + "-roles")
                                .Deferred())
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(id + "-remarks", Resources.Domain.RemarksField)
            <div class="form-control content-editable" contenteditable="true" data-bind="html: data.remarks" id="@(id)-remarks">
            </div>
        </div>
    }
</form>



