﻿@{
    ViewBag.Title = Resources.Domain.CompanyTitle;

    RequireJsOptions.Add("CompanyRoles", Resources.Currencies.ResourceManager.ToDictionary<CompanyRoles>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("CompanySizes", Resources.CompanySizes.ResourceManager.ToDictionary<Uos.Domain.CompanySizes>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("CompanyTypes", Resources.CompanyTypes.ResourceManager.ToDictionary<Uos.Domain.CompanyTypes>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("Countries", Resources.Countries.ResourceManager.ToDictionary<Uos.Domain.Countries>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("Currencies", Resources.Currencies.ResourceManager.ToDictionary<Uos.Domain.Currencies>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("Industries", Resources.Industries.ResourceManager.ToDictionary<Uos.Domain.Industries>(), RequireJsOptionsScope.Page);
    RequireJsOptions.Add("MetricSystems", Resources.MetricSystems.ResourceManager.ToDictionary<Uos.Domain.MetricSystems>(), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("FinancialFeatures", Resources.Financial.ResourceManager.ToDictionary<Uos.Financial.Features>()
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Accounting.Features>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Controlling.Features>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Enterprise.Features>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Investment.Features>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Treasury.Features>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("LogisticsFeatures", Resources.Logistics.ResourceManager.ToDictionary<Uos.Logistics.Features>()
        .Union(Resources.Distribution.ResourceManager.ToDictionary<Uos.Distribution.Features>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Inventory.Features>().ToList())
        .Union(Resources.Maintenance.ResourceManager.ToDictionary<Uos.Maintenance.Features>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Materials.Features>().ToList())
        .Union(Resources.Products.ResourceManager.ToDictionary<Uos.Products.Features>().ToList())
        .Union(Resources.Projects.ResourceManager.ToDictionary<Uos.Projects.Features>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Purchasing.Features>().ToList())
        .Union(Resources.Quality.ResourceManager.ToDictionary<Uos.Quality.Features>().ToList())
        .Union(Resources.Transportation.ResourceManager.ToDictionary<Uos.Transportation.Features>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Warehouse.Features>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("PersonnelFeatures", Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Features>()
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Administration.Features>().ToList())
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Development.Features>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("Features", new Dictionary<string, string>
    {
        { "FinancialFeatures", Resources.Financial.FinancialNav },
        { "LogisticsFeatures", Resources.Logistics.LogisticsNav },
        { "PersonnelFeatures", Resources.Personnel.PersonnelNav }
    }, RequireJsOptionsScope.Page);

    ViewBag.CompanyRoles = Resources.StafferRoles.ResourceManager.ToDictionary<Uos.Domain.StafferRoles>().ToList()
        //.Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Financial.Roles>().ToList())
        //.Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Accounting.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Controlling.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Enterprise.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Investment.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Treasury.Roles>().ToList())
        .Union(Resources.Logistics.ResourceManager.ToDictionary<Uos.Logistics.Roles>().ToList())
        .Union(Resources.Distribution.ResourceManager.ToDictionary<Uos.Distribution.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Inventory.Roles>().ToList())
        .Union(Resources.Maintenance.ResourceManager.ToDictionary<Uos.Maintenance.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Materials.Roles>().ToList())
        .Union(Resources.Products.ResourceManager.ToDictionary<Uos.Products.Roles>().ToList())
        .Union(Resources.Projects.ResourceManager.ToDictionary<Uos.Projects.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Purchasing.Roles>().ToList())
        .Union(Resources.Quality.ResourceManager.ToDictionary<Uos.Quality.Roles>().ToList())
        .Union(Resources.Transportation.ResourceManager.ToDictionary<Uos.Transportation.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Warehouse.Roles>().ToList())
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Roles>().ToList())
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Administration.Roles>().ToList())
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Development.Roles>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value);

    RequireJsOptions.Add("CompanyRoles", ViewBag.CompanyRoles, RequireJsOptionsScope.Page);

    ViewBag.RequireBundles = new Dictionary<string, Dictionary<string, string>>
    {
        { "/js/domain/company/controller", new Dictionary<string, string>
            {
                { "uos.domain.company.controller", "Controllers/Domain/Company/Index" }
            }
        },
        { "/js/domain/company", new Dictionary<string, string>
            {

                { "uos.domain.company.browse", "/Scripts/Components/Domain/company-browse" },
                { "uos.domain.company.control", "/Scripts/Components/Domain/company-control" },
                { "uos.domain.company.detail", "/Scripts/Components/Domain/company-detail" },
                { "uos.domain.company.edit", "/Scripts/Components/Domain/company-edit" },
                { "uos.domain.company.entry", "/Scripts/Components/Domain/company-entry" },
                { "uos.domain.company.features", "/Scripts/Components/Domain/company-features" },
                { "uos.domain.company.filter", "/Scripts/Components/Domain/company-filter" },
                { "uos.domain.company.form", "/Scripts/Components/Domain/company-form" },
                { "uos.domain.company.review", "/Scripts/Components/Domain/company-review" }
            }
        }
};

    RequireJsOptions.Add("globalUrlViaFilter", Url.Action<CompanyController>(c => c.Index()), RequireJsOptionsScope.Page);
}
@*<div class="loading loading-truck control-placeholder">
        <span>Please Wait! We are loading this truck...</span>
    </div>*@
@Html.Partial("_ControlPartial")
@section scripts
{
    <script type="text/javascript">
        require(['jquery', 'kendo', 'uos.bootstrap', 'uos.domain.company.controller', 'uos.data.store', 'bootstrap', 'kendo.aspnetmvc.min', 'kendo.data.contenteditable'], function ($, kendo, U, Controller, Store) {

            window.CompanyTypes = Store.get('CompanyTypes');
            window.CompanySizes = Store.get('CompanySizes');
            window.Countries = Store.get('Countries');
            window.Currencies = Store.get('Currencies');
            window.Industries = Store.get('Industries');
            window.MetricSystems = Store.get('MetricSystems');

            var controller = new Controller();

            define('uos.controler', controller);
            U.controller = controller;

            define('uos.control', controller.control);
            U.control = controller.control;

            // set defaults
            (function (data) {
                //data.set("type", "@CompanyTypes.PublicCompany");
                data.set("country", "@Countries.USA");
                data.set("currency", "@Currencies.USD");
                data.roles.push("@CompanyRoles.Manager");
            })(controller.control.entry.form.model.data);

            // use to load control template async
            // Initialize control. First get the html
            /*$.get('/domain/company/control-template').then(function (markup) {

                // Create Kendo UI template from markup.
                var template = kendo.template(markup);

                // Replace the placeholder with the control template.
                $('.control-placeholder').replaceWith(template({}));*/

            //}).then(function () {
            @Html.Kendo().DeferredScripts(false);

            //}).then(function () {
            controller.init();
            //});
        });
    </script>
}
