/* line 2, ../../../../../../sass/_divider.scss */
.divider {
  color: #333333;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}
/* line 8, ../../../../../../sass/_divider.scss */
.divider:before, .divider:after {
  content: "";
  display: inline-block;
}
/* line 18, ../../../../../../sass/_divider.scss */
.divider.vertical {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 70%;
}
/* line 24, ../../../../../../sass/_divider.scss */
.divider.vertical:before, .divider.vertical:after {
  border-bottom: 1px solid #333333;
  height: 0.65em;
  vertical-align: top;
  width: 50%;
}
/* line 32, ../../../../../../sass/_divider.scss */
.divider.vertical:after {
  margin: 0 -55% 0 2%;
}
/* line 36, ../../../../../../sass/_divider.scss */
.divider.vertical:before {
  margin: 0 2% 0 -55%;
}

/* line 119, ../../../../../../sass/_guide.scss */
.guide .guide-line {
  border: 0 solid #990033;
  height: 0;
  opacity: 0;
  position: relative;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 130, ../../../../../../sass/_guide.scss */
.guide .guide-line .guide-accent {
  display: block;
  height: 20px;
  border: 0 solid #990033;
  position: absolute;
  width: 20px;
}
/* line 139, ../../../../../../sass/_guide.scss */
.guide input[type=radio] {
  display: none;
}
/* line 143, ../../../../../../sass/_guide.scss */
.guide input[type=radio]:checked + .guide-line {
  height: auto;
  opacity: 1;
}

@media (max-width: 991px) {
  /* line 19, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-bottom .guide-accent, .guide .guide-line.guide-accent-xs-left .guide-accent, .guide .guide-line.guide-accent-xs-right .guide-accent, .guide .guide-line.guide-accent-xs-top .guide-accent {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 25, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-bottom,
  .guide .guide-line.guide-accent-xs-bottom .guide-accent {
    border-bottom-width: 4px;
  }
  /* line 35, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-bottom-left,
  .guide .guide-line.guide-accent-xs-bottom-left .guide-accent {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  /* line 46, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-bottom-right,
  .guide .guide-line.guide-accent-xs-bottom-right .guide-accent {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  /* line 57, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-left,
  .guide .guide-line.guide-accent-xs-left .guide-accent {
    border-left-width: 4px;
  }
  /* line 67, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-right,
  .guide .guide-line.guide-accent-xs-right .guide-accent {
    border-right-width: 4px;
  }
  /* line 76, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-top {
    margin-top: 21.968px;
  }
  /* line 81, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-top,
  .guide .guide-line.guide-accent-xs-top .guide-accent {
    border-top-width: 4px;
  }
  /* line 86, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-top .guide-accent {
    border-left-width: 4px;
    right: 50%;
    top: -25.968px;
  }
  /* line 94, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-top-left,
  .guide .guide-line.guide-accent-xs-top-left .guide-accent {
    border-left-width: 4px;
    border-top-width: 4px;
  }
  /* line 105, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-top-right,
  .guide .guide-line.guide-accent-xs-top-right .guide-accent {
    border-right-width: 4px;
    border-top-width: 4px;
  }
  /* line 111, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-xs-top-right .guide-accent {
    right: -13px;
    top: -13px;
  }
}
@media (min-width: 992px) {
  /* line 19, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-bottom .guide-accent, .guide .guide-line.guide-accent-md-left .guide-accent, .guide .guide-line.guide-accent-md-right .guide-accent, .guide .guide-line.guide-accent-md-top .guide-accent {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 25, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-bottom,
  .guide .guide-line.guide-accent-md-bottom .guide-accent {
    border-bottom-width: 4px;
  }
  /* line 35, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-bottom-left,
  .guide .guide-line.guide-accent-md-bottom-left .guide-accent {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  /* line 46, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-bottom-right,
  .guide .guide-line.guide-accent-md-bottom-right .guide-accent {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  /* line 57, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-left,
  .guide .guide-line.guide-accent-md-left .guide-accent {
    border-left-width: 4px;
  }
  /* line 67, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-right,
  .guide .guide-line.guide-accent-md-right .guide-accent {
    border-right-width: 4px;
  }
  /* line 76, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-top {
    margin-top: 21.968px;
  }
  /* line 81, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-top,
  .guide .guide-line.guide-accent-md-top .guide-accent {
    border-top-width: 4px;
  }
  /* line 86, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-top .guide-accent {
    border-left-width: 4px;
    right: 50%;
    top: -25.968px;
  }
  /* line 94, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-top-left,
  .guide .guide-line.guide-accent-md-top-left .guide-accent {
    border-left-width: 4px;
    border-top-width: 4px;
  }
  /* line 105, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-top-right,
  .guide .guide-line.guide-accent-md-top-right .guide-accent {
    border-right-width: 4px;
    border-top-width: 4px;
  }
  /* line 111, ../../../../../../sass/_guide.scss */
  .guide .guide-line.guide-accent-md-top-right .guide-accent {
    right: -13px;
    top: -13px;
  }
}
@-webkit-keyframes send-animation {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes send-animation {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
/* line 18, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .desc h2 {
  margin-top: 0;
}
/* line 22, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .desc p {
  margin-bottom: 50px;
}
/* line 27, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .option {
  padding-bottom: 30px;
}
/* line 31, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .contact-details-wrapper {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  background: url("/content/assets/images/stripes.png");
}
/* line 38, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .contact-details {
  background-color: #fff;
  margin: -20px auto 15px auto;
  padding-top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eee;
}
/* line 49, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact form input[type="text"], #contact form input[type="email"], #contact form textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none !important;
  color: #2C3E50;
}
/* line 56, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact form input[type="text"].has-error, #contact form input[type="email"].has-error, #contact form textarea.has-error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
/* line 64, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .send-indicator-container {
  text-align: left;
}
/* line 67, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .send-indicator-container .send-indicator {
  color: #5bc0de;
  -webkit-animation-name: send-animation;
  animation-name: send-animation;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/* line 74, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .send-indicator-container .send-indicator.success {
  color: #5cb85c;
}
/* line 78, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .send-indicator-container .send-indicator.timeout {
  color: #f0ad4e;
}
/* line 82, ../../../../../../sass/widgets/deventry/home/_contact.scss */
#contact .send-indicator-container .send-indicator.error {
  color: #d9534f;
}

/* START: GLOBAL STYLES */
/* line 10, ../../../../../../sass/widgets/deventry/home.scss */
html, body, #page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Open Sans";
}

/* line 19, ../../../../../../sass/widgets/deventry/home.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
}

/* line 24, ../../../../../../sass/widgets/deventry/home.scss */
body {
  background-color: #ECF0F1;
  background: url("/content/assets/images/pattern.png") fixed;
}

/* line 29, ../../../../../../sass/widgets/deventry/home.scss */
section {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 35, ../../../../../../sass/widgets/deventry/home.scss */
p {
  line-height: 28px;
}

/* line 39, ../../../../../../sass/widgets/deventry/home.scss */
a, a:focus, a:active {
  color: #336688;
  cursor: pointer;
}

/* line 44, ../../../../../../sass/widgets/deventry/home.scss */
a:hover {
  color: #6699CC;
}

/* END: GLOBAL STYLES */
/* START: NAVIGATION ON THE TOP */
/* line 51, ../../../../../../sass/widgets/deventry/home.scss */
.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}

/* line 56, ../../../../../../sass/widgets/deventry/home.scss */
.navbar-transparent .navbar-nav li a {
  color: #505050;
}

/* line 60, ../../../../../../sass/widgets/deventry/home.scss */
.navbar-transparent .navbar-nav .active a {
  background-color: #dfdfdf;
}

/* END: NAVIGATION ON THE TOP */
/* START: SECTION HEADING */
/* line 66, ../../../../../../sass/widgets/deventry/home.scss */
.fancy {
  line-height: 0;
  text-align: center;
  margin-bottom: 35px;
}

/* line 72, ../../../../../../sass/widgets/deventry/home.scss */
.fancy span {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

/* line 80, ../../../../../../sass/widgets/deventry/home.scss */
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 0;
  top: 0;
}

/* END: SECTION HEADING */
/* START: COMMON UI ELEMENTS */
/* line 90, ../../../../../../sass/widgets/deventry/home.scss */
.orange {
  color: #FF9900;
}

/* line 94, ../../../../../../sass/widgets/deventry/home.scss */
.btn-half-block {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 50%;
}

/* line 101, ../../../../../../sass/widgets/deventry/home.scss */
.logo-circled {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  background-color: #FF9900;
}

/* line 109, ../../../../../../sass/widgets/deventry/home.scss */
.btn-transparent {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 1px solid #fff;
}

/* line 116, ../../../../../../sass/widgets/deventry/home.scss */
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* line 123, ../../../../../../sass/widgets/deventry/home.scss */
.btn-white, .btn-white:focus, .btn-white:active {
  color: #fff;
}
/* line 129, ../../../../../../sass/widgets/deventry/home.scss */
.btn-white:hover {
  color: #eee;
  text-decoration: none;
}

/* line 135, ../../../../../../sass/widgets/deventry/home.scss */
.btn-orange {
  background-color: #FF9900;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
/* line 140, ../../../../../../sass/widgets/deventry/home.scss */
.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
  background-color: #FFCC00;
  color: #FFFFFF;
}

/* line 148, ../../../../../../sass/widgets/deventry/home.scss */
.alert-small {
  padding: 6px 12px 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 160, ../../../../../../sass/widgets/deventry/home.scss */
input.has-error,
input[type=email].has-error,
input[type=text].has-error,
select.has-error,
textarea.has-error {
  background-color: #f2dede;
}

/* END: COMMON UI ELEMENTS */
/* START: HOME SECTION*/
/* line 168, ../../../../../../sass/widgets/deventry/home.scss */
#header {
  overflow: hidden;
  height: auto;
  background: url("/content/assets/images/home.jpg") fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

/* line 180, ../../../../../../sass/widgets/deventry/home.scss */
#intro {
  position: absolute;
  top: 25%;
  padding-bottom: 20px;
  background-color: rgba(160, 140, 120, 0.85);
  color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #a08c78;
}
/* line 191, ../../../../../../sass/widgets/deventry/home.scss */
#intro .ticker {
  overflow: hidden;
  height: 40px;
  vertical-align: baseline;
}
/* line 197, ../../../../../../sass/widgets/deventry/home.scss */
#intro .ticker h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 40px;
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
}

/* END: HOME SECTION*/
/* START: ABOUT SECTION*/
/* line 213, ../../../../../../sass/widgets/deventry/home.scss */
#about .container, #work .container, #team .container, #contact .container {
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 224, ../../../../../../sass/widgets/deventry/home.scss */
#about .article h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 700;
}
/* line 230, ../../../../../../sass/widgets/deventry/home.scss */
#about .article p {
  margin-bottom: 50px;
}
/* line 235, ../../../../../../sass/widgets/deventry/home.scss */
#about .slide {
  color: #fff;
  background: rgba(255, 100, 25, 0.75);
  text-align: center;
  list-style-type: none;
  height: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* END: HOME SECTION*/
/* START: SERVICES SECTION*/
/* line 251, ../../../../../../sass/widgets/deventry/home.scss */
#services {
  height: auto;
  background: url("/content/assets/images/services.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -300px;
}
/* line 261, ../../../../../../sass/widgets/deventry/home.scss */
#services .container {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 268, ../../../../../../sass/widgets/deventry/home.scss */
#services .slide {
  color: #fff;
  background: rgba(255, 100, 25, 0.75);
  text-align: center;
  list-style-type: none;
  height: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 283, ../../../../../../sass/widgets/deventry/home.scss */
#services .desc h2 {
  margin-top: 0;
}
/* line 287, ../../../../../../sass/widgets/deventry/home.scss */
#services .desc p {
  margin-bottom: 20px;
}
/* line 293, ../../../../../../sass/widgets/deventry/home.scss */
#services .article h3 {
  margin-top: 0;
  font-weight: 700;
}
/* line 298, ../../../../../../sass/widgets/deventry/home.scss */
#services .article p {
  margin-bottom: 50px;
}
/* line 302, ../../../../../../sass/widgets/deventry/home.scss */
#services .article ul li {
  margin-bottom: 10px;
}
/* line 306, ../../../../../../sass/widgets/deventry/home.scss */
#services .article ul li:last-child {
  margin-bottom: 30px;
}

/* END: SERVICES SECTION*/
/* START: WORK SECTION*/
/* line 314, ../../../../../../sass/widgets/deventry/home.scss */
#work .container {
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 321, ../../../../../../sass/widgets/deventry/home.scss */
#work .desc h2 {
  margin-top: 0px;
}

/* line 325, ../../../../../../sass/widgets/deventry/home.scss */
#work .desc p {
  margin-bottom: 10px;
}

/* line 329, ../../../../../../sass/widgets/deventry/home.scss */
#work #filters {
  width: 100%;
  margin: 20px auto 30px auto;
  background-color: #f5f5f5;
}

/* line 335, ../../../../../../sass/widgets/deventry/home.scss */
#work #filters li {
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  padding: 10px;
  min-width: 120px;
}

/* line 343, ../../../../../../sass/widgets/deventry/home.scss */
#work #filters li.active {
  background-color: #fff;
  color: #FF9900;
}

/* line 348, ../../../../../../sass/widgets/deventry/home.scss */
#work #gallery {
  padding: 0;
}

/* line 352, ../../../../../../sass/widgets/deventry/home.scss */
#work #gallery li div {
  margin-bottom: 30px;
}

/* line 356, ../../../../../../sass/widgets/deventry/home.scss */
#work #gallery .mix {
  opacity: 0;
  display: none;
}

/* END: WORK SECTION*/
/* START: CLIENTS SECTION*/
/* line 363, ../../../../../../sass/widgets/deventry/home.scss */
#clients {
  height: auto;
  background: url("/content/assets/images/clients.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* line 373, ../../../../../../sass/widgets/deventry/home.scss */
#clients .container {
  background-color: rgba(40, 30, 20, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}

/* line 381, ../../../../../../sass/widgets/deventry/home.scss */
#clients .desc h2 {
  margin-top: 0px;
}

/* line 385, ../../../../../../sass/widgets/deventry/home.scss */
#clients .desc p {
  margin-bottom: 50px;
}

/* line 389, ../../../../../../sass/widgets/deventry/home.scss */
#clients .statement div h4 {
  margin-top: 0px;
}

/* line 393, ../../../../../../sass/widgets/deventry/home.scss */
#clients .statement div p {
  margin-bottom: 30px;
}

/* END: CLIENTS SECTION*/
/* START: TEAM SECTION*/
/* line 399, ../../../../../../sass/widgets/deventry/home.scss */
#team .desc h2 {
  margin-top: 0px;
}

/* line 403, ../../../../../../sass/widgets/deventry/home.scss */
#team .desc p {
  margin-bottom: 50px;
}

/* line 407, ../../../../../../sass/widgets/deventry/home.scss */
#team .person {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

/* line 414, ../../../../../../sass/widgets/deventry/home.scss */
#team .person .info {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  margin-left: -15px;
}

/* line 422, ../../../../../../sass/widgets/deventry/home.scss */
#team .person .info h4 {
  margin-top: 0px;
  font-weight: 700;
}

/* line 427, ../../../../../../sass/widgets/deventry/home.scss */
#team .person .info p {
  width: 80%;
  margin: auto;
}

/* line 432, ../../../../../../sass/widgets/deventry/home.scss */
#team .person .info ul {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.75);
}

/* END: TEAM SECTION*/
/* START: FOOTER SECTION*/
/* line 439, ../../../../../../sass/widgets/deventry/home.scss */
#footer {
  font-size: 12px;
  text-align: center;
  margin: 20px auto;
}

/* END: FOOTER SECTION*/
