﻿@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li><a href="@(Url.View<HomeController>(c => c.Dashboard()).Url)">@Resources.Overview.OverviewNav</a></li>
    }
    else
    {
        <li><a href="@(Url.View<HomeController>(c => c.Index()).Url)">@Resources.Overview.OverviewNav</a></li>
    }

    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_NavUserPartial")
    }
</ul>
