﻿@using Uos.Cognito
@model IResult<Uos.Cognito.IdentityEntity>
@{
    ViewBag.Title = "User";
    var identity = Model.Value;
    var model = new IdentityModel
    {
        EmailAddress = identity.EmailAddress,
        EmailConfirmed = identity.EmailConfirmed,
        HasPassword = identity.PasswordHash != null,
        Logins = identity.Logins.Select(l => new ExternalLogin { LoginProvider = l.LoginProvider, ProviderKey = l.ProviderKey }).ToList(),
        PasswordStrength = identity.PasswordStrength,
        PhoneConfirmed = identity.PhoneConfirmed,
        PhoneNumber = identity.PhoneNumber,
        TwoFactor = identity.TwoFactorEnabled
    };
}
<div class="body-content">
    <div class="container">
        <h2>@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (model.HasPassword)
            {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @(model.Logins.Count) [ @Html.ActionLink("User", "ManageLogins") ]
                </dd>
                @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
                *@

                <dt>Phone Number:</dt>
                <dd>
                    @(model.PhoneNumber ?? "None") [
                    @if (model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "SetPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "SetPhoneNumber")
                    }
                    ]
                    @if (model.PhoneNumber != null)
                    {
                        @: &nbsp;
                        if (model.PhoneConfirmed)
                        {
                            <i>(verified)</i>
                        }
                        else
                        {
                            @Html.ActionLink("Verify", "VerifyPhoneNumber")
                        }
                    }
                </dd>
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    @if (model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>