﻿@model IResult<Uos.Cognito.LoginOptions>
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage your external logins";
}

<div class="body-content">
    <div class="container">
        <h2>@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                if (Model.Value.Logins.Count > 0)
                {
                    <h4>Registered Logins</h4>
                    <table class="table">
                        <tbody>
                            @foreach (var account in Model.Value.Logins)
                    {
                                <tr>
                                    <td>@account.LoginProvider</td>
                                    <td>
                                        @if (ViewBag.ShowRemoveButton != false)
                                        {
                                            using (Html.BeginForm("RemoveLogin", "User"))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div>
                                                    @Html.Hidden("loginProvider", account.LoginProvider)
                                                    @Html.Hidden("providerKey", account.ProviderKey)
                                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            @: &nbsp;
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                if (Model.Value.OtherLogins.Count > 0)
                {
                    using (Html.BeginForm("LinkLogin", "User"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            <p>
                                @foreach (var p in Model.Value.OtherLogins)
                        {
                                    <button type="submit" class="btn btn-default" id="@p.ProviderKey" name="provider" value="@p.ProviderKey" title="Log in using your @p.LoginProvider account">@p.LoginProvider</button>
                                }
                            </p>
                        </div>
                    }
                }
            }
        }
    </div>
    @Html.Partial("_FooterPartial")
    @Alert.Result(Model.Messages)
</div>