﻿@model IResult<VerifyPhoneNumberModel>
@{
    ViewBag.Title = "Verify Phone Number";
}
<div class="body-content">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        @Html.Partial("_VerifyPhoneNumberPartial", Model.Value)
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        require(['jquery', 'jqueryval'], function ($) {
            $(function () {
            });
        });
    </script>
}
