﻿@model ConsumerViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <legend>@Strings.ProductTitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-product-name", Strings.ProductNameField)
                @(Html.Kendo().TextBoxFor(e => e.ProductName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: ProductName" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-manage-product-name")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.CustomerTitle</legend>
        <div class="col-sm-8 col-md-5 col-lg-5">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-company", Strings.CompanyCodeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-manage-company")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-5">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-segment", Strings.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("consumer-manage-segment")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend>@Strings.ConsumerDetailsTitle</legend>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-credit", Strings.CreditField)
                @(Html.Kendo().NumericTextBoxFor(e => e.Credit)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Credit" }
                    })
                    .Decimals(2)
                    .Name("consumer-manage-credit")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-country-code", Strings.CountryCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CountryCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CountryCode" }
                    })
                    .MinLength(0)
                    .Name("consumer-manage-country-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("consumer-manage-currency-code", Strings.CurrencyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CurrencyCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CurrencyCode" }
                    })
                    .MinLength(0)
                    .Name("consumer-manage-currency-code")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyCustomerCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
