﻿@{
    ViewBag.Subtitle = Strings.ConsumersSubtitle;
    ViewBag.Title = Strings.ConsumersTitle;
    ViewBag.Page = "contracts";
    var constants = new Dictionary<string, object>();
    //constants.Add("Countries", Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Consumers")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter consumers using prefixes: "client", "feature", "product" and "trademark". Use ':' as separator. i.e.: "group:adm:dev".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" id="consumer-add">
            @Html.Partial("ConsumerAddTemplate")
        </div>
        <div class="frame" id="consumer-manage">
            @Html.Partial("ConsumerManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("ConsumerAddHandler")
    @Html.Partial("ConsumerManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddConsumerCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Consumers, new Dictionary<string, string>()))
    </ul>
}
