﻿@model DomainPostModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="overflow row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-add-domain-name", Strings.DomainNameField)
                @(Html.Kendo().TextBoxFor(e => e.DomainName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: DomainName" }
                    })
                    .Name("domain-add-domain-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-add-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("domain-add-description")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-add-product-name", Strings.ProductNameField)
                @(Html.Kendo().DropDownListFor(m => m.ProductName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Products.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "" },
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("domain-add-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-add-environment", Strings.EnvironmentField)
                @(Html.Kendo().DropDownListFor(m => m.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "" },
                        { "data-bind", "value: Environment" }
                    })
                    .Name("domain-add-environment")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
