﻿@model DomainViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="overflow row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-manage-domain-name", Strings.DomainNameField)
                @(Html.Kendo().TextBoxFor(e => e.DomainName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: DomainName" },
                        { "readonly", "readonly" }
                    })
                    .Name("domain-manage-domain-name")
                    .ToClientTemplate())

                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-manage-description", Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("domain-manage-description")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-manage-product-name", Strings.ProductNameField)
                @(Html.Kendo().DropDownListFor(e => e.ProductName)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Products.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "" },
                        { "data-bind", "value: ProductName" }
                    })
                    .Name("domain-manage-product-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("domain-manage-environment", Strings.EnvironmentField)
                @(Html.Kendo().DropDownListFor(e => e.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "" },
                        { "data-bind", "value: Environment" }
                    })
                    .Name("domain-manage-environment")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyDomainCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
