﻿@using Uos.Web.Controllers
@{
    ViewBag.Subtitle = Strings.DomainsSubtitle;
    ViewBag.Title = Strings.DomainsTitle;
    ViewBag.Page = "domains";
    var constants = new Dictionary<string, object>();
    constants.Add("Environments", Uos.Web.Strings.Environments.ResourceManager.ToDictionary<Environments>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Domains")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter domains using prefixes: "domain" and "product". Use ':' as separator. i.e.: "product:umbiliko".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" data-controller="DomainAddHandler" data-title="@Resources.Configuration.AddDomainTitle" id="domain-add">
            @Html.Partial("DomainAddTemplate")
        </div>
        <div class="frame" data-controller="DomainManageHandler" data-title="@Resources.Configuration.ManageDomainTitle" id="domain-manage">
            @Html.Partial("DomainManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("DomainAddHandler")
    @Html.Partial("DomainManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddDomainCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Domains, new Dictionary<string, string>()))
    </ul>
}