﻿<ul class="nav navbar-nav">
    @Feature.Dropdown(ViewContext, Resources.Domain.ApplicationNav, (navigation) =>
    {
        navigation.Add(Resources.Domain.IdentityNav, Url.View<IdentityController>(c => c.Index()));
        navigation.Add(Resources.Domain.ConfigurationNav, "c", Url.View<ConfigurationController>(c => c.Index()));
        navigation.Add(Resources.Domain.CustomizationNav, "c", Url.View<CustomizationController>(c => c.Index()));
        navigation.Add(Resources.Domain.AssuranceNav, "-", Url.View<AssuranceController>(c => c.Index()));
    })
    @Feature.Dropdown(ViewContext, Resources.Domain.TenantNav, (navigation) =>
    {
        navigation.Add(Resources.Domain.CompanyNav, Url.View<CompanyController>(c => c.Index()));
        navigation.Add(Resources.Domain.StafferNav, Url.View<StafferController>(c => c.Index()));
    })

</ul>
