@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";
@import "bootstrap/mixins/vendor-prefixes";
@import "bootstrap/mixins/forms";
@import "fonts/ionicons/ionicons-variables";
@import "fonts/ionicons/ionicons-font";
@import "divider";

$enter-hover-color: $white;
$enter-primary-color: $alto;

.umbiliko {
	.account-enter,
	&.account-enter {

		@include hacks();

		display: block;
	    height: auto;
	    margin: 2em auto;
	    padding-bottom: 4em;
	    width: 100%;

	    .btn-link {
	    	border-width: 0;
		    padding: 0;

		    &:focus {
		        outline: 0;
		    }
		}

		.icon {
			cursor: pointer;
			font-size: 2em;
		    /*font-weight: normal;
		    padding: 0;
		    text-align: center;*/
			width: 2em;

			&.dribbble {
		    }

		    &.facebook {
		        &:before {
		            content: $ionicon-var-social-facebook;
		        }
		    }

		    &.google {
		        &:before {
		            content: $ionicon-var-social-google;
		        }
		    }

		    &.github {
		        &:before {
		            content: $ionicon-var-social-github;
		        }
		    }

		    &.linkedin {
		        &:before {
		            content: $ionicon-var-social-linkedin;
		        }
		    }

		    &.microsoft {
		        &:before {
		            content: $ionicon-var-social-windows;
		        }
		    }

		    &.twitter {
		        &:before {
		            content: $ionicon-var-social-twitter;
		        }
		    }
		}
	/*
		.external-login {

		    button {
		        width: 2em;

		        &,
		        &:active,
		        &.active,
		        &[disabled],
		        &:hover,
		        &:focus,
		        &:active {
		            border: 0 solid $transparent;
		        }

		        &:hover,
		        &:focus {
		            color: $enter-hover-color;
		            background-color: transparent;
		        }
		    }

		    ul {
		        list-style: none;
		        margin-left: -5px;
		        padding: 0;
		        text-align: center;
		        width: 100%;

		        > li {
		            display: inline-block;
		            padding-left: 5px;
		            padding-right: 5px;
		        }
		    }

		    
		}*/

		~.umbiliko-hint {
		}
	}
}