@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";
@import "mixins/keyframes";

@include keyframes(send-animation) {
    from {
        margin-left: 100%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.umbiliko-contact {
    border: 1px solid $alto;
    border-radius: $border-radius-base;
    background: url('/content/images/stripes.png');
    padding: 1em;
    margin: 2em auto;
    position: relative;
}

.umbiliko-contact-body {
    background-color: $alto;
    border: 1px solid $gallery;
    border-radius: $border-radius-base;
    position: relative;

    form {
        background-color: $transparent;
        /*input[type="text"], input[type="email"], textarea {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            box-shadow: none !important;
            color: #2C3E50;

            &.has-error {
                background-color: $state-danger-bg;
                color: $state-danger-text;
                border-color: $state-danger-border;
            }
        }*/
    }

    .send-indicator-container {
        text-align: left;

        .send-indicator {
            color: $brand-info;

            @include prefixed(animation-name, send-animation);
            @include prefixed(animation-duration, 500ms);
            @include prefixed(animation-timing-function, ease-out);

            &.success {
                color: $brand-success;
            }

            &.timeout {
                color: $brand-warning;
            }

            &.error {
                color: $brand-danger;
            }
        }
    }   
}
