﻿
.divider {
    color: $mine-shaft;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em;

    &:before,
    &:after {
        content: "";
        
        display: inline-block;
    }

    &.horizontal {
    }

    &.vertical {
        clear: both;
        display: block;
        margin: 0 auto;
        width: 70%;

        &:before,
        &:after {
            border-bottom: 1px solid $mine-shaft;
            height: 0.65em;
            vertical-align: top;
            width: 50%;
        }

        &:after {
            margin: 0 -55% 0 2%;
        }

        &:before {
            margin: 0 2% 0 -55%;
        }
    }
}
