/* START: GLOBAL STYLES */
@font-face {
  font-family: Neometric-Medium;
  src: url(/fonts/Neometric/Neometric-Medium.otf);
}

html, body {
  background: #fafafa;
  background-color: #ECF0F1;
  /*background: url('../images/pattern.png') fixed;*/
  height: 100%;
   margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
}

#header {
  /*background-attachment: fixed;
  background: url('../images/home.jpg') no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  color: #FBFBFB;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#header .umbiliko {
  bottom: 0;
  height: auto;
  margin: 0 5%;
  position: absolute;
  width: 90%;
}

#header .umbiliko canvas {
  bottom: 17.5%;
  position: absolute;
  right: 3.85%;
  width: 8.35%;
}

#header .umbiliko img {
}

/*@media (min-height: 800px) {*/
  #header {
    background-attachment: fixed;
    background: url('../images/home.jpg') no-repeat;
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #header .umbiliko img {
    opacity: .66;
  }
/*}*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
    /*#header {
        background: transparent url('../images/home2x.jpg');
        -webkit-transform: translateZ(0);
    }*/
}

.easeaccess {
    background: url('http://easeaccess.com/content/assets/images/brand.png') no-repeat;
    background-position: right top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: block;
    height: 50%;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 100px;
}

.deventry {
    height: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
}

.uptime {
    height: 20%;
    position: absolute;
    left: 10%;
    top: 30%;
}