﻿html,
body {
  height: 100%; }

.panel {
  height: 100%; }
  .panel .k-grid {
    height: 100%; }
    .panel .k-grid .k-detail-row {
      height: 100%; }
    .panel .k-grid .k-grid-content {
      height: 100%; }

.navbar ~ .panel {
  height: calc(100% - 120px); }

