﻿@{
    ViewBag.Subtitle = Strings.UsersSubtitle;
    ViewBag.Title = Strings.UsersTitle;

    var constants = new Dictionary<string, object>();
    constants.Add("Countries", Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Users")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter users using prefixes: "user" and "email". Use ':' as separator. i.e.: "user:adm:dev".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" id="user-add">
            @Html.Partial("UserAddTemplate")
        </div>
        <div class="frame" id="user-manage">
            @Html.Partial("UserManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Data")
    @Html.Partial("Collections")
    @Html.Partial("UserAddHandler")
    @Html.Partial("UserManageHandler")
    @Html.Partial("Script")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddUserCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Users, new Dictionary<string, string>()))
    </ul>
}