﻿@model UserViewModel
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-manage-user-name", Strings.UserNameField)
                @(Html.Kendo().TextBoxFor(e => e.UserName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: UserName" },
                        { "maxlength", Lengths.UserNameLength },
                        { "readonly", "readonly" }
                    })
                    .Name("user-manage-user-name")
                    .ToClientTemplate())

                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-manage-email-address", Strings.EmailAddressField)
                @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: EmailAddress" }
                    })
                    .Name("user-manage-email-address")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-manage-mobile-number", Strings.PhoneNumberField)
                @(Html.Kendo().TextBoxFor(e => e.PhoneNumber)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: MobileNumber" }
                    })
                    .Name("user-manage-mobile-number")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyUserCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>