﻿@model UserViewModel
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-add-user-name", Strings.UserNameField)
                @(Html.Kendo().TextBoxFor(e => e.UserName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: UserName" }
                    })
                    .Name("user-add-user-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-add-email-address", Strings.EmailAddressField)
                @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: EmailAddess" }
                    })
                    .Name("user-add-email-address")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group form-group-sm">
                @Html.Label("user-add-mobile-number", Strings.MobileNumberField)
                @(Html.Kendo().TextBoxFor(e => e.PhoneNumber)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: MobileNumber" }
                    })
                    .Name("user-add-mobile-number")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
