@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "divider";
@import "guide";
@import "home/contact";

/* START: GLOBAL STYLES */
html, body, #page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $mine-shaft;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
    font-weight: 300;
}

body {
    background-color: #ECF0F1;
    background: url('/content/assets/images/pattern.png') fixed;
}

section {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

p {
    line-height: 28px;
}

a, a:focus, a:active {
    color: $calypso;
    cursor: pointer;
}

a:hover {
    color: $danube;
}
/* END: GLOBAL STYLES */


/* START: NAVIGATION ON THE TOP */
.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.navbar-transparent .navbar-nav li a {
    color: #505050;
}

.navbar-transparent .navbar-nav .active a {
    background-color: #dfdfdf;
}
/* END: NAVIGATION ON THE TOP */

/* START: SECTION HEADING */
.fancy {
    line-height: 0;
    text-align: center;
    margin-bottom: 35px;
}

.fancy span {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 0;
    top: 0;
}
/* END: SECTION HEADING */

/* START: COMMON UI ELEMENTS */
.orange {
    color: $orange;
}

.btn-half-block {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 50%;
}

.logo-circled {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    background-color: $orange;
}

.btn-transparent {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 1px solid #fff;
}

.btn-transparent {
    &:hover, &:focus, &:active {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }
}

.btn-white {
    &,
    &:focus,
    &:active {
        color: #fff;
    }

    &:hover {
        color: #eee;
        text-decoration: none;
    }
}

.btn-orange {
    background-color: $orange;
    color: $white;
    border: 1px solid $white;

    &:hover,
    &:focus,
    &:active {
        background-color: $tangerine;
        color: $white;
    }
}

.alert-small {
    padding: 6px 12px 6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input,
input[type=email],
input[type=text],
select,
textarea {
    &.has-error {
        background-color: #f2dede;
    }
}

/* END: COMMON UI ELEMENTS */

/* START: HOME SECTION*/
#header {
    overflow: hidden;
    height: auto;
    background: url('/content/assets/images/home.jpg') fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

#intro {
    position: absolute;
    top: 25%;
    padding-bottom: 20px;
    background-color: rgba(160, 140, 120, 0.85);
    color: $white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(160, 140, 120, 1);

    .ticker {
        overflow: hidden;
        height: 40px;
        vertical-align: baseline;
    }

    .ticker h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        height: 40px;
        -webkit-transition: margin-top 0.5s ease-in-out;
        -moz-transition: margin-top 0.5s ease-in-out;
        -o-transition: margin-top 0.5s ease-in-out;
        transition: margin-top 0.5s ease-in-out;
    }
}

/* END: HOME SECTION*/


/* START: ABOUT SECTION*/
#about, #work, #team, #contact {
    .container {
        background-color: rgba(255, 255, 255, 1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

#about {
    .article {

        h3 {
            margin-top: 0px;
            margin-bottom: 15px;
            font-weight: 700;
        }

        p {
            margin-bottom: 50px;
        }
    }

    .slide {
        color: #fff;
        background: rgba(255, 100, 25, 0.75);
        text-align: center;
        list-style-type: none;
        height: 60px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
/* END: HOME SECTION*/

/* START: SERVICES SECTION*/
#services {
    height: auto;
    background: url('/content/assets/images/services.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -300px;

    .container {
        background-color: rgba(255, 255, 255, 0.75);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .slide {
        color: #fff;
        background: rgba(255, 100, 25, 0.75);
        text-align: center;
        list-style-type: none;
        height: 60px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .desc {

        h2 {
            margin-top: 0;
        }

        p {
            margin-bottom: 20px;
        }
    }

    .article {
        h3 {
            margin-top: 0;
            font-weight: 700;
        }

        p {
            margin-bottom: 50px;
        }

        ul li {
            margin-bottom: 10px;
        }

        ul li:last-child {
            margin-bottom: 30px;
        }
    }
}
/* END: SERVICES SECTION*/

/* START: WORK SECTION*/
#work .container {
    background-color: rgba(255, 255, 255, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#work .desc h2 {
    margin-top: 0px;
}

#work .desc p {
    margin-bottom: 10px;
}

#work #filters {
    width: 100%;
    margin: 20px auto 30px auto;
    background-color: #f5f5f5;
}

#work #filters li {
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
}

#work #filters li.active {
    background-color: #fff;
    color: $orange;
}

#work #gallery {
    padding: 0;
}

#work #gallery li div {
    margin-bottom: 30px;
}

#work #gallery .mix {
    opacity: 0;
    display: none;
}
/* END: WORK SECTION*/

/* START: CLIENTS SECTION*/
#clients {
    height: auto;
    background: url('/content/assets/images/clients.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#clients .container {
    background-color: rgba(40, 30, 20, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
}

#clients .desc h2 {
    margin-top: 0px;
}

#clients .desc p {
    margin-bottom: 50px;
}

#clients .statement div h4 {
    margin-top: 0px;
}

#clients .statement div p {
    margin-bottom: 30px;
}
/* END: CLIENTS SECTION*/

/* START: TEAM SECTION*/
#team .desc h2 {
    margin-top: 0px;
}

#team .desc p {
    margin-bottom: 50px;
}

#team .person {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

#team .person .info {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    margin-left: -15px;
}

#team .person .info h4 {
    margin-top: 0px;
    font-weight: 700;
}

#team .person .info p {
    width: 80%;
    margin: auto;
}

#team .person .info ul {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.75);
}
/* END: TEAM SECTION*/

/* START: FOOTER SECTION*/
#footer {
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
}
/* END: FOOTER SECTION*/
