﻿@Feature.Dropdown(ViewContext, Resources.Logistics.TransportationNav, (nav) =>
{
    nav.Add(Resources.Transportation.HomeNav, Url.View<HomeController>(c => c.Index()));
    nav.Add(Resources.Transportation.InboundNav, Url.View<HomeController>(c => c.Inbound()));
    nav.Add(Resources.Transportation.OutboundNav, Url.View<HomeController>(c => c.Outbound()));
    nav.Add(Resources.Transportation.OutsourcedNav, Url.View<HomeController>(c => c.Outsourced()));
    nav.Add(Resources.Transportation.OrderNav, Url.View<OrderController>(c => c.Index()));
    nav.Add(Resources.Transportation.PlanningNav, Url.View<PlanningController>(c => c.Index()));
    nav.Add(Resources.Transportation.ExecutionNav, Url.View<ExecutionController>(c => c.Index()));
    nav.Add(Resources.Transportation.SettlementNav, Url.View<SettlementController>(c => c.Index()));
    nav.Add(Resources.Transportation.AnalyticsNav, Url.View<AnalyticsController>(c => c.Index()));
    nav.Add(Resources.Transportation.ComplianceNav, Url.View<ComplianceController>(c => c.Index()));
    nav.Add(Resources.Transportation.DocumentNav, Url.View<DocumentController>(c => c.Index()));
    nav.Add(Resources.Transportation.EventNav, Url.View<CarrierController>(c => c.Index()));
    nav.Add(Resources.Transportation.MasterNav, Url.View<MasterController>(c => c.Index()));
    nav.Add(Resources.Transportation.CarrierNav, Url.View<CarrierController>(c => c.Index()));
    nav.Add(Resources.Transportation.CustomerNav, Url.View<CustomerController>(c => c.Index()));
    nav.Add(Resources.Transportation.FreightNav, Url.View<FreightController>(c => c.Index(null)));
    nav.Add(Resources.Transportation.LocationNav, Url.View<LocationController>(c => c.Index()));
    nav.Add(Resources.Transportation.ShipperNav, Url.View<ShipperController>(c => c.Index()));
})
