﻿@inherits Uos.Web.Email.EmailTemplate
@using System.Net.Mail;
@{
    From = new MailAddress("admin@umbiliko.com");
    Subject = string.Format("Contact from {0}", ViewBag.Name);
}
@section Html
{
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Template 9</title>
        <style type="text/css">
         /* Client-specific Styles */
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #9ec459;text-decoration: none;text-decoration:none!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         /*IPAD STYLES*/
         @@media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #9ec459; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #9ec459 !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         td[class=devicewidth] {width: 440px!important;text-align:center!important;}
         img[class=devicewidth] {width: 440px!important;text-align:center!important;}
         img[class=banner] {width: 440px!important;height:147px!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         table[class=icontext] {width: 345px!important;text-align:center!important;}
         img[class="colimg2"] {width:420px!important;height:243px!important;}
         table[class="emhide"]{display: none!important;}
         img[class="logo"]{width:440px!important;height:110px!important;}

         }
         /*IPHONE STYLES*/
         @@media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #9ec459; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #9ec459 !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         td[class=devicewidth] {width: 280px!important;text-align:center!important;}
         img[class=devicewidth] {width: 280px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:93px!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         table[class=icontext] {width: 186px!important;text-align:center!important;}
         img[class="colimg2"] {width:260px!important;height:150px!important;}
         table[class="emhide"]{display: none!important;}
         img[class="logo"]{width:280px!important;height:70px!important;}

         }
        </style>
    </head>
    <body>
        <!-- Start of preheader -->
        <table width="100%" bgcolor="#202020" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff">
                                                                        Subject Line Here
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="emhide">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="right" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff">
                                                                        <a href="#" style="text-decoration: none; color: #ffffff">View Online </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of preheader -->
        <!-- Start of LOGO -->
        <table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table bgcolor="#e8eaed" width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                            <tbody>
                                                <tr>
                                                    <!-- start of image -->
                                                    <td align="center">
                                                        <a target="_blank" href="#"><img width="600" border="0" height="150" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="img/logo.png" class="logo" /></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- end of image -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
        <!-- End of LOGO -->
        <!-- start textbox-with-title -->
        <table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td>
                                                        <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                                            <tbody>
                                                                <!-- Title -->
                                                                <tr>
                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                        Lorem ipsum dolor sit
                                                                    </td>
                                                                </tr>
                                                                <!-- End of Title -->
                                                                <!-- spacing -->
                                                                <tr>
                                                                    <td height="5"></td>
                                                                </tr>
                                                                <!-- End of spacing -->
                                                                <!-- content -->
                                                                <tr>
                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                                    </td>
                                                                </tr>
                                                                <!-- End of content -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="5"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                                <!-- button -->
                                                                <tr>
                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                        <a href="#" style="color:#9ec459;text-decoration:none;font-weight:bold;">Read More</a>
                                                                    </td>
                                                                </tr>
                                                                <!-- /button -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="20"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of textbox-with-title -->
        <!-- Start of 2-columns -->
        <table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- image -->
                                                                                <tr>
                                                                                    <td width="270" height="150" align="center" class="devicewidth">
                                                                                        <img src="img/2col.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- /Spacing -->
                                                                                <!-- title -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title -->
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- /Spacing -->
                                                                                <!-- content -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of content -->
                                                                                <!-- button -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        <a href="#" style="color:#9ec459;text-decoration:none;font-weight:bold;">Read More</a>
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- /button -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                            </tbody>
                                                        </table>
                                                        <!-- end of left column -->
                                                        <!-- start of right column -->
                                                        <table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- image -->
                                                                                <tr>
                                                                                    <td width="270" height="150" align="center" class="devicewidth">
                                                                                        <img src="img/2col.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- /Spacing -->
                                                                                <!-- title -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title -->
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <!-- content -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of content -->
                                                                                <!-- button -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        <a href="#" style="color:#9ec459;text-decoration:none;font-weight:bold;">Read More</a>
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- /button -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                            </tbody>
                                                        </table>
                                                        <!-- end of right column -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of 2-columns -->
        <!-- Start of 2-columns -->
        <table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- image -->
                                                                                <tr>
                                                                                    <td width="270" height="150" align="center" class="devicewidth">
                                                                                        <img src="img/2col.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- /Spacing -->
                                                                                <!-- title -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title -->
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- /Spacing -->
                                                                                <!-- content -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of content -->
                                                                                <!-- button -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        <a href="#" style="color:#9ec459;text-decoration:none;font-weight:bold;">Read More</a>
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- /button -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                            </tbody>
                                                        </table>
                                                        <!-- end of left column -->
                                                        <!-- start of right column -->
                                                        <table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                            <tbody>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td>
                                                                        <!-- start of text content table -->
                                                                        <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                            <tbody>
                                                                                <!-- image -->
                                                                                <tr>
                                                                                    <td width="270" height="150" align="center" class="devicewidth">
                                                                                        <img src="img/2col.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- /Spacing -->
                                                                                <!-- title -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of title -->
                                                                                <!-- Spacing -->
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>
                                                                                <!-- Spacing -->
                                                                                <!-- content -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;">
                                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- end of content -->
                                                                                <!-- button -->
                                                                                <tr>
                                                                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
                                                                                        <a href="#" style="color:#9ec459;text-decoration:none;font-weight:bold;">Read More</a>
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- /button -->
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- end of text content table -->
                                                                <!-- Spacing -->
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <!-- Spacing -->
                                                            </tbody>
                                                        </table>
                                                        <!-- end of right column -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of 2-columns -->
        <!-- Start of postfooter -->
        <table width="100%" bgcolor="#202020" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff">
                                                        you have recevied this email because you have subscribed to username@company.com<br /> If you no longer wish to recive emails please  <a href="#" style="text-decoration: none; color: #9ec459">unsubscribe </a>
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of postfooter -->
    </body>
</html>
}