﻿<dl class="dl-horizontal">
    <dt>@Resources.Common.EmailAddressField</dt>
    <dd><span data-bind="text: code"></span> <sup class="label label-default" data-bind="text: label"></sup></dd>
    <dt>@Resources.Common.NameField</dt>
    <dd data-bind="text: name"></dd>
    <dt>@Resources.Common.CountryField</dt>
    <dd data-bind="text: country"></dd>
    <dt>@Resources.Common.CurrencyField</dt>
    <dd data-bind="text: currency"></dd>
    <dt>@Resources.Common.CreatedOnField</dt>
    <dd data-bind="text: since"></dd>
    <dt>@Resources.Domain.RolesField</dt>
    <dd data-bind="text: roles"></dd>
</dl>
<div data-bind="html: remarks">
</div>

