﻿@model StafferEntryModel
@{
    var entry = ViewBag.Entry == true;
    var id = entry ? "company-entry-form" : "company-edit-form";
}
<form action="javascript:void(0)" id="@id">
    <div class="row">
        <div class="col-sm-4">
            @if (entry)
            {
                <div class="form-group has-feedback" data-bind="css: { has-error: status.code.error, has-success: status.code.success, has-warning: status.code.warning }">
                    @Html.Label(id + "-code", Resources.Domain.CompanyCodeField, new { @class = "control-label" })
                    @(Html.Kendo().AutoCompleteFor(e => e.CompanyCode)
                        .DataSource(source =>
                        {
                            //.Type("aspnetmvc-ajax")
                            source.Read(read => read.Url(Url.Json<CompaniesController>(c => c.GetCompanies(null)).Url).Data("u.control.entry.form.filter.code").Type(HttpVerbs.Post));
                            source.ServerFiltering(true);
                        })
                        .DataTextField("CompanyCode")
                        .Filter(FilterType.StartsWith)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control uppercase" },
                            { "data-bind", "value: data.code" },
                            { "data-maxtextlength", Lengths.CompanyCode},
                            { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                            { "data-value-update", "keyup" },
                            { "maxlength", Lengths.CompanyCode },
                            { "aria-describedby", id + "-code-status" }
                        })
                        .MinLength(1)
                        .Name(id + "-code")
                        .Template("<span>#: CompanyCode #</span><span class='list-desc'>#: CompanyName #</span>")
                        .Deferred())
                    <span id="@(id)-code-status" class="form-control-feedback glyphicon" data-bind="css: { hidden: status.code.pristine, glyphicon-remove: status.code.error, glyphicon-ok: status.code.success, glyphicon-warning-sign: status.code.warning }" aria-hidden="true"></span>
                    <span class="tooltip" data-bind="text: messages.code"></span>
                </div>
                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            }
            else
            {
                <dl class="form-group">
                    <dt>@Resources.Domain.CompanyCodeField</dt>
                    <dd class="form-control" data-bind="text: data.code"></dd>
                </dl>
            }
        </div>
        <div class="col-sm-8">
            @if (entry)
            {
                <div class="form-group form-group-sm">
                    @Html.Label(id + "-identity", Resources.Domain.IdentityField)
                    @(Html.Kendo().TextBoxFor(e => e.Identity)
                        .HtmlAttributes(new Dictionary<string, object>
                        {
                            { "class", "form-control" },
                            { "data-bind", "value: data.identity" },
                            { "data-value-update", "keyup" },
                            { "maxlength", Lengths.EmailAddress }
                        })
                        .Name(id + "-identity")
                        .Deferred())
                </div>
                <span data-for="Identity" class="k-invalid-msg"></span>
            }
            else
            {
                <dl class="form-group">
                    <dt>@Resources.Domain.IdentityField</dt>
                    <dd class="form-control" data-bind="text: data.identity"></dd>
                </dl>
            }
        </div>
    </div>
</form>
