﻿@{
    ViewBag.Title = Resources.Domain.StafferTitle;
    
    RequireJsOptions.Add("FinancialRoles", Resources.Financial.ResourceManager.ToDictionary<Uos.Financial.Roles>()
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Accounting.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Controlling.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Enterprise.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Investment.Roles>().ToList())
        .Union(Resources.Financial.ResourceManager.ToDictionary<Uos.Treasury.Roles>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("LogisticsRoles", Resources.Logistics.ResourceManager.ToDictionary<Uos.Logistics.Roles>()
        .Union(Resources.Distribution.ResourceManager.ToDictionary<Uos.Distribution.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Inventory.Roles>().ToList())
        .Union(Resources.Maintenance.ResourceManager.ToDictionary<Uos.Maintenance.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Materials.Roles>().ToList())
        .Union(Resources.Products.ResourceManager.ToDictionary<Uos.Products.Roles>().ToList())
        .Union(Resources.Projects.ResourceManager.ToDictionary<Uos.Projects.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Purchasing.Roles>().ToList())
        .Union(Resources.Quality.ResourceManager.ToDictionary<Uos.Quality.Roles>().ToList())
        .Union(Resources.Transportation.ResourceManager.ToDictionary<Uos.Transportation.Roles>().ToList())
        .Union(Resources.Materials.ResourceManager.ToDictionary<Uos.Warehouse.Roles>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("PersonnelRoles", Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Roles>()
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Administration.Roles>().ToList())
        .Union(Resources.Personnel.ResourceManager.ToDictionary<Uos.Personnel.Development.Roles>().ToList())
        .ToDictionary(entry => entry.Key, entry => entry.Value), RequireJsOptionsScope.Page);

    RequireJsOptions.Add("Roles", new Dictionary<string, string>
    {
        { "FinancialRoles", Resources.Financial.FinancialNav },
        { "LogisticsRoles", Resources.Logistics.LogisticsNav },
        { "PersonnelRoles", Resources.Personnel.PersonnelNav }
    }, RequireJsOptionsScope.Page);
    
    ViewBag.RequireBundles = new Dictionary<string, Dictionary<string, string>>
    {
        { "/js/personnel/staffer/controller", new Dictionary<string, string>
            {
                { "uos.personnel.staffer.controller", "Controllers/Domain/Staffer/Index" }
            }
        },
        { "/js/domain/company", new Dictionary<string, string>
            {

                { "uos.personnel.staffer.browse", "/Scripts/Components/Personnel/staffer-browse" },
                { "uos.personnel.staffer.control", "/Scripts/Components/Personnel/staffer-control" },
                { "uos.personnel.staffer.detail", "/Scripts/Components/Personnel/staffer-detail" },
                { "uos.personnel.staffer.edit", "/Scripts/Components/Personnel/staffer-edit" },
                { "uos.personnel.staffer.entry", "/Scripts/Components/Personnel/staffer-entry" },
                { "uos.personnel.staffer.features", "/Scripts/Components/Personnel/staffer-features" },
                { "uos.personnel.staffer.filter", "/Scripts/Components/Personnel/staffer-filter" },
                { "uos.personnel.staffer.form", "/Scripts/Components/Personnel/staffer-form" },
                { "uos.personnel.staffer.review", "/Scripts/Components/Personnel/staffer-review" }
            }
        }
    };
}
@*<div class="loading loading-truck control-placeholder">
        <span>Please Wait! We are loading this truck...</span>
    </div>*@
@Html.Partial("_ControlPartial")
@section scripts
{
    <script type="text/javascript">
        require(['jquery', 'kendo', 'uos.bootstrap', 'uos.personnel.staffer.controller', 'uos.data.store', 'bootstrap', 'kendo.aspnetmvc.min', 'kendo.data.contenteditable'], function ($, kendo, U, Controller, Store) {

            var controller = new Controller();

            define('uos.controler', controller);
            U.controller = controller;

            define('uos.control', controller.control);
            U.control = controller.control;

            // set defaults
            (function (data) {
                //data.set("type", "StafferTypes.PublicStaffer");
                //data.set("country", "Countries.USA");
                //data.set("currency", "Currencies.USD");
                //data.roles.push("StafferRoles.Manager");
            })(controller.control.entry.form.model.data);
            
            @Html.Kendo().DeferredScripts(false);

            controller.init();
        });
    </script>
}
