﻿@model CompanyViewModel
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("company-manage-company", Strings.CompanyCodeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("company-manage-company")
                    .ToClientTemplate())

                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-5">
            <div class="form-group form-group-sm">
                @Html.Label("company-manage-company-name", Strings.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" }
                    })
                    .Name("company-manage-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group form-group-sm">
                @Html.Label("company-manage-company-type", Strings.CompanyTypeField)
                @(Html.Kendo().DropDownListFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CompanyType" }
                    })
                    .Name("company-manage-company-type")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="\\#company-manage-customers" aria-controls="home" role="tab" data-toggle="tab">@Strings.CompanyCustomersSubtitle</a></li>
        <li role="presentation"><a href="\\#company-manage-suppliers" aria-controls="profile" role="tab" data-toggle="tab">@Strings.CompanySuppliersSubtitle</a></li>
    </ul>
    <div class="overflow tab-content">
        <div role="tabpanel" class="tab-pane active" id="company-manage-customers">
            @Html.Partial("CompanyContractsTemplate", "k-grid-customers")
        </div>
        <div role="tabpanel" class="tab-pane" id="company-manage-suppliers">
            @Html.Partial("CompanyContractsTemplate", "k-grid-suppliers")
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Strings.DestroyCompanyCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
