﻿@model CompanyPostModel
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("company-add-company", Strings.CompanyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CompanyCode)
                    /*.DataSource(source =>
                    {
                        //.Type("aspnetmvc-ajax")
                        source.Read(read => read.Url(Url.Action("Currencies", "Constants", new { area = (string)null })));
                        source.ServerFiltering(false);
                    })*/
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url(api.Companies.List.Url).Data("umbiliko.view.company.filter").Type(HttpVerbs.Post));
                        source.ServerFiltering(true);
                    })
                    .DataTextField("CompanyCode")
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "uppercase" },
                        { "data-bind", "value: CompanyCode" },
                        { "data-maxtextlength", Lengths.CompanyCodeLength },
                        { "data-maxtextlength-msg", "Text must be shorter than 100 chars" },
                        { "maxlength", Lengths.CompanyCodeLength }
                    })
                    .MinLength(1)
                    .Name("company-add-tradeark")
                    .Template("<span>\\#: CompanyCode \\#</span><span class='list-desc'>\\#: CompanyName \\#</span>")
                    .ToClientTemplate())

                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-5">
            <div class="form-group form-group-sm">
                @Html.Label("company-add-company-name", Strings.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" },
                        { "maxlength", Lengths.CompanyNameLength }
                    })
                    .Name("company-add-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                @Html.Label("company-add-company-type", Strings.CompanyTypeField)
                @(Html.Kendo().DropDownListFor(e => e.CompanyType)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CompanyType" }
                    })
                    .Name("company-add-company-type")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend class="col-xs-12">@Strings.CompanyAddSegmentSubtitle</legend>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="form-group form-group-sm">
                @Html.Label("company-add-segment", Strings.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "maxlength", Lengths.SegmentCodeLength }
                    })
                    .Name("company-add-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="form-group">
                @Html.Label("company-add-environment", Strings.EnvironmentField)
                @(Html.Kendo().DropDownListFor(e => e.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Environment" }
                    })
                    .Name("company-add-environment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-8">
            <div class="form-group form-group-sm">
                @Html.LabelFor(e => e.Description, Strings.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" },
                        { "maxlength", Lengths.DescriptionLength }
                    })
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="row">
        <legend class="col-xs-12">@Strings.CompanyAddAccountSubtitle</legend>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                @Html.Label("company-add-user-names", Strings.UserNamesField)
                @(Html.Kendo().MultiSelectFor(e => e.UserNames)
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url(Url.Action( api.Users.List.Url).Data("umbiliko.view.user.filter").Type(HttpVerbs.Post));
                        source.ServerFiltering(true);
                    })
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control lowercase" },
                        { "data-bind", "value: UserName" }
                    })
                    .MinLength(2)
                    .Name("company-add-user-names")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                @Html.Label("company-add-user-roles", Strings.RolesField)
                @(Html.Kendo().MultiSelectFor(e => e.Roles)
                    //.BindTo(new [] { Roles.Administrator, Roles.Architect, Roles.Customizer, Roles.Developer, Roles.Translator })
                    .DataSource(source => source.Read(read => read.Url(api.Roles.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Roles" },
                        { "maxlength", Lengths.AccountRolesLength }
                    })
                    .Name("company-add-user-roles")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="overflow row">
        <legend class="col-xs-12">@Strings.CompanyAddConsumerSubtitle</legend>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("company-add-credit", Strings.CreditField)
                @(Html.Kendo().NumericTextBoxFor(e => e.Credit)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "" },
                        { "data-bind", "value: Credit" }
                    })
                    .Decimals(2)
                    .Name("company-add-credit")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("company-add-country-code", Strings.CountryCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CountryCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control uppercase" },
                        { "data-bind", "value: CountryCode" },
                        { "maxlength", Lengths.CountryCodeLength }
                    })
                    .MinLength(0)
                    .Name("company-add-country-code")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("company-add-currency-code", Strings.CurrencyCodeField)
                @(Html.Kendo().AutoCompleteFor(e => e.CurrencyCode)
                    .Filter(FilterType.StartsWith)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control uppercase" },
                        { "data-bind", "value: CurrencyCode" },
                        { "maxlength", Lengths.CurrencyCodeLength }
                    })
                    .MinLength(0)
                    .Name("company-add-currency-code")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
