﻿@{
    ViewBag.Subtitle = Strings.CompaniesSubtitle;
    ViewBag.Title = Strings.CompaniesTitle;

    var constants = new Dictionary<string, object>();
    constants.Add("CompanyTypes", Uos.Web.Strings.CompanyTypes.ResourceManager.ToDictionary<CompanyTypes>());
    constants.Add("Countries", Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>());
    constants.Add("Currencies", Uos.Web.Strings.Currencies.ResourceManager.ToDictionary<Currencies>());
    constants.Add("Environments", Uos.Web.Strings.Environments.ResourceManager.ToDictionary<Environments>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="overflow container panel">
    @Html.Partial("Companies")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter companies using prefixes: "company" and "name". Use ':' as separator. i.e.: "companytrademark:DEV:UM".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" data-controller="CompanyAddHandler" data-title="@Strings.AddCompanyTitle" id="company-add">
            @Html.Partial("CompanyAddTemplate")
        </div>
        <div class="frame" data-controller="CompanyManageHandler" data-title="@Strings.ManageCompanyTitle" id="company-manage">
            @Html.Partial("CompanyManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Data")
    @Html.Partial("Collections")
    @Html.Partial("CompanyAddHandler")
    @Html.Partial("CompanyManageHandler")
    @Html.Partial("Script")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Strings.AddCompanyCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Companies, new Dictionary<string, string>()))
    </ul>
}
