﻿@model List<SearchResultModel>
@foreach(var result in Model)
{
    <h2>@result.Type</h2>
    foreach (var value in result.Values)
    {
        <p>@value</p>
    }
}
@section scripts {
    <script src="~/Content/vendor/kendo/js/jquery.min.js"></script>
    <script src="~/Content/vendor/kendo/js/kendo.core.min.js"></script>
    <script src="~/Content/vendor/kendo/js/kendo.data.min.js"></script>
    <script src="~/Content/vendor/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Content/vendor/kendo/js/kendo.all.min.js"></script>
}
@section search {
    <form action="@Url.Action("Index", "Search")" class="navbar-form navbar-left" method="get" role="search" target="_self">
        <div class="form-group form-group-sm">
            <input class="form-control" name="token" placeholder="Search..." type="text">
        </div>
        <button class="btn btn-default btn-sm" type="submit">Submit</button>
    </form>
}
@section styles
    {
    <link href="~/Content/vendor/kendo/css/web/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/kendo/css/web/kendo.common.core.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/kendo/css/web/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/kendo/css/web/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/kendo/css/web/kendo.common-bootstrap.core.min.css" rel="stylesheet" />
    <link href="~/Content/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/stylesheets/max-height.css" rel="stylesheet" />
}