﻿<ul class="nav navbar-nav">
    @Feature.Dropdown(ViewContext, Resources.Financial.AccountingNav, (navigation) =>
    {
        navigation.Add(Resources.Financial.GeneralNav, Url.View<GeneralController>(c => c.Index()));
        navigation.Add(Resources.Financial.SpecialNav, Url.View<SpecialController>(c => c.Index()));
        navigation.Add(Resources.Financial.AssetNav, Url.View<AssetController>(c => c.Index()));
        navigation.Add(Resources.Financial.ConsolidationNav, Url.View<ConsolidationController>(c => c.Index()));
        navigation.Add(Resources.Financial.PayableNav, Url.View<PayableController>(c => c.Index()));
        navigation.Add(Resources.Financial.ReceivableNav, Url.View<ReceivableController>(c => c.Index()));
    })
    @Feature.Dropdown(ViewContext, Resources.Financial.ControllingNav, (navigation) =>
    {
        navigation.Add(Resources.Financial.ActivityNav, Url.View<ActivityController>(c => c.Index()));
        navigation.Add(Resources.Financial.AnalysisNav, Url.View<AnalysisController>(c => c.Index()));
        navigation.Add(Resources.Financial.OverheadNav, Url.View<OverheadController>(c => c.Index()));
        navigation.Add(Resources.Financial.ProductNav, Url.View<ProductController>(c => c.Index()));
    })
    @Feature.Dropdown(ViewContext, Resources.Financial.EnterpriseNav, (navigation) =>
    {
        navigation.Add(Resources.Financial.ProfitNav, Url.View<ProfitController>(c => c.Index()));
        navigation.Add(Resources.Financial.ManagementNav, Url.View<ManagementController>(c => c.Index()));
        navigation.Add(Resources.Financial.ExecutiveNav, Url.View<ExecutiveController>(c => c.Index()));
    })

    @Feature.Dropdown(ViewContext, Resources.Financial.InvestmentNav, (navigation) =>
    {
        navigation.Add(Resources.Financial.CapitalNav, Url.View<InvestmentController>(c => c.Index()));
        navigation.Add(Resources.Financial.FixedNav, Url.View<FixedController>(c => c.Index()));
    })

    @Feature.Dropdown(ViewContext, Resources.Financial.TreasuryNav, (navigation) =>
    {
        navigation.Add(Resources.Financial.TreasuryManNav, Url.View<TreasuryController>(c => c.Index()));
        navigation.Add(Resources.Financial.CashNav, Url.View<CashController>(c => c.Index()));
        navigation.Add(Resources.Financial.FoundsNav, Url.View<FoundsController>(c => c.Index()));
        navigation.Add(Resources.Financial.RiskNav, Url.View<RiskController>(c => c.Index()));
    })
</ul>
