﻿@model Uos.Web.Entities.AgentEntity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AgentEntity</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Client.ApplicationName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Client.ApplicationName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgentSecret)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgentSecret)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApplicationName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MachineName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MachineName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProcessId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProcessId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TasksCompleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TasksCompleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TasksPending)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TasksPending)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TasksRunning)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TasksRunning)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AgentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
