﻿@model Uos.Web.Entities.AgentEntity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>AgentEntity</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AgentId)
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.AgentSecret, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AgentSecret, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AgentSecret, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.ApplicationName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ApplicationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApplicationName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.Client, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Client", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.MachineName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MachineName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.ProcessId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProcessId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProcessId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.TasksCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TasksCompleted, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TasksCompleted, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.TasksPending, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TasksPending, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TasksPending, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.TasksRunning, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TasksRunning, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TasksRunning, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group form-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
