﻿@model IEnumerable<Uos.Web.Entities.AgentEntity>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasksCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasksPending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasksRunning)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasksCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasksPending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasksRunning)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AgentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AgentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AgentId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
