﻿@*<ul class="nav navbar-nav">
    @Feature.Dropdown(ViewContext, Resources.Tutorial.CompanyNav, (navigation) =>
    {
        navigation.Add(Resources.Domain.CompanyAdministrationNav, Url.Action<CompanyController>(c => c.Index()));
    })
</ul>*@
