﻿@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";

$my-account-enter-diameter: 140px;
$my-account-enter-border-width: 20px;
$my-account-enter-vertical-margin: 20px;
$my-account-talk-margin-top: 20px;

$my-account-transition-fast: 200ms;
$my-account-transition-slow: 500ms;

$my-account-in-transition-duration: $my-account-transition-fast;
$my-account-in-transition-delay: $my-account-transition-fast / 2;
$my-account-out-transition-delay: $my-account-transition-slow;
$my-account-out-transition-duration: $my-account-transition-fast;
$my-account-transition-timing-function: linear;


#my-account {
    padding: #{$grid-gutter-width / 2};

    .enter,
    .talk {
        position: relative;
        float: left;
    }

    .talk {
        margin-top: $my-account-talk-margin-top;
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        position: relative;
        width: 100%;

        @include prefixed(transition-property, position, width);
        @include prefixed(transition-delay, #{$my-account-out-transition-delay + $my-account-out-transition-duration});
        @include prefixed(transition-duration, $my-account-out-transition-duration);
        @include prefixed(transition-timing-function, $my-account-transition-timing-function);

        .guide {
            height: 0;
            opacity: 0;
        }

        .intro {
            height: 200px;
            opacity: 1;
        }

        .guide,
        .intro {
            @include prefixed(transition-property, height, opacity);
            @include prefixed(transition-delay, $my-account-out-transition-delay);
            @include prefixed(transition-duration, $my-account-out-transition-duration);
            @include prefixed(transition-timing-function, $my-account-transition-timing-function);
        }
    }

    .enter {
        @include hacks();
        box-sizing: border-box;
        float: left;
        background-color: $my-account-enter-background-color;
        border: $my-account-enter-border-width solid $my-account-enter-border-color;
        border-radius: 50%;
        //border-image: url(../images/my-account-enter-border.png) 25%;
        height: $my-account-enter-diameter;
        margin: $my-account-enter-vertical-margin 0 $my-account-enter-vertical-margin calc(50% - #{$my-account-enter-diameter / 2});
        min-height: $my-account-enter-diameter;
        padding: 0;
        width: $my-account-enter-diameter;

        @include prefixed(transition-property, border-radius, border-width, height, margin-left, min-height, padding, width);
        @include prefixed(transition-delay, $my-account-out-transition-delay);
        @include prefixed(transition-duration, $my-account-in-transition-duration);
        @include prefixed(transition-timing-function, $my-account-transition-timing-function);

        &:focus,
        &:hover,
        &.active {
            border-radius: 5px;
            border-width: 4px;
            height: auto;
            margin-left: 0;
            /*min-height: attr(data-height px);*/
            width: 100%;

            @include prefixed(transition-delay, 0ms);

            ~ .talk {

                .guide {
                    height: 200px;
                    opacity: 1;
                }

                .intro {
                    height: 0;
                    opacity: 0;
                }

                .guide,
                .intro {
                    @include prefixed(transition-delay, 0ms);
                    @include prefixed(transition-duration, $my-account-in-transition-duration);
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    #my-account {
        min-height: 320px;

        .enter {
            clear: right;
            margin: 0;

            &:focus,
            &:hover,
            &.active {
                width: 50%;

                ~ .talk {
                    top: #{$my-account-enter-diameter + $my-account-talk-margin-top};
                    width: 50%;

                    @include prefixed(transition-delay, 0ms);
                    @include prefixed(transition-duration, $my-account-in-transition-duration);
                }
            }
        }

        .talk {
            bottom: 0;
            clear: left;
            left: 0;
            position: absolute;
            top: #{$my-account-enter-diameter + $my-account-talk-margin-top};
        }
    }
}