﻿@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "bootstrap/mixins/vendor-prefixes";
@import "bootstrap/mixins/forms";
@import "mixins/hacks";
@import "fonts/ionicons/ionicons-variables";
@import "fonts/ionicons/ionicons-font";
@import "divider";

$my-account-enter-diameter: 140px;
$my-account-enter-border-width: 20px;
$my-account-body-diameter: #{$my-account-enter-diameter - 2 * $my-account-enter-border-width};
$my-account-divider-padding: 10px;
$my-account-divider-height: calc(1em + #{2 * $my-account-divider-padding});
$my-account-divider-margin: 10px;
$my-account-external-login-height: 24px;
$my-account-enter-vertical-margin: 20px;
$my-account-talk-margin-top: 20px;

$my-account-transition-fast: 200ms;
$my-account-transition-slow: 500ms;

$my-account-in-transition-duration: $my-account-transition-fast;
$my-account-in-transition-delay: $my-account-transition-fast / 2;
$my-account-out-transition-duration: $my-account-transition-fast;
$my-account-transition-timing-function: linear;

* {
    @include prefixed(box-sizing, border-box);
}

html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

button[type=submit] {
    cursor: pointer;
    background: $transparent;
    border: 0 solid $transparent;
    border-radius: 0;
    color: $my-account-enter-primary-color;
    font-size: 2em;
    font-weight: normal;
    padding: 0;
    text-align: center;

    &:focus {
        outline: 0;
    }
}

form {
    display: block;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 999;
}

#footer {
    color: $my-account-enter-label-color;
    display: inline-block;
    float: right;
    font-size: .75em;
    font-weight: 300;
    margin: 4em 1em 1em 1em;
}

canvas {
    background: $transparent;
    bottom: .5em;
    height: $my-account-body-diameter;
    left: .5em;
    position: absolute;
    width: $my-account-body-diameter;
    z-index: -666;
}

#send {
    background-color: $transparent;
    border-color: $my-account-enter-border-color;
    border-style: solid;
    border-width: 2px;
    color: $my-account-enter-primary-color;
    float: right;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    margin: 1em 0 0 0;
    width: 80px;

    @include prefixed(transition-property, border-color, border-width, font-size, height, margin, width);

    &,
    &:active,
    &.active,
    &[disabled],
    &:hover,
    &:focus,
    &:active {
        border: 2px solid $my-account-enter-border-color;
    }

    &:hover,
    &:focus {
        color: $my-account-enter-hover-color;
        background-color: transparent;
    }

    &[disabled] {
        &:hover,
        &:focus {
            color: $my-account-enter-label-color;
        }
    }
}

input[type=password],
input[type=text] {
    background-color: $my-account-enter-input-color;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 2px solid $my-account-enter-border-color;
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    color: $my-account-enter-text-color;
    display: block;
    font-size: $font-size-base;
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    line-height: $line-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    width: 100%;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus;
    // Placeholder
    @include placeholder;
    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: $input-bg-disabled;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &:-webkit-autofill {
        background-color: $my-account-enter-input-color;
        color: $my-account-enter-text-color;
        -webkit-box-shadow: 0 0 0px 1000px $my-account-enter-input-color inset;
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
    }
    // [converter] extracted textarea& to textarea.form-control
}

label {
    color: $my-account-enter-label-color;
}

ul {
    display: block;
    height: auto;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

    &.option-group {
        padding-top: 1em;
        width: calc(100% - 100px);

        > li {
            float: left;
            width: 50%;
            display: inline-block;
        }
    }
}

.autohide {
    opacity: 1;
    @include prefixed(transition-property, opacity);
    
    &.hshrink,
    .hshrink {
        @include prefixed(transition-property, width);
    }

    &.shrink,
    .shrink {
        @include prefixed(transition-property, font-size);
    }

    &.vshrink,
    .vshrink {
        @include prefixed(transition-property, height);
    }

    &,
    .animate {
        @include prefixed(transition-delay, $my-account-in-transition-delay);
        @include prefixed(transition-duration, $my-account-in-transition-duration);
        @include prefixed(transition-timing-function, $my-account-transition-timing-function);
    }
}

#external-login {

    button {
        width: 2em;

        &,
        &:active,
        &.active,
        &[disabled],
        &:hover,
        &:focus,
        &:active {
            border: 0 solid $transparent;
        }

        &:hover,
        &:focus {
            color: $my-account-enter-hover-color;
            background-color: transparent;
        }
    }

    ul {
        list-style: none;
        margin-left: -5px;
        padding: 0;
        text-align: center;
        width: 100%;

        > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .dribbble {
    }

    .facebook {
        &:before {
            content: $ionicon-var-social-facebook;
        }
    }

    .google {
        &:before {
            content: $ionicon-var-social-google;
        }
    }

    .github {
        &:before {
            content: $ionicon-var-social-github;
        }
    }

    .linkedin {
        &:before {
            content: $ionicon-var-social-linkedin;
        }
    }

    .microsoft {
        &:before {
            content: $ionicon-var-social-windows;
        }
    }

    .twitter {
        &:before {
            content: $ionicon-var-social-twitter;
        }
    }
}

.divider {
    color: $my-account-enter-label-color;
    padding: $my-account-divider-padding 0;

    &.vertical {
        &::after,
        &::before {
            border-bottom-color: $my-account-enter-border-color;
        }
    }
}

.hidden {
    display: none;
}

#internal-login {
    label {
        display: block;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin: 1em 0 .5em 0;
        max-width: 100%;
    }

    .option-group {
        label {
            font-size: 12px;
            font-weight: 500;
            margin: 0 0.5em 0 0;
        }
    }
}

body {
    @include hacks();
    background-color: $transparent;
    height: 100%;
    margin: 0;
    padding: 1em 1em 0 1em;
    width: 100%;

    @include prefixed(transition-property, padding);
    @include prefixed(transition-duration, $my-account-in-transition-duration);
    @include prefixed(transition-timing-function, $my-account-transition-timing-function);
    
    &:not(.active):not(:hover):not(:focus) {
        padding: 0;

        @include prefixed(transition-property, padding);
        @include prefixed(transition-timing-function, $my-account-transition-timing-function);
        
        #footer {
            display: none;
        }

        canvas {
            bottom: 0;
            left: 0;
        }

        #send {
            border-color: rgba($my-account-enter-border-color, 0);
            border-width: 0;
            font-size: 28px;
            height: $my-account-body-diameter;
            margin: 0;
            width: $my-account-body-diameter;

            @include prefixed(transition-property, border-color, border-width, font-size, height, margin, width);
            @include prefixed(transition-duration, $my-account-out-transition-duration);
        }

        #internal-login {
            height: 0;

            label {
                margin: 0;
            }
        }

        .autohide {
            opacity: 0;
            @include prefixed(transition-property, opacity);

            &.hshink,
            .hshrink {
                width: 0;
                @include prefixed(transition-property, width);
            }

            &.shink,
            .shrink {
                font-size: 0;
                @include prefixed(transition-property, font-size);
            }

            &.vshink,
            .vshrink {
                height: 0;
                @include prefixed(transition-property, height);
            }

            &,
            .animate {
                @include prefixed(transition-duration, $my-account-out-transition-duration);
            }
        }
    }

    &.active, &:focus, &:hover {
        /*min-height: attr(data-height px);*/
    }
}
