@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";
@import "mixins/keyframes";

.bk-transparent {
	background-color: $transparent;	
}

.mask-image {
	
	background-position: center center;
	@include prefixed(background-size, cover);
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;

	// According to MDN, you can just use mask for Firefox, as of Firefox 3.5:
	// https://developer.mozilla.org/en/CSS/mask
	// However, mask requires an SVG image to act as the mask.
	// You might be able to base-64 encode your SVG image into your stylesheet, 
	// or you can use an SVG image file.
	// http://stackoverflow.com/questions/1124149/is-embedding-background-image-data-into-css-as-base64-good-or-bad-practice
	&.moz {
		mask: url(masks.svg#mask-linear-gradient) 0 0/100% 100%;
	}

	&.webkit {
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0.00,  rgba(0,0,0,.625)),
			color-stop(0.35,  rgba(0,0,0,.625)),
			color-stop(0.50,  rgba(0,0,0,.125)),
			color-stop(0.65,  rgba(0,0,0,.125)),
			color-stop(1.00,  rgba(0,0,0,.125)));
			-webkit-mask-position: 0 0;
			-webkit-mask-size: 100% 100%;
	}
}


// no longe used
.container {
	&.modal {
		box-sizing: border-box;
		overflow-y: hidden;
		padding-left: 0;
		padding-right: 0;
	}

	&.modal-lg {
        height: calc(100% - 120px);
    }

    form {
    	height: 100%;

    	legend {
            font-size: medium;
            margin-top: .5em;
        }
    }
}

body > .panel {
	overflow-y: scroll;
}

dt {
	border-bottom: 1px solid $alto;
}

.umbiliko {
	
	.widget-body,
	&.widget-body {
	}

	.modal-backdrop,
	&.modal-backdrop {
		background: rgba($gallery, .5);
	}
}

.spinner {
	background: rgba($gallery, .25);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
}

body {
	&.busy.zoom-out {

		&,
		> {
			zoom: 1;
		}

		@include prefixed(transition-property, zoom);
		@include prefixed(transition-delay, 0s);
	    @include prefixed(transition-duration, 1s);
	    @include prefixed(transition-timing-function, ease-in-out);

		&.busy {

			>:not(.spinner) {
				zoom: .5;

				/*@include prefixed(transform, scale(.5));
				@include prefixed(transform-origin, 0 0);*/

				@include prefixed(transition-property, zoom);
				@include prefixed(transition-delay, 1s);
			    @include prefixed(transition-duration, 5s);
			    @include prefixed(transition-timing-function, ease-in-out);
			}
		}
	}

	&.busy {

		.spinner {

			display: block;
		}
	}
}