﻿@inherits Uos.Web.Email.EmailTemplate
@using System.Net.Mail;
@{
    From = new MailAddress("admin@umbiliko.com");
    Subject = string.Format("Contact from {0}", ViewBag.Name);
}
@section Html
{
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wooshi-Restaurant Template</title>

    <style type="text/css">
        /* Client-specific Styles */
        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" menu link. */
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
        }
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        .ExternalClass {
            width: 100%;
        }
            /* Force Hotmail to display emails at full width */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }
        /* Force Hotmail to display normal line spacing.  */
        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }

        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        .image_fix {
            display: block;
        }

        p {
            margin: 0px 0px !important;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        a {
            color: #33b9ff;
            text-decoration: none;
            text-decoration: none !important;
        }
        /*STYLES*/
        table[class=full] {
            width: 100%;
            clear: both;
        }
        /*IPAD STYLES*/
        @@media only screen and (max-width: 640px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #33b9ff; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #33b9ff !important;
                pointer-events: auto;
                cursor: default;
            }

            table[class=devicewidth] {
                width: 440px !important;
                text-align: center !important;
            }

            table[class=devicewidthinner] {
                width: 420px !important;
                text-align: center !important;
            }

            img[class=banner] {
                width: 440px !important;
                height: 220px !important;
            }

            img[class=colimg2] {
                width: 440px !important;
                height: 220px !important;
            }
        }
        /*IPHONE STYLES*/
        @@media only screen and (max-width: 480px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #ffffff; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #ffffff !important;
                pointer-events: auto;
                cursor: default;
            }

            table[class=devicewidth] {
                width: 280px !important;
                text-align: center !important;
            }

            table[class=devicewidthinner] {
                width: 260px !important;
                text-align: center !important;
            }

            img[class=banner] {
                width: 280px !important;
                height: 140px !important;
            }

            img[class=colimg2] {
                width: 280px !important;
                height: 140px !important;
            }

            td[class="padding-top15"] {
                padding-top: 15px !important;
            }
        }
    </style>
</head>
<body>
    <!-- Start of preheader -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="preheader">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <!-- Spacing -->
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td>
                                                    <table width="48%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #282828" st-content="viewonline">
                                                                    <a href="#" style="text-decoration: none; color: #ffffff">View Online </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="48%" align="right" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #282828" st-content="forward">
                                                                    <a href="#" style="text-decoration: none; color: #ffffff">Forward to Friend </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <!-- Spacing -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of preheader -->
    <!-- Start of header -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#d41b29" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <!-- Spacing -->
                                            <tr>
                                                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td>
                                                    <!-- logo -->
                                                    <table width="140" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td width="140" height="60" align="center">
                                                                    <div class="imgpop">
                                                                        <a target="_blank" href="#">
                                                                            <img src="img/logo.png" alt="" border="0" width="118" height="60" style="display:block; border:none; outline:none; text-decoration:none;" />
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end of logo -->
                                                    <!-- start of menu -->
                                                    <table width="250" border="0" align="right" valign="middle" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 20px;color: #ffffff" st-content="phone" height="60">
                                                                    CALL: 001-123-4567
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end of menu -->
                                                </td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                            </tr>
                                            <!-- Spacing -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of Header -->
    <!-- Start of main-banner -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="banner">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <!-- start of image -->
                                                <td align="center" st-image="banner-image">
                                                    <div class="imgpop">
                                                        <a target="_blank" href="#"><img width="600" border="0" height="300" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="img/banner.jpg" class="banner" /></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end of image -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of main-banner -->
    <!-- Start of seperator -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
        <tbody>
            <tr>
                <td>
                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                        <tbody>
                            <tr>
                                <td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of seperator -->
    <!-- Start of heading -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 24px; color: #ffffff; padding: 15px 0;" st-content="heading" bgcolor="#d41b29" align="center">
                                                    This week Special
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of heading -->
    <!-- 2columns -->
    <table width="100%" bgcolor="#272a2d" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="20"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                                        <tbody>
                                                                            <!-- image -->
                                                                            <tr>
                                                                                <td width="270" align="center" class="devicewidth">
                                                                                    <img src="img/twocolimg1.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                </td>
                                                                            </tr>
                                                                            <!-- title -->
                                                                            <tr>
                                                                                <td width="270" bgcolor="#d41b29" height="50">
                                                                                    <table width="218" align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d41b29;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; padding-left: 10px;" align="left" height="50">
                                                                                                    Lemon Chicken
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table width="48" align="right" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff;" bgcolor="#000000" align="center" height="50">
                                                                                                    $20
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of title -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- end of text content table -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of left column -->
                                                    <!-- start of right column -->
                                                    <table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="20"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                                        <tbody>
                                                                            <!-- image -->
                                                                            <tr>
                                                                                <td width="270" align="center" class="devicewidth">
                                                                                    <img src="img/twocolimg2.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                </td>
                                                                            </tr>
                                                                            <!-- title -->
                                                                            <tr>
                                                                                <td width="270" bgcolor="#d41b29" height="50">
                                                                                    <table width="218" align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d41b29;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; padding-left: 10px;" height="50" align="left">
                                                                                                    Lobster Pasta
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table width="48" align="right" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff;" bgcolor="#000000" height="50" align="center">
                                                                                                    $30
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of title -->
                                                                            <!-- end of content -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- end of text content table -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of right column -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end of 2 columns -->
    <!-- 2columns -->
    <table width="100%" bgcolor="#272a2d" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                                        <tbody>
                                                                            <!-- image -->
                                                                            <tr>
                                                                                <td width="270" align="center" class="devicewidth">
                                                                                    <img src="img/twocolimg1.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                </td>
                                                                            </tr>
                                                                            <!-- title -->
                                                                            <tr>
                                                                                <td width="270" bgcolor="#d41b29" height="50">
                                                                                    <table width="218" align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d41b29;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; padding-left: 10px;" align="left" height="50">
                                                                                                    Lemon Chicken
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table width="48" align="right" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff;" bgcolor="#000000" align="center" height="50">
                                                                                                    $20
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of title -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- end of text content table -->
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of left column -->
                                                    <!-- start of right column -->
                                                    <table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                                        <tbody>
                                                                            <!-- image -->
                                                                            <tr>
                                                                                <td width="270" align="center" class="devicewidth">
                                                                                    <img src="img/twocolimg2.png" alt="" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" />
                                                                                </td>
                                                                            </tr>
                                                                            <!-- title -->
                                                                            <tr>
                                                                                <td width="270" bgcolor="#d41b29" height="50">
                                                                                    <table width="218" align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d41b29;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; padding-left: 10px;" height="50" align="left">
                                                                                                    Lobster Pasta
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table width="48" align="right" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff;" bgcolor="#000000" height="50" align="center">
                                                                                                    $30
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of title -->
                                                                            <!-- end of content -->
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- end of text content table -->
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="20"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of right column -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end of 2 columns -->
    <!-- Start of seperator -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
        <tbody>
            <tr>
                <td>
                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                        <tbody>
                            <tr>
                                <td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of seperator -->
    <!-- Start of heading -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#d41b29" width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="font-family: Helvetica, arial, sans-serif; font-size: 24px; color: #ffffff; padding: 15px 0;" st-content="heading" bgcolor="#d41b29" align="center">
                                                    Latest from Blog
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of heading -->
    <!-- article -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <!-- Spacing -->
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td>
                                                    <table width="560" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="140" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                        <tbody>
                                                                            <!-- image -->
                                                                            <tr>
                                                                                <td width="140" height="90" align="center">
                                                                                    <img src="img/blog.png" alt="" border="0" width="140" height="90" style="display:block; border:none; outline:none; text-decoration:none;" label="articleimage" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- start of right column -->
                                                                    <table width="400" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                        <tbody>
                                                                            <!-- title -->
                                                                            <tr>
                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #262626; text-align:left; line-height: 20px;" class="padding-top15">
                                                                                    Lorem ipsum Sit Dolor
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of title -->
                                                                            <!-- Spacing -->
                                                                            <tr>
                                                                                <td width="100%" height="10"></td>
                                                                            </tr>
                                                                            <!-- Spacing -->
                                                                            <!-- content -->
                                                                            <tr>
                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #4f5458; text-align:left; line-height: 20px;">
                                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                    Ut enim ad minim veniam, quis nostrud exercitation.
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of content -->
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- end of right column -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <!-- Spacing -->
                                            <!-- bottom-border -->
                                            <tr>
                                                <td width="100%" bgcolor="#d41b29" height="3" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                            </tr>
                                            <!-- /bottom-border -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end of article -->
    <!-- article -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <!-- Spacing -->
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td>
                                                    <table width="560" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <!-- start of text content table -->
                                                                    <table width="140" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                        <tbody>
                                                                            <!-- image -->
                                                                            <tr>
                                                                                <td width="140" height="90" align="center">
                                                                                    <img src="img/blog.png" alt="" border="0" width="140" height="90" style="display:block; border:none; outline:none; text-decoration:none;" label="articleimage" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- start of right column -->
                                                                    <table width="400" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                                        <tbody>
                                                                            <!-- title -->
                                                                            <tr>
                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #262626; text-align:left; line-height: 20px;" class="padding-top15">
                                                                                    Lorem ipsum Sit Dolor
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of title -->
                                                                            <!-- Spacing -->
                                                                            <tr>
                                                                                <td width="100%" height="10"></td>
                                                                            </tr>
                                                                            <!-- Spacing -->
                                                                            <!-- content -->
                                                                            <tr>
                                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #4f5458; text-align:left; line-height: 20px;">
                                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                    Ut enim ad minim veniam, quis nostrud exercitation.
                                                                                </td>
                                                                            </tr>
                                                                            <!-- end of content -->
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- end of right column -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <!-- Spacing -->
                                            <!-- bottom-border -->
                                            <tr>
                                                <td width="100%" bgcolor="#d41b29" height="3" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                            </tr>
                                            <!-- /bottom-border -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end of article -->
    <!-- Start of seperator -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
        <tbody>
            <tr>
                <td>
                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                        <tbody>
                            <tr>
                                <td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of seperator -->
    <!-- footer -->
    <table width="100%" bgcolor="#d41b29" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#d41b29" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="20"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; text-align:left;">
                                                                    About Wooshi
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; text-align:left;">
                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of left column -->
                                                    <!-- start of right column -->
                                                    <table width="200" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                        <tbody>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="20"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #ffffff; text-align:left;">
                                                                    Contact Us
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; text-align:left;">
                                                                    Street name<br />
                                                                    Building No<br />
                                                                    New York<br />
                                                                    1234456
                                                                </td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                            <tr>
                                                                <td width="100%" height="20"></td>
                                                            </tr>
                                                            <!-- Spacing -->
                                                        </tbody>
                                                    </table>
                                                    <!-- end of right column -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- end of footer -->
    <!-- Start of Postfooter -->
    <table width="100%" bgcolor="#2a2a2a" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="postfooter">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                        <tbody>
                                            <!-- Spacing -->
                                            <tr>
                                                <td width="100%" height="20"></td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff" st-content="preheader">
                                                    Don't want to receive email Updates? <a href="#" style="text-decoration: none; color: #d41b29">Unsubscribe here </a>
                                                </td>
                                            </tr>
                                            <!-- Spacing -->
                                            <tr>
                                                <td width="100%" height="20"></td>
                                            </tr>
                                            <!-- Spacing -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of postfooter -->
</body>
</html>
}