/* line 1, ../../../../sass/products/umbiliko/filters/max-height.scss */
html,
body {
  height: 100%;
}

/* line 6, ../../../../sass/products/umbiliko/filters/max-height.scss */
.panel {
  height: 100%;
}
/* line 9, ../../../../sass/products/umbiliko/filters/max-height.scss */
.panel .k-grid {
  height: 100%;
}
/* line 14, ../../../../sass/products/umbiliko/filters/max-height.scss */
.panel .k-grid .k-detail-row {
  height: 100%;
}
/* line 18, ../../../../sass/products/umbiliko/filters/max-height.scss */
.panel .k-grid .k-grid-content {
  height: 100%;
}

/* line 25, ../../../../sass/products/umbiliko/filters/max-height.scss */
.navbar ~ .panel {
  height: calc(100% - 120px);
}
