﻿@using Uos.Web.Controllers
@{
    ViewBag.Subtitle = Resources.Authentication.SegmentsSubtitle;
    ViewBag.Title = Resources.Authentication.SegmentsTitle;
    ViewBag.Page = "Segments";
    var constants = new Dictionary<string, object>();
    constants.Add("Environments", Uos.Web.Strings.Environments.ResourceManager.ToDictionary<Environments>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
<section class="container-fluid panel">
    @Html.Partial("Segments")
</section>
<footer class="container-fluid hidden-xs">
    Hint: Filter clients using prefixes: "client" and "group". Use ':' as separator. i.e.: "group:adm:dev".
</footer>
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
    <div class="wizard">
        <div class="hidden frame" id="segment-add">
            @Html.Partial("SegmentAddTemplate")
        </div>
        <div class="frame" id="segment-manage">
            @Html.Partial("SegmentManageTemplate")
        </div>
    </div>
</script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("SegmentAddHandler")
    @Html.Partial("SegmentManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <button class="btn btn-default navbar-btn navbar-left" onclick="javascript:umbiliko.layout.flip()" role="button">@Resources.Authentication.AddSegmentCmd</button>
    <p class="navbar-text">|</p>
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.Segments, new Dictionary<string, string>()))
    </ul>
}
