﻿@model SegmentPostModel
@{
    ActivityHelper api = Url;
}
<div class="modal-body overflow container">
    <div class="row">
        <div class="col-sm-6 col-lg-2">
            <div class="form-group form-group-sm">
                @Html.Label("segment-add-segment", Resources.Authentication.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control uppercase" },
                        { "data-bind", "value: SegmentCode" }
                    })
                    .Name("segment-add-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="form-group form-group-sm">
                @Html.Label("segment-add-environment", Resources.Authentication.EnvironmentField)
                @(Html.Kendo().DropDownListFor(m => m.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Environment" }
                    })
                    .Name("segment-add-environment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="form-group form-group-sm">
                @Html.Label("segment-add-description", Resources.Authentication.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("segment-add-description")
                    .ToClientTemplate())
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
