﻿@model SegmentViewModel
@{ 
    ActivityHelper api = Url;
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <div class="form-group form-group-sm">
                @Html.LabelFor(e => e.SegmentCode, Resources.Authentication.SegmentCodeField)
                @(Html.Kendo().DropDownListFor(e => e.SegmentCode)
                    .DataTextField("SegmentCode")
                    .DataValueField("SegmentCode")
                    .DataSource(source => source.Read(read => read.Url(api.Segments.List.Url)))
                    .Events(events =>
                    {
                        events.Select("umbiliko.view.segment.select");
                    })
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" }
                    })
                    .Name("client-autocomplete")
                    .OptionLabel("Select segment code")
                    .ToClientTemplate())
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                @Html.LabelFor(e => e.Description, Resources.Authentication.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .ToClientTemplate())
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Cancel</button>
</div>
