﻿@model SegmentViewModel
<form class="modal-body overflow container" action="javascript:void(0)">
    <div class="row">
        <div class="col-sm-6 col-lg-2">
            <div class="form-group form-group-sm">
                @Html.Label("segment-manage-segment", Resources.Authentication.SegmentCodeField)
                @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("segment-manage-segment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="form-group form-group-sm">
                @Html.Label("segment-manage-environment", Resources.Authentication.EnvironmentField)
                @(Html.Kendo().DropDownListFor(e => e.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Environment" }
                    })
                    .Name("segment-manage-environment")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="form-group form-group-sm">
                @Html.Label("segment-manage-description", Resources.Authentication.DescriptionField)
                @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("segment-manage-description")
                    .ToClientTemplate())
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Resources.Authentication.DestroySegmentCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
