@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/vendor-prefixes";
@import "mixins/prefixed";

$enter-background-color: rgba($mine-shaft, .5);
$enter-border-color: rgba(#000, .5);
$enter-hover-color: $white;
$enter-input-color: rgba($mine-shaft, .5);
$enter-label-color: $silver;
$enter-text-color: $white;
$enter-primary-color: $alto;

$enter-diameter: 140px;
$enter-border-width: 20px;
$enter-body-diameter: #{$enter-diameter - 2 * $enter-border-width};
$enter-vertical-margin: 20px;
$hint-margin-top: 20px;

$transition-fast: 200ms;
$transition-slow: 500ms;

$active-in-transition-duration: $transition-fast;
$active-in-transition-delay: $transition-fast / 2;
$active-out-transition-delay: $transition-slow;
$active-out-transition-duration: $transition-fast;
$active-transition-timing-function: linear;

.umbiliko-enter {
	@include hacks();
	box-sizing: border-box;

	font-family: sans-serif;
    height: auto;
    width: 100%;

    button[type=submit] {
	    cursor: pointer;
	    font-size: 2em;
	    font-weight: normal;
	    padding: 0;
	    text-align: center;
	}

	form {
	    display: block;
	    float: left;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    z-index: 999;
	}

	input[type=password],
	input[type=text] {
	    background-color: $enter-input-color;
	    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	    border: 2px solid $enter-border-color;
	    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	    color: $enter-text-color;
	    display: block;
	    font-size: $font-size-base;
	    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	    line-height: $line-height-base;
	    padding: $padding-base-vertical $padding-base-horizontal;
	    width: 100%;
	    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
	    // Customize the `:focus` state to imitate native WebKit styles.
	    @include form-control-focus;
	    // Placeholder
	    @include placeholder;
	    // Disabled and read-only inputs
	    //
	    // HTML5 says that controls under a fieldset > legend:first-child won't be
	    // disabled if the fieldset is disabled. Due to implementation difficulty, we
	    // don't honor that edge case; we style them as disabled anyway.
	    &[disabled],
	    &[readonly],
	    fieldset[disabled] & {
	        background-color: $input-bg-disabled;
	        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	    }

	    &:-webkit-autofill {
	        background-color: $enter-input-color;
	        color: $enter-text-color;
	        -webkit-box-shadow: 0 0 0px 1000px $enter-input-color inset;
	    }

	    &[disabled],
	    fieldset[disabled] & {
	        cursor: $cursor-disabled;
	    }
	    // [converter] extracted textarea& to textarea.form-control
	}
}
