@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "mixins/prefixed";
@import "mixins/hacks";
@import "bootstrap/mixins/vendor-prefixes";
@import "bootstrap/mixins/forms";
@import "fonts/ionicons/ionicons-variables";
@import "fonts/ionicons/ionicons-font";
@import "divider";

$enter-background-color: rgba($mine-shaft, .5);
$enter-border-color: rgba(#000, .5);
$enter-hover-color: $white;
$enter-input-color: rgba($mine-shaft, .5);
$enter-label-color: $silver;
$enter-text-color: $white;
$enter-primary-color: $alto;

$enter-diameter: 140px;
$enter-border-width: 20px;
$enter-body-diameter: #{$enter-diameter - 2 * $enter-border-width};
$enter-vertical-margin: 20px;
$hint-margin-top: 20px;

$transition-fast: 200ms;
$transition-slow: 500ms;

$active-in-transition-duration: $transition-fast;
$active-in-transition-delay: $transition-fast / 2;
$active-out-transition-delay: $transition-slow;
$active-out-transition-duration: $transition-fast;
$active-transition-timing-function: linear;

.umbiliko-enter {
	@include hacks();
	box-sizing: border-box;

	background-color: $enter-background-color;
    border: $enter-border-width solid $enter-border-color;
    border-radius: 50%;
    font-family: sans-serif;
    height: $enter-diameter;
    margin: $enter-vertical-margin 0 $enter-vertical-margin calc(50% - #{$enter-diameter / 2});
    min-height: $enter-diameter;
    padding: 0;
    width: $enter-diameter;

    @include prefixed(transition-property, border-radius, border-width, height, margin-left, min-height, padding, width);
    @include prefixed(transition-delay, $active-out-transition-delay);
    @include prefixed(transition-duration, $active-in-transition-duration);
    @include prefixed(transition-timing-function, $active-transition-timing-function);

    button[type=submit] {
	    cursor: pointer;
	    background: $transparent;
	    border: 0 solid $transparent;
	    border-radius: 0;
	    color: $enter-primary-color;
	    font-size: 2em;
	    font-weight: normal;
	    padding: 0;
	    text-align: center;

	    &:focus {
	        outline: 0;
	    }
	}

	canvas {
	    background: $transparent;
	    bottom: .5em;
	    height: $enter-body-diameter;
	    left: .5em;
	    position: absolute;
	    width: $enter-body-diameter;
	    z-index: -666;
	}

	form {
	    display: block;
	    float: left;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    z-index: 999;
	}

	input[type=password],
	input[type=text] {
	    background-color: $enter-input-color;
	    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	    border: 2px solid $enter-border-color;
	    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	    color: $enter-text-color;
	    display: block;
	    font-size: $font-size-base;
	    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	    line-height: $line-height-base;
	    padding: $padding-base-vertical $padding-base-horizontal;
	    width: 100%;
	    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
	    // Customize the `:focus` state to imitate native WebKit styles.
	    @include form-control-focus;
	    // Placeholder
	    @include placeholder;
	    // Disabled and read-only inputs
	    //
	    // HTML5 says that controls under a fieldset > legend:first-child won't be
	    // disabled if the fieldset is disabled. Due to implementation difficulty, we
	    // don't honor that edge case; we style them as disabled anyway.
	    &[disabled],
	    &[readonly],
	    fieldset[disabled] & {
	        background-color: $input-bg-disabled;
	        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	    }

	    &:-webkit-autofill {
	        background-color: $enter-input-color;
	        color: $enter-text-color;
	        -webkit-box-shadow: 0 0 0px 1000px $enter-input-color inset;
	    }

	    &[disabled],
	    fieldset[disabled] & {
	        cursor: $cursor-disabled;
	    }
	    // [converter] extracted textarea& to textarea.form-control
	}

	label {
	    color: $enter-label-color;
	}

	ul {
	    display: block;
	    height: auto;
	    float: left;
	    list-style: none;
	    margin: 0;
	    padding: 0;

	    li {
	        display: inline-block;
	    }

	    &.option-group {
	        padding-top: 1em;
	        width: calc(100% - 100px);

	        > li {
	            float: left;
	            width: 50%;
	            display: inline-block;
	        }
	    }
	}

	.footer {
	    color: $enter-label-color;
	    display: inline-block;
	    float: right;
	    font-size: .75em;
	    font-weight: 300;
	    margin: 4em 1em 1em 1em;
	}

	.send {
	    background-color: $transparent;
	    border-color: $enter-border-color;
	    border-style: solid;
	    border-width: 2px;
	    color: $enter-primary-color;
	    float: right;
	    font-size: 20px;
	    font-weight: 600;
	    height: 32px;
	    margin: 1em 0 0 0;
	    width: 80px;

	    @include prefixed(transition-property, border-color, border-width, font-size, height, margin, width);

	    &,
	    &:active,
	    &.active,
	    &[disabled],
	    &:hover,
	    &:focus,
	    &:active {
	        border: 2px solid $enter-border-color;
	    }

	    &:hover,
	    &:focus {
	        color: $enter-hover-color;
	        background-color: transparent;
	    }

	    &[disabled] {
	        &:hover,
	        &:focus {
	            color: $enter-label-color;
	        }
	    }
	}

	&.align-center {

	}
	
	&.align-left {
		float: left;
		position: relative;
	}
	
	&.align-right {
		float: right;
		position: relative;
	}

	.autohide {
	    opacity: 1;
		    @include prefixed(transition-property, opacity);
		    
		    &.hshrink,
		    .hshrink {
		        @include prefixed(transition-property, width);
		    }

		    &.shrink,
		    .shrink {
		        @include prefixed(transition-property, font-size);
		    }

		    &.vshrink,
		    .vshrink {
		        @include prefixed(transition-property, height);
		    }

		    &,
		    .animate {
		        @include prefixed(transition-delay, $active-in-transition-delay);
		        @include prefixed(transition-duration, $active-in-transition-duration);
		        @include prefixed(transition-timing-function, $active-transition-timing-function);
		    }
		}

	.external-login {

	    button {
	        width: 2em;

	        &,
	        &:active,
	        &.active,
	        &[disabled],
	        &:hover,
	        &:focus,
	        &:active {
	            border: 0 solid $transparent;
	        }

	        &:hover,
	        &:focus {
	            color: $enter-hover-color;
	            background-color: transparent;
	        }
	    }

	    ul {
	        list-style: none;
	        margin-left: -5px;
	        padding: 0;
	        text-align: center;
	        width: 100%;

	        > li {
	            display: inline-block;
	            padding-left: 5px;
	            padding-right: 5px;
	        }
	    }

	    .dribbble {
	    }

	    .facebook {
	        &:before {
	            content: $ionicon-var-social-facebook;
	        }
	    }

	    .google {
	        &:before {
	            content: $ionicon-var-social-google;
	        }
	    }

	    .github {
	        &:before {
	            content: $ionicon-var-social-github;
	        }
	    }

	    .linkedin {
	        &:before {
	            content: $ionicon-var-social-linkedin;
	        }
	    }

	    .microsoft {
	        &:before {
	            content: $ionicon-var-social-windows;
	        }
	    }

	    .twitter {
	        &:before {
	            content: $ionicon-var-social-twitter;
	        }
	    }
	}

	~.umbiliko-hint {
	}

	&.active, &:focus, &:hover {
        border-radius: 5px;
        border-width: 4px;
        height: auto;
        margin-left: 0;
        width: 100%;

        @include prefixed(transition-delay, 0ms);

        ~.umbiliko-hint {
		}
    }

    &:not(.active):not(:hover):not(:focus) {
        padding: 0;

        @include prefixed(transition-property, padding);
        @include prefixed(transition-timing-function, $active-transition-timing-function);
        
        #footer {
            display: none;
        }

        canvas {
            bottom: 0;
            left: 0;
        }

        .send {
            border-color: rgba($enter-border-color, 0);
            border-width: 0;
            font-size: 28px;
            height: $enter-body-diameter;
            margin: 0;
            width: $enter-body-diameter;

            @include prefixed(transition-property, border-color, border-width, font-size, height, margin, width);
            @include prefixed(transition-duration, $active-out-transition-duration);
        }

        .internal-login {
            height: 0;

            label {
                margin: 0;
            }
        }

        .autohide {
            opacity: 0;
            @include prefixed(transition-property, opacity);

            &.hshink,
            .hshrink {
                width: 0;
                @include prefixed(transition-property, width);
            }

            &.shink,
            .shrink {
                font-size: 0;
                @include prefixed(transition-property, font-size);
            }

            &.vshink,
            .vshrink {
                height: 0;
                @include prefixed(transition-property, height);
            }

            &,
            .animate {
                @include prefixed(transition-duration, $active-out-transition-duration);
            }
        }
    }
}