@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/vendor-prefixes";
@import "mixins/prefixed";

.wizard {
    float: left;
    height: 100%;
    width: 400%;
    @include transition(margin-left ease-in-out .15s);

    &.first {
        margin-left: 0; 
    }

    &.second {
        margin-left: -100%;
    }

    &.third {
        margin-left: -200%; 
    }

    &.fourth {
        margin-left: -300%; 
    }

    .frame {
        box-sizing: border-box;
        float: left;
        height: 100%;
        width: 25%;
    }
}

.k-grid {
    float: left;
    height: 100%;
}

.k-grid-content {
    height: auto;
}

.modal-body {
    box-sizing: border-box;

    form {
        box-sizing: border-box;
    }
    fieldset {
        box-sizing: border-box;
    }
}
.modal-footer {
    box-sizing: border-box;
}

div.k-window {

    margin-right: auto;
    margin-left: auto;
    @include clearfix;
    div.k-window-content {
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        width: 100%;
        
        * {
            box-sizing: border-box;
        }

        legend {
            font-size: medium;
            margin-top: .5em;
        }
    }

    &.large {
        height: calc(100% - 120px);
    }
}

@media (min-width: 768px) {
    /* line 10, ../sass/bootstrap/_grid.scss */
    div.k-window.large {
        max-width: #{750px + 30px};
    }
}

@media (min-width: 992px) {
    /* line 10, ../sass/bootstrap/_grid.scss */
    div.k-window.large {
        max-width: #{970px + 30px};
    }
}

@media (min-width: 1200px) {
    /* line 10, ../sass/bootstrap/_grid.scss */
    div.k-window.large {
        max-width: #{1170px + 30px};
    }
}

.k-grid td,
.k-item,
.k-list-optionlabel {
    overflow: hidden;
    white-space: nowrap;
}

label {
    display: block;
}

.list-desc {
    color: #808080;
    margin-left: 1em;
    white-space: nowrap;
}

.row > * {
    box-sizing: border-box;
}

.form-group > .k-textbox,
.form-group-sm > .k-textbox,
.form-group-lg > .k-textbox,
.form-group > .k-widget,
.form-group-sm > .k-widget,
.form-group-lg > .k-widget {
    width: 100%;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}