﻿
@* CLIENTS START *@
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="fancy"><span>Clients</span></p>
            </div>
            <div class="desc col-xs-12 col-sm-6 col-sm-offset-3 intro">
                <h2>The Best in the World.</h2>
                <p>We have been fortunate to have worked with the best, and we delivered the best. Let's <a class="btn-white">pick up some Deventry</a> now.</p>
            </div>
        </div>
        @* ROW WITH 2 CLIENTS START *@
        <div class="row statement">
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
                <h4><i class="glyphicon glyphicon-barcode"></i> <strong>Media House</strong></h4>
                <p>"Awesome, awesome theme. easy to use and the code and accompanying files are super easy to understand and modify. Well done."</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
                <h4><i class="glyphicon glyphicon-header"></i> <strong>History Movie</strong></h4>
                <p>"Nice design! looks / performs great on our ipad 3 - and this is not the case with most themes honestly!"</p>
            </div>
        </div>
        @* ROW WITH 2 CLIENTS END *@
        @* ROW WITH 1 CLIENT START *@
        <div class="row statement">
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                <h4><i class="glyphicon glyphicon-film"></i> <strong>TV Channel</strong></h4>
                <p>"Incredible project. super-clean code. It's one of the best templates I've ever purchased. 5 stars and recommended to everyone. Thank you, Creligent Themes!"</p>
            </div>
        </div>
        @* ROW WITH 1 CLIENT END *@
    </div>
</section>
@* CLIENTS END *@
