﻿@*@using Deventry.Web.Models.Home*@

@* CONTACT START *@
<section data-bind="with: $root.contact" id="contact">
    <div class="container contact-details-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <p class="fancy"><span>Contact</span></p>
            </div>
        </div>
        <div class="contact-details">
            <div class="row">
                <div class="desc col-xs-12 col-sm-6 col-sm-offset-3 intro">
                    <h2>Let us reach out to you.</h2>
                    @*<p>We like to create things with fun, open-minded people. Feel free to say hello! And also <a>buy some Deventry</a>.</p>*@
                </div>
            </div>
            @* CONTACT HAS 2 OPTIONS: Form based (option 1) and Address/Phone/Social (option 2) *@
            <div class="row">
                @* CONTACT FORM START *@
                <form action="javascript:void(0)" autocomplete="on" id="contact-form" name="contact-form" method="POST" role="form">
                    @* CONTACT OPTION 1 START *@
                    <div class="row">
                        <div class="option col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                            <div class="form-group">
                                <label class="control-label pull-left" for="contact-name">About you</label>
                                <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.name() }, textInput: data.Name" id="contact-name" maxlength="40" name="contact-name" placeholder="Name" type="text" />
                            </div>
                            <div class="form-group">
                                <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.email() }, textInput: data.Email" id="contact-email" maxlength="40" name="contact-email" placeholder="Email" type="email" />
                            </div>
                            <div class="form-group">
                                <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.company() }, textInput: data.Company" id="contact-company" maxlength="40" name="contact-company" placeholder="Company" type="text" />
                            </div>
                            <div class="form-group">
                                <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.website() }, textInput: data.Website" id="contact-website" maxlength="40" name="contact-website" placeholder="Website" type="text" />
                            </div>
                        </div>
                        <div class="option col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                            <div class="form-group" data-bind="css: { 'has-error': !dirty && !!error.message() }">
                                <label class="control-label pull-left" for="contact-message">About Your Project</label>
                                <textarea class="form-control" data-bind="css: { 'has-error': validated() && error.message() }, textInput: data.Message" id="contact-message" name="contact-message" placeholder="Project Description" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label pull-left" for="interests">Interested in</label><span class="pull-left">: (Check all that apply)</span>
                            </div>
                        </div>
                        <div class="option col-xs-10 col-xs-offset-1 col-lg-11">
                            <div class="form-group" data-bind="css: { 'has-error': error.interests() }">
                                @*<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="mobile"><input data-bind="checked: data.Interests" id="contact-interests-mobile" name="contact-interests" type="checkbox" value="@ContactInterests.Mobile" /> Mobile Apps</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="ux-ui"><input data-bind="checked: data.Interests" id="contact-interests-ux-ui" name="contact-interests" type="checkbox" value="@ContactInterests.UxUi" /> UX/UI Design</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="design"><input data-bind="checked: data.Interests" id="contact-interests-design" name="contact-interests" type="checkbox" value="@ContactInterests.Design" /> Visual Design</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="web"><input data-bind="checked: data.Interests" id="contact-interests-web" name="contact-interests" type="checkbox" value="@ContactInterests.WebDevelopment" /> Web Development</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for=".net"><input data-bind="checked: data.Interests" id="contact-interests-.net" name="contact-interests" type="checkbox" value="@ContactInterests.DotNet" /> .NET</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="java"><input data-bind="checked: data.Interests" id="contact-interests-java" name="contact-interests" type="checkbox" value="@ContactInterests.Java" /> Java</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="qa"><input data-bind="checked: data.Interests" id="contact-interests-qa" name="contact-interests" type="checkbox" value="@ContactInterests.QualityAssurance" /> QA Services</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="it"><input data-bind="checked: data.Interests" id="contact-interests-it" name="contact-interests" type="checkbox" value="@ContactInterests.ItServices" /> IT Services</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="consult"><input data-bind="checked: data.Interests" id="contact-interests-consult" name="contact-interests" type="checkbox" value="@ContactInterests.Consulting" /> Consulting</label>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <label class="pull-left" for="brand"><input data-bind="checked: data.Interests" id="contact-interests-brand" name="interests" type="checkbox" value="@ContactInterests.Branding" /> Branding</label>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2">
                            <div class="form-group">
                                <a class="btn btn-orange btn-block" data-bind="click: send, css: { 'hover-buzz-out': error.any(), 'hover-float-shadow': !error.any() }" role="button">Send</a>
                            </div>
                        </div>
                        <div class="col-xs-2 col-md-6">
                            <div class="form-group send-indicator-container">
                            </div>
                        </div>
                        <div class="option col-xs-10 col-xs-offset-1 col-sm-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="newsletter" id="newsletter" checked style="float: none;">
                                        Also sign me up for newsletter!
                                    </label>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <hr>
                                    <ul class="list-inline">
                                        <li><a><i class="ion-social-twitter fa-2x"></i></a></li>
                                        <li><a><i class="ion-social-facebook fa-2x"></i></a></li>
                                        <li><a><i class="ion-social-linkedin fa-2x"></i></a></li>
                                        <li><a><i class="ion-social-googleplus fa-2x"></i></a></li>
                                        <li><a><i class="ion-social-dribbble fa-2x"></i></a></li>
                                        <li><a><i class="ion-social-github fa-2x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="option col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                            <div class="media">
                                <i class="pull-left ion-ios7-email-outline fa-2x text-muted"></i>
                                <div class="media-body">
                                    <a>administrators@deventry.com</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="pull-left ion-ios7-telephone-outline fa-2x text-muted"></i>
                                <div class="media-body">
                                    (917) 720-3695
                                </div>
                            </div>
                            <div class="media">
                                <i class="pull-left ion-ios7-location-outline fa-2x text-muted"></i>
                                <div class="media-body">
                                    <address>
                                        <strong>Deventry, Inc.</strong><br>
                                        0 Solar System, Suite 001<br>
                                        Galaxy, UT 94107
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @* CONTACT FORM END *@
            </div>
        </div>
    </div>
</section>
@* CONTACT END *@
