﻿@model EnterModel
@using Microsoft.Owin.Security
@{
    //ActivityHelper api = Url;
    //DefaultActionSet url = Url;
    var loginProviders = ViewBag.LoginProviders ?? Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var countries = Resources.Countries.ResourceManager.ToDictionary<Uos.Domain.Countries>();
    var regions = Runtime.GetConstantValues(typeof(Regions)).OfType<Regions.Info>().ToList();

    var returnUrl = ViewBag.ReturnUrl;
    var loginUri = Url.Action<HomeController>(c => c.ExternalLogin(null, null)).Uri;
    var enterUri = Url.Action<HomeController>(c => c.Enter(null, null, null)).Uri;

    if (!string.IsNullOrEmpty(returnUrl))
    {
        enterUri = loginUri.WithQuery((query) =>
        {
            query["returnUrl"] = returnUrl;
        });

        loginUri = loginUri.WithQuery((query) =>
        {
            query["returnUrl"] = returnUrl;
        });
    }
}
@helper Checked(bool value)
{
if (value)
{
        <text>checked="checked"</text>
}
}
@*<canvas id="brand"></canvas>*@
<form class="form-body" action="@enterUri" id="enter-form" method="post" role="form" target="_self">
    <fieldset class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3 col-lg-offset-2 hidden" name="sign-in">
        <legend>@Resources.Account.SignInSubtitle</legend>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="sign-in-email-required"><i class="ion ion-android-person"></i></span>
                        <input aria-describedby="uos-sign-in-email-required" autocomplete="email" class="form-control" data-bind="value: email, valueUpdate: 'afterkeydown'" name="EmailAddress" placeholder="@Resources.Account.EmailHint" type="email" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="sign-in-password">@Resources.Account.PasswordField</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sign-in-password-optional"><i class="ion ion-asterisk"></i></span>
                        <input aria-describedby="uos-sign-in-password-optional" class="form-control" data-bind="value: password, valueUpdate: 'afterkeydown'" id="sign-in-password" name="Password" placeholder="@Resources.Account.PasswordHint" type="password" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-xs-12 col-sm-8 col-md-12 col-lg-8 hidden" name="sign-up">
        <legend>@Resources.Account.SignUpSubtitle</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="sign-up-email">@Resources.Account.EmailAddressField</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sign-up-email-optional"><i class="ion ion-at"></i></span>
                        <input aria-describedby="uos-sign-up-email-optional" class="form-control" data-bind="value: email, valueUpdate: 'afterkeydown'" id="sign-up-email" name="EmailAddress" placeholder="@Resources.Account.EmailHint" type="email" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="sign-up-password">@Resources.Account.PasswordField</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sign-up-password-valid"><i class="ion ion-asterisk"></i></span>
                        <input aria-describedby="uos-sign-up-password-valid" class="form-control"data-bind="value: password, valueUpdate: 'afterkeydown'" id="sign-up-password" name="Password" placeholder="@Resources.Account.PasswordHint" type="password" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="sign-up-confirm-password">@Resources.Account.PasswordConfirmField</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sign-up-confirm-password-valid"><i class="ion ion-asterisk"></i></span>
                        <input aria-describedby="uos-sign-up-confirm-password-valid" class="form-control" data-bind="value: confirm, valueUpdate: 'afterkeydown'" id="sign-up-confirm-password" name="PasswordConfirm" placeholder="@Resources.Account.ConfirmPasswordHint" type="password" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3 col-lg-offset-2 hidden" name="recover-password">
        <legend>@Resources.Account.RecoverPasswordSubtitle</legend>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="recover-password-email-required"><i class="ion ion-android-person"></i></span>
                        <input aria-describedby="uos-recover-password-email-required" class="form-control" data-bind="value: email, valueUpdate: 'afterkeydown'" name="EmailAddress" placeholder="@Resources.Account.EmailHint" type="email" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-xs-12 col-sm-8 col-md-12 col-lg-8 hidden" name="reset-password">
        <legend>@Resources.Account.ResetPasswordSubtitle</legend>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="reset-password-token-required"><i class="ion ion-code"></i></span>
                        <input aria-describedby="uos-reset-password-token-required" class="form-control" data-bind="value: token, valueUpdate: 'afterkeydown'" name="Token" placeholder="@Resources.Account.TokenHint" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="reset-new-password">@Resources.Account.PasswordField</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="reset-new-password-optional"><i class="ion ion-asterisk"></i></span>
                        <input aria-describedby="uos-reset-new-password-optional" class="form-control" data-bind="value: password, valueUpdate: 'afterkeydown'" id="reset-new-password" name="Password" placeholder="@Resources.Account.NewPasswordHint" type="password" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="reset-confirm-password">@Resources.Account.PasswordConfirmField</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="reset-password-confirm-optional"><i class="ion ion-asterisk"></i></span>
                        <input aria-describedby="uos-reset-password-confirm-optional" class="form-control" data-bind="value: confirm, valueUpdate: 'afterkeydown'" id="reset-confirm-password" placeholder="@Resources.Account.ConfirmPasswordHint" type="password" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-xs-6 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-1" name="option-group">
        <div class="row">
            <label class="col-xs-12 col-md-6 col-lg-12">
                <input name="view" type="radio" value="sign-in" /> @Resources.Account.SignInOption
            </label>
            <label class="col-xs-12 col-md-6 col-lg-12">
                <input name="view" type="radio" value="sign-up" /> @Resources.Account.SignUpOption
            </label>
            <label class="col-xs-12 col-md-6 col-lg-12">
                <input name="view" value="recover-password" type="radio" /> @Resources.Account.ForgotPasswordOption
            </label>
            <label class="col-xs-12 col-md-6 col-lg-12">
                <input name="view" value="reset-password" type="radio" /> @Resources.Account.TokenOption
            </label>
            <label class="col-xs-12 col-md-6 col-lg-12">
                <input name="show-password" type="checkbox" /> @Resources.Account.ShowPasswordOption
            </label>
            <label class="col-xs-12 col-sm-12 col-md-6 col-lg-12 pull-right">
                <input name="persist" value="false" type="checkbox" @Checked(Model.Persist) /> @Resources.Account.PersistentOption
            </label>
        </div>
    </fieldset>
    <fieldset class="col-xs-3 col-xs-offset-1 col-sm-4 col-sm-offset-8 col-md-2 col-md-offset-1 col-lg-3 col-lg-offset-9">
        <button class="btn btn-primary" id="login" name="cmd-enter" role="button" type="submit">@Resources.Account.EnterCmd</button>
    </fieldset>
</form>
@if (loginProviders.Count != 0)
{
    <div class="vertical divider">or</div>
        <br />
        <form action="@loginUri" class="col-xs-12" method="post" name="login">
            <ul class="list-inline text-center">
                @foreach (var desciption in loginProviders)
                {
                    string id = desciption.AuthenticationType.ToLowerInvariant().Replace(' ', '-');
                    <li>
                        <button class="btn btn-link" id="login-with-@id" name="provider" value="@desciption.AuthenticationType" title="@string.Format(Resources.Account.ExternalLoginOption, desciption.AuthenticationType)" type="submit">
                            <i class="ion icon @id"></i>
                        </button>
                    </li>
                }
            </ul>
        </form>
}
@if (false)
{
    <div class="col-xs-12 text-center">
        <span>Powered by Uos.com</span>
    </div>
}
