﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Uos @ViewBag.Title</title>
    <meta name="description" content="Uos web site services" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    @Styles.Render("~/content/css/bootstrap")
    @Styles.Render("~/content/css/fontawesome")
    @Styles.Render("~/content/css/ionicons")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="@Url.Content("~/content/stylesheets/toastr.css")" rel="stylesheet" />
        @*<link href="@Url.Content("~/content/stylesheets/Uos.css")" rel="stylesheet" />*@
        <link href="@Url.Content("~/content/stylesheets/widgets/account-enter.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-exit.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-menu.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/account-switch.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/domain-jump.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/product-feedback.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/hint.css")" rel="stylesheet" />
        <link href="@Url.Content("~/content/stylesheets/widgets/spinner.css")" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/content/css/toastr")
    }
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("_NavbarPartial")
    @RenderBody()
    @RenderSection("footer", required: false)
    @RenderSection("modal", required: false)
    @Html.RenderRequireJsSetup(new RequireRendererConfiguration
    {
        // the url from where require.js will be loaded
        RequireJsUrl = Url.Content("~/Scripts/Components/RequireJS/require.js"),
        // baseUrl to be passed to require.js, will be used when composing urls for scripts
        BaseUrl = Url.Content("~/Scripts/"),
        // a list of all the configuration files you want to load
        ConfigurationFiles = new[] { "~/RequireJS.json" },
        // root folder for your js controllers, will be used for composing paths to entrypoint
        EntryPointRoot = "~/Scripts/",
        // whether we should load overrides or not, used for autoBundles, disabled on debug mode
        LoadOverrides = !HttpContext.Current.IsDebuggingEnabled,
        // compute the value you want locale to have, used for i18n
        LocaleSelector = html => System.Threading.Thread.CurrentThread.CurrentUICulture.Name.Split('-')[0],
        // store config in aspnet cache to avoid IO operations at each request
        ConfigCachingPolicy = ConfigCachingPolicy.Permanent,
        CacheConfigObject = true,
        // instance of IRequireJsLogger
        Logger = null,
        // extensability point for the config object
        ProcessConfig = config => { },
        // extensability point for the options object
        ProcessOptions = options => { },
        // value for urlArgs to be passed to require.js, used for versioning
        UrlArgs = RenderHelper.RenderAppVersion()
    })
    <script type="text/javascript">
        define('uos.options', function () {

            var protocol = '@Request.Url.GetLeftPart(UriPartial.Scheme).TrimEnd('/')',
                server = '@Request.Url.GetLeftPart(UriPartial.Authority).Substring(@Request.Url.GetLeftPart(UriPartial.Scheme).Length)',
                baseUrl = protocol + '//' + server;

            return {
                protocol: protocol,
                server: server,
                baseUrl: baseUrl
            };
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
