﻿@using Microsoft.AspNet.Identity
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Resources.Common.ApplicationNav, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @if (Request.IsAuthenticated)
            {
                <form class="navbar-form navbar-left" role="navigation">
                    @Html.Partial("_NavbarAreaSelectorPartial")
                </form>
                @Html.Partial("_NavbarMenuPartial")
                using (Html.BeginForm("Logout", "Home", new { area = "" }, FormMethod.Post, new { @class = "navbar-form navbar-nav navbar-right", id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Account.Dropdown(Html.ViewContext)
                }
            }
            else
            {
                @Html.Partial("_NavbarMenuPartial")
                @*<div class="nav navbar navbar-right">
                        <button class="btn btn-success btn-sm navbar-btn" data-target="#enter" data-toggle="modal" title="@Resources.Account.EnterCmd" role="button"><span class="ion ion-log-in" aria-hidden="true"></span> @Resources.Account.EnterCmd</button>
                    </div>*@
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
</nav>
