﻿@* SERVICES START *@
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="fancy"><span>Services</span></p>
            </div>
            <div class="article col-xs-12 col-sm-6 col-md-3">
                <i class="ion-android-bulb fa-2x orange"></i>
                <h3>Design and UX/UI</h3>
                <p>Our software development process starts with the end customer in mind. Apps rich in design and clear in experience. @*<a href="#">Learn More</a>*@</p>
            </div>
            <div class="article col-xs-12 col-sm-6 col-md-3">
                <i class="ion-android-desktop fa-2x orange"></i>
                <h3>Web Application Development</h3>
                <p>Web application development—anything from responsive websites to intranet sites to browser-based applications is rapidly becoming the new standard in bringing software to market. @*<a href="#">Learn More</a>*@</p>
            </div>
            <div class="article col-xs-12 col-sm-6 col-md-3">
                <i class="ion-android-phone-portrait fa-2x orange"></i>
                <h3>Mobile Application Development</h3>
                <p>The world is mobile. Software development is rapidly evolving from PC-centric and desktop-driven, to mobile devices such as tablets and smartphones. Mobile apps are in demand, and can be a great experience for your customers. @*<a href="#">Learn More</a>*@</p>
            </div>
            <div class="article col-xs-12 col-sm-6 col-md-3">
                <i class="ion-compass fa-2x orange"></i>
                <h3>Certified Uptime</h3>
                <p>Real-time monitoring and reporting of Internet Services. Customizable probes and agents to test all aspects of your services and monitor local resources and processes with alerts to let you know when something is wrong. Advanced reporting capabilities, including certified reports of service uptime.</p>
            </div>
        </div>
        <div id="facts" class="carousel slide hidden-xs">
            @* CAROUSEL ITEMS START *@
            <div class="carousel-inner">
                <div class="active item"><h3><strong>.NET</strong> Software development for the web, Windows and Windows Mobile.</h3></div>
                <div class="item"><h3><strong>Java</strong> Software development the web and Android devices.</h3></div>
                <div class="item"><h3><strong>Ruby on Rails</strong> The de facto web development framework.</h3></div>
                <div class="item"><h3><strong>Twitter Bootstrap</strong> Responsive and customizable CSS built with LESS.</h3></div>
                <div class="item"><h3><strong>Sencha ExtJS/Touch</strong> Development efficiency for multiple platforms and devices.</h3></div>
                <div class="item"><h3><strong>Google AngularJS</strong> The most viable framework to build upon.</h3></div>
                <div class="item"><h3><strong>Facebook ReactJS</strong> Building large applications with data that changes over time.</h3></div>
            </div>
            @* CAROUSEL ITEMS END *@
        </div>
    </div>
</section>
@* SERVICE END *@

