﻿@{
    ViewBag.Title = "Confirm Email";
}
<div class="body-content authenticate">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
