﻿@model IResult<EnterModel>
@{
    ViewBag.Title = "Enter";
}
<div class="body-content authenticate">
    <div class="container">
        <div class="uos enter jumbotron">
            @Html.Partial("_EnterPartial", Model.Value)
        </div>
    </div>
</div>
@Alert.Result(Model.Messages)
@section styles
{
    <link href="~/content/css/widgets/enter.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/widgets/spinner.css" rel="stylesheet" type="text/css" />
}