﻿<div id="title" class="slide header">
    <hgroup>
        <h1>Universal Order System</h1>
        <h2 class="text-uppercase">World Class Logistics Leaders</h2>
        <h3>The greatest return on your supply chain management.</h3>
    </hgroup>
    <a href="#" class="btn btn-transparent scroll"><strong>LEARN MORE</strong></a>
</div>

<div id="slide1" class="slide">
    <div class="title">
        <h2>Best in Class Logistics Management.</h2>
        <p>You deserve to receive auditable value, superior customer service, access to the latest technological tools and transparent bottom-line results with your logistics management partner. And that's exactly what TPS Logistics provides. <a href="http://overview.uosweb.com/#/about" target="_blank">more»</a></p>
    </div>
</div>

<div id="slide2" class="slide">
    <div class="title">
        <h2>Why TPS? Four Simple Reasons.</h2>
        <p>When you work with TPS for your full-platform logistics needs, these are met on time and to established standards. There are no unexpected and unwelcome surprises. You have access to the most sophisticated and... <a href="http://overview.uosweb.com/#/why" target="_blank">more»</a></p>
    </div>
    <img src="~/content/images/banners/fast-train.jpg">
    <img src="~/content/images/banners/freight.jpg">
</div>

<div id="slide3" class="slide">
    <div class="title">
        <h2>Our customer's success is our own.</h2>
        <p>Because we know enterprise software demands world-class support, we'd never sell you something and forget about you. Bottom line: We provide you with a sophisticated service offering and the latest in technology to help manage supply chain efficiency and put dollars directly to your bottom line. <a href="http://overview.uosweb.com/#/services" target="_blank">more»</a></p>
    </div>
</div>
<div id="slide4" class="slide header">
    <p>&copy; @DateTime.Now.Year - Universal Order System</p>
    <p class="text-muted">&copy; Copyright. All rights reserved.</p>
</div>
@section modal {
    <div class="modal fade" data-backdrop="false" data-keyboard="true" id="enter" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                @Html.Partial("_EnterPartial", new EnterModel { })
            </div>
        </div>
    </div>
</div>
}
@section styles {
    <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/widgets/enter.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/widgets/spinner.css" rel="stylesheet" type="text/css" />
    <style>
        @@import url(http://fonts.googleapis.com/css?family=Nunito);

        html {
            height: 100%;
            overflow: hidden;
        }

        body {
            margin: 0;
            padding: 0;
            perspective: 1px;
            transform-style: preserve-3d;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            font-family: Nunito;
        }

        h1 {
            font-size: 250%;
        }

        p {
            font-size: 140%;
            line-height: 150%;
            color: #333;
        }

        .slide {
            position: relative;
            padding: 25vh 10%;
            min-height: 100vh;
            width: 100vw;
            box-sizing: border-box;
            box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
            transform-style: inherit;
        }

        img {
            position: absolute;
            top: 50%;
            left: 35%;
            width: 320px;
            height: 240px;
            transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
            padding: 10px;
            border-radius: 5px;
            background: rgba(240,230,220, .7);
            box-shadow: 0 0 8px rgba(0, 0, 0, .7);
        }

            img:last-of-type {
                transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
            }

        .slide:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -999;
        }

        .title {
            width: 50%;
            padding: 5%;
            border-radius: 5px;
            background: rgba(240,230,220, .7);
            box-shadow: 0 0 8px rgba(0, 0, 0, .7);
        }

        .slide:nth-child(2n) .title {
            margin-left: auto;
            margin-right: 0;
        }

        .slide:nth-child(2n+1) .title {
            margin-left: 0;
            margin-right: auto;
        }

        .slide, .slide:before {
            background: 50% 50% / cover;
        }

        .header {
            text-align: center;
            font-size: 175%;
            color: #fff;
            text-shadow: 0 2px 2px #000;
        }

        #title {
            background-image: url("/content/images/banners/connected-world.jpg");
            background-attachment: fixed;
        }

        #slide1:before {
            background-image: url("/content/images/banners/warehouse-logistics-xl.jpg");
            transform: translateZ(-1px) scale(2);
            z-index: -1;
        }

        #slide2 {
            background-image: url("/content/images/banners/carriers-hero.png");
            background-attachment: fixed;
        }

        #slide3:before {
            background-image: url("/content/images/banners/warehouse-white-xl.jpg");
            transform: translateZ(-1px) scale(2);
            z-index: -1;
        }

        #slide4 {
            background: #222;
        }

        #intro {
            position: absolute;
            top: 25%;
            padding-bottom: 20px;
            background-color: rgba(160, 140, 120, 0.85);
            color: $white;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: 1px solid rgba(160, 140, 120, 1);
        }

        .ticker {
            overflow: hidden;
            height: 40px;
            vertical-align: baseline;
        }

            .ticker h3 {
                margin-bottom: 0px;
                margin-top: 0px;
                height: 40px;
                -webkit-transition: margin-top 0.5s ease-in-out;
                -moz-transition: margin-top 0.5s ease-in-out;
                -o-transition: margin-top 0.5s ease-in-out;
                transition: margin-top 0.5s ease-in-out;
            }
    </style>
}
@section scripts {
    @*Facebook sdk*@
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1638670103073238',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}
