﻿@model IResult<LoginViewModel>
@{
    ViewBag.Title = "Log in";
}
<div class="body-content authenticate">
    <div class="container">
        <div class="jumbotron">
            <h2>@ViewBag.Title.</h2>
            <div class="row">
                <div class="col-md-8">
                    <section id="loginForm">
                        <section id="loginForm">
                            @Html.Partial("_LoginPartial", Model.Value)
                        </section>
                    </section>
                </div>
                <div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
        </div>
    </div>
    @Alert.Result(Model.Messages)
</div>

@section Scripts {
    <script type="text/javascript">
        require(['jquery', 'jqueryval'], function ($) {
            $(function () {
            });
        });
    </script>
}