﻿@model IResult<RegisterViewModel>
@{
    ViewBag.Title = /*Resources.Domain.RegisterTitle*/"Register";
}
<div class="body-content authenticate">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        @Html.Partial("_RegisterPartial", Model.Value)
    </div>
</div>
@Alert.Result(Model.Messages)

@section scripts
{
    <script type="text/javascript">
        require(['jquery', 'jqueryval'], function ($) {
            $(function () {
            });
        });
    </script>
}