﻿@model AccountPostModel
@{
    ActivityHelper api = Url;
}
<div class="modal-header">
    <h4 class="modal-title">Add Account</h4>
</div>
<div class="modal-body overflow">
    <form class="container" action="javascript:void(0)">
        <fieldset class="row">
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-group-sm">
                    @Html.Label("account-add-segment", Resources.Authentication.SegmentCodeField)
                    @(Html.Kendo().AutoCompleteFor(e => e.SegmentCode)
                    .DataSource(source => source.Read(read => read.Url(api.Segments.List.Url).Type(HttpVerbs.Post)))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                            { "class", "form-control" },
                            { "data-bind", "value: SegmentCode" }
                    })
                    .MinLength(1)
                    .Name("account-add-segment")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-group-sm">
                    @Html.Label("account-add-user-name", Resources.Authentication.UserNameField)
                    @(Html.Kendo().AutoCompleteFor(e => e.UserName)
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url(api.Users.List.Url).Data("umbiliko.view.user.filter").Type(HttpVerbs.Post));
                        source.ServerFiltering(true);
                    })
                    .Filter(FilterType.StartsWith)
                    .Events(events =>
                    {
                        events.Select("umbiliko.view.user.select");
                    })
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                            { "class", "form-control" },
                            { "data-bind", "value: UserName" }
                    })
                    .MinLength(2)
                    .Name("account-add-user-name")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-group-sm">
                    @Html.Label("account-add-email-address", Resources.Authentication.EmailAddressField)
                    @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                            { "class", "form-control lowercase" },
                            { "data-bind", "value: EmailAddress" }
                    })
                    .Name("account-add-email-address")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(e => e.Roles, Resources.Authentication.RolesField)
                    @(Html.Kendo().MultiSelectFor(e => e.Roles)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Roles.List.Url).Data("umbiliko.view.roles.filter").Type(HttpVerbs.Post)).ServerFiltering(true))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Roles" }
                    })
                    .Deferred())
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-add btn-primary">Add</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal">Close</button>
</div>
