﻿@model AccountViewModel
@{
    ActivityHelper api = Url;
}
<div class="modal-header">
    <h4 class="modal-title">Manage Account</h4>
</div>
<div class="modal-body overflow">
    <form class="container-fluid" action="javascript:void(0)">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-group-sm">
                    @Html.Label("account-manage-segment", Resources.Authentication.SegmentCodeField)
                    @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                    { "class", "form-control" },
                    { "data-bind", "value: SegmentCode" },
                    { "readonly", "readonly" }
                    })
                    .Name("account-manage-segment")
                    .Deferred())

                    <span data-for="Client" class="k-invalid-msg"></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-group-sm">
                    @Html.Label("account-manage-user-name", Resources.Authentication.UserNameField)
                    @(Html.Kendo().TextBoxFor(e => e.UserName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                    { "class", "form-control" },
                    { "data-bind", "value: UserName" },
                    { "readonly", "readonly" }
                    })
                    .Name("account-manage-user-name")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-group-sm">
                    @Html.Label("account-manage-email-address", Resources.Authentication.EmailAddressField)
                    @(Html.Kendo().TextBoxFor(e => e.EmailAddress)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                    { "class", "form-control lowercase" },
                    { "data-bind", "value: EmailAddress" }
                    })
                    .Name("account-add-email-address")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("account-manage-roles", Resources.Authentication.RolesField)
                    @(Html.Kendo().MultiSelectFor(e => e.Roles)
                    .AutoBind(false)
                    .DataSource(source => source.Read(read => read.Url(api.Roles.List.Url).Data("umbiliko.view.roles.filter").Type(HttpVerbs.Post)).ServerFiltering(true))
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                    { "data-bind", "value: Roles" }
                    })
                    .Name("account-manage-roles")
                    .Deferred())
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Resources.Authentication.DestroyAccountCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
