﻿@model CompanyViewModel
@{
    ActivityHelper api = Url;
}
<form class="modal-body overflow container" action="javascript:void(0)">
    <fieldset class="row">
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="form-group form-group-sm">
                @Html.Label("company-manage-company", Resources.Authentication.CompanyCodeField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("company-manage-company")
                    .ToClientTemplate())

                <span data-for="CompanyCode" class="k-invalid-msg"></span>
            </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-5">
            <div class="form-group form-group-sm">
                @Html.Label("company-manage-company-name", Resources.Authentication.CompanyNameField)
                @(Html.Kendo().TextBoxFor(e => e.CompanyName)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: CompanyName" }
                    })
                    .Name("company-manage-company-name")
                    .ToClientTemplate())
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group form-group-sm">
                @Html.Label("company-manage-company-type", Resources.Authentication.CompanyTypeField)
                @(Html.Kendo().DropDownListFor(e => e.CompanyType)
                    .AutoBind(false)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: CompanyType" }
                    })
                    .Name("company-manage-company-type")
                    .ToClientTemplate())
            </div>
        </div>
    </fieldset>
    <fieldset class="overflow row">
        <legend class="col-xs-12">@Resources.Authentication.SegmentsSubtitle</legend>
        @(Html.Kendo().Grid<SegmentRowModel>()
            .AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.SegmentCode).Title(Resources.Authentication.SegmentCodeColumn).Width(120);
                columns.Bound(c => c.Environment).EditorTemplateName("Environments").Title(Resources.Authentication.EnvironmentColumn).ClientTemplate("\\#=umbiliko.collections.Environments(arguments[0].Environment)\\#").Width(240);
                columns.Bound(c => c.Description).Title(Resources.Authentication.DescriptionColumn);
                columns.Command(commands => commands.Custom("manage-segment").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Resources.Application.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
            })
            .DataSource(dataSource => dataSource
                .WebApi(api.Segments)
                .Batch(true)
                .Model(model =>
                {
                    model.Id(client => client.Identifier);
                    model.Field(client => client.SegmentCode).Editable(false);
                    model.Field(client => client.Description).Editable(true);
                    model.Field(client => client.Identifier).Editable(false);
                    model.Field(client => client.Environment).Editable(true);
                })
                .PageSize((int)ViewBag.PageSize)
                .Events(events =>
                {
                    events.Change("umbiliko.data.change");
                    events.Push("umbiliko.data.change");
                    events.Sync("umbiliko.data.change");
                })
            )
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Events(events =>
            {
                events.Change("umbiliko.view.segment.change");
                events.DetailExpand("umbiliko.view.segment.expand");
            })
            //.Groupable()
            .Name("k-grid-segments")
            .Navigatable()
            .Pageable(pageable => pageable.ButtonCount(ViewBag.PageButtonCount).PageSizes(ViewBag.PageSizes).Refresh(true))
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Scrollable()
            .Sortable(sortable =>
            {
                sortable.Enabled(false);
                //sortable.SortMode(GridSortMode.MultipleColumn);
                sortable.AllowUnsort(true);
            })
            .ToClientTemplate()
        )
    </fieldset>
</form>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Resources.Authentication.DestroyCompanyCmd</button>
    <button type="button" class="btn btn-default" onclick="javascript:umbiliko.layout.flip()" role="button">@Resources.Authentication.AddSegmentCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
