﻿@{
    ViewBag.Subtitle = Resources.Authentication.MyCompanySubtitle;
    ViewBag.Title = Resources.Authentication.MyCompanyTitle;
    ViewBag.Page = "my-company";
    var constants = new Dictionary<string, object>();
    constants.Add("CompanyTypes", Uos.Web.Strings.CompanyTypes.ResourceManager.ToDictionary<CompanyTypes>());
    constants.Add("Environments", Uos.Web.Strings.Environments.ResourceManager.ToDictionary<Environments>());
    ViewBag.Constants = constants;

    ActivityHelper api = Url;
}
@*<div aria-labelledby=".modal-title" class="container modal modal-lg fade" id="modal-window" tabindex="-1" role="dialog">
    <div class="modal-dialog wizard" role="document">
        <div class="modal-content frame" data-controller="CompanyManageHandler" data-title="@Resources.Authentication.ManageCompanyTitle" id="company-manage">
            @Html.Partial("CompanyManage")
        </div>
        <div class="modal-content hidden frame" data-controller="SegmentAddHandler" data-title="@Resources.Authentication.AddSegmentTitle" id="segment-add">
            @Html.Partial("SegmentAdd")
        </div>
        <div class="modal-content frame" data-controller="SegmentManageHandler" data-title="@Resources.Authentication.ManageSegmentTitle" id="segment-manage">
            @Html.Partial("SegmentManage")
        </div>
        <div class="modal-content hidden frame" data-controller="AccountAddHandler" data-title="@Resources.Authentication.AddAccountTitle" id="account-add">
            @Html.Partial("AccountAdd")
        </div>
        <div class="modal-content frame" data-controller="AccountManageHandler" data-title="@Resources.Authentication.ManageAccountTitle" id="account-manage">
            @Html.Partial("AccountManage")
        </div>
    </div>
</div>*@
@Html.Partial("ModalWindow")
@Html.Partial("ConfirmDialog")
<script id="modal-template" type="text/kendo-tmpl">
        <div class="wizard">
            <div class="frame" data-controller="CompanyManageHandler" data-title="@Resources.Authentication.ManageCompanyTitle" id="company-manage">
                @Html.Partial("CompanyManageTemplate")
            </div>
            <div class="hidden frame" data-controller="SegmentAddHandler" data-title="@Resources.Authentication.AddSegmentTitle" id="segment-add">
                @Html.Partial("SegmentAddTemplate")
            </div>
            <div class="frame" data-controller="SegmentManageHandler" data-title="@Resources.Authentication.ManageSegmentTitle" id="segment-manage">
                @Html.Partial("SegmentManageTemplate")
            </div>
            <div class="hidden frame" data-controller="AccountAddHandler" data-title="@Resources.Authentication.AddAccountTitle" id="account-add">
                @Html.Partial("AccountAddTemplate")
            </div>
            <div class="frame" data-controller="AccountManageHandler" data-title="@Resources.Authentication.ManageAccountTitle" id="account-manage">
                @Html.Partial("AccountManageTemplate")
            </div>
        </div>
    </script>
@section application {
    @Html.Partial("Collections")
    @Html.Partial("AccountAddHandler")
    @Html.Partial("AccountManageHandler")
    @Html.Partial("CompanyManageHandler")
    @Html.Partial("SegmentAddHandler")
    @Html.Partial("SegmentManageHandler")
}
@section search {
    <form class="col-sm-12 col-lg-5 navbar-left" role="search" style="margin-top: 8px">
        @Html.Partial("Filter")
    </form>
}
@section toolbar {
    <ul class="nav navbar-nav navbar-left">
        @(Helpers.editDropdown(api.MyCompany, new Dictionary<string, string>()))
    </ul>
}
