﻿@model SegmentViewModel
@{
    ActivityHelper api = Url;
}
<div class="modal-header">
    <h4 class="modal-title">Manage Company</h4>
</div>
<div class="modal-body">
    <form class="overflow container" action="javascript:void(0)">
        <div class="row">
            <div class="col-sm-6 col-lg-2">
                <div class="form-group form-group-sm">
                    @Html.Label("segment-manage-segment", Resources.Authentication.SegmentCodeField)
                    @(Html.Kendo().TextBoxFor(e => e.SegmentCode)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: SegmentCode" },
                        { "readonly", "readonly" }
                    })
                    .Name("segment-manage-segment")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group form-group-sm">
                    @Html.Label("segment-manage-environment", Resources.Authentication.EnvironmentField)
                    @(Html.Kendo().DropDownListFor(e => e.Environment)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "data-bind", "value: Environment" }
                    })
                    .Name("segment-manage-environment")
                    .Deferred())
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="form-group form-group-sm">
                    @Html.Label("segment-manage-description", Resources.Authentication.DescriptionField)
                    @(Html.Kendo().TextBoxFor(e => e.Description)
                    .HtmlAttributes(new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "data-bind", "value: Description" }
                    })
                    .Name("segment-manage-description")
                    .Deferred())
                </div>
            </div>
        </div>
        <fieldset class="overflow row">
            <legend class="col-xs-12">@Resources.Authentication.AccountsSubtitle</legend>
            @(Html.Kendo().Grid<AccountRowModel>()
            .AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.UserName).Title(Resources.Authentication.UserNameColumn).Width(240);
                columns.Bound(c => c.EmailAddress).Title(Resources.Authentication.EmailAddressColumn).Width(320);
                columns.Bound(c => c.Roles).EditorTemplateName("Roles").ClientTemplate("\\#=Array.prototype.join.call(arguments[0].Roles, ' ')\\#").Title(Resources.Authentication.RolesColumn);
                columns.Command(commands => commands.Custom("manage-account").HtmlAttributes(new Dictionary<string, object> { { "class", "btn btn-sm btn-primary" } }).Text(Resources.Application.ManageCmd).Click("umbiliko.layout.push")).Title(" ").Width(100);
            })
            .DataSource(source => source
                .WebApi(api.Accounts, "umbiliko.view.account.filter")
                .Batch(true)
                .Model(model =>
                {
                    model.Id(member => member.Identifier);
                    model.Field(member => member.SegmentCode).Editable(false);
                    model.Field(member => member.Identifier).Editable(false);
                    model.Field(member => member.Roles).Editable(true);
                    model.Field(member => member.UserName).Editable(false);
                })
            )
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Events(events => events.Change("umbiliko.view.account.change"))
            //.Groupable()
            .Name("k-grid-accounts")
            .Pageable(pageable => pageable.ButtonCount(5).PageSizes(true).Refresh(true))
            .Reorderable(configurator => configurator.Columns(false))
            .Resizable(configurator => configurator.Columns(true))
            .Scrollable()
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Sortable()
            .Deferred()
            )
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger cmd-destroy pull-left" role="button">@Resources.Authentication.DestroySegmentCmd</button>
    <button type="button" class="btn btn-default" onclick="javascript:umbiliko.layout.flip()" role="button">@Resources.Authentication.AddAccountCmd</button>
    <button type="button" class="btn btn-primary cmd-done" role="button">@Resources.Application.DoneCmd</button>
    <button type="button" class="btn btn-default cmd-close btn-sm" data-dismiss="modal" role="button">@Resources.Application.CancelCmd</button>
</div>
