﻿@{
    ActivityHelper api = Url;
    UmbilikoActionSet<ProxyController> proxy = Url;
}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.MyAccountMenu <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <dl>
                    <dt>User name:</dt>
                    <dd></dd>
                    <dt>Company code:</dt>
                    <dd></dd>
                    <dt>Company name:</dt>
                    <dd></dd>
                    <dt>Segment code:</dt>
                    <dd></dd>
                </dl>
            </li>
            <li>
                <form action="@proxy.AccountSwitch.Url" enctype="multipart/form-data" method="post" name="account-switch" style="margin: 3px 20px; overflow: hidden;">
                    @*@Html.AntiForgeryToken()*@
                    <button class="btn btn-block btn-default btn-sm" role="button" type="submit">Switch Account</button>
                </form>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <form action="@proxy.DomainJump.Url" enctype="multipart/form-data" method="post" name="domain-jump" style="margin: 3px 20px; overflow: hidden;">
                    @*@Html.AntiForgeryToken()*@
                    <button class="btn btn-block btn-default btn-sm" role="button" type="submit">Jump to Domain</button>
                </form>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="@api.MyAccount.Display.Url" target="_blank">@Strings.ManageCmd</a></li>
            <li role="separator" class="divider"></li>
            <li>
                <button class="btn btn-block btn-default btn-sm" name="account-exit" role="button" style="margin: 3px 20px; overflow: hidden;" type="button">Exit Account</button>
            </li>
        </ul>
    </li>
</ul>
