﻿@{
    ActivityHelper api = Url;
    DefaultActionSet url = Url;
    var loginProviders = ViewBag.LoginProviders;
    var countries = Uos.Web.Strings.Countries.ResourceManager.ToDictionary<Countries>();
    var regions = Uos.Utilities.ReflectionUtilities.GetConstantValues(typeof(Regions)).OfType<Regions.Info>().ToList();

    var returnUrl = ViewBag.ReturnUrl;
    var loginUri = url.Login.Uri;

    if (!string.IsNullOrEmpty(returnUrl))
    {
        loginUri = loginUri.WithQuery((query) =>
        {
            query["returnUrl"] = returnUrl;
        });
    }
}
@helper Checked(bool value)
{
if (value)
{
        <text>checked="checked"</text>
}
}
<div class="umbiliko account-enter jumbotron">
    @*<canvas id="brand"></canvas>*@
    <form class="form-body" action="@api.MyAccount.Display.Url" method="post" role="form">
        <fieldset class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3 col-lg-offset-2" name="sign-in">
            <legend>@Resources.Authentication.SignInSubtitle</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-sign-in-name-identifier-required"><i class="ion ion-android-person"></i></span>
                            <input aria-describedby="umbiliko-sign-in-name-identifier-required" class="form-control" name="name" placeholder="@Resources.Authentication.NameIdentifierHint" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-sign-in-password">@Resources.Authentication.PasswordField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-sign-in-password-optional"><i class="ion ion-asterisk"></i></span>
                            <input aria-describedby="umbiliko-sign-in-password-optional" class="form-control" id="umbiliko-sign-in-password" name="password" placeholder="@Resources.Authentication.PasswordHint" type="password" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-xs-12 col-sm-8 col-md-12 col-lg-8" name="sign-up">
            <legend>@Resources.Authentication.SignUpSubtitle</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-sign-up-name">@Resources.Authentication.UserNameField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-sign-up-name-required"><i class="ion ion-android-person"></i></span>
                            <input aria-describedby="umbiliko-sign-up-name-required" class="form-control" id="umbiliko-sign-up-name" name="name" placeholder="@Resources.Authentication.NameHint" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-sign-up-email">@Resources.Authentication.EmailAddressField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-sign-up-email-optional"><i class="ion ion-at"></i></span>
                            <input aria-describedby="umbiliko-sign-up-email-optional" class="form-control" id="umbiliko-sign-up-email" name="email" placeholder="@Resources.Authentication.EmailHint" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-sign-up-password">@Resources.Authentication.PasswordField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-sign-up-password-valid"><i class="ion ion-asterisk"></i></span>
                            <input aria-describedby="umbiliko-sign-up-password-valid" class="form-control" id="umbiliko-sign-up-password" name="password" placeholder="@Resources.Authentication.PasswordHint" type="password" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-sign-up-confirm-password">@Resources.Authentication.PasswordConfirmField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-sign-up-confirm-password-valid"><i class="ion ion-asterisk"></i></span>
                            <input aria-describedby="umbiliko-sign-up-confirm-password-valid" class="form-control" id="umbiliko-sign-up-confirm-password" placeholder="@Resources.Authentication.ConfirmPasswordHint" type="password" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-sign-up-phone-number">@Resources.Authentication.PhoneNumberField</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button aria-label="umbiliko-sign-up-phone-number" class="btn btn-default" id="umbiliko-sign-up-password-valid"><i class="ion ion-ios-telephone"></i></button>
                                <button aria-label="umbiliko-sign-up-phone-number" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="umbiliko-sign-up-phone-number-code" style="display: inline-block" type="button"></i>Country Code <span class="caret"></span></button>
                                <ul class="dropdown-menu" style="max-height: 200px; overflow-y: scroll;">
                                    @foreach (var region in regions)
                                    {
                                        string country;
                                        countries.TryGetValue(region.ThreeLetterCode, out country);
                                        <li><a href="#">@(country ?? region.ThreeLetterCode) <span class="pull-right">(+@region.PhoneCode)</span></a></li>
                                    }
                                    @*<li><a href="#">Costa Rica <span class="pull-right">(+506)</span></a></li>
                                        <li><a href="#">United States <span class="pull-right">(+1)</span></a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Costa Rica <span class="pull-right">(+506)</span></a></li>
                                        <li><a href="#">Cuba <span class="pull-right">(+53)</span></a></li>
                                        <li><a href="#">United States <span class="pull-right">(+1)</span></a></li>*@
                                </ul>
                            </div> @*/btn-group*@
                            <input aria-describedby="umbiliko-sign-up-phone-number-code" aria-label="umbiliko-sign-up-phone-number" class="form-control" id="umbiliko-sign-up-phone-number" name="PhoneNumber" placeholder="@Resources.Authentication.PhoneNumberHint" type="tel" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3 col-lg-offset-2" name="recover-password">
            <legend>@Resources.Authentication.RecoverPasswordSubtitle</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-recover-password-name-required"><i class="ion ion-android-person"></i></span>
                            <input aria-describedby="umbiliko-recover-password-name-required" class="form-control" name="name" placeholder="@Resources.Authentication.NameIdentifierHint" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-xs-12 col-sm-8 col-md-12 col-lg-8" name="reset-password">
            <legend>@Resources.Authentication.ResetPasswordSubtitle</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-reset-password-token-required"><i class="ion ion-code"></i></span>
                            <input aria-describedby="umbiliko-reset-password-token-required" class="form-control" name="token" placeholder="@Resources.Authentication.TokenHint" type="password" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-reset-new-password">@Resources.Authentication.PasswordField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-reset-new-password-optional"><i class="ion ion-asterisk"></i></span>
                            <input aria-describedby="umbiliko-reset-new-password-optional" class="form-control" id="umbiliko-reset-new-password" name="Password" placeholder="@Resources.Authentication.NewPasswordHint" type="password" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="umbiliko-reset-confirm-password">@Resources.Authentication.PasswordConfirmField</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="umbiliko-reset-password-confirm-optional"><i class="ion ion-asterisk"></i></span>
                            <input aria-describedby="umbiliko-reset-password-confirm-optional" class="form-control" id="umbiliko-reset-confirm-password" placeholder="@Resources.Authentication.ConfirmPasswordHint" type="password" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-xs-6 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-1" name="option-group">
            <div class="row">
                <label class="col-xs-12 col-md-6 col-lg-12">
                    <input name="view" type="radio" value="sign-in" /> @Resources.Authentication.SignInOption
                </label>
                <label class="col-xs-12 col-md-6 col-lg-12">
                    <input name="view" type="radio" value="sign-up" /> @Resources.Authentication.SignUpOption
                </label>
                <label class="col-xs-12 col-md-6 col-lg-12">
                    <input name="view" value="recover-password" type="radio" /> @Resources.Authentication.ForgotPasswordOption
                </label>
                <label class="col-xs-12 col-md-6 col-lg-12">
                    <input name="view" value="reset-password" type="radio" /> @Resources.Authentication.TokenOption
                </label>
                <label class="col-xs-12 col-md-6 col-lg-12">
                    <input name="show-password" type="checkbox" /> @Resources.Authentication.ShowPasswordOption
                </label>
                <label class="col-xs-12 col-sm-12 col-md-6 col-lg-12 pull-right">
                    <input name="persist" value="false" type="checkbox" @Checked(ViewBag.Persist) /> @Resources.Authentication.PersistentOption
                </label>
            </div>
        </fieldset>
        <fieldset class="col-xs-3 col-xs-offset-1 col-sm-4 col-sm-offset-8 col-md-2 col-md-offset-1 col-lg-3 col-lg-offset-9">
            <button class="btn btn-primary" id="umbiliko-login" name="cmd-enter" role="button" type="submit">@Resources.Authentication.EnterCmd</button>
        </fieldset>
    </form>
    @if (loginProviders.Count != 0)
    {
        <div class="vertical divider">or</div>
        <br />
        <form action="@loginUri" class="col-xs-12" method="post" name="login">
            <ul class="list-inline text-center">
                @foreach (var desciption in loginProviders)
                {
                    string id = desciption.AuthenticationType.ToLowerInvariant().Replace(' ', '-');
                    <li>
                        <button class="btn btn-link" id="umbiliko-login-with-@id" name="provider" value="@desciption.AuthenticationType" title="@string.Format(Resources.Authentication.ExternalLoginOption, desciption.AuthenticationType)" type="submit">
                            <i class="ion icon @id"></i>
                        </button>
                    </li>
                }
            </ul>
        </form>
    }
    @if (false)
    {
        <div class="col-xs-12 text-center">
            <span>Powered by Uos.com</span>
        </div>
    }
</div>
