﻿@*General Feedback: Tell us about your Facebook experience
    Something Isn't Working: Let us know about a broken feature
    Abusive Content: This includes content that's harmful, spam or a policy violation*@

<div class="umbiliko product-feedback" ng-controller="UmbilikoContactController">
    <div class="widget-body">
        <form class="container-fluid" action="javascript:void(0)" autocomplete="on" name="contact-form" role="form">
            <legend>Contact Us</legend>
            @* CONTACT OPTION 1 START *@
            <div class="row">
                <div class="option col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                    <div class="form-group">
                        <label class="control-label pull-left" for="contact-name">About you</label>
                        <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.name() }, textInput: data.Name" id="contact-name" maxlength="40" name="contact-name" placeholder="Name" type="text" />
                    </div>
                    <div class="form-group">
                        <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.email() }, textInput: data.Email" id="contact-email" maxlength="40" name="contact-email" placeholder="Email" type="email" />
                    </div>
                    <div class="form-group">
                        <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.company() }, textInput: data.Company" id="contact-company" maxlength="40" name="contact-company" placeholder="Company" type="text" />
                    </div>
                    <div class="form-group">
                        <input autocomplete="on" class="form-control" data-bind="css: { 'has-error': validated() && error.website() }, textInput: data.Website" id="contact-website" maxlength="40" name="contact-website" placeholder="Website" type="text" />
                    </div>
                </div>
                <div class="option col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                    <div class="form-group" data-bind="css: { 'has-error': !dirty && !!error.message() }">
                        <label class="control-label pull-left" for="contact-message">How can we help?</label>
                        <textarea class="form-control" data-bind="css: { 'has-error': validated() && error.message() }, textInput: data.Message" id="contact-message" name="contact-message" placeholder="Project Description" rows="8"></textarea>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-xs-12 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label pull-left" for="interests">Please specify the reason you are contacting us</label><span class="pull-left">: (Check all that apply)</span>
                        </div>
                    </div>
                    <div class="option col-xs-10 col-xs-offset-1 col-lg-11">
                        <div class="form-group" data-bind="css: { 'has-error': error.interests() }">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label class="pull-left" for="mobile"><input data-bind="checked: data.Interests" id="contact-interests-mobile" name="contact-interests" type="checkbox" value="@ContactInterests.CreateCompany" /> Create company</label>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label class="pull-left" for="ux-ui"><input data-bind="checked: data.Interests" id="contact-interests-ux-ui" name="contact-interests" type="checkbox" value="@ContactInterests.Consulting" /> Report error</label>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label class="pull-left" for="design"><input data-bind="checked: data.Interests" id="contact-interests-design" name="contact-interests" type="checkbox" value="@ContactInterests.ReportError" /> ReportError</label>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label class="pull-left" for="web"><input data-bind="checked: data.Interests" id="contact-interests-web" name="contact-interests" type="checkbox" value="@ContactInterests.Complain" /> Complain</label>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label class="pull-left" for=".net"><input data-bind="checked: data.Interests" id="contact-interests-.net" name="contact-interests" type="checkbox" value="@ContactInterests.Other" /> Other</label>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button class="btn btn-default pull-right" name="cmd-cancel" role="button" type="reset">Cancel</button>
                        <button class="btn btn-primary pull-right" data-bind="click: send, css: { 'hover-buzz-out': error.any(), 'hover-float-shadow': !error.any() }" name="cmd-send" role="button" type="submit">Send</button>
                    </div>
                </div>
                @*<div class="option col-xs-10 col-xs-offset-1 col-sm-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="1" name="newsletter" id="newsletter" checked style="float: none;">
                                    Also sign me up for newsletter!
                                </label>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <hr>
                                <ul class="list-inline">
                                    <li><a><i class="ion-social-twitter fa-2x"></i></a></li>
                                    <li><a><i class="ion-social-facebook fa-2x"></i></a></li>
                                    <li><a><i class="ion-social-linkedin fa-2x"></i></a></li>
                                    <li><a><i class="ion-social-googleplus fa-2x"></i></a></li>
                                    <li><a><i class="ion-social-dribbble fa-2x"></i></a></li>
                                    <li><a><i class="ion-social-github fa-2x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="option col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                        <div class="media">
                            <i class="pull-left ion-ios7-email-outline fa-2x text-muted"></i>
                            <div class="media-body">
                                <a>admin@umbiliko.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <i class="pull-left ion-ios7-telephone-outline fa-2x text-muted"></i>
                            <div class="media-body">
                                (917) 720-3695
                            </div>
                        </div>
                        <div class="media">
                            <i class="pull-left ion-ios7-location-outline fa-2x text-muted"></i>
                            <div class="media-body">
                                <address>
                                    <strong>Uos, Inc.</strong><br>
                                    0 Solar System, Suite 001<br>
                                    Galaxy, UT 94107
                                </address>
                            </div>
                        </div>
                    </div>*@
            </div>
        </form>
    </div>
</div>